html,body {
    width:100%;
    height:100%;
    -webkit-overflow-scrolling: touch;
    font-family: Helvetica,Arial,sans-serif !important;
}
body {
    background: #F2F2F2
}
.afterf:after {
    content:"";
    display:block;
    clear:both;
    width:100%;
    height:0;
    overflow:hidden
}
div.max {
    position:relative;
    min-height:100%;
    height:100%;
    height:auto !important;
    padding:0 !important
}
ul {
    margin: 0;
    padding: 0
}
li {
    list-style: none;
    cursor: pointer
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    word-wrap: break-word
}

a {
    display:block;
    color:#fff;
    text-decoration:none !important;
}
.box_shadow {
    box-shadow: 0 0 15px #bbb;
}
div.search_box div.form-group {
    width:100%
}
input {
    border: 1px solid #999;
    outline: none;
    border-radius: 0;
    font-size: 12px;
    height: 30px;
    line-height: 15px;
    overflow: visible;
    padding: 0 0.5em
}
button, html input[type=button], input[type=reset], input[type=submit]{
    color:#fff !important;
}
input::-webkit-input-placeholder {
    color:#ccc
}
input::-moz-input-placeholder {
    color:#ccc
}
input::-ms-input-placeholder {
    color:#ccc
}
input::-o-input-placeholder {
    color:#ccc
}


button.btn-default:hover {
    color: #333;
    background-color: transparent !important;
    border-color: transparent !important
}
button.btn-default:focus {
    color: #333;
    box-shadow: inset 0 0 0 transparent !important;
    background-color: transparent !important;
    border-color: transparent !important
}
button.btn-default:blur {
    box-shadow: inset 0 0 0 transparent !important
}
.relative {
    position: relative
}
.absolute {
    position: absolute;
    z-index: 10
}
.fixed {
    position: fixed;
    top: 0
}
.color-white {
    color:#fff !important
}
.color-black {
    color:#000
}
.bg-no-black {
    background:#666;
    color:#fff;
}
.color-gray {
    color:#999
}
.bg-rgba {
    background:rgba(0,0,0,.1)
}
.bg-black {
    background: #000
}
.bg-gray {
    background: #999
}
.bg-threen {
    background:#3a3a3a;
}
.bg-white {
    background: #fff
}
/* wavlink睿因 页眉部分 start */
div.mask_ie {
    width:100%;
    height:100%;
    background:rgba(0,0,0,.3);
}

/* 首页新产品横幅广告 */
div.rel_p {
    padding:10px 10px 0
}
div.rel_p > a:hover {
    color:#fff
}
.navbar-brand {
    padding:0 !important
}

/* wavlink睿因 页眉部分 */

/* pc端 最顶部导航背景 黑色 */
nav.navbar-default {
    border:none !important;
    border-radius:0;
    background-color:#000
}
nav.navbar-default .navbar-collapse {
    padding:0
}
div.search_box input {
    border-color:#ccc
}
nav.navbar-default button.navbar-toggle {
    border-color:transparent
}
ul.navbar-nav>li>ul.dropdown-menu {
    padding-top:0;
    padding-bottom:0
}
@media screen and (min-width:1199px){
    /*2018.2.6添加，js动画*/
    @-webkit-keyframes animation_p{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @-moz-keyframes animation_p{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @-ms-keyframes animation_p{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @-o-keyframes animation_p{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @keyframes animation_p{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @-webkit-keyframes animation_strong{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @-moz-keyframes animation_strong{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @-ms-keyframes animation_strong{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @-o-keyframes animation_strong{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
    @keyframes animation_strong{
        from{opacity: 0;transform: translateY(100%)}
        to{opacity: 1;transform: translateY(0)}
    }
}


/* wavlink睿因 页脚部分 */
footer {
    margin:0 auto;
    padding:30px;
    text-align:center
}
footer > dl {
    display:inline-block;
    text-align:left;
    vertical-align:text-top
}
footer > dl:last-child dd > a {
    display:inline-block;
    transition:all .1s linear;
    -ms-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    padding:5px 8px;
    font-size:25px;
}
footer>div.container-fluid>div.row{
    margin-right: 0
}
footer div dl dt.h3 {
    font-size:16px;
    margin-bottom:15px
}
footer > dl > dd {
    margin:10px 0;
    line-height: 28px;
    border-bottom: 1px solid #4f4f4f;
}
footer > dl > dd > a {
    color:#999
}
footer > dl > dd > a:hover,
footer > dl > dt > a:hover
{
    color:#fff
}
div.w_body_footer_bottom {
    padding:8px 0;
    font-size:x-small
}



/* 2018-4-23 星期一 12:42 修改网站logo尺寸和网站头部搜索框 */
@media screen and (max-width:767px){
    /* PC端产品图片 class 类名 */
    .img_pc{ display: none !important}
    .li_pc{display: none !important}

    /* 手机端 最顶部导航 右边导航按钮 显示 */
    .navbar-toggle { display:block }

    /* 头部导航列表 */
    .navbar-nav {
        margin: 0 -15px 4%;
    }
    /* 头部导航logo */
    .navbar>.container-fluid .navbar-brand {
        width:40%
    }
    .navbar>.container-fluid .navbar-brand h1 img {
        /* 头部导航logo图片 */
        width:75%;
    }

    /* 手机端 右边导航按钮 显示 */
    nav.navbar-default .navbar-toggle {
        display:block !important
    }
    /* 手机端 右边导航按钮 三个横行的背景颜色 白色 */
    nav.navbar-default button.navbar-toggle span.icon-bar {
        background-color:#fff !important
    }
    nav.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background:transparent
    }
    nav.navbar-default > div.container-fluid {
        padding:0
    }
    nav.navbar-default > div.container-fluid > div:nth-of-type(2){
        min-height:inherit;
        background:#fff
    }
    .navbar-collapse {
        border-top:none
    }

    /* 2018-4-25 星期三 下午 新添加内容！ */
    .navbar-default .navbar-nav>.active>a {
        background:#fff
    }
    .navbar-default .navbar-nav>li>a:hover {
        background:#f2f2f2 !important
    }


    ul.nav > li {
        border-bottom:1px solid #f2f2f2
    }
    ul.nav > li:last-of-type {
        border-bottom:0
    }
    ul.nav > li > ul {
        border-top:1px solid #f2f2f2 !important
    }
    ul.nav > li > ul > li {
        border-bottom:1px solid #f2f2f2
    }
    ul.nav > li > ul > li:last-of-type {
        border-bottom:none
    }
    ul.navbar-nav > li > a {
        font-size:14px;
        padding:0 15px;
        line-height:50px;
        color:#333 !important
    }
    ul.navbar-nav li.open ul.dropdown-menu > li > a {
        line-height:35px;
        font-size:14px
    }

    footer {
        width:100%
    }
    footer > dl {
        width:100%;
        min-height:inherit;
        margin-bottom:20px
    }
    footer > dl:last-child {
        margin-bottom:0
    }
    footer > dl:last-child dd > a {
        font-size:20px
    }
    footer > dl > dd > a {
        font-size:13px
    }
}
@media screen and (min-width:768px){
    /* 手机端图片 class 类名 */
    .img_mobile{ display: none!important }
    .li_mobile{ display: none !important }

    /* wavlink英文版网站首页头部导航 */
    div.search_box form {
        display:none;
        left:26%;
        width:50%
    }
    div.search_box {
        padding: 10px 0 0 !important;
        float: right
    }
    div.search_box > p {
        display: block !important;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        text-align: right;
        font-size: 22px
    }

    input[type=submit] {
        float: left;
        width: 25%
    }
    input[type=text] {
        float: left;
        width: 75%
    }
    ul.navbar-nav>li>ul.dropdown-menu > li {
        padding:5px 0
    }

    ul.nav>li>a {
        font-size:12px;
        color:#fff !important;
        background:transparent !important;
        text-decoration:none
    }

    /* 最顶部导航的二级导航 */
    ul.dropdown-menu {
        background-color:#333 !important;
        text-align:center !important
    }
    ul.navbar-nav>li>ul.dropdown-menu > li:hover,ul.navbar-nav>li>ul.dropdown-menu > li:hover a {
        color:#fff
    }
    ul.navbar-nav>li>ul.dropdown-menu > li {
        border-bottom:1px solid #9e9e9e;
        transition:.1s linear
    }
    ul.navbar-nav>li>ul.dropdown-menu > li:last-of-type {
        border-bottom:none
    }
    ul.dropdown-menu li a {
        font-size: 12px;
        transition: .1s linear;
        -webkit-transition: .1s linear;
        -moz-transition: .1s linear;
        -ms-transition: .1s linear;
        -o-transition: .1s linear;
        color:#999;
        padding:6px 0
    }
    ul.dropdown-menu li a:hover {
        color:#fff;
        background:transparent
    }
    div.search_box div.form-group {
        margin-bottom:0;
        padding:0
    }
    footer {
        width:100%;
        padding: 30px 15px
    }
    footer > dl {
        width: 120px;
        margin: 20px 10px 0;
        min-height:inherit;
    }
    footer > dl > dt,
    footer > dl > dt > a{
        color:#e0e0e0 !important;
    }
    footer > dl > dd > a,
    footer > dl > dt {
        font-size:12px
    }
    footer > dl:last-child dd > a {
        font-size:20px
    }
}
@media screen and (max-width: 1100px){
    /* wavlink英文版网站首页头部logo */
    .navbar>.container-fluid .navbar-brand h1 img {
        height: 22px
    }
}
@media screen and (min-width:992px){
    /* 最顶部导航进行固定定位 */
    nav.navbar-default {
        position:fixed;
        left:0;
        top:0;
        width:100%
    }
    footer > dl {
        width:auto;
        margin: 0
    }
}
@media screen and (min-width: 1024px){
    .navbar-nav {
        margin-left: 14%
    }
}
@media screen and (min-width: 1100px){
    .navbar-nav {
        margin-left: 24%
    }
}
@media screen and (min-width:1200px){
    /* wavlink英文版网站首页头部导航 */
    div.search_box > p {
        display: none !important
    }
    div.search_box form {
        display:block;
        left:0;
        width:100%
    }

    /* wavlink英文版网站页脚 */
    footer {
        padding:30px
    }
    footer > dl:last-child dd > a {
        font-size:24px
    }
}
@media screen and (min-width:1600px){
    ul.nav>li>a {
        font-size:16px
    }
    ul.dropdown-menu li a
    {
        font-size: 14px !important
    }

    /* wavlink英文版网站首页页脚 */
    footer > dl > dt,
    footer > dl > dd > a {
        font-size:14px
    }
}
