<!--包含头部文件-->
{include file="public/service_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        faq管理
        <span class="c-gray en">&gt;</span>
        faq回收站列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em;">
            <div class="text-c"> 问题名称：
                <input type="text" class="input-text" style="width:250px" placeholder="输入问题名称"  name="">
                <button type="submit" class="btn btn-success"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜索
                </button>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 31px">
                <span class="l">
                </span>
                <span class="r">共有数据：<strong>{$counts}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="13">FAQ回收列表</th>
                </tr>
                <tr class="text-c">
                    <th width="20"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th>问题名称</th>
                    <th width="200">分类</th>
                    <th width="60">语言</th>
                    <th width="60">状态</th>
                    <th width="60">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="faq" id="vo"}
                <tr class="text-l">
                    <td><input type="checkbox" value="{$vo.id}" name="id"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.category_id|getServiceCategory|raw}</td>
                    <td>{$vo.language_id|getLanguage|raw}</td>
                    <td class="td-status text-c"><span class="label label-error radius">已回收</span></td>
                    <td class="td-manage text-c">
                        <a style="text-decoration:none" onClick="start('{:url(\'wavlink/Faq/byStatus\',[\'id\'=>$vo.id,\'status\'=>1])}')" href="javascript:;" class="mt-5 btn btn-success" title="恢复"><i class="Hui-iconfont" style="font-size: 18px;color: #fff">&#xe601;</i></a></td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($faq)}</div>
        </article>
        {include file="public/explain" /}
    </div>

</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    $(document).ready(function () {
        $("#service_faq dt").addClass("selected");
        $("#service_faq dd").css("display", "block");
        $("#service_faq #faq_recycle").addClass("current");
        $("#service").addClass("current");
    })
</script>
</body>
</html>