<!--包含头部文件-->
{include file="public/service_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        服务分类
        <span class="c-gray en">&gt;</span>
        服务分类管理
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em;">
            <!--<div class="text-c"> 搜索名称：-->
                <!--<input type="text" class="input-text" style="width:250px" placeholder="输入分类名称" id="" name="">-->
                <!--<button type="submit" class="btn btn-success"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜索-->
                <!--</button>-->
            <!--</div>-->
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <a href="javascript:;" onclick="add('添加一级分类','{:url(\'ServiceCategory/add\')}','800','680')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a> </span>
                <span class="r">共有数据：<strong>{$counts}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th scope="col" colspan="11">分类列表</th>
                </tr>
                <tr class="text-c">
                    <th width="20"><input type="checkbox" name="" value=""></th>
                    <th width="20">ID</th>
                    <th>分类名</th>
                    <th width="30">缩略图</th>
                    <th width="130">URL标题</th>
                    <th width="80">语言</th>
                    <th width="80">父分类</th>
                    <th width="40">排序</th>
                    <th width="130">更新时间</th>
                    <th width="60">状态</th>
                    <th width="180">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="category" id="vo"}
                <tr class="text-l">
                    <td><input type="checkbox" value="{$vo.id}" name="id"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{empty name="$vo.imgae"}{else /}<img src="{$vo.image}" alt="" width="30" height="30">{/empty}</td>
                    <td>{$vo.url_title}</td>
                    <td class="text-c">{$vo.language_id|getLanguage}</td>
                    <td class="text-c">{$vo.parent_id|getServiceCategory}</td>
                    <td class="text-c">{$vo.listorder}</td>
                    <td>{$vo.update_time}</td>
                    <td class="td-status"><a href="javascript:;" onclick="start('{:url(\'ServiceCategory/byStatus\',[\'id\'=>$vo.id,\'status\'=>$vo.status==1?-1:1])}')" title="点击修改状态">{$vo.status|status}</a></td>
                    <td class="td-manage">
                        {if condition="$vo.level <= 2"}
                        <a title="添加子分类" href="javascript:;" onclick="add('添加子分类（服务）','{:url(\'ServiceCategory/add\',[\'parent_id\'=>$vo.id])}','800','680')"><i class="Hui-iconfont" style="font-size: 18px;color:blue">&#xe716</i></a>
                        <a title="获取子分类" href="{:url('ServiceCategory/index',['parent_id'=>$vo.id])}"><i class="Hui-iconfont" style="font-size: 18px;color: green">&#xe715</i></a>
                        {/if}
                        <a style="text-decoration: none" class="ml-5" onclick="edit('编辑','{:url(\'ServiceCategory/edit\',[\'id\' => $vo.id])}','800','600')" href="javascript:;" title="编辑"><i class="Hui-iconfont i_edit_color" >&#xe6df;</i></a>
                        {empty name="$language_id"}
                        {else /}
                        <a title="置顶" href="javascript:;"  onclick="mark(this)" data-id ="{$vo.id}" data-type="4" data-map="{$vo.parent_id}" class="ml-5 mark" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: green">&#xe684</i></a>
                        <a title="上移一位" href="javascript:;" onclick="mark(this)" data-id="{$vo.id}" data-type="3" data-map="{$vo.parent_id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: green">&#xe6d6</i></a>
                        <a title="下移一位" href="javascript:;" onclick="mark(this)" data-id="{$vo.id}" data-type="2" data-map="{$vo.parent_id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: green">&#xe6d5</i></a>
                        <a title="置底" href="javascript:;"  onclick="mark(this)" data-id ="{$vo.id}" data-type="1" data-map="{$vo.parent_id}" class="ml-5 mark" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: green">&#xe674</i></a>
                        {/empty}
                        <!--<a title="禁用" href="javascript:;" onclick="recycle('{:url('ServiceCategory/byStatus',['id'=>$vo.id,'status'=> -1])}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: red">&#xe6e2;</i></a>-->
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="r"><strong><a href="{:url('ServiceCategory/index')}" title="{$vo.name}服务分类">返回服务分类列表</a></strong> </span>
            </div>
        </article>
        <input type="hidden" value="{$language_id}" id="language">
        {include file="public/explain" /}
    </div>
</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    var SCOPE = {
        'listorder_url': "{:url('ServiceCategory/listorder')}",
    };
    $(document).ready(function () {
        $("#service_category dt").addClass("selected");
        $("#service_category dd").css("display", "block");
        $("#category").addClass("current");
        $("#service").addClass("current");
    })
</script>
</body>
</html>