<!--包含头部文件-->
{include file="public/service_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        驱动管理
        <span class="c-gray en">&gt;</span>
        驱动分类
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <div class="Hui-article">
        <article class="cl pd-20">
            <form action="{:url('add_driver_category')}" method="post">
                <!--<div class="text-c"> 文件名称：
                    <input type="text" class="input-text" style="width:250px" placeholder="输入文件名称" name="name">
                    <button type="submit" class="btn btn-success" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                </div>-->
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 31px">
                <span class="l">
                    <a class="btn btn-primary radius" onclick="add('添加','{:url(\'add_driver_category\')}','800','600')"
                       href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a>
                </span>
                <span class="r">共有数据：<strong>{notempty name="count"}{$count}{else/}0{/notempty}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th scope="col" colspan="16">下载列表</th>
                </tr>
                <tr class="text-c">
                    <th width="80">分类层级</th>
                    <th width="220">分类名</th>
                    <th width="160">父分类</th>
                    <th width="40">目录</th>
<!--                    <th width="120">title</th>-->
                    <th width="240">关键词</th>
                    <th>描述</th>
                    <th width="60">排序</th>
                    <th width="60">状态</th>
                    <th width="80">时间</th>
                    <th width="120">操作</th>
                </tr>
                </thead>
                <tbody>
                {notempty name="data"}
                {volist name="data" id="vo"}
                <tr class="text-l" {if($vo.parent_id == 0)}style="background:#f2f2f2;"{/if}>
                    <td>{$vo.path|getPath}{$vo.id}</td>
                    <td>{$vo.delimiter|raw}{$vo.name}</td>
                    <td>{$vo.parent_id|getDriverCate}</td>
                    <td class="text-c">{if($vo.is_parent == 0)}是{else /}否 {/if}</td>
<!--                    <td>{$vo.url_title}</td>-->
                    <td>{$vo.keywords}</td>
                    <td>{$vo.description}</td>
                    <td class="text-c">{$vo.listorder}</td>
                    <td class="text-c">{$vo.status|GetStatus|raw}</td>
                    <td class="text-c">{$vo.update_time|date="Y-m-d"}</td>
                    <td>
                        <a title="编辑" href="javascript:;"
                           onclick="add('更新','{:url(\'edit_driver_category\',[\'id\'=>$vo.id])}',800,600)"
                           class="ml-5 btn btn-primary" style="text-decoration:none"><i class="Hui-iconfont"
                                                                                        style="font-size: 18px;color: #fff">&#xe6df;</i></a>
                        <a title="禁用" href="javascript:;"
                           onclick="recycle('{:url(\'del_driver_category\',[\'id\'=>$vo.id,\'status\'=>-1])}')"
                           class="ml-5 btn btn-danger" style="text-decoration:none"><i class="Hui-iconfont"
                                                                                       style="font-size: 18px;color:#fff;">&#xe6e2;</i></a>
                    </td>
                </tr>
                {/volist}
                {/notempty}
                </tbody>
            </table>
            {if ($page)}
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{$page|raw}</div>
            {/if}
        </article>
        {include file="public/explain" /}
    </div>

</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    var SCOPE = {
        'listorder_url': "{:url('Drivers/listorder')}",
        'sort_url': "{:url('Drivers/sort')}"
    };
    $(document).ready(function () {
        $("#service_drivers dt").addClass("selected");
        $("#service_drivers dd").css("display", "block");
        $("#drivers_category").addClass("current");
        $("#service").addClass("current");
    })
</script>
</body>
</html>