{extend name="mobile/base/base"}
<!--私有页面属性开始-->
{block name="seo"}
<title>{$result.name}  - Wavlink</title>
<meta name="keywords" content="{$result.seo_keys}">
<meta name="description" content="{$result.description}">
<link rel="stylesheet" href="__CN__/css/Video-detail-page.css" type="text/css">
{/block}
<!--私有页面属性结束-->
<!--主体内容开始-->
{block name="body"}
<div class="video_child_page relative bg-white col-xs-12" style="padding:0">
    <div class="video_play col-xs-12" style="padding:0">
        <video loop autoplay="autoplay" src="{$result.urlabroad}" width="100%"></video>
    </div>
    <div class="absolute vid_btn">
        <span class="icon-pause icon-4x"></span>
    </div>
    <p class="text-right bg-black col-xs-12"><a
            href="https://www.youtube.com/?gl=JP&hl=ja" class="icon-double-angle-right"> 这是我们的 Youtube 帐号 可以点进去
        浏览更多的视频</a></p>
</div>
<!-- wavlink 相关产品 -->
<div class="Related bg-white col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-xs-12">
    {$result.product_about}
</div>
<!-- wavlink 相关视频 -->
<div class="Related_video bg-white col-lg-10 col-lg-offset-1 col-xs-12">
    {$result.video_about}
</div>
{/block}
<!--主体内容结束-->
<!--私有业务js开始-->
{block name="js"}
<script>
    <!-- 视频播放 -->
    var $vid_b = $("div.video_child_page > div.vid_btn");
    var $vid_b_cont = $("div.video_child_page > div.vid_btn > span");
    var $span_height = $vid_b_cont.height();

    var $video = $("div.video_child_page > div.video_play > video");

    $vid_b.css({
        "margin-top": -($span_height / 2) + "px",
        "margin-left": -($span_height / 2) + "px"
    });

    var i = true;
    $vid_b.click(function () {
        if (i) {
            $vid_b_cont.removeClass("icon-pause").addClass("icon-play");
            $video[0].pause();
            i = false;
        } else {
            $vid_b_cont.removeClass("icon-play").addClass("icon-pause");
            $video[0].play();
            i = true;
        }
    })
</script>
{/block}
<!--私有业务js结束-->
</body>
</html>