{extend name="mobile/base/base"}
<!--私有页面属性-->
{block name="seo"}
<title>{$parent.seo_title} - Wavlink</title>
<meta name="keywords" content="{$parent.keywords}">
<meta name="description" content="{$parent.description}">
<link rel="stylesheet" href="__CN__/css/video/video-list.css" type="text/css">
{/block}
<!--主体内容开始-->
{block name="body"}
<!-- wavlink 横幅广告 -->
<div class="col-xs-12" style="padding:0">
    <!-- img src="{parent.image}" 后台有bug src暂时改成# 后期需要在改回来 -->
    <a href="javascript:;"><img src="#" alt="" class="center-block img-responsive"></a>
</div>
<!-- wavlink 产品视频次导航 -->
<div class="container mag">
    <div class="row">
        <div class="option bg-white col-xs-12" style="padding:10px 0 0">
            <div class="search_product bg-white col-xs-12" style="padding:0 5px; display: block">
                <form class="col-lg-3 col-md-5 col-sm-5 col-xs-12" action="" method="GET" style="padding:0">
                    <input name="key" type="text" placeholder="请输入产品型号或者关键词"
                           class="col-xs-9">
                    <input type="submit" value="{$Think.lang.search}" class="color-white col-xs-3">
                </form>
                <div class="found_model col-lg-8 col-sm-8 col-xs-12" style="padding-left: 0">
                    <p><a href="{:url('/'.$code.'/faq/details/how_to_check_the_product_model')}">不知道自己的产品型号？</a>
                        <small style="color: #bababa">（您也可以点击下面分类快速找到产品型号）</small>
                    </p>
                </div>
            </div>
            <div class="list_box col-xs-12" style="padding:8px 0">
                <div class="text-center col-xs-12" style="padding: 0">
                    {empty name="child"}
                    <div class="col-sm-2 col-xs-4"  style="padding:0">
                        <p>
                            <a class="child-a" href="#">
                                <img src="http://cloud.wavlink.com/index.php?user/publicLink&fid=8209wtlPrjrF6VfPqzIzM5m1JmgyW7q4x0U_2fDlomM4eALBc_W4-m-7VdLWRL3gL0tTuJUsM9HmUxr3z2Nn7mkgwgZ8ALGyVEXjXKjDXqyARak98gBNcrczvmHtP07JHD0&file_name=/routers.svg" class="img-responsive center-block" alt="">
                                对不起，暂无数据
                            </a>
                        </p>
                    </div>
                    {else /}
                    {volist name="child" id="vo"}
                    {if condition="$vo.id eq $parent.id"}
                    <div class="col-sm-2 col-xs-4 category_child" style="padding:0">
                        <p>
                            <a class="child-a" href="{:url('/'.$code.'/video/'.$vo.url_title)}">
                                {empty name="$vo.image"}
                                <img src="http://cloud.wavlink.com/index.php?user/publicLink&fid=972ddb_eQK3mmn7EyyauOAS_x3TTtLNvxgz1ZUOQDlByS_jvXg8row_pP8LnjYlnf3x-1pAuB0O0uAuBb-0rUIRNDAzqTMWCmvP1CUMGbjMGMdSF-0efhgMwJjm5wlMOeVmk&file_name=/charging.svg" class="img-responsive center-block" alt="">
                                {else /}
                                <img src="{$vo.image}" class="img-responsive center-block" alt="{$vo.name}">
                                {/empty}
                                {$vo.name}
                            </a>
                        </p>
                    </div>
                    {else /}
                    <div class="col-sm-2 col-xs-4"  style="padding:0">
                        <p>
                            <a class="child-a" href="{:url('/'.$code.'/video/'.$vo.url_title)}">
                                {empty name="$vo.image"}
                                <img src="http://cloud.wavlink.com/index.php?user/publicLink&fid=972ddb_eQK3mmn7EyyauOAS_x3TTtLNvxgz1ZUOQDlByS_jvXg8row_pP8LnjYlnf3x-1pAuB0O0uAuBb-0rUIRNDAzqTMWCmvP1CUMGbjMGMdSF-0efhgMwJjm5wlMOeVmk&file_name=/charging.svg" class="img-responsive center-block" alt="">
                                {else /}
                                <img src="{$vo.image}" class="img-responsive center-block" alt="{$vo.name}">
                                {/empty}
                                {$vo.name}
                            </a>
                        </p>
                    </div>
                    {/if}
                    {/volist}
                    {/empty}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- wavlink 产品 video列表 -->
<div class="Pro_list col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0">
    <div class="Pro_list_cont col-lg-10 col-md-12 col-lg-offset-1 col-sm-12 col-xs-12">
        {empty name="video"}
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <a href="#">
                <img src="__EN__/img/no_picture.jpg" alt="" class="img-responsive center-block" style="padding: 10px;background: #fff;">
                <div class="bg-white col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="color-black" style="height: 48px"><strong>没有数据！</strong></h4>
                    <p class="color-gray col-lg-6 col-md-6 col-sm-6 col-xs-6"></p>
                    <div class="learn-more details col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                        <span style="font-size: 1.2em">暂无视频!</span>
                        <!--<span>前往购买</span>-->
                    </div>
                </div>
            </a>
        </div>
        {else /}
        {volist name="video" id="vo"}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="{:url('/'.$code.'/Video/detail/'.$vo.url_title)}">
                <img src="{$vo.image}" alt="{$vo.name}" class="img-responsive center-block"
                     style="padding: 10px;background: #fff;">
                <div class="bg-white col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="color-black" style="height: 48px"><strong>{$vo.name}</strong></h4>
                    <p class="color-gray col-lg-6 col-md-6 col-sm-6 col-xs-6">Download</p>
                    <div class="learn-more details col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                        <span style="font-size: 1.2em">Learn more</span>
                        <!--<span>前往购买</span>-->
                    </div>
                </div>
            </a>
        </div>
        {/volist}
        {/empty}
    </div>
</div>
<!--分页-->
<div class="nav_page col-md-10 col-md-offset-1 col-xs-12">
    {:pagination($video)}
</div>
{/block}
<!--主体内容结束-->
<!--私有业务js开始-->
{block name="js"}
<script>
    var $vid_cont = $("div.video_cont");
    var $video = $("div.video_cont > video");

    $vid_cont.click(function(){
        $video.attr("autoplay","autoplay");
        $video.attr("poster","")
    });
</script>
{/block}