{extend name="desktop/common/base" /}
{block name="title"}{$parent.seo_title} - {:lang('slogan')}{:lang('powered by')}{/block}
{block name="seo"}
<meta name="description" content="{$parent.description}">
<meta name="keywords" content="{$parent.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__DESKTOP__/css/page/faq.css">
{/block}

{block name="swiper"}
<div class="container-fluid">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="/{$code}/index.html">{:lang('home')}</a></li>
                <li class="active">{:lang('article')}</li>
            </ol>
        </div>
    </div>
</div>
{/block}

{block name="body"}
<div class="container">
    <div class="row">
        <div class="g-aside">
            {include file='desktop/common/news_aside'}
        </div>
        <div class="g-main">
            <div class="g-filter">
                <div class="sort"><span>{:lang('list of article')}</span></div>
                <div class="result">
                    <span>{:lang('Result')} {$count}</span>
                </div>
            </div>

            {volist name="data" id="vo"}
            <div class="item">
                <a href="/{$code}/article/details/{$vo.url_title}.html">{$vo.title}</a>
                <p>
                    <span>{:lang('Update Time')}: </span>
                    {if ($code == 'zh_cn')}
                    <span>{$vo.update_time|date="Y-m-d"}</span>
                    {elseif ($code == 'en_us')}
                    <span>{$vo.update_time|date="d/m/Y"}</span>
                    {/if}
                </p>
            </div>
            {/volist}
            <div class="g-pagination clearfix">
                <nav>
                    {:pagination($data)}
                </nav>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="javascript"}
<!--私有JS-->
<script>
    $(function () {
        $('#article').addClass('current');
        $('.news').addClass('active');
    });
</script>
{/block}