<!--包含头部文件-->
{include file="public/headers" /}
<div class="page-container">
    <form class="form form-horizontal" id="form-product-add" method="post" action="">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>视频名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$video.name}" placeholder="" id="name" name="name">
                <input type="hidden" class="input-text" value="{$video.url_title}" placeholder="" id="url_title"
                       name="url_title">
                <input type="hidden" value="{$video.id}" name="id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image" cols="" rows="" class="textarea" placeholder="图片资源地址" dragonfly="true">{$video.image}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>视频分类：</label>
            <div class="formControls col-xs-8 col-sm-4"> <span class="select-box">
				<select name="category_id" class="select">
					<option value="">--请选择--</option>
                    {volist name="categorys" id="vo"}
					{if($video.category_id == $vo.id)}
                    <option value="{$vo.id}" selected="selected">{$vo.delimiter|raw}{$vo.name}</option>
                    {else /}
                    <option value="{$vo.id}">{$vo.delimiter|raw}{$vo.name}</option>
                    {/if}
                    {/volist}
				</select>
				</span>
            </div>
        </div>
        <input type="hidden" name="language_id" value="{$language_id}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>SEO关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$video.keywords}" placeholder="" id="seo_keys"
                       name="keywords">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="description" cols="" rows="" class="textarea" placeholder="说点什么...100个字符以内"
                          dragonfly="true">{$video.description}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">资源地址（国外）：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="urlabroad" cols="" rows="" class="textarea" placeholder="youtube上" dragonfly="true">{$video.urlabroad}</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="button" onclick="save('{:url(\'Video/save\')}')"><i
                        class="Hui-iconfont">&#xe632;</i> 保存
                </button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
</body>
</html>