<!--包含头部文件-->
{include file="public/service_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        视频中心
        <span class="c-gray en">&gt;</span>
        视频管理
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em;left: 51em">
            <!--<form method="get" action="#">-->
                <!--<div class="text-c"> 搜索名称：-->
                <!--<input type="text" class="input-text" style="width:250px;"  placeholder="输入文档名称" id="" name="name">-->
                <!--<button type="submit" class="btn btn-success"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>-->
                <!--</div>-->
            <!--</form>-->
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 31px">
                <span class="l">
                    <a class="btn btn-primary radius" onclick="add('上传视频','{:url(\'video/add\')}','800','800')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 上传视频</a>
                </span>
                <span class="r">视频：<strong>{$counts}</strong> 篇</span>
            </div>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th scope="col" colspan="14">文档列表</th>
                </tr>
                <tr class="text-c">
                    <th width="20"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th>视频名称</th>
                    <th width="60">分类</th>
                    <th width="60">语言</th>
                    <th width="150">更新时间</th>
                    <th width="100">是否已启用</th>
                    <th width="60">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="video" id="vo"}
                <tr class="text-l">
                    <td class="text-c"><input type="checkbox" value="{vo.id}" name="id"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.category_id|getServiceCategory}</td>
                    <td>{$vo.language_id|getLanguage}</td>
                    <td>{$vo.update_time}</td>
                    <td class="td-status text-c"><span class="label label-error radius">已启用</span></td>
                    <td class="td-manage text-c">
                        <a style="text-decoration:none" onClick="start('{:url(\'Video/byStatus\',[\'id\'=>$vo.id,\'status\'=>1])}')" href="javascript:;" title="恢复该视频"><i class="Hui-iconfont " style="font-size: 20px;color: green">&#xe601;</i></a>
                        <!--<a title="彻底删除" href="javascript:;" onclick="del('{:url('Video/del',['id'=>$vo.id])}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 20px;color:red;">&#xe6e2;</i></a></td>-->
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($video)}</div>
        </article>
        {include file="public/explain" /}
    </div>

</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script>
    $(document).ready(function () {
        $("#service_video dt").addClass("selected");
        $("#service_video dd").css("display", "block");
        $("#service_video #video_recovery").addClass("current");
        $("#service").addClass("current");
    })
</script>
</body>
</html>