/**
* @name: components.less
* @description: 公共模块css
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-09-10 16:30
*/
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
button {
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: none;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: middle;
}
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}
textarea {
  overflow: auto;
  resize: vertical;
}
input,
textarea,
button,
select,
a {
  outline: 0 none;
  border: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
mark {
  background-color: transparent;
}
a,
ins,
s,
u,
del {
  text-decoration: none;
}
sup,
sub {
  vertical-align: baseline;
}
html {
  overflow-x: hidden;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: #25a4bb;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
@font-face {
  font-family: Neo_Sans;
  src: url("../../../../lib/font/Neo_Sans.ttf");
}
body {
  font-family: Neo_Sans, "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
  padding-top: 60px;
  background: #f5f5f5;
  transition: all 0.3S;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 83.333%;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
.wavlink-ads {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  font-size: 14px;
}
.wavlink-ads .ads-box {
  text-align: center;
}
.wavlink-ads .ads-box a {
  display: block;
  padding: 10px 15px;
  color: #1D428A;
}
.wavlink-ads .ads-box a:hover {
  text-decoration: none;
}
.wavlink-ads .ads-close {
  padding: 10px 15px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #1D428A;
}
.wavlink-ads .ads-close:hover {
  cursor: pointer;
  color: #274c94;
}
.g-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  transition: all 0.3s;
  height: 60px;
  line-height: 60px;
  background: #1D428A;
}
.g-nav .container {
  position: relative;
}
.g-nav .nav-container {
  display: flex;
}
.g-nav .logo {
  float: left;
}
.g-nav .logo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin: 10px 0;
}
.g-nav .menu-container {
  flex: 1;
}
.g-nav .menu-container ulbefore,
.g-nav .menu-container ul:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-nav .menu-container ul:after {
  clear: both;
}
.g-nav .menu-container .second-menu,
.g-nav .menu-container .third-menu,
.g-nav .menu-container .fourth-menu {
  display: none;
}
.g-nav .menu-container .first-menu {
  padding-left: 85px;
}
.g-nav .menu-container .first-menu .first-item {
  float: left;
}
.g-nav .menu-container .first-menu .first-item:hover,
.g-nav .menu-container .first-menu .first-item.active,
.g-nav .menu-container .first-menu .first-item.current {
  background: #fff;
}
.g-nav .menu-container .first-menu .first-item:hover > a,
.g-nav .menu-container .first-menu .first-item.active > a,
.g-nav .menu-container .first-menu .first-item.current > a {
  color: #1D428A;
}
.g-nav .menu-container .first-menu .first-item > a {
  display: block;
  height: 60px;
  color: #fff;
  padding: 0 15px;
}
.g-nav .menu-container .second-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}
.g-nav .menu-container .second-menu > ul {
  width: 83.333%;
  margin: 0 auto;
  padding-left: 310px;
}
.g-nav .menu-container .second-menu .second-item {
  float: left;
}
.g-nav .menu-container .second-menu .second-item.active > a,
.g-nav .menu-container .second-menu .second-item:hover > a {
  color: #1D428A;
}
.g-nav .menu-container .second-menu .second-item > a {
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 10px 0;
  padding: 0 20px;
  color: #333;
}
.g-nav .menu-container .second-menu .second-item > a span {
  display: inline-block;
}
.g-nav .menu-container .second-menu .second-item:nth-of-type(1) > a {
  padding-left: 0;
}
.g-nav .menu-container .third-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.g-nav .menu-container .third-menu > ul {
  position: relative;
  width: 83.333%;
  margin: 0 auto;
  padding: 20px 0;
}
.g-nav .menu-container .third-menu .third-item {
  display: block;
  width: 12%;
  margin-left: 310px;
  line-height: 30px;
  border-right: 1px solid #eaeaea;
}
.g-nav .menu-container .third-menu .third-item > a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  color: #333;
}
.g-nav .menu-container .third-menu .active > a span,
.g-nav .menu-container .third-menu .third-item > a:hover span {
  color: #1D428A;
}
.g-nav .menu-container .third-menu .third-item > .item-product {
  display: none;
  position: absolute;
  top: 20px;
  left: 310px;
  width: 300px;
  margin-left: 15%;
}
.g-nav .menu-container .third-menu .third-item > .item-product a:hover p {
  color: #1D428A;
}
.g-nav .menu-container .third-menu .third-item > .item-product img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.g-nav .menu-container .third-menu .third-item > .item-product p {
  margin-top: 5px;
  font-size: 12px;
  color: #333;
  line-height: normal;
}
.g-nav .menu-container .fourth-menu {
  position: absolute;
  top: 0;
  left: 310px;
  z-index: 99999;
  height: 100%;
  margin-left: 13%;
  padding: 20px 0 0 20px;
}
.g-nav .menu-container .fourth-menu > ul {
  position: relative;
}
.g-nav .menu-container .fourth-menu .fourth-item > a {
  color: #333;
}
.g-nav .menu-container .fourth-menu .fourth-item > a:hover {
  color: #1D428A;
}
.g-nav .menu-container .fourth-menu .fourth-item > .item-product {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  margin-left: 30px;
}
.g-nav .menu-container .fourth-menu .fourth-item > .item-product a:hover p {
  color: #1D428A;
}
.g-nav .menu-container .fourth-menu .fourth-item > .item-product img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.g-nav .menu-container .fourth-menu .fourth-item > .item-product p {
  margin-top: 5px;
  font-size: 12px;
  color: #333;
  line-height: normal;
}
.g-nav .function-box {
  float: right;
}
.g-nav .function-box .iconfont {
  display: block;
  height: 60px;
  font-size: 26px;
}
.g-nav .function-box .iconfont:hover {
  cursor: pointer;
}
.g-nav .function-box .search-box {
  float: left;
  position: relative;
  width: 50px;
  text-align: center;
}
.g-nav .function-box .search-box .iconfont {
  color: #fff;
}
.g-nav .function-box .search-box .search-form {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 60px;
  height: 100%;
}
.g-nav .function-box .search-box .search-form form {
  width: 350px;
  margin: 16px 0;
}
.g-nav .function-box .search-box .search-form formbefore,
.g-nav .function-box .search-box .search-form form:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-nav .function-box .search-box .search-form form:after {
  clear: both;
}
.g-nav .function-box .search-box .search-form input {
  float: left;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  border: 1px solid #eaeaea;
}
.g-nav .function-box .search-box .search-form input[type="text"] {
  width: 300px;
  padding: 0 5px;
  background: #fff;
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.g-nav .function-box .search-box .search-form input[type="submit"] {
  width: 50px;
  background: #1D428A;
  color: #fff;
  border-radius: 0 5px 5px 0;
}
.g-nav .function-box .search-box .wavlink-bgPander {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.g-nav .function-box .user-box {
  position: relative;
  float: left;
  text-align: center;
  color: #fff;
}
.g-nav .function-box .user-box a.login {
  font-size: 14px;
  color: #fff;
}
.g-nav .function-box .user-box a.login:hover {
  text-decoration: underline;
}
.g-nav .function-box .user-box .account .ico-box {
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.g-nav .function-box .user-box .account .ico-boxbefore,
.g-nav .function-box .user-box .account .ico-box:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-nav .function-box .user-box .account .ico-box:after {
  clear: both;
}
.g-nav .function-box .user-box .account .ico-box span {
  float: left;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .g-nav .function-box .user-box .account .ico-box span {
    max-width: 50px;
  }
}
.g-nav .function-box .user-box .account .ico-box .iconfont {
  float: left;
  font-size: 24px;
  color: #fff;
}
.g-nav .function-box .user-box .account .user-menu-wrapper {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
}
.g-nav .function-box .user-box .account .user-menu-wrapper .user-menu-item {
  width: 140px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}
.g-nav .function-box .user-box .account .user-menu-wrapper .user-menu-item:nth-last-of-type(1) {
  border-bottom: none;
}
.g-nav .function-box .user-box .account .user-menu-wrapper .user-menu-item .userName {
  display: block;
  padding: 0 10px;
  text-align: center;
  color: #1D428A;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.g-nav .function-box .user-box .account .user-menu-wrapper .user-menu-item a {
  display: block;
  padding: 0 10px;
  text-align: center;
  color: #1D428A;
}
.g-nav .function-box .user-box .account .user-menu-wrapper .user-menu-item a:hover {
  color: #1D428A;
  background: #abcae9;
  text-decoration: underline;
}
@media screen and (max-width: 1300px) {
  .g-nav .function-box .user-box a.login {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .g-nav .logo {
    padding-left: 20px;
  }
  .g-nav .menu-container .first-menu {
    padding-left: 0;
  }
  .g-nav .menu-container .first-menu .first-item > a {
    padding: 0 5px;
    font-size: 12px;
  }
  .g-nav .menu-container .second-menu > ul {
    width: 100%;
    padding-left: 220px;
  }
  .g-nav .menu-container .second-menu .second-item > a {
    padding: 0 10px;
  }
  .g-nav .menu-container .third-menu > ul {
    width: 100%;
  }
  .g-nav .menu-container .third-menu .third-item {
    width: 20%;
    margin-left: 220px;
  }
  .g-nav .menu-container .third-menu .third-item > .item-product {
    width: 200px;
  }
  .g-nav .menu-container .fourth-menu {
    left: 220px;
    margin-left: 20%;
  }
  .g-nav .menu-container .fourth-menu .fourth-item > .item-product {
    width: 200px;
  }
  .g-nav .function-box {
    padding-right: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .g-nav .logo {
    padding-left: 20px;
  }
  .g-nav .menu-container .first-menu {
    padding-left: 0;
  }
  .g-nav .menu-container .first-menu .first-item > a {
    padding: 0 10px;
  }
  .g-nav .menu-container .second-menu > ul {
    width: 100%;
    padding-left: 220px;
  }
  .g-nav .menu-container .second-menu .second-item > a {
    padding: 0 10px;
  }
  .g-nav .menu-container .third-menu > ul {
    width: 100%;
  }
  .g-nav .menu-container .third-menu .third-item {
    width: 20%;
    margin-left: 220px;
  }
  .g-nav .menu-container .fourth-menu {
    left: 220px;
    margin-left: 20%;
  }
  .g-nav .function-box {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1365px) {
  .g-nav .menu-container .third-menu .third-item {
    width: 20%;
  }
  .g-nav .menu-container .fourth-menu {
    margin-left: 20%;
  }
}
.g-footer {
  background: #333;
  margin: 60px 0 0;
}
.g-footer .foot-container {
  padding: 20px 0;
}
.g-footer .foot-container dl {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}
.g-footer .foot-container dl:nth-of-type(1) {
  padding-left: 0;
  margin-left: 16.6%;
}
.g-footer .foot-container dl:nth-last-of-type(1) {
  padding-right: 0;
}
.g-footer .foot-container dl dt {
  color: #fff;
  line-height: 26px;
}
.g-footer .foot-container dl dd {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #888;
}
.g-footer .foot-container dl dd:nth-last-of-type(1) img {
  display: block;
}
.g-footer .foot-container dl dd img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: none;
  margin: 0;
}
.g-footer .foot-container dl dd a {
  display: inline-block;
  color: #888;
  line-height: 26px;
}
.g-footer .foot-container dl dd a:hover {
  color: #1D428A;
}
.g-footer .foot-container dl dd a .iconfont {
  font-size: 30px;
}
.g-footer .copy-right {
  padding: 5px 0;
  background: #000;
  color: #888;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .g-footer .foot-container dl:nth-of-type(1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .g-footer .foot-container dl {
    margin-bottom: 20px;
    padding: 0 20px !important;
  }
}
.g-path {
  margin: 0 0 10px;
  background: #fff;
}
.g-path .breadcrumb {
  padding: 0 20px;
  margin: 0 auto;
  background: #fff;
  line-height: 50px;
}
.g-path .breadcrumbbefore,
.g-path .breadcrumb:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-path .breadcrumb:after {
  clear: both;
}
.g-path .breadcrumb li {
  float: left;
}
.g-path .breadcrumb .active {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.g-path .breadcrumb a {
  color: #1D428A;
}
.g-path .breadcrumb a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .g-path .breadcrumb {
    width: 83.333%;
  }
}
@media screen and (max-width: 1199px) {
  .g-path .breadcrumb {
    width: 100%;
  }
}
.g-path .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .g-path .breadcrumb li {
    font-size: 12px;
  }
}
.g-pagination {
  margin: 10px 0;
  padding: 0 15px;
  background: #fff;
}
.g-pagination .pager {
  margin: 15px 0;
}
.g-pagination li {
  margin: 0 10%;
}
.g-pagination li a {
  color: #1D428A;
  border-color: #1D428A;
}
.g-pagination .pagination {
  margin: 10px 0;
}
.g-pagination .paginationbefore,
.g-pagination .pagination:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-pagination .pagination:after {
  clear: both;
}
.g-pagination .pagination > li > a,
.g-pagination .pagination > li > span {
  color: #1D428A;
}
.g-pagination .pagination > .disabled > a,
.g-pagination .pagination > .disabled > a:focus,
.g-pagination .pagination > .disabled > a:hover,
.g-pagination .pagination > .disabled > span,
.g-pagination .pagination > .disabled > span:focus,
.g-pagination .pagination > .disabled > span:hover {
  color: #777;
}
.g-pagination .pagination > .active > a,
.g-pagination .pagination > .active > a:focus,
.g-pagination .pagination > .active > a:hover,
.g-pagination .pagination > .active > span,
.g-pagination .pagination > .active > span:focus,
.g-pagination .pagination > .active > span:hover {
  color: #333;
  background: #1D428A;
  border-color: #1D428A;
}
.g-aside {
  float: left;
  width: 20%;
  padding-right: 10px;
}
.g-aside ul {
  background: #fff;
}
.g-aside ul li {
  border-bottom: 1px solid #eaeaea;
}
.g-aside ul li h3 {
  padding: 0 20px;
  font-size: 14px;
  line-height: 50px;
  background: #1D428A;
  color: #fff;
}
.g-aside ul li a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  color: #333;
}
.g-aside ul li a:hover {
  color: #1D428A;
  text-decoration: underline;
}
.g-aside ul li .active {
  color: #1D428A;
  text-decoration: underline;
}
.g-aside .wavlinkAside .supportItem h3 {
  position: relative;
  cursor: pointer;
}
.g-aside .wavlinkAside .supportItem h3 .iconfont {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 50px;
  font-size: 24px;
  color: #fff;
}
.g-aside .wavlinkAside .supportItem h3 a {
  padding: 0;
  color: #fff;
  border-bottom: none;
}
.g-aside .wavlinkAside .supportItem dl {
  display: none;
}
.g-aside .wavlinkAside .supportActive dl {
  display: block;
}
.g-aside .wavlinkAside .supportItem dd {
  border-bottom: 1px solid #eaeaea;
}
.g-aside .wavlinkAside .supportItem dd a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.g-aside .wavlinkAside .supportItem dd a:hover,
.g-aside .wavlinkAside .supportItem dd a.active {
  text-decoration: none;
}
.g-aside .wavlinkAside .supportItem dd a:hover .supportText,
.g-aside .wavlinkAside .supportItem dd a.active .supportText {
  text-decoration: underline;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .g-aside {
    width: 25%;
  }
}
.g-main {
  float: left;
  width: 80%;
  background: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .g-main {
    width: 75%;
  }
}
.g-filter {
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  line-height: 30px;
}
.g-filterbefore,
.g-filter:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-filter:after {
  clear: both;
}
.g-filter .filter {
  float: left;
  margin-right: 20px;
}
.g-filter .sort {
  float: left;
}
.g-filter .result {
  float: right;
  color: #1D428A;
}
.g-filter span {
  display: inline-block;
  padding-right: 5px;
  font-size: 14px;
}
.g-filter .select {
  position: relative;
  display: inline-block;
}
.g-filter .select select {
  width: 250px;
  height: 30px;
  padding: 0 5px;
  border: 1px solid #1D428A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  background: #fff;
}
.g-filter .select select option {
  padding: 10px 0;
}
/*# sourceMappingURL=components.css.map */