/**
* @name: components.less
* @description: 公共模块css
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-09-10 16:30
*/
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
button {
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: none;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: middle;
}
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}
textarea {
  overflow: auto;
  resize: vertical;
}
input,
textarea,
button,
select,
a {
  outline: 0 none;
  border: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
mark {
  background-color: transparent;
}
a,
ins,
s,
u,
del {
  text-decoration: none;
}
sup,
sub {
  vertical-align: baseline;
}
html {
  overflow-x: hidden;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: #25a4bb;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
@font-face {
  font-family: Neo_Sans;
  src: url("../../../../lib/font/Neo_Sans.ttf");
}
body {
  font-family: Neo_Sans, "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
  padding-top: 50px;
  background: #f5f5f5;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 83.333%;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
.g-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #333;
}
.g-nav .container {
  position: relative;
}
.g-nav .nav-container {
  display: flex;
}
.g-nav .logo {
  float: left;
}
.g-nav .logo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 153px;
  margin: 12px 0;
}
.g-nav .menu-container {
  flex: 1;
  text-align: center;
}
.g-nav .menu-container .menu {
  float: left;
  margin-left: 6%;
}
.g-nav .menu-container .menu .menu-item {
  float: left;
  position: relative;
}
.g-nav .menu-container .menu .menu-item:hover a {
  color: #f8b300;
  background: none;
}
.g-nav .menu-container .menu .active:hover a {
  color: #333;
  background: #f8b300;
}
.g-nav .menu-container .menu .menu-item a {
  display: block;
  padding: 0 20px;
  color: #fff;
  background: #333;
  height: 50px;
  line-height: 50px;
}
.g-nav .menu-container .menu .active {
  background: #f8b300;
}
.g-nav .menu-container .menu .active a {
  background: #f8b300;
  color: #333;
}
.g-nav .menu-container .menu .active a:hover {
  background: #f8b300;
  color: #333;
}
.g-nav .menu-container .menu .menu-item .dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 0;
  border: none;
}
.g-nav .menu-container .menu .menu-item .dropdown-menu li {
  border-bottom: 1px solid #eaeaea;
}
.g-nav .menu-container .menu .menu-item .dropdown-menu li:nth-last-of-type(1) {
  border-bottom: none;
}
.g-nav .menu-container .menu .menu-item .dropdown-menu li a {
  padding: 15px 30px;
  color: #fff;
  background: #333;
  text-align: center;
  height: auto;
  line-height: normal;
}
.g-nav .menu-container .menu .menu-item .dropdown-menu li a:hover {
  color: #333;
  background: #fff;
}
.g-nav .search-bar {
  display: none;
  float: right;
  padding: 0 20px;
  cursor: pointer;
}
.g-nav .search-bar .iconfont {
  display: block;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
}
.g-nav .search-box {
  float: right;
}
.g-nav .search-box form {
  position: relative;
  line-height: normal;
  margin: 11px 0;
}
.g-nav .search-box formbefore,
.g-nav .search-box form:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-nav .search-box form:after {
  clear: both;
}
.g-nav .search-box form input {
  float: left;
  height: 28px;
  font-size: 12px;
  border: 1px solid #eaeaea;
  background: #fff;
  outline: none;
}
.g-nav .search-box form input[type="text"] {
  width: 200px;
  padding: 0 10px;
  color: #333;
  border-right: none;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.g-nav .search-box form input[type="submit"] {
  padding: 0 10px;
  color: #fff;
  background: #333;
  border-left: none;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .g-nav .logo {
    padding-left: 20px;
  }
  .g-nav .menu-container .menu {
    margin-left: 0;
  }
  .g-nav .menu-container .menu .menu-item a {
    padding: 0 10px;
    font-size: 12px;
  }
  .g-nav .search-bar {
    display: block;
    padding-right: 20px;
  }
  .g-nav .search-box {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 9999;
    width: 100%;
    line-height: normal;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 15px 20px #eaeaea;
    box-shadow: 0 15px 20px #eaeaea;
  }
  .g-nav .search-box form {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .g-nav .menu-container .menu {
    margin-left: 0;
  }
  .g-nav .menu-container .menu .menu-item a {
    padding: 0 10px;
    font-size: 12px;
  }
}
.g-footer {
  background: #333;
  margin: 60px 0 0;
}
.g-footer .foot-container {
  padding: 20px 0;
}
.g-footer .foot-container dl {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}
.g-footer .foot-container dl:nth-of-type(1) {
  padding-left: 0;
  margin-left: 16.6%;
}
.g-footer .foot-container dl:nth-last-of-type(1) {
  padding-right: 0;
}
.g-footer .foot-container dl:nth-last-of-type(1) dd a {
  line-height: normal;
}
.g-footer .foot-container dl dt {
  color: #fff;
  line-height: 26px;
}
.g-footer .foot-container dl dd {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #888;
}
.g-footer .foot-container dl dd a {
  color: #888;
  line-height: 26px;
}
.g-footer .foot-container dl dd a:hover {
  color: #f8b300;
}
.g-footer .foot-container dl dd a .iconfont {
  font-size: 30px;
}
.g-footer .copy-right {
  padding: 5px 0;
  background: #000;
  color: #888;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .g-footer .foot-container dl:nth-of-type(1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .g-footer .foot-container dl {
    margin-bottom: 20px;
    padding: 0 20px !important;
  }
}
.g-path {
  margin: 0 0 20px;
  background: #fff;
}
.g-path .breadcrumb {
  padding: 0 20px;
  margin: 0 auto;
  background: #fff;
  line-height: 50px;
}
.g-path .breadcrumb a {
  color: #f8b300;
}
.g-path .breadcrumb a:hover {
  color: #ffc714;
}
@media screen and (min-width: 1200px) {
  .g-path .breadcrumb {
    width: 83.333%;
  }
}
@media screen and (max-width: 1199px) {
  .g-path .breadcrumb {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .g-path .breadcrumb li {
    font-size: 12px;
  }
}
.g-pagination {
  margin: 20px 0;
  padding: 0 15px;
  background: #fff;
  /*.pagination {
    .clearFix();
    margin: 10px 0;
  }
  .pagination > li > a, .pagination > li > span {
    color: @activeColor;
  }
  .pagination > .disabled > a,
  .pagination > .disabled > a:focus,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > span,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > span:hover {
    color: #777;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    color: @baseColor;
    background: @activeColor;
    border-color: @activeColor;
  }*/
}
.g-pagination li {
  margin: 0 10%;
}
.g-pagination li a {
  color: #f8b300;
  border-color: #f8b300;
}
.g-aside {
  float: left;
  width: 18%;
  margin-right: 2%;
  background: #fff;
}
.g-aside ul li h3 {
  padding: 0 20px;
  font-size: 14px;
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
  background: #f8b300;
}
.g-aside ul li a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  color: #333;
  border-bottom: 1px solid #eaeaea;
}
.g-aside ul li a:hover {
  color: #f8b300;
  text-decoration: underline;
}
.g-aside ul li:nth-last-of-type(1) a {
  border-bottom: none;
}
.g-aside ul li .active {
  color: #ffc714;
  text-decoration: underline;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .g-aside {
    width: 23%;
  }
}
.g-main {
  float: left;
  width: 80%;
  background: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .g-main {
    width: 75%;
  }
}
.g-filter {
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}
.g-filterbefore,
.g-filter:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-filter:after {
  clear: both;
}
.g-filter .filter {
  float: left;
  margin-right: 20px;
}
.g-filter .sort {
  float: left;
}
.g-filter .result {
  float: right;
  color: #f8b300;
}
.g-filter span {
  display: inline-block;
  padding-right: 5px;
  font-size: 12px;
  font-weight: bold;
}
.g-filter .select {
  position: relative;
  display: inline-block;
}
.g-filter .select select {
  width: 150px;
  height: 30px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.g-filter .select .iconfont {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  line-height: 30px;
}
/*# sourceMappingURL=components.css.map */