{extend name="desktop/common/base" /}
{block name="title"}{$result.name}{/block}
{block name="seo"}
<meta name="description" content="{$result.description}">
<meta name="keywords" content="{$result.keywords}">
{/block}
{block name="style"}
<!--<link rel="stylesheet" href="__DESKTOP__/css/page/driver.css">-->
{/block}
{block name="swiper"}
<div class="container-fluid">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="/{$code}/index">{:lang('home')}</a></li>
                <li class="active">关于我们</li>
            </ol>
        </div>
    </div>
</div>
{/block}
{block name="body"}
<div class="container">
    <div class="row">
        <div class="box clearfix">
            <div class="g-aside">
                <ul>
                    <li><h3>About</h3></li>
                    {include file="desktop/common/about_aside"}
                </ul>
            </div>
            <div class="g-main">
                {$result.content}
            </div>
        </div>
    </div>
</div>
{/block}
