{include file="public/headers"/}
<article class="cl pd-20">
    <form method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>产品大类:</label>
            <div class="formControls col-xs-4 col-sm-3">
                <span class="select-box">
				<select class="select" name="cate">
					<option value="">请选择</option>
                    {volist name="result" id="vo"}
                    <option value="{$vo.code}">{$vo.description}</option>
                    {/volist}
				</select>
				</span>
            </div>
            <div class="formControls col-sm-7"><span style="font-size: 12px;color: red">产品系列</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>Code:</label>
            <div class="formControls col-xs-4 col-sm-3">
                <input class="input-text" value="" placeholder="" name="code">
            </div>
            <div class="formControls col-sm-7"><span style="font-size: 12px;color: red">二位随机简码，和原数据不重复</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>Model:</label>
            <div class="formControls col-xs-9 col-sm-3">
                <input class="input-text" value="" placeholder="" id="saveSoft" name="model">
            </div>
            <div class="formControls col-sm-7"><span style="font-size: 12px;color: red">型号-版本</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>描述:</label>
            <div class="formControls col-xs-9 col-sm-3">
                <input class="input-text" value="" placeholder="" id="description" name="description">
            </div>
            <div class="formControls col-sm-7"><span style="font-size: 12px;color: red">型号-版本</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>软件:</label>
            <div class="formControls col-xs-9 col-sm-10">
                <span class=""><a href="javascript:;" onclick="muLay('软件版本维护','{:url(\'model/add_soft\')}',640,670)"
                                  class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe6df;</i> 修改</a></span>
            </div>
        </div>
        <div class="row c1" style="height: 320px;">
            <label class="form-label col-sm-2" for=""><br></label>
            <div class="formControls col-sm-10">
                <div class="pd-5" style="height: 309px;border: 1px #ddd solid">
                    <ul id="soft">
                        <li>暂无支持的型号，请点击修改来添加支持型号</li>
                        <input type="hidden" name="soft_id[]" value="">
                    </ul>
                </div>
            </div>
        </div>
        <div id="id"></div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="button" id="button" class="btn btn-primary radius">保存</button>
            </div>
        </div>
    </form>
</article>
{include file="public/footer"/}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/select.js"></script>
<script>
    $("#button").mousedown(function () {
        $.ajax(
            {
                url: '{:url(\'Model/saveID\')}',
                type: "post",
                async: false,
                dataType: "json",
                data: $("form").serialize(),//提交表单数据
                success: function (result) {
                    if (result.status === 1) {
                        var modelID;
                        modelID = '<input type="hidden" name="model_id" value=' + result.data + '>';
                        $('#id').html(modelID);
                        $("#button").mouseup(function () {
                            $.ajax({
                                url: '{:url(\'Model/index\')}',
                                type: 'post',
                                async:false,
                                dataType: 'json',
                                data: $('#form-admin-add').serialize(),
                                success: function (result) {
                                    if (result[0] === 1) {
                                        layer.msg(result[1], {icon: 1, time: 2000},function () {
                                            window.parent.parent.location.reload();
                                        });
                                    } else {
                                        layer.msg(result[1], {icon: 5, time: 1000})
                                    }
                                }
                            });
                        });
                    } else {
                        layer.msg(result.data, {icon: 5, time: 2000});
                    }
                }
            }
        );
    });
</script>
</body>
</html>
