{include file="public/headers"/}
<style>
    .check-box {
        padding-left: 0;
    }

    .check-box > input {
        margin: 0 10px 0 0;
        width: 15px;
        height: 15px
    }
</style>
<article class="cl pd-20">
    <div>
        <div style="text-align: left">
            <div style="float: left;width: 261px;padding: 5px">请从以下硬件版本中选择:</div>
            <div style="float: right;width: 261px;padding: 5px">已选择支持的版本:</div>
        </div>
        <div style="clear: both"></div>
        <div style="width: 261px;height:480px;border: 1px #dddddd solid; float: left;padding: 8px;overflow: auto">
            <input type="text" class="input-text" value="" placeholder="可以搜索版本来缩小范围">
            <div class="containLeft mt-10">
                {volist name="data" id="vo"}
                {notin name="$vo.id" value="$result_soft"}
                <div class="check-box" style="display: block">
                    <input type="checkbox" id="checkbox-{$vo.id}" name="model">
                    <label for="checkbox-{$vo.id}" class="f-12" soft_id="{$vo.id}" style="width: 60px">{$vo.ver}</label>
                </div>
                {/notin}
                {/volist}
            </div>
        </div>
        <div style="float: left;padding: 30% 5px;color: #d8d8d8;">
            <i class="goRight Hui-iconfont" style="display: block;cursor: pointer;margin: 5px 0">&#xe67a;</i>
            <i class="goLeft Hui-iconfont" style="display: block;cursor: pointer;margin: 5px 0">&#xe678;</i>
        </div>
        <div class="containRight mt-10"
             style="width: 261px; height:480px;border:1px #dddddd solid; float: left;padding: 8px;overflow: auto">
            {volist name="soft" id="vo"}
            <div class="check-box" style="display: block">
                <input type="checkbox" id="check-{$vo.id}" name="model">
                <label for="check-{$vo.id}" class="f-12" soft_id="{$vo.id}"
                       style="width: 60px">{$vo.ver}</label>
            </div>
            {/volist}

        </div>
        <div class="f-r pd-15">
            <input class="btnSubmit btn btn-success-outline radius size-S" type="button"
                   value="&nbsp;&nbsp;确定&nbsp;&nbsp;">
            <span>&nbsp;&nbsp;</span>
            <input class="btnReset btn btn-danger-outline radius size-S" type="button"
                   value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
        </div>
    </div>
</article>
{include file="public/footer"/}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/select.js"></script>
<script>
    var option = {
    };
    var add = new Add(option);
    add.init();
    var index = parent.layer.getFrameIndex(window.name);
    $(".btnSubmit").click(function () {
        var oldArr = add.init();
        var newArr = [];
        for (var i = 0; i < oldArr.length; i++) {
            newArr[i] = {};
            newArr[i].soft_id = oldArr[i].getAttribute("soft_id");
            newArr[i].soft = $(oldArr[i]).text();
        }
        var input = '';
        $(newArr).each(function () {
            input += '<li><input type="checkbox" name="soft_id[]" value="' + this.soft_id + '" checked>'+this.soft+'</li>'
        });
        parent.$('#soft').html(input);
        parent.layer.close(index)
    });
</script>
</body>
</html>
