html,body {
    padding:0;
    margin:0;
    height:100%
}
.after:after {
    content:"";
    display:block;
    clear:both;
    width:100%;
    height:0;
    overflow:hidden
}
.left {
    float:left
}
.right {
    float:right
}
p,ol,dl,ul {
    margin-bottom:0
}
input {
    outline:none;
    border:1px solid #f2f2f2;
    padding:10px 0
}
input::-webkit-input-placeholder {
    color:#ccc
}
input::-moz-input-placeholder {
    color:#ccc
}
input::-ms-input-placeholder {
    color:#ccc
}
input::-o-input-placeholder {
    color:#ccc
}
ul,ol {
    padding:0
}
li {
    list-style:none
}
a,a:hover,a:active,a:visited,a:focus {
    color:#fff;
    text-decoration:none
}
h1,h2,h3,h4,h5,h6 {
    margin:0
}
section {
    min-height:0 !important
}
.relative {
    position:relative
}
.absolute {
    position:absolute
}
.fixed {
    position:fixed
}
.none {
    display:none
}
.block {
    display:block
}
.margin {
    margin:0 auto
}
.bg-black {
    background:#000
}
.bg-white {
    background:#fff
}
.bg-ccc {
    background:#ccc
}
.bg-three {
    background:#333
}
.bg-f2 {
    background:#f2f2f2
}
.bg-fc {
    background:#fcfcfc
}
.product_border {
    border-bottom-color:#ccc !important
}

.color-white {
    color:#fff
}
.color-black {
    color:#000
}

/* bootstrap 提供的 头部导航 */
.navbar {
    margin-bottom:0 !important;
    border-radius:0 !important
}

/* 页眉 start */

/* 页脚固定文档底部的相对父元素 start */
/*div.container-fluid {*/
    /*position:relative;*/
    /*min-height:100%;*/
    /*height:auto !important;*/
    /*height:100%*/
/*}*/
/* 页脚固定文档底部的相对父元素 end */

header > ul > li {
    padding:15px 0;
}


    /* 页眉 end */



/* 内容 start */
/* 内容 end */



/* 页脚 start */

/* 页脚固定文档底部的定位子元素 start */
/*footer {*/
    /*position:absolute;*/
    /*height:235px;*/
    /*width:100%;*/
    /*left:0;*/
    /*bottom:0*/
/*}*/
/* 页脚固定文档底部的定位子元素 end */

footer div.container div {
    padding:15px 0
}
footer  div > dl {
    float:left;
    width:15%;
    margin-bottom:25px
}
footer  div > dl:last-child {
    margin-bottom:0
}
footer  div > dl > dt {
    font-size:18px;
    padding:10px 15px;
    color:#fff !important;
    border-bottom:1px solid #f2f2f2
}
footer  div > dl > dd {
    line-height:40px;
    padding-left:15px
}
footer  div > dl > dd:hover {
    background:rgba(0,0,0,.3)
}
footer > p {
    line-height:30px
}
/* 页脚 end */

@media screen and (max-width:767px){
    .pc_bar_img { display:none }
    .mobile_bar_img { display:block }
}
@media screen and (min-width:768px){
    .pc_bar_img { display:block }
    .mobile_bar_img { display:none }
}
@media screen and (max-width:1024px){
    footer div > dl > dt {
        font-size:15px
    }
}

