<!--包含头部文件-->
{include file="public/system_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        用户组管理
        <span class="c-gray en">&gt;</span>
        用户组列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em;">
            <div class="text-c"> 用户名：
                <input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="">
                <button type="submit" class="btn btn-success"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户
                </button>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <a href="javascript:;" onclick="add('添加用户组','{:url(\'AuthGroup/add\')}','800','800')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户组</a> </span>
                <span class="r">共有数据：<strong>{$count}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th scope="col" colspan="9">用户组列表</th>
                </tr>
                <tr class="text-c">
                    <th width="20"><input type="checkbox" name="" value=""></th>
                    <th width="20">ID</th>
                    <th width="150">用户组名称</th>
                    <th>描述</th>
                    <th width="130">加入时间</th>
                    <th width="60">是否已启用</th>
                    <th width="80">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="authGroup" id="vo"}
                <tr class="text-l">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.description}</td>
                    <td>{$vo.create_time}</td>
                    <td class="td-status text-c">{$vo.status|status}</td>
                    <td class="td-manage">
                        <a style="text-decoration:none" onClick="stop('{:url(\'AuthGroup/byStatus\',[\'id\'=>$vo.id,\'status\'=>0])}')" href="javascript:;" title="停用"><i class="Hui-iconfont" style="font-size: 20px;color: red">&#xe6de;</i></a>
                        <a style="text-decoration:none" class="ml-5" onClick="edit('编辑','{:url(\'auth_group/edit\',[\'id\'=>$vo.id])}','800','600')" href="javascript:void 0" title="编辑"><i class="Hui-iconfont" style="font-size: 20px;color: blue">&#xe6df;</i></a>
                        <a style="text-decoration:none" onClick="start('{:url(\'auth_group/byStatus\',[\'id\'=>$vo.id,\'status\'=>1])}')" href="javascript:;" title="恢复"><i class="Hui-iconfont" style="font-size: 20px;color: green">&#xe6dc;</i></a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </article>
        <footer class="footer">
            <p>
                本系统由winstars系统管理组设计制作，采用先进的bootstrap框架为基础，使用h-ui框架作为后台框架<br>
                Copyright &copy;2015 win-star All Rights Reserved.
                <br> 本后台系统由<a href="http://www.win-star.com/" target="_blank" title="得星科技">webmaster GROUP</a>提供技术支持
            </p>
        </footer>
    </div>
</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script>
    $(document).ready(function () {
        $("#menu-admin dt").addClass("selected");
        $("#menu-admin dd").css("display", "block");
        $("#menu-admin #system_group").addClass("current");
        $("#system").addClass("current");
    });
</script>
</body>
</html>