<div class="about">
    <ul>
        <li class="about-item">
            <h3>{:lang('Store')}<span class="iconfont iconincrease"></span></h3>
            <ul>
                <li><a href="https://www.amazon.com/s?me=A1ZAFAL1WND4H&marketplaceID=ATVPDKIKX0DER">Amazon</a></li>
                <li><a href="https://www.newegg.com/Wavlink-Technology">Newegg</a></li>
            </ul>
        </li>
        <li class="about-item">
            <h3>{:lang('About')}<span class="iconfont iconincrease"></span></h3>
            <ul>
                {notempty name="about"}
                {volist name="about" id="vo"}
                <li><a href="/{$code}/about/{$vo.url_title}.html">{$vo.name}</a></li>
                {/volist}
                {/notempty}
            </ul>
        </li>
        <li class="about-item">
            <h3>SUPPORT<span class="iconfont iconincrease"></span></h3>
            <ul>
                <li><a href="/{$code}/drivers.html">{:lang('Driver')}</a></li>
                <li><a href="/{$code}/firmware.html">{:lang('Firmware')}</a></li>
                <li><a href="/{$code}/manuals.html">{:lang('manual')}</a></li>
                <li><a href="/{$code}/faq.html">{:lang('faq')}</a></li>
                <li><a href="/{$code}/guest_book/">{:lang('GuestBook')}</a></li>
                <li><a href="/{$code}/video.html">{:lang('video')}</a></li>
            </ul>
        </li>
        <li class="about-item">
            <h3>{:lang('Community')}<span class="iconfont iconclose"></span></h3>
            <ul>
                <li>
                    <a target="_blank" href="https://www.facebook.com/WavlinkOfficial"><span class="iconfont">&#xe65e;</span></a>
                    <a target="_blank" href="https://twitter.com/WavlinkOfficial"><span class="iconfont">&#xe65f;</span></a>
                    <a target="_blank" href="https://www.linkedin.com/company/wavlink-technology-ltd"><span class="iconfont">&#xe661;</span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="copy-right">
    <p>©1997 -
        <script>     var nowYear = new Date().getFullYear();     document.write(nowYear) </script>
        Wavlink Technology Ltd. All Rights Reserved.
    </p>
</div>