<div class="container-fluid">
    {notempty name="swiper"}
    <div class="row">
        <div class="banner swiper-container">
            <div class=" swiper-wrapper">
                {volist name="swiper" id="vo"}
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="{$vo.url}">
                            <img src="{$vo.image_mobile_url}" alt="{$vo.title}">
                        </a>
                    </div>
                    <div class="des">
                        <dl>
                            <dt data-swiper-parallax="-500" data-swiper-parallax-opacity="0">
                                {$vo.title}
                            </dt>
                            <dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                {$vo.subtitle}
                            </dd>
                        </dl>
                    </div>
                </div>
                {/volist}
            </div>
            <div class="swiper-pagination"></div><!--分页器-->
        </div>
    </div>
    {/notempty}
</div>
