<div class="container-fluid">
    <div class="row">
        <div class="banner swiper-container">
            <div class=" swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=9a6aAvQoXuStr472isoUZ27VYFoVsCdqKDpLIs2e-ssv6usEB-MFXeSCX1A9n-kTBEanpBOLxEQAWDA9DejcLHoOpf1hBw2VanZosZQsQ_LTH1Z_wyfWBjwBpYm4Ta0H0SfrJakpgW68SKuIkdvxBsXK98pD2-xNQIbNihB49Qtbg6S0HtJdHFfX&file_name=/WN575A4.jpg" alt="">
<!--                            <img src="../img/home-banner-placeholder.jpg" alt="">-->
                        </a>
                    </div>
                    <div class="des">
                        <dl>
                            <dt data-swiper-parallax="-500" data-swiper-parallax-opacity="0">
                                AC1200 High Power Dual Band   Wi-Fi Range Extender
                            </dt>
                            <dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                Once connected, all extended
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=0f59KjFpV36jgcPmkDSc4ffTqpYmyTyUcnZ-KKYpY-U5ziQk4TJsQD0O1p9KxupXu2Ic1Q2P6V5dAq9xq28H9-pWr287RRggNe7L5YqrpYUawfpN_Khy9rY0-Z45S4gNcii6YsG5tC8riBX7URIiN8uc0BnN9F8996Su6SwwjImSR2Hqbup4XFYclJLZXg&file_name=/UTD01_m_new.jpg" alt="">
<!--                            <img src="../img/home-banner-placeholder.jpg" alt="">-->
                        </a>
                    </div>
                    <div class="des">
                        <dl>
                            <dt data-swiper-parallax="-500" data-swiper-parallax-opacity="0">
                                Thunderbolt™ 3 4K Display Docking Station
                            </dt>
                            <dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                The USB-C That Does It All
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=ffc2eVgXt2XzgXGPhZVOrXmGYTAnWSoPXv-bja48yNouIDvwY0OLLe4tYLmQ-f23FGzpr4gir36_8B_w9Zk03BkJXlsdN7IRA46WRK9obTCkk4TbkNyFqOSyCFUER8wC72dgbCBv1PFC1OkYEA7T_repc6iFlmS669E5MlV_5bgknuMPf6YYZA&file_name=/69PD2.jpg" alt="">
<!--                            <img src="../img/home-banner-placeholder.jpg" alt="">-->
                        </a>
                    </div>
                    <div class="des">
                        <dl>
                            <dt data-swiper-parallax="-500" data-swiper-parallax-opacity="0">
                                USB-C Dual 4K Docking Station with Power Delivery
                            </dt>
                            <dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                Connects 2 UHD 4K DisplayPort displays or a single 5K Display
                            </dd>
                            <!--<dd data-swiper-parallax="-3000" data-swiper-parallax-opacity="0">
                                Superspeed USB3.0, Gigabit Ethernet economize in time
                            </dd>-->
                        </dl>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=6b64jo_04yzmi2DK3wtZq-isug1ybk0ETcVHDvaXTPfrE0mEC0FLt3TEc5SxaIQ8nROEMNVs7d21ZyiilNlXVlx9dIIfo-5KTsgzVuiwWus0XOfE8Of7rx2X_HZuHjVzAiKqyV4j_ykmOVN9qEyetjAq_YEYpqy6Ph6c0iSwWqNlqbWOGEulJlDQ&file_name=/WN531G3.jpg" alt="">
<!--                            <img src="../img/home-banner-placeholder.jpg" alt="">-->
                        </a>
                    </div>
                    <div class="des">
                        <dl>
                            <dt data-swiper-parallax="-500" data-swiper-parallax-opacity="0">
                                AC1200 Dual Band Smart Touchlink Giga WiFi Router
                            </dt>
                            <dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                One-Key Operation for Better Router Performance
                            </dd>
                            <!--<dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                Smart APP monitors and manages your network, Anytime, Anywhere
                            </dd>-->
                        </dl>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=40b4m0_A9NfI717scGC50BT9rKa0gFefMCZe2A2ABry0y5mKBc-8kDgCUyo1KBOE99rSyutmD4Ir_SbFiT7ZC9drraBio-XayFZc4fnCERhoIG20Ac5Dyt1mkb5-a1Yqc3tNzxOgSsl1tQwv2b9dKXunE5ag9N0dxMNjbNACgxfc16ithgT4zVWAs2sfV1sEHrazYVS8-oWipovLXw86fK99n8RRLmDINw&file_name=/lADPBbCc1VXNwV3NAvjNAu4_750_760.jpg" alt="">
<!--                            <img src="../img/home-banner-placeholder.jpg" alt="">-->
                        </a>
                    </div>
                    <div class="des">
                        <dl>
                            <dt data-swiper-parallax="-500" data-swiper-parallax-opacity="0">
                                AC1200 High Power Wi-Fi Range Extender
                            </dt>
                            <dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                Unparalleled Gigabit WiFi in Beautiful Design
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=6fb2UII6-lpuU8J20ZqetrBpVL8hJZn94rqk9SjjSDVY8p6Ma1B2gDrRW6ztAyHnl7y4DQNaobh2cd1NZXssBYnwKyR0vJZ85LlJOAvX8UKzsvb6zcN7bTn-SBi_RIpEuXd_SjAC6_lIQTb43chapKYljnlRw1jPspiwHC8PqVpjnpoag8f7NoKM&file_name=/WN530H4.jpg" alt="">
<!--                            <img src="../img/home-banner-placeholder.jpg" alt="">-->
                        </a>
                    </div>
                    <div class="des">
                        <dl>
                            <dt data-swiper-parallax="-500" data-swiper-parallax-opacity="0">
                                AC1200 High Power Dual Band Wireless Router
                            </dt>
                            <dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                Faster Speeds. Better Performance. More Fun.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div><!--分页器-->
        </div>
    </div>
    <div class="row">
        <div class="category-icon">
            <div class="item">
                <a href="#">
                    <span class="iconfont">&#xe6af;</span>
                    <p>Wireless</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <span class="iconfont">&#xe671;</span>
                    <p>PC peripherals</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <span class="iconfont">&#xe74b;</span>
                    <p>IOT</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <span class="iconfont">&#xe74b;</span>
                    <p>IOT</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hot">
            <div class="img-box">
                <a href="#">
                    <img src="//files.wavlink.com/fw/2019/08/05/69DK7_mobile.jpg" alt="">
                </a>
            </div>
            <div class="des">
                <h2>USB-C Dual 4K Display Docking Station </h2>
                <p>One Cable, All Connect</p>
            </div>
        </div>
    </div>
</div>
