<div class="about">
    <ul>
        <li class="about-item">
            <h3>STORE<span class="iconfont iconincrease"></span></h3>
            <ul>
                <li><a href="#">Amazon</a></li>
                <li><a href="#">Newegg</a></li>
                <li><a href="#">eBay</a></li>
                <li><a href="#">Alibaba</a></li>
            </ul>
        </li>
        <li class="about-item">
            <h3>ABOUT<span class="iconfont iconincrease"></span></h3>
            <ul>
                <li><a href="about.html">Company</a></li>
                <li><a href="about.html">Contact Us</a></li>
                <li><a href="about.html">Join Us</a></li>
                <li><a href="about.html">News</a></li>
                <li><a href="about.html">Privacy</a></li>
            </ul>
        </li>
        <li class="about-item">
            <h3>SUPPORT<span class="iconfont iconincrease"></span></h3>
            <ul>
                <li><a href="driver.html">Driver</a></li>
                <li><a href="guestBook.html">Guest Book</a></li>
                <li><a href="manual.html">Manuals</a></li>
                <li><a href="FAQ-list.html">FAQ</a></li>
                <li><a href="video.html">Video</a></li>
            </ul>
        </li>
        <li class="about-item">
            <h3>Community<span class="iconfont iconclose"></span></h3>
            <ul>
                <li>
                    <a href="#"><i class="iconfont">&#xe65e;</i></a>
                    <a href="#"><i class="iconfont">&#xe65f;</i></a>
                    <a href="#"><i class="iconfont">&#xe661;</i></a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="copy-right">
    <p>©1997 -
        <script>     var nowYear = new Date().getFullYear();     document.write(nowYear) </script>
        Wavlink Technology Ltd. All Rights Reserved.
    </p>
</div>