div.instr_title {
    padding-top:0.5em;
    padding-bottom:0.5em
}
div.instr,div.Software {
    margin:0 0 2em 0;
}
div.instr > div.instr_text > ul {
    padding-top:2em;
    padding-bottom:2em
}
div.instr > div.instr_text > ul > li {
    padding:1em !important;
    font-size:1.2em
}
div.Software {
    padding:2em !important;
}
div.Software > h3 {
    padding-bottom:1em !important
}
div.Software > p {
    line-height:1.6em;
    font-size:1em
}
p,span{
    word-break: break-all;
    overflow: hidden;
}
@media screen and (min-width:318px) and (max-width:768px){
    div.Software { padding:2em 0.5em !important }
    div.instr { margin-top:0 !important }
    div.instr > div.instr_text > h3 { font-size:1.2em; padding-top:1em }
    div.instr > div.instr_text > ul > li {
        padding:0.1em !important;
        font-size:1em
    }
}
@media screen and (width:768px){
    .col-sm-offset-1{
        margin-left: 0;
    }
    div.instr > div.instr_text > ul > li {
        padding:0.8em !important;
        font-size:1.2em
    }
}
@media screen and (width:1024px){
    div.instr > div.instr_text > ul {
        padding-top:0;
        padding-bottom:0
    }
}