<!--包含头部文件-->
{extend name="mobile/base/base" /}
{block name="seo"}
<title>Wavlink</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="__CN__/css/product/product-list.css" type="text/css">
{/block}
{block name="body"}
<!-- wavlink 列表产品 -->
{empty name="result"}
<div class="col-xs-12">
    <p style="text-align: center;font-size: 1.4em;margin: 2em">Sorry,No result found!</p>
</div>
<!--recommend 主推推荐开始-->
<div class="Box Related_video text-center bg-white col-xs-12" >
    <h3 class="Relevant_title">
        <strong >We Have Recommendations for You</strong>
    </h3>
    {volist name="imagesRecommend" id="vo"}
    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="{$vo.url}"><img src="{$vo.image_pc_url}" alt="" class="img-responsive center-block" style="padding: 10px;background: #fff;" />
            <p class="text-capitalize bg-threen color-white col-xs-12">
                {$vo.title}
            </p>
        </a>
    </div>
    {/volist}
</div>
<!--recommend 主推推荐结束-->
{else /}
<div class="option bg-white col-xs-12">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12" style="padding:0">
        <div class="btn-group col-sm-4 col-xs-12">
            <div class="panel-heading"><h3 style="font-size: 21px">Results for "{$name}"</h3>&nbsp;&nbsp;<b class="text-lowercase">{$count}&nbsp;&nbsp;results found</b></div>
        </div>
    </div>
</div>
<div class="Pro_list col-xs-12" style="padding:0">
    <div class="Pro_list_cont bg-white col-lg-10 col-md-12 col-lg-offset-1 col-xs-12">
        {volist name="result" id="vo"}
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="{:url('/'.$code.'/product/'.$vo.url_title)}">
                <img src="{$vo.image_litpic_url}" alt="{$vo.name}" class="img-responsive center-block" style="padding: 10px;background: #fff;">
                <div class="bg-white col-xs-12">
                    <h4 class="color-black" style="height: 48px"><strong>{$vo.name}</strong></h4>
                    <p class="color-gray col-xs-6 ">{$vo.product_type}</p>
                    <div class="learn-more details col-xs-6 text-right" >
                        <span style="font-size: 1.2em">Learn more</span>
                        <!--<span>前往购买</span>-->
                    </div>
                </div>
            </a>
        </div>
        {/volist}
    </div>
</div>
{/empty}
<!-- wavlink 分页 -->
<div class="nav_page col-lg-10 col-lg-offset-1 col-xs-12" style="padding:0">
    {:pagination($result)}
</div>
{/block}
<!--页脚部分-->
{include file="public/footer" /}
</body>
</html>