<!--包含头部文件-->
{extend name="mobile/base/base" /}
{block name="seo"}
<title>Wavlink</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="__CN__/css/search/product-search.css" type="text/css">
{/block}
{block name="body"}
<!-- wavlink 列表产品 -->
{empty name="result"}
<div class="container mag">
    <div class="row">
        <div class="option bg-white col-xs-12" style="padding:2% 0 5px">
            <div class="search_product bg-white col-xs-12" style="padding:0 5px; display: block;">
                <form class="col-lg-4 col-sm-6 col-xs-12" action="{:url('/'.$code.'/search/product')}" method="GET" style="padding:0">
                    <input name="key" type="text" placeholder="{$Think.lang.model_key}"
                           class="col-xs-9" style="border:1px solid #f2f2f2; padding:10px 0 10px 10px">
                    <input type="submit" value="{$Think.lang.search}" class="col-xs-3" style="background:#333; border:1px solid #333; color:#fff; padding: 10px 0; border-radius:0 !important">
                </form>
                <div class="found_model col-md-6 col-sm-8 col-xs-12">
                    <p><a href="{:url('/'.$code.'/faq/details/how_to_check_the_product_model')}">（不知道自己的产品型号？）</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row search_nothing">
        <div class="col-xs-12 search_nothing_content">
            <p>对不起，搜索"{$name}"得到{$count}个结果</p>
            <p>
                换个关键词搜索，比如产品关键词：<a href="{:url('/'.$code.'/search/product',['key'=>'无线路由器'])}">无线路由器</a>等产品关键词，
                产品型号：<a href="{:url('/'.$code.'/search/product',['key'=>'S2'])}">S2</a>等产品型号。</p>
            <p>
                <a href="{:url('/'.$code.'/faq/details/how_to_check_the_product_model')}">如何查看睿因产品型号？</a>
            </p>
        </div>
        <!--recommend 主推推荐开始-->
        <div class="Box Related_video text-center col-xs-12" >
            <h2 class="Relevant_title" style="font-size:24px">
                <strong>推荐的产品</strong>
            </h2>
            {volist name="imagesRecommend" id="vo"}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="{:url('/'.$code.'/product/'.$vo.url_title)}"><img src="{$vo.image_litpic_url}" alt="" class="img-responsive center-block" style="padding: 10px;background: #fff;" />
                    <p class="text-capitalize bg-threen color-white col-xs-12">
                        {$vo.name}
                    </p>
                </a>
            </div>
            {/volist}
        </div>
        <!--recommend 主推推荐结束-->
    </div>
</div>
{else /}
<div class="option bg-white col-xs-12" style="padding:5px 0">
    <div class="col-lg-10 col-lg-offset-1 col-xs-12" style="padding:0">
        <div class="btn-group text-center col-xs-12">
            <div class="panel-heading"><h3 style="font-size: 21px">搜索"{$name}"</h3>&nbsp;&nbsp;<b class="text-lowercase">得到{$count}&nbsp;&nbsp;个结果</b></div>
        </div>
        <div class="bg-white col-xs-12" style="padding:0; display: block">
            <form class="col-lg-4 col-sm-6 col-xs-12" action="{:url('/'.$code.'/search/product')}" method="GET" style="padding:0">
                <input name="key" type="text" placeholder="{$Think.lang.model_key}" class="col-xs-9" style="border:1px solid #f2f2f2; padding: 10px 0 10px 10px">
                <input type="submit" value="{$Think.lang.search}" class="color-white col-xs-3" style="background:#333; border:1px solid #333; padding: 10px 0;">
            </form>
        </div>
    </div>
</div>
<div class="Pro_list col-xs-12" style="padding:0">
    <div class="Pro_list_cont col-lg-10 col-lg-offset-1 col-xs-12">
        {volist name="result" id="vo"}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{:url('/'.$code.'/product/'.$vo.url_title)}">
                <img src="{$vo.image_litpic_url}" alt="{$vo.name}" class="img-responsive center-block" style="padding: 10px;background: #fff;">
                <div class="bg-white col-xs-12">
                    <h4 class="color-black" style="height: 48px"><strong>{$vo.name|str_ireplace=$name,'<font style="color: red">'.$name.'</font>',###}</strong></h4>
                    <p class="color-gray col-xs-6 ">{$vo.model|str_ireplace=$name,'<font style="color: red">'.$name.'</font>',###}</p>
                    <div class="learn-more details col-xs-6 text-right" >
                        <span style="font-size: 1.2em">了解详情</span>
                        <!--<span>前往购买</span>-->
                    </div>
                </div>
            </a>
        </div>
        {/volist}
    </div>
</div>
{/empty}
<!-- wavlink 分页 -->
{notempty name="result"}
{empty name="page"}
<div class="nav_page col-lg-10 col-lg-offset-1 col-xs-12" style="padding:0">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="disabled">
                <span>&laquo;</span>
            </li>
            <li class="disabled"><span>1</span></li>
            <li class="disabled">
                <span >&raquo;</span>
            </li>
        </ul>
    </nav>
</div>
{else /}
<div class="nav_page col-lg-10 col-lg-offset-1 col-xs-12" style="padding:0">
    {:pagination($result)}
</div>
{/empty}
{/notempty}
{/block}
<!--页脚部分-->
{include file="public/footer" /}
</body>
</html>