<!--包含头部文件-->
{include file="public/system_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        管理员设定
        <span class="c-gray en">&gt;</span>
        管理员列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em;">
            <div class="text-c"> 用户名：
                <input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="">
                <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户
                </button>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l"> <a href="{:url('Manger/manger_stop')}" class="btn btn-danger radius"><i
                        class="Hui-iconfont">&#xe6e2;</i> 停用列表</a><a href="javascript:;"
                                                                      onclick="add('添加管理员','{:url('Manger/add')}','800','680')"
                                                                      class="btn btn-primary radius"><i
                        class="Hui-iconfont">&#xe600;</i> 添加管理员</a> </span>
                <span class="r">共有数据：<strong>{$counts}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th scope="col" colspan="9">管理员列表</th>
                </tr>
                <tr class="text-c">
                    <th width="20"><input type="checkbox" name="" value=""></th>
                    <th width="20">ID</th>
                    <th>用户名</th>
                    <th>所属用户组</th>
                    <th width="90">手机</th>
                    <th width="150">邮箱</th>
                    <th width="120">加入时间</th>
                    <th width="60">是否已启用</th>
                    <th width="80">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="mangers" id="vo"}
                <tr class="text-l">
                    <td><input type="checkbox" value="{$vo.id}" name="id"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.groupTitle}</td>
                    <td>{$vo.mobile}</td>
                    <td>{$vo.email}</td>
                    <td>{$vo.create_time}</td>
                    <td class="td-status text-c"><span class="label label-success radius">已启用</span></td>
                    <td class="td-manage">
                        <a style="text-decoration:none" onClick="stop('{:url('Manger/byStatus',['id'=>$vo.id,'status'=>-1])}')" href="javascript:;" title="停用"><i class="Hui-iconfont" style="font-size: 18px;color: red">&#xe631;</i></a>
                        <a title="编辑" href="javascript:;" onclick="edit('管理员编辑','{:url('Manger/edit',['id'=>$vo.id])}','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: green">&#xe6df;</i></a>
                        <a title="修改密码" href="javascript:;" onclick="edit('修改密码','{:url('Manger/password',['id'=>$vo.id])}','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: green">&#xe63f;</i></a>
                       </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </article>
        {include file="public/explain" /}
    </div>
</section>
<!--包含footer文件-->
{include file="public/footer"/}

<script>
    $(document).ready(function () {
        $("#menu-admin dt").addClass("selected");
        $("#menu-admin dd").css("display", "block");
        $("#menu-admin #system_list").addClass("current");
        $("#system").addClass("current");
    });
</script>
</body>
</html>