{include file="public/headers"/}
<article class="cl pd-20">
    <form method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>软件版本:</label>
            <div class="formControls col-xs-4 col-sm-3">
                <input class="input-text" value="" placeholder="" name="ver">
            </div>
            <div class="formControls col-sm-7"><span style="font-size: 12px;color: red">写长版本名称</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>描述：</label>
            <div class="formControls col-xs-9 col-sm-10">
                <textarea name="description" cols="" rows="" class="textarea" placeholder="产品描述，一般为 型号-版本的补充说明"
                          dragonfly="true"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>发行日期：</label>
            <div class="formControls col-xs-9 col-sm-4">
                <input type="date" name="release_time" id="release_time" class="input-text">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>硬件:</label>
            <div class="formControls col-xs-9 col-sm-10">
                <span class=""><a href="javascript:void (0);"
                                  onclick="muLay('支持的硬件','{:url(\'Soft/add_model\')}',640,670)"
                                  class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe6df;</i> 修改</a></span>
            </div>
        </div>
        <div class="row c1" style="height: 320px;">
            <label class="form-label col-sm-2" for=""><br></label>
            <div class="formControls col-sm-10">
                <div class="pd-5" style="height: 309px;border: 1px #ddd solid">
                    <ul id="model">
                        <li>暂无支持的型号，请点击修改来添加支持型号</li>
                        <input type="hidden" name="model_id" value="">
                    </ul>
                </div>
            </div>
        </div>
        <div id="id"><input type="hidden" value="" name="soft_id"></div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <!--<a href="javascript:void(0)" onclick="saveModel()" class="btn btn-primary radius">保存</a>-->
                <button id="button" type="button" class="btn btn-primary radius">保存</button>
            </div>
        </div>
    </form>
</article>
{include file="public/footer"/}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/select.js"></script>
<script>
    $("#button").mousedown(function () {
        $.ajax(
            {
                url: '{:url(\'Soft/saveID\')}',
                type: "post",
                async: false,
                dataType: "json",
                data: $("form").serialize(),//提交表单数据
                success: function (result) {
                    if (result.status === 1) {
                        var verID;
                        verID = '<input type="hidden" name="soft_id" value=' + result.data + '>';
                        $('#id').html(verID);
                        $("#button").mouseup(function () {
                            var data;
                            data = $('#form-admin-add').serialize();
                            $.ajax({
                                url: "{:url(\'Soft/index\')}",
                                type: "post",
                                async: false,
                                dataType: "json",
                                data: data,
                                success: function (result) {
                                    if (result[0] === 1) {
                                        layer.msg(result[1], {icon: 1, time: 2000}, function () {
                                            window.parent.parent.location.reload();
                                        });
                                    } else {
                                        layer.msg(result[1], {icon: 5, time: 1000});
                                    }
                                }
                            });
                        })
                    } else {
                        layer.msg(result.data,{icon:5,time:2000})
                    }
                }
            }
        );
    });
</script>
</body>
</html>
