<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}欢迎页面{/block}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="__USER__/ui/css/font.css">
    <link rel="stylesheet" href="__USER__/ui/css/xadmin.css">
    <link rel="stylesheet" href="__USER__/ui/css/theme.min.css">
    {block name="style"}

    {/block}
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{block name="body"}
<!--重载body内容页的页面展示-->
{/block}
{block name="copyright"}
{include file="common:copyright"}
{/block}
</body>
<script src="__USER__/ui/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__USER__/ui/js/xadmin.js"></script>
<script>
    // 是否开启刷新记忆tab功能
    // var is_remember = false;
</script>
{block name="javascript"}
<!--重载业务逻辑的js方法-->
{/block}
</html>