<!--包含头部文件-->
{include file="public/headers" /}
<div class="page-container">
    <form class="form form-horizontal" id="form-product-add" method="post" action="">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>URL标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="url_title" name="url_title">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">缩略图地址集:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="logo" cols="" rows="" class="textarea"  placeholder="图片地址" dragonfly="true" ></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属分类：</label>
            <div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="category_id" class="select categoryId">
					<option value=" ">--请选择--</option>
					{volist name="categorys" id="vo"}
					<option value="{$vo.id}">{$vo.name}</option>
				    {/volist}
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属语言：</label>
            <div class="formControls col-xs-8 col-sm-2">
                <input type="text" class="input-text" value="{$language_id|getLanguageOne}" placeholder="" disabled >
                <input type="hidden" value="{$language_id}"  name="language_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>SEO标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="seo_title" name="seo_title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>SEO关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="seo_keys" name="seo_keys">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>SEO描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="seo_description" name="seo_description">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>作者：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="author" name="author">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="editor" type="text/plain" name="content" style="width:100%;height:400px;"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">相关文章：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="editor1" type="text/plain" name="related_articles" style="width:100%;height:400px;"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">相关产品：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="editor2" type="text/plain" name="related_product" style="width:100%;height:400px;"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="btn btn-primary radius" type="button" onclick="save('{:url('article/save')}')"><i class="Hui-iconfont">&#xe632;</i> 保存添加
                </button>

                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<!--请在下方写此页面业务相关的脚本-->
<!--<script type="text/javascript" src="__STATIC__/admin/h-ui.admin/js/image.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>-->
<script type="text/javascript" src="__STATIC__/admin/lib/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/kindeditor/lang/zh_CN.js"></script>
<!--<script type="text/javascript">-->
    <!--var SCOPE = {-->
            <!--'uploadify_swf': '__STATIC__/admin/uploadify/uploadify.swf',-->
            <!--'image_upload': "{:url('api/image/upload')}"-->
    <!--};-->

<!--</script>-->
<!--分配编辑器-->
<script>
    $(function () {
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('#editor,#editor1,#editor2',{
                width: "100%",
                height: "900px",
                LangType: "zh-CN",
                filterMode: false,
                allowFileManager : true,
                uploadJson: "{:url('api/image/editorUpload')}",
                afterCreate: function () {
                    this.sync();
                },
                afterBlur: function () {
                    this.sync();
                }
            });
        })
    });
</script>
</body>
</html>