<!--包含头部文件-->
{include file="public/service_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>文档管理<span class="c-gray en">&gt;</span>文档列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em;left: 51em">
            <!--<form method="get" action="{:url('Document/select')}">-->
                <!--<div class="text-c"> 搜索名称：-->
                <!--<input type="text" class="input-text" style="width:250px;"  placeholder="输入文档名称" id="" name="name">-->
                <!--<button type="submit" class="btn btn-success"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>-->
                <!--</div>-->
            <!--</form>-->
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 31px">
                <span class="l">
                    <a class="btn btn-primary radius" onclick="index_add('添加文档','{:url(\'document/add\',[\'language_id\'=>$language_id])}')" href="javascript:;">
                        <i class="Hui-iconfont">&#xe600;</i> 添加</a>
                </span>
                <span class="r">文档：<strong>{$counts}</strong> 篇</span>
            </div>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th scope="col" colspan="14">文档列表</th>
                </tr>
                <tr class="text-c">
                    <th width="20"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th>文档名称</th>
                    <th >url标题</th>
                    <th width="60">缩略图</th>
                    <th width="30">排序</th>
                    <th width="120">所属分类</th>
                    <th width="60">语言</th>
                    <th width="120">更新时间</th>
                    <th width="60">是否已启用</th>
                    <th width="140">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="document" id="vo"}
                <tr class="text-l">
                    <td class="text-c"><input type="checkbox" value="{$vo.id}" name="id"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.url_title}</td>
                    <td>{$vo.image}</td>
                    <td>{$vo.listorder}</td>
                    <td>{$vo.category_id|getServiceCategory|raw}</td>
                    <td class="text-c">{$vo.language_id|getLanguage|raw}</td>
                    <td>{$vo.update_time}</td>
                    <td class="td-status text-c"><span class="label label-success radius">已启用</span></td>
                    <td class="td-manage">
                        <a title="编辑" href="javascript:;" onclick="index_edit('文档编辑','{:url(\'Document/edit\',[\'id\'=>$vo.id])}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 20px;color: #0000cc">&#xe6df;</i></a>
                        <a title="放入回收站" href="javascript:;" onclick="recycle('{:url(\'Document/byStatus\',[\'id\'=>$vo.id,\'status\'=>-1])}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 20px;color:red;">&#xe6e2;</i></a>
                        {empty name="$language_id"}
                        {else /}
                        <a title="置顶" href="javascript:;"  onclick="mark(this)" data-id ="{$vo.id}" data-type="4" data-map="" class="ml-5 mark" style="text-decoration:none"><i class="Hui-iconfont">&#xe684</i></a>
                        <a title="上移一位" href="javascript:;" onclick="mark(this)" data-id="{$vo.id}" data-type="3" data-map="" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6d6</i></a>
                        <a title="下移一位" href="javascript:;" onclick="mark(this)" data-id="{$vo.id}" data-type="2" data-map="" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6d5</i></a>
                        <a title="置底" href="javascript:;"  onclick="mark(this)" data-id ="{$vo.id}" data-type="1" data-map="" class="ml-5 mark" style="text-decoration:none"><i class="Hui-iconfont">&#xe674</i></a>
                        {/empty}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($document)}</div>
        </article>
        <input type="hidden" value="{$language_id}" id="language">
        {include file="public/explain" /}
    </div>

</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    var SCOPE = {
        'listorder_url':"{:url('Document/listorder')}"
    };
    $(document).ready(function () {
        $("#service_document dt").addClass("selected");
        $("#service_document dd").css("display", "block");
        $('#service_doc').addClass("current");
        $("#service").addClass("current");
    })
</script>
</body>
</html>