{include file="public/headers"/}
<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input class="input-text" value="{$about->name}" placeholder="网站标题" id="name" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>URL标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input class="input-text" value="{$about->url_title}" placeholder="" id="url_title" name="url_title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>封面图地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image" cols="" rows="" class="textarea"  placeholder="图片外链地址" dragonfly="true" style="height: 150px" >{$about->image}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$about->keywords}" placeholder="keywords" id="keywords" name="keywords" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>SEO标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input class="input-text" value="{$about->seo_title}" placeholder="" id="seo_title" name="seo_title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="description" id="description" name="description" value="{$about->description}">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>所属语言：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" placeholder="description" id="" name="language_id" value="{$language_id|getLanguageOne}" disabled>
                <input type="hidden" name="language_id" value="{$language_id}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-1">内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <label>PC：</label>
                <textarea id="editor" type="text/plain" name="content" style="width:100%;height:400px;">{$about->content}</textarea>
                <label style="padding-top: 20px;">Mobile:</label>
                <textarea name="mobile_content" type="text/plain" id="editor1" style="width:100%;height:400px;">{$about->mobile_content}</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="hidden" value="{$about->id}" name="id">
                <input class="btn btn-primary radius" type="button" onclick="save('{:url(\'About/save\')}')" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{include file="public/footer"/}
<script type="text/javascript" src="__STATIC__/admin/lib/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/kindeditor/lang/zh_CN.js"></script>
<!--分配编辑器-->
<script>
    $(function () {
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('#editor,#editor1',{
                width: "100%",
                height: "900px",
                LangType: "zh-CN",
                filterMode: false,
                allowFileManager : true,
                uploadJson: "{:url('api/image/editorUpload')}",
                afterCreate: function () {
                    this.sync();
                },
                afterBlur: function () {
                    this.sync();
                }
            });
        })
    });
</script>
</body>
</html>
