<!--包含头部文件-->
{include file="public/content_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        关于我们管理
        <span class="c-gray en">&gt;</span>
        关于我们列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em">
            <div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				<a class="btn btn-primary radius" data-title="添加" _href="article-add.html"
                   onclick="index_add('添加','{:url(\'About/add\')}','800','600')" href="javascript:void(0);"><i
                        class="Hui-iconfont">&#xe600;</i> 添加</a>
				</span>
                <span class="r">共有数据：<strong>{$count}</strong> 条</span>
            </div>
            <div class="">
                <table class="table table-border table-bordered table-bg ">
                    <thead>
                    <tr>
                        <th scope="col" colspan="12">列表</th>
                    </tr>
                    <tr class="text-l">
                        <th width="5%">ID</th>
                        <th width="15%">名称</th>
                        <th width="20%">URL标题</th>
                        <th>关键词</th>
                        <th width="5%">语言</th>
                        <th width="5%">排序</th>
                        <th width="6%">创建时间</th>
                        <th width="3%">状态</th>
                        <th width="">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="about" id="vo"}
                    <tr class="text-l">
                        <td class="text-c">{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.url_title}</td>
                        <td>{$vo.keywords}</td>
                        <td class="text-c">{$vo.language_id|getLanguage|raw}</td>
                        <td class="text-c">{$vo.listorder}</td>
                        <td>{$vo.create_time|date="Y-m-d"}</td>
                        <td class="td-status">{$vo.status|status|raw}</td>
                        <td class="f-14 td-manage">
                            {if condition='$vo.status eq 1'}
                            <a style="text-decoration:none" class="ml-5 btn btn-danger" onClick="stop('{:url(\'About/byStatus\',[\'id\'=>$vo.id,\'status\'=>-1])}')" href="javascript:;" title="停用"><i class="Hui-iconfont" style="font-size: 20px;color: #FFF">&#xe6de;</i></a>
                            {else /}
                            <a style="text-decoration:none" class="ml-5 btn btn-success" onClick="start('{:url(\'About/byStatus\',[\'id\'=>$vo.id,\'status\'=>1])}')" href="javascript:;" title="恢复"><i class="Hui-iconfont" style="font-size: 20px;color: #fff">&#xe6dc;</i></a>
                            {/if}
                            <a style="text-decoration:none" class="ml-5 btn btn-primary" onClick="index_edit('编辑','{:url(\'About/edit\',[\'id\'=>$vo.id])}','800','600')" href="javascript:void 0" title="编辑"><i class="Hui-iconfont" style="font-size: 20px;color:#fff">&#xe6df;</i></a>
                           </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($about)}</div>
        </article>
        <input type="hidden" value="{$language_id}" id="language">
        {include file="public/explain" /}
    </div>
</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    $(document).ready(function () {
        $("#menu-about dt").addClass("selected");
        $("#menu-about dd").css("display","block");
        $("#system_about").addClass("current");
        $("#content").addClass("current");
    });
</script>
</body>
</html>