<!--包含头部文件-->
{include file="public/header" /}
<aside class="Hui-aside">
    <div><a href="#"><img src=""></a></div>
    <div class="menu_dropdown bk_2">
        {if condition="in_array('images/index',$access)"}
        <dl id="menu-images">
            <dt><i class="Hui-iconfont">&#xe613;</i> 推荐管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="images_featured"><a href="{:url('featured/index')}" title="推荐位置">推荐位置</a></li>
                    <li id="images_list"><a href="{:url('images/index')}" title="推荐内容">推荐内容</a></li>
                    <li id="images_recycle"><a href="{:url('images/images_recycle')}" title="禁用的内容">禁用的内容</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
        {if condition="in_array('product/index',$access)"}
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="product_category">
                        <a href="{:url('Category/index')}" title="产品分类">产品分类</a>
                    </li>
                    <li id="product_product">
                        <a class="product_product" href="{:url('product/index')}" title="产品管理">产品管理</a>
                    </li>
                    <!--<li id="product_off"><a href="{:url('product/product_off')}" title="已下架的产品">已下架的产品</a></li>-->
                    <li id="product_recycle"><a href="{:url('product/product_recycle')}" title="回收站的产品">回收站</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
        {if condition="in_array('article/index',$access)"}
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="article_art">
                        <a href="{:url('wavlink/Article/index')}" title="文章管理">文章列表</a>
                    </li>
                    <li id="article_rec"><a href="{:url('wavlink/Article/article_recycle')}" title="回收站内文章">回收列表</a>
                    </li>
                </ul>
            </dd>
        </dl>
        {/if}
        <dl id="menu-hr">
            <dt><i class="Hui-iconfont">&#xe62b;</i> 招聘管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="jobs_category"><a href="{:url('jobs_category')}">职位分类</a></li>
                    <li id="social"><a href="{:url('jobs_social')}">社招职位</a></li>
                    <li><a href="#">校招职位</a></li>
                    <li id="social_resume_list"><a href="{:url('social_resume_list')}">社招简历</a></li>
                </ul>
            </dd>
        </dl>
        {if condition="in_array('about/index',$access)"}
        <dl id="menu-about">
            <dt><i class="Hui-iconfont">&#xe627;</i>关于我们 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li id="system_about"><a href="{:url('About/index')}" title="关于我们">关于我们</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
        <!--{if condition="in_array('marketing/index',$access)"}
        <dl id="menu-marketing">
            <dt><i class="Hui-iconfont">&#xe62b;</i> 营销管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="marketing"><a href="{:url('Marketing/index')}" title="单页宣传">单页宣传</a></li>
                </ul>
            </dd>
        </dl>
        {/if}-->
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>