<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<!--<script src="http://libs.cdnjs.net/jquery/2.2.1/jquery.js"></script>-->
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h-ui.admin/js/H-ui.admin.page.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/dialog.js"></script>

