<!--包含头部文件-->
{include file="public/header" /}
<aside class="Hui-aside">
    <div><a href="#"><img src=""></a></div>
    <div class="menu_dropdown bk_2">
        <dl id="menu-marketing">
            <dt><i class="Hui-iconfont">&#xe613; </i>会员<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="marketing_customer">
                        <a href="{:url('marketing_customer_index')}">会员列表</a>
                    </li>
                    <li><a href="">邮件模板</a></li>
                    <li><a href="">短信模板</a></li>
                    <li><a href="">发送订阅</a></li>
                    <li><a href="">筛选</a></li>
                    <li><a href="">……</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-page">
            <dt><i class="Hui-iconfont">&#xe613; </i>广播营销<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="marketing_page">
                        <a href="">单页</a>
                    </li>
                    <li id="marketing_notice">
                        <a href="">公告</a>
                    </li>
                    <li><a href="">……</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
