<!--包含头部文件-->
{include file="public/header" /}
<aside class="Hui-aside">
    <div><a href="#"><img src=""></a></div>
    <div class="menu_dropdown bk_2">

        <dl id="menu-media">
            <dt><i class="Hui-iconfont">&#xe613; </i>媒体资源<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="media_images"><a href="{:url('image_lists')}">图片</a></li>
                    <li id="media_videos"><a href="#">视频</a></li>
                    <li id="media_drivers"><a href="{:url('driver_lists')}">驱动</a></li>
                    <li id="media_manuals"><a href="#">说明书</a></li>
                    <li id="media_firmwares"><a href="#">固件</a></li>
                </ul>
            </dd>
        </dl>
        <!--<dl id="menu-member">-->
        <!--<dt><i class="Hui-iconfont">&#xe68a;</i> 邮件群发<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
        <!--<dd>-->
        <!--<ul>-->
        <!--<li><a href="#" title="会员群发">会员群发</a></li>-->
        <!--<li><a href="#" title="订阅群发">订阅群发</a></li>-->
        <!--</ul>-->
        <!--</dd>-->
        <!--</dl>-->
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>

