body {
    background: #fff;
}

/*2017.12.28修改i标签字体取消加粗*/
div.container-fluid > div.row > section > div.detail_page_one > div.detail_page_text_cont > i{font-weight: normal}

div.D-nav {
    padding:0.5em 0 !important;
    border-top:1px solid #ccc
}
div.D-nav > ul > li,div.D-tec > ul > li,div.D-nav > div.product-name {
    padding-top:0.5em !important;
    padding-bottom:0.5em !important
}
div.D-nav > div.product-name {
    font-weight:bold
}
div.D-nav > div.product-name > h4 {
    font-weight:bold;
    text-align: left !important
}
div.D-nav > ul > li{
    border-radius: 5px;
}
div.D-nav > ul > li > a {
    display:block;
    color:#333
}
div.DetailsP > div.D-table > dl > dt,div.DetailsP > div.D-table > dl > dd {
    line-height: 4em !important;
    border-bottom:1px solid #ccc;
    text-align: left;
    padding-left: 1em;
}
div.DetailsP > div.D-table > dl > dd {
    margin-bottom:4em;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc
}
div.DetailsP {
    /*margin-top:1em;*/
    margin-bottom: 80px
}
/*div.DetailsP > div {*/
    /*padding-top:30px*/
/*}*/
div.DetailsP > div#Detail_page_all{
    margin-bottom: 4em !important
}
div.DetailsP > div.D-child > img {
    width:100%
}
div.DetailsP > div.D-table,div.D-tec {
    padding:30px 0
}
div.DetailsP > div.D-table > h4 {
    padding:20px 0 20px 1em;
    font-weight:bold;
    background: rgba(0,0,0,.1);
}
div.DetailsP > div.D-table > table {
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}
div.DetailsP > div.D-table > table > tbody > tr > td,div.DetailsP > div.D-dow > table > tbody > tr > td {
    padding:30px 0;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}
div.DetailsP > div.D-table {
    padding:0 !important
}
div.DetailsP > div.D-table > dl {
    margin-top:20px
}
div.DetailsP > div.D-table > table > tbody > tr > td:nth-child(1){
    text-align:center
}
div.DetailsP > div.D-table > table > tbody > tr > td:nth-child(2){
    text-indent:20px
}
div.DetailsP > div.D-table > table > tbody > tr > td:nth-child(2),div.DetailsP > div.D-dow > table > tbody > tr > td:nth-child(2) {
    border-right:0
}
div.DetailsP > div.D-dow > table > tbody > tr > td > ul > li > a,div.D-tec > ul > li > a {
    color:#000
}
div.go_top {
    right:0;
    top:50%;
    cursor:pointer;
    padding:0.3em;
    box-shadow:0 0 5px #bbb;
    z-index:999
}
div.go_top > p.top {
    padding:0.5em 1em
}
div.go_top > ul.right_nav > li {
    border-bottom:1px solid #bbb;
    box-shadow:0 0 0 transparent
}
div.go_top > ul.right_nav > li:last-child{
    border-bottom:none
}
div.go_top > ul.right_nav > li,div.go_top > a {
    padding-top:0.5em;
    padding-bottom:0.5em
}
div.go_top > a:hover,div.go_top > a:active,div.go_top > a:visited,div.go_top > a:link {
    color:red
}
@media screen and (min-width:318px) and (max-width:767px){
    div.D-nav > div.product-name {
        background:#f9f9f9
    }
    div.D-nav {
        padding-top:0 !important;
        padding-bottom:0 !important
    }
    div.D-nav > div.product-name {
        padding-top:1em !important;
        padding-bottom:1em !important
    }
    div.D-nav > ul {
        padding:0.5em !important
    }
    div.DetailsP > div.D-table > dl > dt {
        padding-top:2em;
        border-top:1px solid #ccc
    }
    div.DetailsP > div.D-table > h4 {
        padding:10px 0;
    }
    div.DetailsP > div.D-table > dl > dt:nth-child(1){
        border-top:none
    }
    div.DetailsP > div.D-table > dl > dt,div.DetailsP > div.D-table > dl > dd {
        line-height:2em !important
    }
    div.D-nav > ul > li { padding:0.5em 0 !important }
    div.go_top { display:none !important }
}
@media screen and (width:768px){
    div.D-nav {
        padding-top:0 !important;
        padding-bottom:0 !important
    }
    div.D-nav > ul > li { text-align: center;margin-bottom: 0.8em;margin-top: 0.8em}
    div.D-nav > div.product-name{ background: #f9f9f9 ;padding-top: 1em!important;;padding-bottom: 1em!important;}
    div.DetailsP > div.D-table > dl > dt,div.DetailsP > div.D-table > dl > dd {
        line-height:2em !important
    }
    div.DetailsP > div.D-table > h4 {
        padding:10px 0;
    }
}
@media screen and (min-width:1024px) and (max-width:1365px){
    div.D-nav > ul > li { font-size:1em }
    div.DetailsP > div.D-table > h4 {
        padding:15px 0;
    }
}
@media screen and (min-width:1366px){
    div.D-nav > ul > li { font-size:1.2em }
}



/*产品参数样式开始*/
div.container-fluid > div.row > ul > li{
    cursor: default;
}
div.container-fluid > div.row > ul > li>strong,div.container-fluid > div.row > ul > li>div>p{
    cursor: text;
}
 div.container-fluid > div.row > ul {
     margin-bottom:0 !important
 }
div.container-fluid > div.row > ul > li {
    list-style:none;
    line-height:4em;
    border-bottom:1px solid #ccc
}
div.container-fluid > div.row > ul > li.li_title > strong {
    color:#000
}
div.container-fluid > div.row > ul > li:first-child > strong {
    font-size:1.2em
}
div.container-fluid > div.row > ul > li > strong {
    padding-left:1em !important;
    padding-right:1em !important;
    line-height:18px !important;
    margin-top:1.6%;
    color:#666
}
div.container-fluid > div.row > ul > li > div > p {
    line-height:40px !important;
    color:#666
}
div.container-fluid > div.row > ul > li > div > p:last-child {
    border-bottom:none
}
div.container-fluid > div.row > ul > li > div {
    border-left:1px solid #ccc;
    padding-left:1em !important
}
@media screen and (min-width:318px) and (max-width:767px){
    div.container-fluid > div.row > ul {
        padding:0 !important
    }
    div.container-fluid > div.row > ul > li > strong {
        margin-top:0 !important;
        padding-top:1em !important;
        padding-bottom:1em !important
    }
    div.container-fluid > div.row > ul > li > div > p {
        padding-right:0.5em !important;
        line-height: 30px!important;
    }
    div.container-fluid > div.row > ul > li.li_title {
        padding-bottom:0 !important;
    }
    div.container-fluid > div.row > ul > li {
        padding-bottom:1em !important
    }
    div.container-fluid > div.row > ul > li > div {
        border-left:0
    }
}
@media screen and (width:768px){
    div.container-fluid > div.row > ul > li:first-child > strong {
        font-size:0.9em
    }
}
@media screen and (width:1024px){
    div.container-fluid > div.row > ul > li:first-child > strong {
        font-size:1em
    }
}
@media screen and (width:1366px){
    div.container-fluid > div.row > ul > li:first-child > strong {
        font-size:1em
    }
}
/*参数样式结束*/