/**
* @name: driver.less
* @description: 驅動頁面css - mobile
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-09-11 15:00
*/
@import "../public/mixins";
@import "../public/variables";
.item {
    margin-bottom: 10px;
    background: @whiteColor;
    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
    .panel {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
    .panel-heading {
        background: @whiteColor;
        padding: 10px;
        border-color: @borderColor;
    }
    .panel-body {
        padding: 10px;
    }
    h3 {
        font-size: 14px;
        line-height: 22px;
    }
    .mode {
        font-size: 12px;
        p {
            .clearFix();
        }
        span {
            float: left;
            display: block;
            width: 33.33%;
            .text-overflow();
        }
        p:nth-last-of-type(1) span {
            font-size: 12px;
        }
    }
    .info {
        font-size: 12px;
        margin: 10px 0;
        p {
            margin-bottom: 5px;
        }
    }
    .download {
        font-size: 12px;
        a {
            padding: 2px 12px;
            font-size: 12px;
            border-color: @borderColor;
        }
    }
}