/**
* @name: FAQ-detail.less
* @description: FAQ詳情页样式
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-11-08 10:30
*/
@import "../public/mixins";
@import "../public/variables";

.banner {
    background: #42A4FF;
    img {
        .img-responsive();
        .center-block();
        width: 800px;
        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }
}
.main {
    padding: @publicInterval;
    background: @whiteColor;
    .title {
        font-size: 16px;
    }
    .des {
        margin: @publicInterval 0;
        padding: @publicInterval 0;
        border-top: 1px solid @borderColor;
        border-bottom: 1px solid @borderColor;
        img {
            .img-responsive();
            .center-block();
        }
    }
}