/**
* @name: manual.less
* @description: 說明書列表页样式
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-11-08 13:30
*/
@import "../public/mixins";
@import "../public/variables";

//説明書列表布局样式

.banner {
    background: #42A4FF;
    img {
        .img-responsive();
        .center-block();
        width: 800px;
        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }
}
.box {
    .clearFix();
}
.box .main {
    .item {
        margin-bottom: 10px;
        border-bottom: 1px solid @borderColor;
        background: @whiteColor;
        #border-radius(5px);
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }
    .item .panel {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
    .item .panel-heading {
        background: @whiteColor;
        border-color: @borderColor;
    }
    .item .title{
        font-size: 14px;
        line-height: 22px;
    }
    .item .info{
        p {
            margin-bottom: 5px;
            font-size: 12px;
        }
        p span {
            line-height: 20px;
        }
    }
    .item .download{
        font-size: 12px;
        a {
            padding: 2px 12px;
            margin: 0 2px 5px;
            font-size: 12px;
            border-color: @borderColor;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .box .aside {
        width: 23%;
    }
    .box .main {
        width: 75%;
    }
}
//説明書列表布局样式