/**
* @name: product-list.less
* @description: 产品列表页css - mobile
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-09-16 14:00
*/
@import "../public/mixins";
@import "../public/variables";
.g-pagination {
    margin: 5px 0 0;
}
//列表布局样式
.list-box {
    .clearFix();
    .list-item {
        .fl();
        width: 50%;
        margin: 0 0 5px;
        &:nth-of-type(2n + 1) {
            padding-right: 2.5px;
        }
        &:nth-of-type(2n + 2) {
            padding-left: 2.5px;
        }
    }
    .list-item .thumbnail {
        margin: 0;
        border: none;
        border-radius: 0;
    }
    .list-item .thumbnail .img-box {
        //產品列表整體圖片尺寸需要修改，這裡只是css初步佔位，後期圖片尺寸修改後，這裡的css需要修改
        #img-optimize(110%, @bodyBgColor);
        img {
            margin-top: 26%;
        }
    }
    .list-item .thumbnail .caption {
        padding: 15px 6px;
        .title {
            .text-overflow-many(100%, 2, 20px);
            margin-bottom: 5px;
            font-size: 12px;
        }
        p {
            font-size: 10px;
            color: @activeColor;
        }
    }
}
//列表布局样式