.center-block {
  margin-left: auto;
  margin-right: auto;
}
.g-nav {
  position: relative;
  padding: 0 15px;
  height: 60px;
  background: #1D428A;
}
.g-navbefore,
.g-nav:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-nav:after {
  clear: both;
}
.g-nav .logo {
  display: inline-block;
}
.g-nav .logo a {
  display: inline-block;
}
.g-nav .logo img {
  height: 36px;
  margin: 12px auto;
}
.g-nav .menu-bar {
  float: right;
  position: relative;
  top: 30px;
  right: 24px;
}
.g-nav .menu-bar span {
  top: 0;
  width: 24px;
}
.g-nav .menu-bar span:before,
.g-nav .menu-bar span:after {
  content: " ";
  width: 100%;
}
.g-nav .menu-bar span:before {
  top: -8px;
}
.g-nav .menu-bar span:after {
  top: 8px;
}
.g-nav .menu-bar span,
.g-nav .menu-bar span:before,
.g-nav .menu-bar span:after {
  position: absolute;
  left: 0;
  height: 2px;
  background: #fff;
}
.g-nav .nav-menu {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 10px rgba(124, 124, 124, 0.5);
}
.g-nav .nav-menu li {
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}
.g-nav .nav-menu li:nth-last-of-type(1) {
  border-color: transparent;
}
.g-nav .nav-menu li a {
  display: block;
  padding-left: 15px;
  color: #333;
}
.page-com-foot {
  padding: 40px 0 30px;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #eaeaea;
  background: #333;
  text-align: center;
}
.page-com-foot .foot-nav li {
  display: inline-block;
}
.page-com-foot .foot-nav li:nth-last-of-type(1) a:after {
  display: none;
}
.page-com-foot .foot-nav li a {
  position: relative;
  padding: 0 8px;
  color: #fff;
}
.page-com-foot .foot-nav li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #fff;
}
.page-com-foot .copy-right {
  padding: 5px 0 10px;
}
.banner .swiper-wrapper {
  height: auto;
}
.banner .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.banner .swiper-pagination {
  position: absolute;
  bottom: 10px;
}
.page-home-title-box {
  padding-bottom: 20px;
  text-align: center;
}
.page-home-title-box .title {
  position: relative;
  margin-bottom: 20px;
}
.page-home-title-box .title span {
  font-size: 20px;
}
.page-home-title-box .title div {
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -40px;
  width: 80px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.05);
}
.page-home-title-box p {
  margin-top: 40px;
  font-size: 12px;
}
.page-home-company {
  padding: 60px 15px 80px;
  text-align: center;
  background: #fff;
}
.page-home-company p {
  margin: 15px auto;
  padding: 0 15px;
  line-height: 24px;
  color: #888;
  text-align: left;
}
.page-home-company p:nth-of-type(1) {
  margin-top: 0;
}
.page-home-job-box {
  background: #f2f2f2;
}
.page-home-job-box .wavlink-job {
  margin: auto;
  padding: 60px 5px 80px;
}
.page-home-job-box .wavlink-job .job-search {
  margin-bottom: 20px;
}
.page-home-job-box .wavlink-job .job-search form {
  width: 100%;
  display: flex;
}
.page-home-job-box .wavlink-job .job-search input {
  height: 36px;
  font-size: 12px;
}
.page-home-job-box .wavlink-job .job-search input[type='text'] {
  flex: 1;
  padding: 0 5px;
  color: #a2a4a8;
  background: #fff;
  border: 1px solid #eaeaea;
  border-right: none;
  border-radius: 2px 0 0 2px;
  transition: border 0.3s;
}
.page-home-job-box .wavlink-job .job-search input[type='text']:focus {
  border-color: #1D428A;
}
.page-home-job-box .wavlink-job .job-search input[type='submit'] {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  padding: 0 15px;
  background: #1D428A;
  color: #fff;
  border-radius: 0 2px 2px 0;
}
.page-home-job-box .wavlink-job .job-list .card {
  margin-bottom: 5px;
}
.page-home-job-box .wavlink-job .job-list .card .job-msg-url {
  display: block;
  padding: 20px 15px;
  background: #fff;
}
.page-home-job-box .wavlink-job .job-list .job-title {
  display: flex;
}
.page-home-job-box .wavlink-job .job-list .job-title .lab {
  padding: 0 4px;
  background: #ff6b6b;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}
.page-home-job-box .wavlink-job .job-list .job-title h3 {
  flex: 1;
  margin: 0 4px;
  font-size: 18px;
  height: 56px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page-home-job-box .wavlink-job .job-list .job-title h3 span:nth-of-type(2) {
  margin-left: 4px;
}
.page-home-job-box .wavlink-job .job-list .job-title p {
  font-size: 18px;
  color: #ff6b6b;
}
.page-home-job-box .wavlink-job .job-list .job-des span {
  color: #888;
  font-size: 12px;
}
.page-home-job-box .wavlink-job .job-list .job-des span:nth-of-type(2) {
  margin: 0 5px;
  padding: 0 5px;
  border-left: 1px solid #dddfe3;
  border-right: 1px solid #dddfe3;
}
.page-home-job-box .wavlink-job .more-job {
  text-align: center;
}
.page-home-job-box .wavlink-job .more-job a {
  display: inline-block;
  margin-top: 23px;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  background: #1D428A;
  color: #fff;
  border-radius: 2px;
}
.page-home-products {
  padding: 60px 15px 80px;
  background: #fff;
}
.page-home-products .product-list {
  display: flex;
  flex-wrap: wrap;
}
.page-home-products .product-list .img-box {
  width: 50%;
  padding: 2px;
}
.page-home-products .product-list .img-box:nth-of-type(2n+1) {
  padding: 1px 1px 1px 2px;
}
.page-home-products .product-list .img-box:nth-of-type(2n+2) {
  padding: 1px 2px 1px 1px;
}
.page-home-products .product-list .img-box img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.page-home-milestone {
  padding: 60px 15px 80px;
  background: #f2f2f2;
}
.page-home-milestone .dev-list {
  max-width: 1200px;
  margin: 0 auto 40px;
  padding: 0 20px 0 80px;
  border-left: 1px solid #ddd;
}
.page-home-milestone .dev-list .dev-item {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.page-home-milestone .dev-list .dev-item:nth-last-of-type(1) {
  padding: 20px 0 0;
  border-bottom: none;
}
.page-home-milestone .dev-list .dev-item:nth-last-of-type(1) > span {
  height: 100%;
}
.page-home-milestone .dev-list .dev-item:nth-of-type(1) {
  padding: 0 0 20px;
}
.page-home-milestone .dev-list .dev-item:nth-of-type(1) > span {
  top: 0;
}
.page-home-milestone .dev-list .dev-item > span {
  position: absolute;
  top: 20px;
  left: -97px;
  z-index: 1;
  padding: 2px 0;
  background: #f2f2f2;
  font-size: 13px;
}
.page-home-milestone .dev-list .dev-item > div > p {
  margin: 10px 0;
  line-height: 22px;
}
.page-home-milestone .dev-list .dev-item > div > p:nth-of-type(1),
.page-home-milestone .dev-list .dev-item > div > p:nth-last-of-type(1) {
  margin: 0;
}
@media screen and (min-width: 1366px) and (max-width: 1700px) {
  .page-home-milestone .dev-list .dev-item > span {
    left: -97px;
    font-size: 13px;
  }
  .page-home-milestone .dev-list .dev-item > div > p {
    font-size: 13px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1365px) {
  .page-home-milestone .dev-list {
    padding: 0 20px 0 50px;
  }
  .page-home-milestone .dev-list .dev-item > span {
    left: -67px;
    font-size: 13px;
  }
  .page-home-milestone .dev-list .dev-item > div > p {
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .page-home-milestone .dev-list {
    margin: 40px 0 0 40px;
    padding: 0 20px 0 50px;
  }
  .page-home-milestone .dev-list .dev-item > span {
    left: -67px;
    font-size: 13px;
  }
  .page-home-milestone .dev-list .dev-item > div > p {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-home-milestone .dev-list {
    margin: 40px 0 0 40px;
    padding: 0 20px 0 50px;
  }
  .page-home-milestone .dev-list .dev-item > span {
    left: -67px;
    font-size: 13px;
  }
  .page-home-milestone .dev-list .dev-item > div > p {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .page-home-milestone .dev-list {
    margin: 0 0 0 30px;
    padding: 0 15px 0 40px;
  }
  .page-home-milestone .dev-list .dev-item {
    padding: 15px 0;
  }
  .page-home-milestone .dev-list .dev-item > span {
    left: -57px;
    font-size: 13px;
  }
  .page-home-milestone .dev-list .dev-item > div > p {
    font-size: 13px;
  }
}
.page-home-environment {
  padding: 60px 0 0;
  background: #fff;
}
.page-home-environment .environment {
  max-width: 1200px;
}
.page-home-environment .environment .swiper-wrapper {
  height: auto;
}
.page-home-environment img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.page-home-welfare {
  padding: 60px 15px 80px;
  background: #f2f2f2;
}
.page-home-welfare .welfare-box {
  background: #bee8ff;
}
.page-home-welfare .welfare-box .item-box {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
}
.page-home-welfare .welfare-box .item {
  width: 33.3333%;
  padding: 1px;
  text-align: center;
}
.page-home-welfare .welfare-box .item .box {
  background: #fff;
}
.page-home-welfare .welfare-box .item p {
  line-height: 50px;
}
.page-home-welfare .welfare-box .item img {
  padding-bottom: 5px;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.page-home-welfare .welfare-box .item .item-des {
  display: none;
  font-size: 12px;
}
.page-jobDetails {
  display: flex;
  width: 70%;
  margin: 30px auto 0;
}
.page-jobDetails .jobDetails-main {
  flex: 1;
  align-self: flex-start;
  margin-bottom: 20px;
  background: #fff;
}
.page-jobDetails .jobDetails-main {
  padding: 0 16px;
}
.page-jobDetails .jobDetails-main .job-title-box {
  padding: 20px 20px 0;
}
.page-jobDetails .jobDetails-main .job-title-box .job-title {
  display: flex;
  margin-top: 6px;
  line-height: 28px;
}
.page-jobDetails .jobDetails-main .job-title-box p {
  font-size: 14px;
  color: #89909e;
}
.page-jobDetails .jobDetails-main .job-title-box .lab {
  margin: 0 4px 0 0;
  padding: 0 4px;
  background: #ff6b6b;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}
.page-jobDetails .jobDetails-main .job-title-box h3 {
  font-size: 20px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page-jobDetails .jobDetails-main .job-title-box h3 span:nth-of-type(2) {
  margin-left: 4px;
}
.page-jobDetails .jobDetails-main .job-title-box .job-des {
  position: relative;
  margin-top: 15px;
  line-height: 21px;
}
.page-jobDetails .jobDetails-main .job-title-box .job-des span {
  color: #888;
}
.page-jobDetails .jobDetails-main .job-title-box .job-des span:nth-of-type(2) {
  margin: 0 12px;
  padding: 0 12px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.page-jobDetails .jobDetails-main .job-title-box .job-des span:nth-last-of-type(1) {
  position: absolute;
  right: 0;
  bottom: 0;
}
.page-jobDetails .jobDetails-main .job-detail-box {
  margin-top: 16px;
  padding: 16px 20px 20px;
}
.page-jobDetails .jobDetails-main .job-detail-box .des-box {
  margin-bottom: 20px;
}
.page-jobDetails .jobDetails-main .job-detail-box .des-box h3 {
  display: inline-block;
  padding: 0 0 10px;
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #1D428A;
}
.page-jobDetails .jobDetails-main .job-detail-box .des-box p {
  font-size: 14px;
  line-height: 36px;
}
.page-jobDetails .jobDetails-main .job-detail-box .getJobBox {
  text-align: center;
}
.page-jobDetails .jobDetails-main .getJobBtn {
  display: inline-block;
  padding: 0 23px;
  font-size: 12px;
  line-height: 33px;
  border-radius: 2px;
  color: #fff;
  background: #1D428A;
}
.page-jobDetails .jobDetails-recommend {
  align-self: flex-start;
  width: 300px;
}
.page-jobDetails .jobDetails-recommend {
  margin-left: 10px;
  background: #fff;
}
.page-jobDetails .jobDetails-recommend h2 {
  padding: 0 20px;
  font-size: 18px;
  line-height: 60px;
  color: #090a0b;
  border: 1px dashed #eaeaea;
}
.page-jobDetails .jobDetails-recommend ul {
  padding: 0 20px;
}
.page-jobDetails .jobDetails-recommend li {
  padding: 16px 0;
  border-bottom: 1px dashed #eaeaea;
}
.page-jobDetails .jobDetails-recommend li:nth-last-of-type(1) {
  border-bottom: 1px dashed transparent;
}
.page-jobDetails .jobDetails-recommend li .job-msg-url:hover h3 {
  color: #1D428A;
}
.page-jobDetails .jobDetails-recommend li .job-title {
  display: flex;
}
.page-jobDetails .jobDetails-recommend li .job-title .lab {
  padding: 0 4px;
  background: #ff6b6b;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}
.page-jobDetails .jobDetails-recommend li .job-title h3 {
  flex: 1;
  margin: 0 4px;
  font-size: 16px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page-jobDetails .jobDetails-recommend li .job-title h3 span:nth-of-type(2) {
  margin-left: 4px;
}
/*# sourceMappingURL=social.css.map */