.center-block {
  margin-left: auto;
  margin-right: auto;
}
.g-nav {
  position: relative;
  padding: 0 15px;
  height: 60px;
  background: #1D428A;
}
.g-navbefore,
.g-nav:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-nav:after {
  clear: both;
}
.g-nav .logo {
  display: inline-block;
}
.g-nav .logo a {
  display: inline-block;
}
.g-nav .logo img {
  height: 36px;
  margin: 12px auto;
}
.g-nav .menu-bar {
  float: right;
  position: relative;
  top: 30px;
  right: 24px;
}
.g-nav .menu-bar span {
  top: 0;
  width: 24px;
}
.g-nav .menu-bar span:before,
.g-nav .menu-bar span:after {
  content: " ";
  width: 100%;
}
.g-nav .menu-bar span:before {
  top: -8px;
}
.g-nav .menu-bar span:after {
  top: 8px;
}
.g-nav .menu-bar span,
.g-nav .menu-bar span:before,
.g-nav .menu-bar span:after {
  position: absolute;
  left: 0;
  height: 2px;
  background: #fff;
}
.g-nav .nav-menu {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 10px rgba(124, 124, 124, 0.5);
}
.g-nav .nav-menu li {
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}
.g-nav .nav-menu li:nth-last-of-type(1) {
  border-color: transparent;
}
.g-nav .nav-menu li a {
  display: block;
  padding-left: 15px;
  color: #333;
}
.page-com-foot {
  padding: 40px 0 30px;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #eaeaea;
  background: #333;
  text-align: center;
}
.page-com-foot .foot-nav li {
  display: inline-block;
}
.page-com-foot .foot-nav li:nth-last-of-type(1) a:after {
  display: none;
}
.page-com-foot .foot-nav li a {
  position: relative;
  padding: 0 8px;
  color: #fff;
}
.page-com-foot .foot-nav li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #fff;
}
.page-com-foot .copy-right {
  padding: 5px 0 10px;
}
.banner .swiper-wrapper {
  height: auto;
}
.banner .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.banner .swiper-pagination {
  position: absolute;
  bottom: 10px;
}
.banner .swiper-button-prev,
.banner .swiper-container-rtl .swiper-button-next {
  background-image: url("//files2.wavlink.com/images/hr-job/Left_M.png");
}
.banner .swiper-button-next,
.banner .swiper-container-rtl .swiper-button-prev {
  background-image: url("//files2.wavlink.com/images/hr-job/Right_M.png");
}
.home-title-box {
  padding-bottom: 20px;
  text-align: center;
}
.home-title-box .title {
  position: relative;
  margin-bottom: 20px;
}
.home-title-box .title span {
  font-size: 20px;
}
.home-title-box .title div {
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -40px;
  width: 80px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.05);
}
.home-title-box p {
  margin-top: 40px;
  font-size: 12px;
}
.home-company {
  padding: 60px 15px 80px;
  text-align: center;
  background: #f8f9fa;
}
.home-company p {
  margin: 15px auto;
  padding: 0 15px;
  line-height: 24px;
  color: #888;
  text-align: left;
  text-indent: 28px;
}
.home-company p:nth-of-type(1) {
  margin-top: 0;
}
.home-job-box {
  background: #f2f2f2;
}
.home-job-box .wavlink-job {
  margin: auto;
  padding: 60px 5px 80px;
}
.home-job-box .wavlink-job .job-search {
  margin-bottom: 20px;
}
.home-job-box .wavlink-job .job-search form {
  width: 100%;
  display: flex;
}
.home-job-box .wavlink-job .job-search input {
  height: 36px;
  font-size: 12px;
}
.home-job-box .wavlink-job .job-search input[type='text'] {
  flex: 1;
  padding: 0 5px;
  color: #a2a4a8;
  background: #fff;
  border: 1px solid #eaeaea;
  border-right: none;
  border-radius: 2px 0 0 2px;
  transition: border 0.3s;
}
.home-job-box .wavlink-job .job-search input[type='text']:focus {
  border-color: #1D428A;
}
.home-job-box .wavlink-job .job-search input[type='submit'] {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  padding: 0 15px;
  background: #1D428A;
  color: #fff;
  border-radius: 0 2px 2px 0;
}
.home-job-box .wavlink-job .job-list .card {
  margin-bottom: 5px;
}
.home-job-box .wavlink-job .job-list .card .job-msg-url {
  display: block;
  padding: 20px 15px;
  background: #fff;
}
.home-job-box .wavlink-job .job-list .job-title {
  display: flex;
}
.home-job-box .wavlink-job .job-list .job-title .lab {
  padding: 0 4px;
  background: #ff6b6b;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}
.home-job-box .wavlink-job .job-list .job-title h3 {
  flex: 1;
  margin: 0 4px;
  font-size: 18px;
  height: 56px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.home-job-box .wavlink-job .job-list .job-title h3 span:nth-of-type(2) {
  margin-left: 4px;
}
.home-job-box .wavlink-job .job-list .job-title p {
  font-size: 18px;
  color: #ff6b6b;
}
.home-job-box .wavlink-job .job-list .job-des span {
  color: #888;
  font-size: 12px;
}
.home-job-box .wavlink-job .job-list .job-des span:nth-of-type(2) {
  margin: 0 5px;
  padding: 0 5px;
  border-left: 1px solid #dddfe3;
  border-right: 1px solid #dddfe3;
}
.home-job-box .wavlink-job .more-job {
  text-align: center;
}
.home-job-box .wavlink-job .more-job a {
  display: inline-block;
  margin-top: 23px;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  background: #1D428A;
  color: #fff;
  border-radius: 2px;
}
.home-activity {
  padding: 60px 15px 80px;
  background: #f8f9fa;
}
.home-activity .swiper-wrapper {
  height: auto;
}
.home-activity .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.home-activity .swiper-pagination {
  position: absolute;
  bottom: 10px;
}
.home-activity .swiper-button-prev,
.home-activity .swiper-container-rtl .swiper-button-next {
  background-image: url("//files2.wavlink.com/images/hr-job/Left_M.png");
}
.home-activity .swiper-button-next,
.home-activity .swiper-container-rtl .swiper-button-prev {
  background-image: url("//files2.wavlink.com/images/hr-job/Right_M.png");
}
/*.page-home-milestone {
  padding: 60px 15px 80px;
  background: #f2f2f2;
  .dev-list { max-width: 1200px; margin: 0 auto 40px; padding: 0 20px 0 80px; border-left: 1px solid #ddd; }
  .dev-list .dev-item { position: relative; padding: 20px 0; border-bottom: 1px solid #ddd; }
  .dev-list .dev-item:nth-last-of-type(1) { padding: 20px 0 0; border-bottom: none; }
  .dev-list .dev-item:nth-last-of-type(1) > span { height: 100% }
  .dev-list .dev-item:nth-of-type(1) { padding: 0 0 20px; }
  .dev-list .dev-item:nth-of-type(1) > span { top: 0; }
  .dev-list .dev-item > span { position: absolute; top: 20px; left: -97px; z-index: 1; padding: 2px 0; background: #f2f2f2; font-size: 13px; }
  .dev-list .dev-item > div > p { margin: 10px 0; line-height: 22px; }
  .dev-list .dev-item > div > p:nth-of-type(1),
  .dev-list .dev-item > div > p:nth-last-of-type(1) { margin: 0; }
  @media screen and (min-width: 1366px) and (max-width: 1700px) {
    .dev-list .dev-item > span { left: -97px; font-size: 13px; }
    .dev-list .dev-item > div > p { font-size: 13px; }
  }
  @media screen and (min-width: 1200px) and (max-width: 1365px) {
    .dev-list { padding: 0 20px 0 50px; }
    .dev-list .dev-item > span { left: -67px; font-size: 13px; }
    .dev-list .dev-item > div > p { font-size: 13px; }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .dev-list { margin: 40px 0 0 40px; padding: 0 20px 0 50px; }
    .dev-list .dev-item > span { left: -67px; font-size: 13px; }
    .dev-list .dev-item > div > p { font-size: 13px; }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .dev-list { margin: 40px 0 0 40px; padding: 0 20px 0 50px; }
    .dev-list .dev-item > span { left: -67px; font-size: 13px; }
    .dev-list .dev-item > div > p { font-size: 13px; }
  }
  @media screen and (max-width: 767px) {
    .dev-list { margin: 0 0 0 30px; padding: 0 15px 0 40px; }
    .dev-list .dev-item { padding: 15px 0; }
    .dev-list .dev-item > span { left: -57px; font-size: 13px; }
    .dev-list .dev-item > div > p { font-size: 13px; }
  }
}*/
/*.home-welfare {
  padding: 60px 15px 80px;
  background: #f2f2f2;
  .welfare-box {
    background: #bee8ff;
    .item-box {
      display: flex;
      flex-wrap: wrap;
      padding: 1px;
    }
    .item {
      width: 33.3333%;
      padding: 1px;
      text-align: center;
      .box {
        background: #fff;
      }
      p {
        line-height: 50px;
      }
      img {
        padding-bottom: 5px;
        .img-responsive();
        .center-block();
      }
      .item-des {
        display: none;
        font-size: 12px;
      }
    }
  }
}*/
#go-top .top,
#go-top .bottom {
  padding: 5px;
}
#go-top .bottom {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#go-top span {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  background: rgba(61, 101, 163, 0.8);
}
/*# sourceMappingURL=social.css.map */