.center-block {
  margin-left: auto;
  margin-right: auto;
}
input::-webkit-input-placeholder {
  color: #a2a4a8;
}
/* 使用webkit内核的浏览器 */
input:-moz-placeholder {
  color: #a2a4a8;
}
/* Firefox版本4-18 */
input::-moz-placeholder {
  color: #a2a4a8;
}
/* Firefox版本19+ */
input:-ms-input-placeholder {
  color: #a2a4a8;
}
/* IE浏览器 */
.g-nav {
  position: relative;
  padding: 0 15px;
  height: 60px;
  background: #1D428A;
}
.g-navbefore,
.g-nav:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-nav:after {
  clear: both;
}
.g-nav .logo {
  display: inline-block;
}
.g-nav .logo a {
  display: inline-block;
}
.g-nav .logo img {
  height: 36px;
  margin: 12px auto;
}
.g-nav .menu-bar {
  float: right;
  position: relative;
  top: 30px;
  right: 24px;
}
.g-nav .menu-bar span {
  top: 0;
  width: 24px;
}
.g-nav .menu-bar span:before,
.g-nav .menu-bar span:after {
  content: " ";
  width: 100%;
}
.g-nav .menu-bar span:before {
  top: -8px;
}
.g-nav .menu-bar span:after {
  top: 8px;
}
.g-nav .menu-bar span,
.g-nav .menu-bar span:before,
.g-nav .menu-bar span:after {
  position: absolute;
  left: 0;
  height: 2px;
  background: #fff;
}
.g-nav .nav-menu {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 10px rgba(124, 124, 124, 0.5);
}
.g-nav .nav-menu li {
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}
.g-nav .nav-menu li:nth-last-of-type(1) {
  border-color: transparent;
}
.g-nav .nav-menu li a {
  display: block;
  padding-left: 15px;
  color: #333;
}
.page-com-foot {
  padding: 40px 0 30px;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #eaeaea;
  background: #333;
  text-align: center;
}
.page-com-foot .foot-nav li {
  display: inline-block;
}
.page-com-foot .foot-nav li:nth-last-of-type(1) a:after {
  display: none;
}
.page-com-foot .foot-nav li a {
  position: relative;
  padding: 0 8px;
  color: #fff;
}
.page-com-foot .foot-nav li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #fff;
}
.page-com-foot .copy-right {
  padding: 5px 0 10px;
}
.page-jobList .filter-box {
  margin-bottom: 10px;
  padding: 0 10px 20px;
  background: #fff;
}
.page-jobList .filter-box .title {
  height: 56px;
  line-height: 56px;
  font-size: 18px;
}
.page-jobList .filter-box .job-search {
  text-align: center;
}
.page-jobList .filter-box .job-search form {
  width: 100%;
  display: flex;
}
.page-jobList .filter-box .job-search input {
  height: 36px;
  font-size: 12px;
}
.page-jobList .filter-box .job-search input[type='text'] {
  flex: 1;
  padding: 0 15px;
  color: #333;
  background: #fff;
  border: 1px solid #eaeaea;
  border-right: none;
  border-radius: 2px 0 0 2px;
  transition: border 0.3s;
}
.page-jobList .filter-box .job-search input[type='text']:focus {
  border-color: #1D428A;
}
.page-jobList .filter-box .job-search input[type='submit'] {
  display: inline-block;
  padding: 0 15px;
  background: #1D428A;
  color: #fff;
  border-radius: 0 2px 2px 0;
}
.page-jobList .filter-box .filter {
  display: flex;
  margin-top: 15px;
}
.page-jobList .filter-box .filter .select-box {
  width: 48%;
  font-size: 12px;
}
.page-jobList .filter-box .filter .select-box:nth-of-type(1) {
  margin-right: 4%;
}
.page-jobList .filter-box .filter .select-box .select {
  display: inline-block;
  width: 100%;
  height: 38px;
  color: #a2a4a8;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding-left: 8px;
  vertical-align: top;
}
.page-jobList .filter-box .filter .select-box .select option {
  color: #333;
}
.page-jobList .job-list {
  background: #fff;
}
.page-jobList .job-list .item {
  padding: 0 15px;
}
.page-jobList .job-list .item:hover {
  background: #f9f9fa;
}
.page-jobList .job-list .item:hover .job-msg-url .job-title h3 {
  color: #1D428A;
}
.page-jobList .job-list .item:nth-last-of-type(1) .job-msg-url {
  border-bottom: 1px solid transparent;
}
.page-jobList .job-list .item .job-msg-url {
  display: block;
  padding: 20px 0;
  transition: all, 0.3s;
  border-bottom: 1px solid #eaeaea;
}
.page-jobList .job-list .item .job-title {
  display: flex;
}
.page-jobList .job-list .item .job-title .lab {
  padding: 0 4px;
  background: #ff6b6b;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}
.page-jobList .job-list .item .job-title h3 {
  flex: 1;
  margin: 0 4px;
  font-size: 18px;
  height: 56px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page-jobList .job-list .item .job-title h3 span:nth-of-type(2) {
  margin-left: 4px;
}
.page-jobList .job-list .item .job-title p {
  font-size: 18px;
  color: #ff6b6b;
}
.page-jobList .job-list .item .job-des {
  line-height: 17px;
}
.page-jobList .job-list .item .job-desbefore,
.page-jobList .job-list .item .job-des:after {
  content: " ";
  display: table;
  zoom: 1;
}
.page-jobList .job-list .item .job-des:after {
  clear: both;
}
.page-jobList .job-list .item .job-des span {
  color: #888;
  font-size: 12px;
}
.page-jobList .job-list .item .job-des span:nth-of-type(2) {
  margin: 0 5px;
  padding: 0 5px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.page-jobList .job-list .item .job-des span:nth-last-of-type(1) {
  float: right;
}
.page-jobList .job-pagination {
  margin: 10px 0 0;
  background: #fff;
}
.page-jobList .job-pagination .pager {
  margin: 0;
  padding: 15px 0;
}
.page-jobList .job-pagination .pagerbefore,
.page-jobList .job-pagination .pager:after {
  content: " ";
  display: table;
  zoom: 1;
}
.page-jobList .job-pagination .pager:after {
  clear: both;
}
.page-jobList .job-pagination .pager li {
  margin: 0 10%;
}
.page-jobList .job-pagination .pager li a {
  color: #1D428A;
  border-color: #1D428A;
}
/*# sourceMappingURL=social-list.css.map */