.center-block {
  margin-left: auto;
  margin-right: auto;
}
.g-nav {
  position: relative;
  padding: 0 15px;
  height: 60px;
  background: #1D428A;
}
.g-navbefore,
.g-nav:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-nav:after {
  clear: both;
}
.g-nav .logo {
  display: inline-block;
}
.g-nav .logo a {
  display: inline-block;
}
.g-nav .logo img {
  height: 36px;
  margin: 12px auto;
}
.g-nav .menu-bar {
  float: right;
  position: relative;
  top: 30px;
  right: 24px;
}
.g-nav .menu-bar span {
  top: 0;
  width: 24px;
}
.g-nav .menu-bar span:before,
.g-nav .menu-bar span:after {
  content: " ";
  width: 100%;
}
.g-nav .menu-bar span:before {
  top: -8px;
}
.g-nav .menu-bar span:after {
  top: 8px;
}
.g-nav .menu-bar span,
.g-nav .menu-bar span:before,
.g-nav .menu-bar span:after {
  position: absolute;
  left: 0;
  height: 2px;
  background: #fff;
}
.g-nav .nav-menu {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 10px rgba(124, 124, 124, 0.5);
}
.g-nav .nav-menu li {
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}
.g-nav .nav-menu li:nth-last-of-type(1) {
  border-color: transparent;
}
.g-nav .nav-menu li a {
  display: block;
  padding-left: 15px;
  color: #333;
}
.page-com-foot {
  padding: 40px 0 30px;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #eaeaea;
  background: #333;
  text-align: center;
}
.page-com-foot .foot-nav li {
  display: inline-block;
}
.page-com-foot .foot-nav li:nth-last-of-type(1) a:after {
  display: none;
}
.page-com-foot .foot-nav li a {
  position: relative;
  padding: 0 8px;
  color: #fff;
}
.page-com-foot .foot-nav li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #fff;
}
.page-com-foot .copy-right {
  padding: 5px 0 10px;
}
.appendix-progress {
  max-width: 500px;
}
.appendix-progress .item {
  margin: 14px 0;
}
.appendix-progress .info {
  display: flex;
  font-size: 14px;
  color: #575d6a;
}
.appendix-progress .info p:nth-of-type(1) {
  display: flex;
  flex: 1;
}
.appendix-progress .info p:nth-of-type(1) span:nth-of-type(1) {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
  margin-right: 10px;
}
.appendix-progress .progress {
  height: 10px;
  margin-bottom: 0;
}
.page-jobDetails .jobDetails-main {
  margin-bottom: 20px;
  background: #fff;
}
.page-jobDetails .job-title-box {
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
}
.page-jobDetails .job-title-box .job-title {
  display: flex;
  margin-top: 6px;
  line-height: 28px;
}
.page-jobDetails .job-title-box p {
  font-size: 12px;
  color: #89909e;
}
.page-jobDetails .job-title-box .lab {
  margin: 0 4px 0 0;
  padding: 0 4px;
  background: #ff6b6b;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}
.page-jobDetails .job-title-box h3 {
  font-size: 18px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page-jobDetails .job-title-box h3 span:nth-of-type(2) {
  margin-left: 4px;
}
.page-jobDetails .job-title-box .job-des {
  margin-top: 15px;
  line-height: 21px;
}
.page-jobDetails .job-title-box .job-des span {
  color: #888;
  font-size: 12px;
}
.page-jobDetails .job-title-box .job-des span:nth-of-type(2) {
  margin: 0 5px;
  padding: 0 5px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.page-jobDetails .job-detail-box {
  padding: 15px 0 40px;
}
.page-jobDetails .job-detail-box .upload-info {
  padding: 15px;
}
.page-jobDetails .job-detail-box h3 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  border-bottom: 1px solid #eaeaea;
}
.page-jobDetails .job-detail-box label {
  font-weight: normal;
}
.page-jobDetails .job-detail-box label span {
  color: #e93130;
}
.page-jobDetails .job-detail-box input[type="submit"] {
  display: block;
  width: 280px;
  height: 40px;
  line-height: 40px;
  background-color: #dddfe3;
  color: #6e7686;
}
.page-jobDetails .job-detail-box input[type="submit"]:hover {
  background: #89909e;
  color: #fff;
}
.page-jobDetails .job-detail-box .picker input {
  width: 100%;
  height: 100%;
}
.page-jobDetails .job-detail-box .webuploader-pick {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0;
  width: 280px;
  height: 40px;
  line-height: 40px;
  background-color: #dddfe3;
  color: #6e7686;
}
.page-jobDetails .job-detail-box .webuploader-pick:hover {
  background: #89909e;
  color: #fff;
}
.page-jobDetails .job-detail-box .tips {
  font-size: 12px;
  color: #89909e;
}
.page-jobDetails .job-detail-box .info-box {
  padding: 13px;
}
.page-jobDetails .job-detail-box .complete-info {
  max-width: 800px;
  padding: 15px;
}
.page-jobDetails .job-detail-box .complete-info div {
  padding: 13px;
}
.page-jobDetails .job-detail-box .complete-info input {
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding-left: 8px;
  font-size: 12px;
  color: #292c32;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
.page-jobDetails .job-detail-box .submit-box {
  max-width: 800px;
  margin-top: 20px;
  text-align: center;
}
.page-jobDetails .job-detail-box .submit-box .btn-submit {
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  background: #1D428A;
  color: #fff;
  border-radius: 2px;
}
.page-jobDetails .job-detail-box .submit-box .btn-submit:hover {
  background: #31569e;
}
.page-jobDetails .job-detail-box .infoError {
  font-size: 12px;
  color: red;
}
/*# sourceMappingURL=social-gain.css.map */