{extend name="desktop/common/base" /}
{block name="title"}{notempty name="parent.url_title"}{$parent.url_title}{/notempty} - {:lang('slogan')}{:lang('powered by')}{/block}
{block name="seo"}
<meta name="description" content="{notempty name='parent'}{$parent.description}{/notempty}">
<meta name="keywords" content="{notempty name='parent'}{$parent.keywords}{/notempty}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__DESKTOP__/css/page/driver-index.css">
{/block}
{block name="swiper"}
<div class="container-fluid">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="{:url('/'.$code.'/index')}">{:lang('home')}</a></li>
                <li class="active">{:lang('driver')}</li>
            </ol>
        </div>
    </div>
</div>
{/block}
{block name="body"}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="support-aside">
                <ul>
                    <li class="active"><a href="#"><i class="iconfont iconDriver"></i> <span>Driver</span></a></li>
                    <li><a href="#"><i class="iconfont iconFirmware"></i> <span>Firmware</span></a></li>
                    <li><a href="#"><i class="iconfont iconManual"></i> <span>Manual</span></a></li>
                    <li><a href="#"><i class="iconfont iconQA"></i> <span>Q&A</span></a></li>
                    <li><a href="#"><i class="iconfont iconGuestBook"></i> <span>Guest Book</span></a></li>
                    <li><a href="#"><i class="iconfont iconSetupVideo"></i> <span>Setup Video</span></a></li>
                </ul>
            </div>
            <div class="g-main">
                <div class="filter-box">
                    <div class="type">
                        <h3>Type: </h3>
                        <div class="type-category">
                            <ul>
                                <li><a href="#">Router</a></li>
                                <li class="active"><a href="#">Mesh</a></li>
                                <li><a href="#">Repeater</a></li>
                                <li><a href="#">4G LTE</a></li>
                                <li><a href="#">Adapter</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Thunderbolt™ 3</a></li>
                                <li><a href="#">USB Docking</a></li>
                                <li><a href="#">Storage</a></li>
                                <li><a href="#">USB Display</a></li>
                                <li><a href="#">USB Charge</a></li>
                                <li><a href="#">Network Card</a></li>
                                <li><a href="#">Network Card</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="search">
                        <h3>Model Number: </h3>
                        <form action="">
                            <input type="text" placeholder="请输入产品型号进行搜索">
                            <button>Search</button>
                        </form>
                    </div>
                </div>

                <div class="Driver-box">
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>
                            <span>Home</span>
                            <span>Wireless</span>
                            <span>USB Adapter</span>
                        </h3>
                        <div class="mode">
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                            <p><a href="#">WL-681A1F</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<!--私有JS-->
<script>
    $(function () {
        $('#support').addClass('current');
        $('.driver').addClass('supportActive');
        $('.driver').find('h3').find('span').addClass("iconsami-select").removeClass("iconadd-select");
        var active_cls = 'd{$category_title}';
        $("." + active_cls).addClass('active');
        // 筛选变化时 过滤
        $('.filter_by').change(function () {
            var filter_by = $(this).children('option:selected').val();
            var order_by = $('.order_by').children('option:selected').val();
            window.location.href = '/{$code}/drivers/' + filter_by + '.html?order=' + order_by
        });
        $('.order_by').change(function () {
            var filter_by = $('.filter_by').children('option:selected').val();
            var order_by = $(this).children('option:selected').val();
            window.location.href = '/{$code}/drivers/' + filter_by + '.html?order=' + order_by
        });
    });
</script>
{/block}
