<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {block name="news"}
    {/block}
    {block name="title"}
    <title>base</title>
    {/block}
    {block name="seo"}
    <!--私有页面SEO-->
    {/block}
    <link rel="stylesheet" href="__DESKTOP__/css/public/components.css">
    {block name="style"}
    <!--私有样式文件-->
    {/block}
</head>
<body>
{block name="nav"}
{include file="desktop/common/nav" /}
{/block}
<section>
    {block name="swiper"}
    <!--幻灯片以及banner部分-->
    {/block}
    {block name="body"}
    <!--主体内容-->
    {/block}
</section>
{block name="footer"}
{include file="desktop/common/footer" /}
{/block}
<script src="__LIB__/JQuery/JQuery-3.4.0.js"></script>
<script src="__DESKTOP__/js/public.js"></script>
{block name="javascript"}
<!--私有JS-->
<script src="../lib/Swiper/swiper.min.js"></script>
{/block}
</body>
</html>