<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>{block name="title"}{/block}</title>
    {block name="seo"}
    <!--私有页面SEO-->
    {/block}
    <link rel="stylesheet" href="__LIB__/Bootstrap/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" href="__LIB__/iconfont/iconfont.css">
    <link rel="stylesheet" href="__DESKTOP__/css/public/components.css">
    <script src="__LIB__/JQuery/JQuery-3.4.0.js"></script>
    {block name="style"}
    <!--私有样式文件-->
    {/block}
</head>
<body>
{block name="nav"}
{include file="desktop/common/nav" /}
{/block}
<section>
    {block name="swiper"}
    <!--幻灯片以及banner部分-->
    {/block}
    {block name="body"}
    <!--主体内容-->
    {/block}
</section>
{block name="footer"}
{if condition="$code == 'en_us'"}
{include file="desktop/common/en_us"}
{elseif condition="$code == 'zh_cn'" /}
{include file="desktop/common/zh_cn"}
{/if}
{/block}
<call-us id="callus"
         style="position: fixed; bottom: 8px; right: 8px; z-index:9999;"
         phonesystem-url="https://mylivechat.west.3cx.us:5001/"
         party="wavlink"
         invite-message="Welcome. Any questions with Wavlink products,pls chat with us"
         allow-call="false"
         allow-video="false"
         allowfocus="true"
         operator-name="serviceGroup"
         operator-icon="http://cdn.speedytel.com/image/avatar.jpg"
         minimized="true"
         window-title="Let's chat"
         authentication="both">
</call-us>
<script src="__DESKTOP__/js/public.js"></script>
<script src="__STATIC__/lib/3cx/callus.js"></script>
{block name="javascript"}
<!--私有JS-->
<script src="../lib/Swiper/swiper.min.js"></script>
{/block}
{$seo.analysis_code|raw}
</body>
</html>