<footer class="g-footer">
    <div class="container">
        <div class="row">
            <div class="foot-container clearfix">
                <dl class="col-md-2 col-sm-5">
                    <dt><a href="#">STORE</a></dt>
                    <dd><a href="#">Amazon</a></dd>
                    <dd><a href="#">Newegg</a></dd>
                    <dd><a href="#">eBay</a></dd>
                    <dd><a href="#">Alibaba</a></dd>
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt><a href="#">ABOUT</a></dt>
                    <dd><a href="#">Company</a></dd>
                    <dd><a href="#">Contact Us</a></dd>
                    <dd><a href="#">Join Us</a></dd>
                    <dd><a href="#">News</a></dd>
                    <dd><a href="#">Privacy</a></dd>
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt><a href="#">SUPPORT</a></dt>
                    <dd><a href="#">Drivers</a></dd>
                    <dd><a href="#">Guest Book</a></dd>
                    <dd><a href="#">FAQ</a></dd>
                    <dd><a href="#">Video</a></dd>
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt><a href="#">Community&nbsp;&nbsp;</a></dt>
                    <dd>
                        <a target="_blank" href="#"><span class="iconfont">&#xe65e;</span></a>
                        <a target="_blank" href="#"><span class="iconfont">&#xe65f;</span></a>
                        <a target="_blank" href="#"><span class="iconfont">&#xe661;</span></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="text-center">
            Copyright ©
            <script>     var nowYear = new Date().getFullYear();     document.write(nowYear) </script>
            2019 Wavlink.com All Rights Reserved.
        </div>
    </div>
</footer>