<header class="g-nav">
    <div class="container">
        <div class="row clearfix">
            <div class="nav-container">
                <div class="logo">
                    <a href="/{$code}/index.html">
                        <img src="//files.wavlink.com/wavlink/pubilc/wavlink-logo.png" alt="">
                    </a>
                </div>

                <div class="menu-container">
                    <ul class="menu nav navbar-nav clearfix" id="menu">
                        <li id="home" class="menu-item"><a href="/{$code}/index.html">{:lang('home')}</a></li>
                        <li id="product" class="menu-item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">{:lang('product')}
                                <span class="iconfont">&#xe8ec;</span>
                            </a>
                            <ul class="dropdown-menu">
                                {volist name="category" id="vo"}
                                <li><a href="{:url('/'.$code.'/category/'.$vo.url_title)}">{$vo.name}</a></li>
                                {/volist}
                            </ul>
                        </li>
                        <li id="support" class="menu-item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">{:lang('support')}
                                <span class="iconfont">&#xe8ec;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/{$code}/drivers.html">{:lang('driver')}</a></li>
                                <li><a href="/{$code}/firmware.html">{:lang('firmware')}</a></li>
                                <li><a href="/{$code}/manuals.html">{:lang('manual')}</a></li>
                                <li><a href="/{$code}/faq.html">{:lang('faq')}</a></li>
                                <li><a href="/{$code}/guest_book/">{:lang('GuestBook')}</a></li>
                                <li><a href="/{$code}/video.html">{:lang('video')}</a></li>
                            </ul>
                        </li>
                        <li id="article" class="menu-item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">{:lang('article')}
                                <span class="iconfont">&#xe8ec;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="//blog.wavlink.com" target="_blank">{:lang('blog')}</a></li>
                                <li><a href="{:url('/'.$code.'/article')}">{:lang('news')}</a></li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">{:lang('language')}
                                <span class="iconfont">&#xe8ec;</span>
                            </a>
                            <ul class="dropdown-menu">
                                {volist name="language" id="vo" }
                                <li><a href="{:url('/language/'.$vo.code)}">{$vo.name}</a></li>
                                {/volist}
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="search-bar" id="search-bar">
                    <span class="iconfont">&#xe68d;</span>
                </div>
                <div class="search-box" id="search-box">
                    <form action="{:url('/'.$code.'/search')}" method="get">
                        {empty name="search"}
                        <input class="text" type="text" name="key" placeholder="{:lang('search tips')}">
                        {else /}
                        <input class="text" type="text" name="key" value="{$search}">
                        {/empty}
                        <input type="submit" value="{:lang('go')}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
