<header class="g-nav">
    <div class="container">
        <div class="row">
            <div class="nav-container">
                <h1 class="logo">
                    <a href="/{$code}/index.html">
                        <img src="//china.wavlink.com/images/LOGO/WAVLINK_logo.png" alt="">
                    </a>
                </h1>
                <div class="menu-container">
                    <div class="nav" id="nav">
                        <div class="first-menu">
                            <ul>
                                <li class="first-item" id="home"><a href="/{$code}/index.html">{:lang('home')}</a></li>
                                <li class="first-item" id="product">
                                    <a href="javascript:void(0)"><span>{:lang('products')}</span> <span
                                            class="iconfont iconcaret-down"></span></a>
                                    {notempty name="tree"}
                                    <div class="second-menu">
                                        <ul>
                                            {volist name="tree" id="item"}
                                            <li class="second-item">
                                                <a href="{:url('/'.$code.'/category/'.$item.url_title)}"><span>{$item.name}</span>
                                                    {if(!empty($item.child))}<i class="iconfont iconarrow-down"></i>{/if}</a>
                                                {notempty name="item.child"}
                                                <div class="third-menu">
                                                    <ul>
                                                        {volist name="item.child" id="vo"}
                                                        <li class="third-item">
                                                            <a href="{:url('/'.$code.'/category/'.$vo.url_title)}"
                                                               attr-id="{$vo.id}"><span>{$vo.name}</span>
                                                                {if(!empty($vo.child))}<i class="iconfont iconnext"></i>{/if}</a>
                                                            <div class="item-product">
                                                                <a href="#">
                                                                    <img src="" alt="">
                                                                    <p></p>
                                                                </a>
                                                            </div>
                                                            {notempty name="vo.child"}
                                                            <div class="fourth-menu">
                                                                <ul>
                                                                    {volist name="vo.child" id="o"}
                                                                    <li class="fourth-item">
                                                                        <a href="{:url('/'.$code.'/category/'.$o.url_title)}"
                                                                           attr-id="{$o.id}">{$o.name}</a>
                                                                        <div class="item-product">
                                                                            <a href="#">
                                                                                <img src="" alt="">
                                                                                <p></p>
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    {/volist}
                                                                </ul>
                                                            </div>
                                                            {/notempty}
                                                        </li>
                                                        {/volist}
                                                    </ul>
                                                </div>
                                                {/notempty}
                                            </li>
                                            {/volist}
                                        </ul>
                                    </div>
                                    {/notempty}
                                </li>
                                <li class="first-item" id="support">
                                    <a href="javascript:void(0)">{:lang('support')} <span
                                            class="iconfont iconcaret-down"></span></a>
                                    <div class="second-menu">
                                        <ul>
                                            <li class="second-item"><a href="/{$code}/drivers.html"><span>{:lang('driver')}</span></a>
                                            </li>
                                            <li class="second-item"><a href="/{$code}/firmware.html"><span>{:lang('firmware')}</span></a>
                                            </li>
                                            <li class="second-item"><a href="/{$code}/manuals.html"><span>{:lang('manual')}</span></a>
                                            </li>
                                            <li class="second-item"><a
                                                    href="/{$code}/faq.html"><span>{:lang('faq')}</span></a></li>
                                            <li class="second-item"><a href="/{$code}/guest_book/"><span>{:lang('GuestBook')}</span></a>
                                            </li>
                                            <li class="second-item"><a href="/{$code}/about/contact_us.html"><span>{:lang('Email Support')}</span></a>
                                            </li>
                                            <li class="second-item"><a
                                                    href="/{$code}/video.html"><span>{:lang('video')}</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="first-item" id="article">
                                    <a href="javascript:void(0)">{:lang('article')} <span
                                            class="iconfont iconcaret-down"></span></a>
                                    <div class="second-menu">
                                        <ul>
                                            <li class="second-item"><a href="http://blog.wavlink.com"
                                                                       target="_blank"><span>{:lang('blog')}</span></a>
                                            </li>
                                            <li class="second-item"><a href="{:url('/'.$code.'/article')}"><span>{:lang('news')}</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                {if condition="$code == 'zh_cn'"}
                                <li class="first-item" id="hr"><a href="/zh_cn/jobs/social">{:lang('hr')}</a> </li>
                                {/if}
                                <li class="first-item">
                                    <a href="javascript:void(0)">{:lang('language')} <span
                                            class="iconfont iconcaret-down"></span></a>
                                    <div class="second-menu">
                                        <ul>
                                            {volist name="language" id="vo" }
                                            <li class="second-item"><a href="{:url('/language/'.$vo.code)}"><span>{$vo.name}</span></a>
                                            </li>
                                            {/volist}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- 2020.05.09 添加登录入口，搜索改造-->
                <div class="function-box">

                    <div class="search-box">
                        <span class="iconfont iconsearch" id="search-bar"></span>

                        <div class="search-form wavlink-search" id="search-form">
                            <form action="{:url('/'.$code.'/search')}" method="get">
                                {empty name="search"}
                                <input class="text wavlink-input" type="text" name="key"
                                       placeholder="{:lang('search tips')}">
                                {else /}
                                <input class="text" type="text" name="key" value="{$search}">
                                {/empty}
                                <input type="submit" value="{:lang('go')}">
                            </form>
                        </div>

                        <div class="wavlink-bgPander" id="wavlink-bgPander"></div>
                    </div>

                    <div class="user-box">
                        {notempty name="id"}
                        <div class="account" id="account">
                            <span class="ico-box">
                                <i class="iconfont iconarrow-down"></i>
                                <span>{$username}</span>
                            </span>
                            <div class="user-menu-wrapper" id="user-menu-wrapper">
                                <ul>
                                    <li class="user-menu-item"><a href="{:url('customer_info')}">{:lang('My
                                        Account')}</a></li>
                                    <li class="user-menu-item"><a href="{:url('customer_logout')}">{:lang('logout')}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {else /}
                        <a class="login" href="{:url('customer_login')}">
                            {:lang('Login')}
                        </a>
                        {/notempty}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    function getProduct (_this) {
        var categoryId = $(_this).attr('attr-id');
        var url = "{:url('getPopularProduct')}" + "?category_id=" + categoryId;
        $.ajax({
            type: 'get',
            url: url,
            success: function (result) {
                var data = result.data;
                if (data) {
                    var imgSrc = data.image_litpic_url;
                    var title = data.name;
                    var urlTitle = "{:url('/'.$code.'/product/')}" + data.url_title;
                    var proDom = $(_this).siblings('.item-product');
                    proDom.find('a').attr('href', urlTitle);
                    proDom.find('img').attr('src', imgSrc);
                    proDom.find('p').text(title);
                }
            }
        });
        $(_this).siblings('.item-product').css('display', 'block');
    }

    $('.third-item > a').mouseenter(function () {
        var _this = this;
        var a = $(this).siblings('.fourth-menu').length;
        if (!a) {
            getProduct(_this);
        }
        $(_this).parents('.third-item').siblings('.third-item').find('.item-product').css('display', 'none');
    });

    $('.fourth-item > a').mouseenter(function () {
        var _this = this;
        getProduct(_this);
        $(_this).parents('.fourth-item').siblings('.fourth-item').find('.item-product').css('display', 'none');
    })
</script>
