<header class="g-nav">
    <div class="container">
        <div class="row clearfix">
            <div class="nav-container">
                <div class="logo">
                    <a href="#">
                        <img src="//files.wavlink.com/wavlink/pubilc/wavlink-logo.png" alt="">
                    </a>
                </div>

                <div class="menu-container">
                    <ul class="menu nav navbar-nav clearfix" id="menu">
                        <li class="menu-item active"><a href="index.html">HOME</a></li>
                        <li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">PRODUCT
                                <span class="iconfont">&#xe8ec;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="./product-list.html">Wireless</a></li>
                                <li><a href="./product-list.html">PC peripherals</a></li>
                                <li><a href="./product-list.html">IOT</a></li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">SUPPORT
                                <span class="iconfont">&#xe8ec;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="driver.html">Drivers</a></li>
                                <li><a href="#">Guest Book</a></li>
                                <li><a href="#">Manuals</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Video</a></li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="#" target="_blank">BLOG</a>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">LANGUAGE
                                <span class="iconfont">&#xe8ec;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">简体中文</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="search-bar" id="search-bar">
                    <span class="iconfont">&#xe68d;</span>
                </div>
                <div class="search-box" id="search-box">
                    <form action="">
                        <input class="text" type="text" placeholder="Please enter the product model to search">
                        <input type="submit" value="GO">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>