<div class="support-aside">
    <ul>
        <li><h3>search result</h3></li>
        <li class="product"><a href="/{$code}/search.html?key={$search}&type=product"><i class="iconfont iconProduct"></i> <span>{:lang('product')}({$product_total})</span></a></li>
        <li class="driver"><a href="/{$code}/search.html?key={$search}&type=driver"><i class="iconfont iconDriver"></i> <span>{:lang('driver')}({$driver_total})</span></a></li>
        <li class="firmware"><a href="/{$code}/firmware.html"><i class="iconfont iconFirmware"></i> <span>{:lang('firmware')}</span></a></li>
        <li><a href="/{$code}/manuals.html" class="manual"><i class="iconfont iconManual"></i> <span>{:lang('manual')}</span></a></li>
        <li><a href="/{$code}/faq.html" class="faq"><i class="iconfont iconQA"></i> <span>{:lang('faq')}</span></a></li>
        <li><a href="/{$code}/video.html" class="video"><i class="iconfont iconSetupVideo"></i> <span>{:lang('video')}</span></a></li>
    </ul>
</div>