<li><a href="/{$code}/search.html?key={$search}&type=product" class="driver">{:lang('product')}({$product_total})</a></li>
<li><a href="/{$code}/search.html?key={$search}&type=driver" class="firmware">{:lang('driver')}({$driver_total})</a></li>
<li><a href="/{$code}/manuals.html" class="manual">{:lang('manual')}</a></li>
<li><a href="/{$code}/faq.html" class="faq">{:lang('faq')}</a></li>
<li><a href="/{$code}/guest_book/" class="guest-book">{:lang('GuestBook')}</a></li>
<li><a href="/{$code}/video.html" class="video">{:lang('video')}</a></li>