<div class="support-aside">
    <ul>
        <li class="drivers"><a href="/{$code}/drivers.html"><i class="iconfont iconDriver"></i> <span>{:lang('driver')}</span></a></li>
        <li class="firmware"><a href="/{$code}/firmware.html"><i class="iconfont iconFirmware"></i> <span>{:lang('firmware')}</span></a></li>
        <li class="manual"><a href="/{$code}/manuals.html"><i class="iconfont iconManual"></i> <span>{:lang('manual')}</span></a></li>
        <li class="faq"><a href="/{$code}/faq.html"><i class="iconfont iconQA"></i> <span>{:lang('faq')}</span></a></li>
        <li class="guest-book"><a href="/{$code}/guest_book/"><i class="iconfont iconGuestBook"></i> <span>{:lang('GuestBook')}</span></a></li>
        <li class="video"><a href="/{$code}/video.html"><i class="iconfont iconSetupVideo"></i> <span>{:lang('video')}</span></a></li>
    </ul>
</div>
