<div class="container-fluid">
    {notempty name="swiper"}
    <div class="row">
        <div class="banner swiper-container">
            <div class=" swiper-wrapper">
                {volist name="swiper" id="vo"}
                <div class="swiper-slide">
                    <div class="des">
                        <dl>
                            <dt data-swiper-parallax="-500" data-swiper-parallax-opacity="0">
                                <a href="{$vo.url}">{$vo.title}</a>
                            </dt>
                            <dd data-swiper-parallax="-1500" data-swiper-parallax-opacity="0">
                                {$vo.subtitle}
                            </dd>
                            <dd data-swiper-parallax="-4500" data-swiper-parallax-opacity="0">
                                {notempty name="$vo.model"}
                                <a href="{$vo.url}" class="btn btn-primary">{$vo.model}</a>
                                {/notempty}
                            </dd>
                        </dl>
                    </div>
                    <div class="img-box">
                        <a href="{$vo.url}">
                            <img src="{$vo.image_pc_url}" alt="{$vo.title}">
                        </a>
                    </div>
                </div>
                {/volist}
            </div>
            <div class="swiper-pagination"></div><!--分页器-->
            <!--<div class="swiper-button-prev"></div>&lt;!&ndash;左箭头&ndash;&gt;-->
            <!--<div class="swiper-button-next"></div>&lt;!&ndash;右箭头&ndash;&gt;-->
        </div>
    </div>
    {/notempty}
    <div class="row">
        <div class="category-icon">
            <div class="category-box">
                <div class="item col-sm-3">
                    <a href="#">
                        <span class="iconfont">&#xe61e;</span>
                        <p>EVERYTHING MESH</p>
                    </a>
                </div>
                <div class="item col-sm-3">
                    <a href="#">
                        <span class="iconfont">&#xe61b;</span>
                        <p>ROUTERS</p>
                    </a>
                </div>
                <div class="item col-sm-3">
                    <a href="#">
                        <span class="iconfont">&#xe61d;</span>
                        <p>THUNDERBOLT™ 3</p>
                    </a>
                </div>
                <div class="item col-sm-3">
                    <a href="#">
                        <span class="iconfont">&#xe61f;</span>
                        <p>USB DOCKING</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>