<footer class="g-footer">
    <div class="container">
        <div class="row">
            <div class="foot-container clearfix">
                <dl class="col-md-2 col-sm-5">
                    <dt>{:lang('Store')}</dt>
                    <dd><a href="#">天猫旗舰店</a></dd>
                    <dd><a href="#">JD直营</a></dd>
                    <dd><a href="#">淘宝正品店</a></dd>
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt>{:lang('About')}</dt>
                    {notempty name="about"}
                    {volist name="about" id="vo"}
                    <dd><a href="/{$code}/about/{$vo.url_title}.html">{$vo.name}</a></dd>
                    {/volist}
                    {/notempty}
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt>{:lang('support')}</dt>
                    <dd><a href="/{$code}/drivers.html">{:lang('Driver')}</a></dd>
                    <dd><a href="/{$code}/Firmware.html">{:lang('Firmware')}</a></dd>
                    <dd><a href="/{$code}/manuals.html">{:lang('manual')}</a></dd>
                    <dd><a href="/{$code}/faq.html">{:lang('faq')}</a></dd>
                    <dd><a href="/{$code}/guest_book/">{:lang('GuestBook')}</a></dd>
                    <dd><a href="/{$code}/video.html">{:lang('video')}</a></dd>
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt>{:lang('Community')}</dt>
                    <dd>
                        <a target="_blank" href="#"><span class="iconfont">&#xe65e;</span></a>
                        <a target="_blank" href="#"><span class="iconfont">&#xe65f;</span></a>
                        <a target="_blank" href="#"><span class="iconfont">&#xe661;</span></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="text-center">
            Copyright ©1993 -
            <script>var nowYear = new Date().getFullYear();document.write(nowYear)</script>
            Wavlink.com All Rights Reserved.
        </div>
    </div>
</footer>