<footer class="g-footer">
    <div class="container">
        <div class="row">
            <div class="foot-container clearfix">
                <dl class="col-md-2 col-sm-5">
                    <dt>在线商店</dt>
                    <dd><a href="#">天猫旗舰店</a></dd>
                    <dd><a href="#">JD直营</a></dd>
                    <dd><a href="#">淘宝正品店</a></dd>
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt>关于我们</dt>
                    <dd><a href="#">公司介绍</a></dd>
                    <dd><a href="#">联系我们</a></dd>
                    <dd><a href="#">加入我们</a></dd>
                    <dd><a href="#">新闻</a></dd>
                    <dd><a href="#">隐私</a></dd>
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt>服务支持</dt>
                    <dd><a href="/{$code}/drivers.html">驱动下载</a></dd>
                    <dd><a href="#">留言</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">创意视频</a></dd>
                </dl>
                <dl class="col-md-2 col-sm-5">
                    <dt>社区</dt>
                    <dd>
                        <a target="_blank" href="#"><span class="iconfont">&#xe65e;</span></a>
                        <a target="_blank" href="#"><span class="iconfont">&#xe65f;</span></a>
                        <a target="_blank" href="#"><span class="iconfont">&#xe661;</span></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="text-center">
            Copyright ©
            <script>var nowYear = new Date().getFullYear();document.write(nowYear)</script>
            2019 Wavlink.com All Rights Reserved.
        </div>
    </div>
</footer>