<!--包含头部文件-->
{include file="public/headers" /}
<div class="page-container">
    <form class="form form-horizontal form-o2o-add" id="form-o2o-add" method="post" action="">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>分类名称：</label>
            <div class="formControls col-xs-5 col-sm-2">
                <input type="text" class="input-text" value="{$serviceCategory.name}" placeholder="" id="name"
                       name="name">
                {if condition="$serviceCategory.level eq 0"}
                <input type="hidden" name="level" value="{$serviceCategory.parent_id|getCategoryLevel}">
                {else /}
                <input type="hidden" name="level" value="{$serviceCategory.level}">
                {/if}
                <input type="hidden" name="path" value="{$serviceCategory.path}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>URL标题：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="{$serviceCategory.url_title}" placeholder=""
                       id="url_title" name="url_title">
            </div>
        </div>
        {empty name="$categorys"}
        <input type="hidden" value="{$parent_id}" name="parent_id">
        {else /}
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="{$serviceCategory.parent_id|getServiceCategory}" disabled>
                <input type="hidden" value="{$serviceCategory->parent_id}" name="parent_id">
            </div>
        </div>
        {/empty}
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span>目录</span></label>
            <div class="formControls col-xs=5 col-sm-5">
                <span class="select-box">
                    <select name="has_child" class="select">
                        <option value="">--请选择--</option>
                        {if($serviceCategory.has_child == 1)}
                        <option value="1" selected>是</option>
                        <option value="0" >否</option>
                        {else /}
                        <option value="1">是</option>
                        <option value="0" selected>否</option>
                        {/if}
                </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">所属语言：</label>
            <div class="formControls col-xs-5 col-sm-2">
                <input type="text" class="input-text" value="{$language_id|getLanguageOne}" disabled>
                <input type="hidden" name="language_id" value="{$language_id}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>SEO标题：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="{$serviceCategory.seo_title}" placeholder=""
                       id="seo_title" name="seo_title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>关键词：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="{$serviceCategory.keywords}" placeholder="" id="keywords"
                       name="keywords">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>描述：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="{$serviceCategory.description}" placeholder=""
                       id="description" name="description">
            </div>
        </div>
        <div class="row cl">
            <input type="hidden" name="id" value="{$serviceCategory->id}">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button type="button" onclick="save('{:url(\'ServiceCategory/save\')}')" class="btn btn-primary radius"><i
                        class="Hui-iconfont">&#xe632;</i> 保存
                </button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h-ui.admin/js/image.js"></script>
<script type="text/javascript" src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    var SCOPE = {
        'uploadify_swf': '__STATIC__/admin/uploadify/uploadify.swf',
        'image_upload': "{:url('api/image/upload')}"
    };
</script>
</body>
</html>