{extend name="desktop/common/base" /}
{block name="title"}{$result.name} - {:lang('slogan')}{:lang('powered by')}{/block}
{block name="seo"}
<meta name="description" content="{$result.description}">
<meta name="keywords" content="{$result.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__DESKTOP__/css/page/manual.css">
{/block}

{block name="swiper"}
<div class="container-fluid">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="/{$code}/index.html">{:lang('home')}</a></li>
                <li>{:lang('Firmware')}</li>
                <li class="active">{$result.name}</li>
            </ol>
        </div>
    </div>
</div>
{/block}
{block name="body"}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="g-aside">
                <ul>
                    <li><h3>{:lang('support')}</h3></li>
                    {include file='desktop/common/support_aside'}
                </ul>
            </div>
            <div class="g-main">
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="title">{:lang('Firmware Details and Download')}</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>{:lang('Firmware')}</dt>
                                <dd>{$result.name}</dd>
                                <dt>{:lang('version')}</dt>
                                <dd>{$result.version}</dd>
                                <dt>{:lang('Post Date')}</dt>
                                <dd>{$result.create_time|strtotime|date="d/m/Y"}</dd>
                                <dt>{:lang('Available')}</dt>
                                <dd>{$result.model}</dd>
                                <dt>{:lang('Description')}</dt>
                                <dd>{$result.description}</dd>
                                <dt>{:lang('Download')}</dt>
                                <dd><a href="{$result.url}" class="download_url btn btn-default"><i class="iconfont">&#xe64f;</i></a></dd>
                            </dl>
                        </div>
                        <div class="panel-footer">
                            * Software update is usually for optimizing the product to support in special environments and applications. If your product works properly, it is not recommended to upgrade your product.<br>
                            * If you find the links are invalid or any other issues, please email to contact@wavlink.com to make feedback or contact online customer service, thank you.
                        </div>
                    </div>
                    <div>
                        {$result.notices|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<!--私有JS-->
<script>
    $(function () {
        $('#support').addClass('active');
        $('.firmware').addClass('active');
        // 筛选变化时 过滤
        $('.filter_by').change(function () {
            var filter_by = $(this).children('option:selected').val();
            var order_by = $('.order_by').children('option:selected').val();
            window.location.href = '/{$code}/manuals/' + filter_by + '.html?order=' + order_by
        });
        $('.order_by').change(function () {
            var filter_by = $('.filter_by').children('option:selected').val();
            var order_by = $(this).children('option:selected').val();
            window.location.href = '/{$code}/manuals/' + filter_by + '.html?order=' + order_by
        });
    });
</script>
{/block}
