{extend name="desktop/common/base" /}
{block name="title"}{$result.name} - {:lang('slogan')}{:lang('powered by')}{/block}
{block name="seo"}
<meta name="description" content="{$result.description}">
<meta name="keywords" content="{$result.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__DESKTOP__/css/page/firmware.css">
{/block}

{block name="swiper"}
<div class="container-fluid">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="/{$code}/index.html">{:lang('home')}</a></li>
                <li>{:lang('Firmware')}</li>
                <li class="active">{$result.name}</li>
            </ol>
        </div>
    </div>
</div>
{/block}
{block name="body"}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="g-aside">
                {include file='desktop/common/support_aside'}
            </div>
            <div class="g-main">
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="title">{:lang('Firmware Details and Download')}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="info">
                                <p><span>{:lang('Description')}: </span> <span>{$result.description}</span></p>
                                <p><span>{:lang('Available')}: </span> <span>{$result.model}</span></p>
                                <p><span>{:lang('version')}: </span> <span>{$result.version}</span></p>
                                <p><span>{:lang('Post Date')}: </span> <span>{$result.create_time|strtotime|date="d/m/Y"}</span></p>
                            </div>
                            <div class="download">
                                <span>{:lang('Download')}: </span>
                                <a href="{$result.url}" class="download_url btn btn-default"><i class="iconfont">&#xe64f;</i></a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <p>* Software update is usually for optimizing the product to support in special environments and applications. If your product works properly, it is not recommended to upgrade your product.</p>
                            <p>* If you encounter any issues, please don’t hesitate to email contact@wavlink.com to provide feedbacks or contact online customer service, thank you!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<!--私有JS-->
<script>
    $(function () {
        $('#support').addClass('current');
        $('.firmware').addClass('active');
        // 筛选变化时 过滤
        $('.filter_by').change(function () {
            var filter_by = $(this).children('option:selected').val();
            var order_by = $('.order_by').children('option:selected').val();
            window.location.href = '/{$code}/manuals/' + filter_by + '.html?order=' + order_by
        });
        $('.order_by').change(function () {
            var filter_by = $('.filter_by').children('option:selected').val();
            var order_by = $(this).children('option:selected').val();
            window.location.href = '/{$code}/manuals/' + filter_by + '.html?order=' + order_by
        });
    });
</script>
{/block}
