{block name="seo"}
<meta name="description" content="{notempty name='parent'}{$parent.description}{/notempty}">
<meta name="keywords" content="{notempty name='parent'}{$parent.keywords}{/notempty}">
{/block}
{block name="style"}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script src="__LIB__/JQuery/JQuery-3.4.0.js"></script>
<script src="__LIB__/Swiper/swiper.min.js"></script>
<script src="__MOBILE__/js/public.js"></script>
<link rel="stylesheet" href="__LIB__/Bootstrap/bootstrap-3.3.7.min.css">
<link rel="stylesheet" href="__LIB__/iconfont/iconfont.css">
<link rel="stylesheet" href="__LIB__/Swiper/swiper.min.css">
<link rel="stylesheet" href="__MOBILE__/css/public/components.css">
<link rel="stylesheet" href="__MOBILE__/css/page/social-detail.css">
{/block}

{block name="nav"}
<div class="g-nav">
    <div class="logo">
        <h1>
            <a href="/{$code}/index.html">
                <img src="//china.wavlink.com/images/LOGO/WAVLINK_logo.png" alt="www.wavlink.com">
            </a>
        </h1>
    </div>
    <div class="menu-bar" id="menu-bar">
        <span></span>
    </div>
    <div class="nav-menu">
        <ul>
            <li id="home"><a href="/zh_cn/jobs/social">首页</a></li>
            <li id="wavlink-company"><a href="/zh_cn/jobs/social#company">公司介绍</a></li>
            <li id="wavlink-job"><a href="/zh_cn/jobs/social/list">招聘职位</a></li>
            <li><a href="/{$code}/index.html">返回官网</a></li>
        </ul>
    </div>
</div>
{/block}

{block name="body"}
<section class="g-section">
    <div class="page-jobDetails">
        <div class="jobDetails-main">
            <div class="job-title-box">
                <p>发布时间：<span>{$data.update_time|date="Y-m-d"}</span></p>
                <div class="job-title">
                    {if($data.status == 1)}
                    <label class="lab">急</label>
                    {/if}
                    <h3><span>{$data.title}</span><span>{$data.numbers}</span></h3>
                </div>
                <div class="job-des">
                    <span>{$data.city}</span>
                    <span>{$data.seniority}</span>
                    <span>{$data.education}</span>
                    <span><a class="getJobBtn" href="{:url(\'gain_social_job\',[\'url_title\'=>$data.url_title])}">申请职位</a></span>
                </div>
            </div>
            <div class="job-detail-box">
                <div class="des-box">
                    <div>
                        <h3>工作职责:</h3>
                    </div>
                    {$data.description|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>任职要求:</h3>
                    </div>
                    {$data.requirement|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>福利待遇</h3>
                    </div>
                    {$data.welfare|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>工作地址</h3>
                    </div>
                    <p>
                        深圳市光明区观光路与二十三号路交汇处华强创意产业园3C栋17-20楼
                    </p>
                    <p>
                        <strong style="font-weight: bold">联系方式</strong>：075588823721（hr李小姐直线座机），或0755-33985226-839或834，或0755-88823721转800
                    </p>
                    <p>
                        <strong style="font-weight: bold">联系人</strong>：张小姐<br>
                    </p>
                    <p>
                        <strong style="font-weight: bold">联系邮箱</strong>：hr05@win-star.com
                    </p>
                </div>
                <div class="des-box">
                    <div>
                        <h3>交通线路</h3>
                    </div>
                    <div>
                        <img src="//files2.wavlink.com/images/hr-job/details/path.jpg" alt="address">
                    </div>
                </div>
                <div class="getJobBox">
                    <a class="getJobBtn" href="{:url(\'gain_social_job\',[\'url_title\'=>$data.url_title])}">申请职位</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-com-foot">
    <div class="foot-nav container">
        <ul>
            <li><a href="https://www.wavlink.com">睿因官网</a></li>
            <li><a href="https://www.wavlink.com/zh_cn/about/about_us.html">关于睿因</a></li>
            <li><a href="https://www.wavlink.com/zh_cn/about/contact_us.html">联系睿因</a></li>
            <li><a href="https://www.wavlink.com/zh_cn/category/wireless.html">睿因产品</a></li>
            <li><a href="https://wavlink.tmall.com/">睿因商城</a></li>
        </ul>
    </div>
    <div class="copy-right">
        <p>版权所有 © 睿因科技（深圳）有限公司</p>
    </div>
</div>
{/block}
{block name="javascript"}
<!--私有JS-->
<script>
    $(function () {
        $("#menu-bar").click(function () {
            $(this).siblings(".nav-menu").slideToggle(300)
        })
    })
</script>
{/block}

