{extend name="mobile/social/common/base" /}
{block name="seo"}
<meta name="description" content="职位详情">
<meta name="keywords" content="职位详情">
{/block}
{block name="style"}
<link rel="stylesheet" href="__MOBILE__/css/page/social-detail.css">
{/block}

{block name="body"}
<section class="g-section">
    <div class="page-jobDetails">
        <div class="jobDetails-main">
            <div class="job-title-box">
                <p>发布时间：<span>{$data.update_time|date="Y-m-d"}</span></p>
                <div class="job-title">
                    {if($data.status == 1)}
                    <label class="lab">急</label>
                    {/if}
                    <h3><span>{$data.title}</span><span>{$data.numbers}</span></h3>
                </div>
                <div class="job-des">
                    <span>{$data.city}</span>
                    <span>{$data.seniority}</span>
                    <span>{$data.education}</span>
                    <span><a class="getJobBtn" href="{:url(\'gain_social_job\',[\'url_title\'=>$data.url_title])}">申请职位</a></span>
                </div>
            </div>
            <div class="job-detail-box">
                <div class="des-box">
                    <div>
                        <h3>工作职责:</h3>
                    </div>
                    {$data.description|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>任职要求:</h3>
                    </div>
                    {$data.requirement|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>福利待遇</h3>
                    </div>
                    {$data.welfare|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>工作地址</h3>
                    </div>
                    {$data.work_address|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>交通线路</h3>
                    </div>
                    {$data.map|raw}
                </div>
                <div class="getJobBox">
                    <a class="getJobBtn" href="{:url(\'gain_social_job\',[\'url_title\'=>$data.url_title])}">申请职位</a>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="javascript"}
<!--私有JS-->
{/block}

