{extend name="desktop/social/common/base" /}
{block name="seo"}
<meta name="description" content="职位详情">
<meta name="keywords" content="职位详情">
{/block}
{block name="style"}
<link rel="stylesheet" href="__DESKTOP__/css/page/social-detail.css">
{/block}

{block name="body"}
<section class="g-section">
    <div class="page-jobDetails">
        <div class="jobDetails-main">
            <div class="job-title-box">
                <p>发布时间：<span>{$data.update_time|date="Y-m-d"}</span></p>
                <div class="job-title">
                    {if($data.status == 1)}
                    <label class="lab">急</label>
                    {/if}
                    <h3><span>{$data.title}</span><span>{$data.numbers}</span></h3>
                </div>
                <div class="job-des">
                    <span>{$data.city}</span>
                    <span>{$data.seniority}</span>
                    <span>{$data.education}</span>
                    <span><a class="getJobBtn" href="{:url(\'gain_social_job\',[\'url_title\'=>$data.url_title])}">申请职位</a></span>
                </div>
            </div>
            <div class="job-detail-box">
                <div class="des-box">
                    <div>
                        <h3>工作职责</h3>
                    </div>
                    {$data.description|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>任职要求</h3>
                    </div>
                    {$data.requirement|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>福利待遇</h3>
                    </div>
                    {$data.welfare|raw}
                </div>
                <div class="des-box">
                    <div>
                        <h3>工作地址</h3>
                    </div>
                    <p>
                        深圳市光明区观光路与二十三号路交汇处华强创意产业园3C栋17-20楼
                    </p>
                    <p>
                        <strong style="font-weight: bold">联系方式</strong>：075588823721（hr李小姐直线座机），或0755-33985226-839或834，或0755-88823721转800
                    </p>
                    <p>
                        <strong style="font-weight: bold">联系人</strong>：张小姐<br>
                    </p>
                    <p>
                        <strong style="font-weight: bold">联系邮箱</strong>：hr05@win-star.com
                    </p>
                </div>
                <div class="des-box">
                    <div>
                        <h3>交通线路</h3>
                    </div>
                    <div>
                        <img src="//files2.wavlink.com/images/hr-job/details/path.jpg" alt="address">
                    </div>
                </div>
                <div class="getJobBox">
                    <a class="getJobBtn" href="{:url(\'gain_social_job\',[\'url_title\'=>$data.url_title])}">申请职位</a>
                </div>
            </div>
        </div>
        <div class="jobDetails-recommend">
            <h2>最新职位</h2>
            <ul>
                {volist name="hot" id="vo"}
                <li>
                    <a class="job-msg-url" href="{:url(\'social_details\',[\'url_title\'=>$vo.url_title])}">
                        <div class="job-title">
                            {if($vo.status == 1)}
                            <label class="lab">急</label>
                            {/if}
                            <h3>{$vo.title}</h3>
                        </div>
                    </a>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</section>
{/block}
{block name="javascript"}
<!--私有JS-->
{/block}

