{extend name="desktop/social/common/base" /}
{block name="seo"}
<meta name="description" content="wavlink人才招聘">
<meta name="keywords" content="wavlink人才招聘">

{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/Swiper/swiper.min.css">
<link rel="stylesheet" href="__DESKTOP__/css/page/social.css">
{/block}

{block name="body"}
<section class="g-section">
    <div class="container-fluid">
        <div class="row">
            <div class="banner swiper-container">
                <div class=" swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/1.1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/2.1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/3.1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/4.1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/5_new.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/6.1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/7.1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/8.1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/9.1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div><!--分页器-->
                <div class="swiper-button-prev"><span></span></div><!--左箭头-->
                <div class="swiper-button-next"><span></span></div><!--右箭头-->
            </div>
        </div>
    </div>
    <div class="container-fluid home-company" id="company">
        <div class="row">
            <div class="home-title-box">
                <div class="title">
                    <span>公司介绍</span>
                    <div></div>
                </div>
            </div>
            <div class="company-details">
                <p>
                    深圳市欣博跃电子有限公司(以下简称欣博跃)是睿因科技(深圳)有限公司旗下的一家全资子公司。欣博跃是集软件开发、外观设计、模具制造、产品解决方案提供、产品制造、终端销售、售后服务为一体的国家级(专精特新小巨人)高新技术企业。
                </p>
                <p>
                    欣博跃总部于2021年正式搬迁至粤“港澳大湾区的科技高地”——深圳市光明区的自有写字楼。目前拥有两家全资工厂，即占地面积1万㎡的深圳龙华生产基地与占地面积2万㎡江西省赣州市生产基地。生产基地拥有国内外领先的研发设备实验室，可满足包括单板检测、软件调试、安规检测、EMC检测在内的各项检测工作。生产线配备了全自动高速SMT生产线、全自动锡纸印刷机、自动回流焊机、全自动AI插件线、PCBA自动检测线、WIFI校准测试仪、双区波峰焊机、硅胶自动点胶机、电源自动老化测试系统、倍数链自动组装流水线、MES生产管理系统、智能仓库管理系统等生产、辅助生产设备。可实现年产50万套无线路由器、100万套无线中继器、15万套无线图传、50万套多屏及多功能扩展设备、10万套智能家居产品的生产能力。
                </p>
                <p>
                    欣博跃拥有多项自主知识产权，并多次参与国家级技术攻关项目，现已成为一家全球领先的全产业链网络通讯设备提供商，与Intel、MTK、DisplayLink等诸多全球性领军企业保持着良好的技术合作关系。自2017年开始就参与Intel的Thunderbolt 3项目，成为为数不多的Intel在中国大陆的合作伙伴。
                </p>
                <p>
                    欣博跃发展初期以外贸业务为主，曾多次获得“中国外贸出口先导指数样本企业”的殊荣，后期完成了wavlink、minthouz两个自有品牌的全球注册。目前，欣博跃在市场开拓方面海外市场与国内市场并举，借助传统销售商渠道与各主流电商平台，将产品面向全球消费者进行销售。欣博跃在全球拥有超过500家传统渠道经销商，产品在沃尔玛、家乐福、Best Buy、Newegg、Aldi、Lidl等连锁终端进行上架销售。在国内市场欣博跃的产品在天猫、京东、淘宝、苏宁等各大平台均有售卖。
                </p>
                <p>
                    “让科技融入生活”、“让科技引领生活”，是公司的一贯追求。欣博跃坚持围绕客户需求持续创新，不断加大技术研发投入。厚积薄发，砥砺奋进，不断为全球客户提供更优质的产品和更专业的服务。
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid home-job-box">
        <div class="row">
            <div class="wavlink-job">
                <div class="home-title-box">
                    <div class="title">
                        <span>招聘职位</span>
                        <div></div>
                    </div>
                    <p>热门职位列表</p>
                    <p style="margin-top: 5px"><a href="//files2.wavlink.com/images/hr-job/recommend.png" target="_blank">点击查看</a>人才推荐奖励计划</p>
                </div>
                <div class="job-box">
                    <!--<div class="job-search">
                        <form action="">
                            <input type="text" placeholder="输入职位关键字">
                            <input type="submit" value="搜索职位">
                        </form>
                    </div>-->
                    <div class="job-list">
                        {notempty name="hot"}
                        {volist name="hot" id="vo"}
                        <div class="card">
                            <a class="job-msg-url" href="{:url(\'social_details\',[\'url_title\'=>$vo.url_title])}">
                                <div class="job-title">
                                    {if($vo.status == 1)}
                                    <label class="lab">急</label>
                                    {/if}
                                    <h3><span>{$vo.title}</span><span>{$vo.numbers}</span></h3>
                                    <p>{$vo.salary}</p>
                                </div>
                                <div class="job-des">
                                    <span>{$vo.city}</span>
                                    <span>{$vo.seniority}</span>
                                    <span>{$vo.education}</span>
                                </div>
                            </a>
                        </div>
                        {/volist}
                        {/notempty}
                    </div>
                    <div class="more-job">
                        <a href="social/list.html">查看更多职位</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid home-welfare">
        <div class="row">
            <div class="home-title-box">
                <div class="title">
                    <span>福利待遇</span>
                    <div></div>
                </div>
            </div>
            <div class="img-box">
                <img src="//files2.wavlink.com/images/hr-job/job-welfare/welfare.jpg" alt="">
            </div>
        </div>
    </div>
</section>
{/block}
{block name="javascript"}
<!--私有JS-->
<script src="__LIB__/Swiper/swiper.min.js"></script>
<script>
    // 首页轮播js
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 3000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: true//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });
</script>
{/block}
