{block name="seo"}
<meta name="description" content="{notempty name='parent'}{$parent.description}{/notempty}">
<meta name="keywords" content="{notempty name='parent'}{$parent.keywords}{/notempty}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/Bootstrap/bootstrap-3.3.7.min.css">
<link rel="stylesheet" href="__LIB__/Swiper/swiper.min.css">
<link rel="stylesheet" href="__LIB__/iconfont/iconfont.css">
<link rel="stylesheet" href="__DESKTOP__/css/public/components.css">
<link rel="stylesheet" href="__DESKTOP__/css/page/social.css">
<script src="__LIB__/JQuery/JQuery-3.4.0.js"></script>
<script src="__DESKTOP__/js/public.js"></script>
{/block}

{block name="nav"}
<header class="g-nav">
    <div class="container">
        <div class="row">
            <div class="nav-container">
                <h1 class="logo">
                    <a href="/{$code}/index.html">
                        <img src="//china.wavlink.com/images/LOGO/WAVLINK_logo.png" alt="">
                    </a>
                </h1>
                <div class="menu-container">
                    <div class="nav" id="nav">
                        <div class="first-menu">
                            <ul>
                                <li class="first-item" id="home"><a href="/zh_cn/jobs/social">首页</a></li>
                                <li class="first-item" id="wavlink-company"><a href="#company">公司介绍</a></li>
                                <li class="first-item" id="wavlink-job"><a href="/zh_cn/jobs/social/list">招聘职位</a></li>
                                <li class="first-item" id="wavlink-back"><a href="/{$code}/index.html">返回官网</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{/block}
{block name="body"}
<section class="g-section">
    <div class="container-fluid">
        <div class="row">
            <div class="banner swiper-container">
                <div class=" swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/4.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/5.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/6_PC.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div><!--分页器-->
                <div class="swiper-button-prev"><span></span></div><!--左箭头-->
                <div class="swiper-button-next"><span></span></div><!--右箭头-->
            </div>
        </div>
    </div>
    <div class="container-fluid home-company" id="company">
        <div class="row">
            <div class="home-title-box">
                <div class="title">
                    <span>公司介绍</span>
                    <div></div>
                </div>
            </div>
            <p>
                深圳市欣博跃电子有限公司（以下简称欣博跃）是睿因科技（深圳）有限公司旗下的一家全资子公司。欣博跃是集软件开发、外观设计、模具制造、产品解决方案提供、产品制造、终端销售、售后服务为一体的国家级（专精特新小巨人）高新技术企业。
            </p>
            <p>
                欣博跃总部于2021年正式搬迁至粤“港澳大湾区的科技高地”——深圳市光明区的自有写字楼。目前拥有两家全资工厂，即占地面积1万㎡的深圳龙华生产基地与占地面积2万㎡江西省赣州市生产基地。生产基地拥有国内外领先的研发设备实验室，可满足包括单板检测、软件调试、安规检测、EMC检测在内的各项检测工作。生产线配备了全自动高速SMT生产线、全自动锡纸印刷机、自动回流焊机、全自动AI插件线、PCBA自动检测线、WIFI校准测试仪、双区波峰焊机、硅胶自动点胶机、电源自动老化测试系统、倍数链自动组装流水线、MES生产管理系统、智能仓库管理系统等生产、辅助生产设备。可实现年产50万套无线路由器、100万套无线中继器、15万套无线图传、50万套多屏及多功能扩展设备、10万套智能家居产品的生产能力。
            </p>
            <p>
                欣博跃拥有多项自主知识产权，并多次参与国家级技术攻关项目，现已成为一家全球领先的全产业链网络通讯设备提供商，与Intel、MTK、DisplayLink等诸多全球性领军企业保持着良好的技术合作关系。自2017年开始就参与Intel的Thunderbolt 3项目，成为为数不多的Intel在中国大陆的合作伙伴。
            </p>
            <p>
                欣博跃发展初期以外贸业务为主，曾多次获得“中国外贸出口先导指数样本企业”的殊荣，后期完成了wavlink、minthouz两个自有品牌的全球注册。目前，欣博跃在市场开拓方面海外市场与国内市场并举，借助传统销售商渠道与各主流电商平台，将产品面向全球消费者进行销售。欣博跃在全球拥有超过500家传统渠道经销商，产品在沃尔玛、家乐福、Best Buy、Newegg、Aldi、Lidl等连锁终端进行上架销售。在国内市场欣博跃的产品在天猫、京东、淘宝、苏宁等各大平台均有售卖。
            </p>
            <p>
                “让科技融入生活”、“让科技引领生活”，是公司的一贯追求。欣博跃坚持围绕客户需求持续创新，不断加大技术研发投入。厚积薄发，砥砺奋进，不断为全球客户提供更优质的产品和更专业的服务。
            </p>
        </div>
    </div>
    <div class="container-fluid home-job-box">
        <div class="row">
            <div class="wavlink-job">
                <div class="home-title-box">
                    <div class="title">
                        <span>招聘职位</span>
                        <div></div>
                    </div>
                    <p>热门职位列表</p>
                </div>
                <div class="job-box">
                    <div class="job-search">
                        <form action="">
                            <input type="text" placeholder="输入职位关键字">
                            <input type="submit" value="搜索职位">
                        </form>
                    </div>
                    <div class="job-list">
                        {notempty name="hot"}
                        {volist name="hot" id="vo"}
                        <div class="card">
                            <a class="job-msg-url" href="{:url(\'social_details\',[\'url_title\'=>$vo.url_title])}">
                                <div class="job-title">
                                    {if($vo.status == 1)}
                                    <label class="lab">急</label>
                                    {/if}
                                    <h3><span>{$vo.title}</span><span>{$vo.numbers}</span></h3>
                                    <p>{$vo.salary}</p>
                                </div>
                                <div class="job-des">
                                    <span>{$vo.city}</span>
                                    <span>{$vo.seniority}</span>
                                    <span>{$vo.education}</span>
                                </div>
                            </a>
                        </div>
                        {/volist}
                        {/notempty}
                    </div>
                    <div class="more-job">
                        <a href="social/list.html">查看更多职位</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid home-activity">
        <div class="row">
            <div class="home-title-box">
                <div class="title">
                    <span>福利待遇</span>
                    <div></div>
                </div>
            </div>
            <div class="activity swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/4.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/5.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="//files2.wavlink.com/images/hr-job/banner/6_PC.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>&lt;!&ndash;分页器&ndash;&gt;
                <div class="swiper-button-prev"><span></span></div>&lt;!&ndash;左箭头&ndash;&gt;
                <div class="swiper-button-next"><span></span></div>&lt;!&ndash;右箭头&ndash;&gt;
            </div>
        </div>
    </div>-->
    <!--<div class="container-fluid page-home-milestone">
        <div class="row">
            <div class="page-home-title-box">
                <div class="title">
                    <span>发展历程</span>
                    <div></div>
                </div>
            </div>
            <div class="dev-list">
                <ul>
                    <li class="dev-item clear">
                        <span>2019</span>
                        <div>
                            <p>
                                The Thunderbolt™ 3 project was introduced. Up to now, eight products have passed the
                                certification of Intel. Winstars becomes one of the few manufacturers that can supply
                                Thunderbolt 3 products.
                            </p>
                        </div>
                    </li>
                    <li class="dev-item clear">
                        <span>2016</span>
                        <div>
                            <p>
                                Winstars became a national high-tech enterprise. After years of accumulation, Winstars
                                prospered in its patent technology and applied for more than ten patents for inventions,
                                utility models, and design.
                            </p>
                            <p>
                                In the field of wireless products, Winstars undertook a national-level technical
                                research project - "Super-Fast Exchangeable WiFi Network Technology", successfully
                                passed the national inspection, and received special funds from the state.
                            </p>
                            <p>
                                In the field of wired products, business has grown rapidly in Type-C docking stations
                                that Winstars makes up one of the industry’s three pillars.
                            </p>
                        </div>
                    </li>
                    <li class="dev-item clear">
                        <span>2014</span>
                        <div>
                            <p>
                                Winstars started working on research of source codes and obtained substantial
                                breakthroughs in the field of AV data transmission and the project of intelligent care
                                robots. The intelligent care robots developed by the company were released at the CES
                                exhibition in 2019 and received positive feedback from the market.
                            </p>
                        </div>
                    </li>
                    <li class="dev-item clear">
                        <span>2012</span>
                        <div>
                            <p>
                                Winstars entered a new stage of development, focusing on research of PC peripheral
                                products, wireless network transmission, and wireless coverage solutions. After
                                continuous trials, Winstars finally made major breakthroughs in hardware and software.
                                In the same year, Winstars applied for more technical patents on more projects.
                            </p>
                        </div>
                    </li>
                    <li class="dev-item clear">
                        <span>2010</span>
                        <div>
                            <p>
                                Winstars focused on the professional AV application in the wireless field and developed
                                the first generation of zero-latency products with the uncompressed transmission
                                technology, which gained great popularity and made Winstars one of the best in the
                                industry.
                            </p>
                        </div>
                    </li>
                    <li class="dev-item clear">
                        <span>2009</span>
                        <div>
                            <p>
                                The high-end hubs of the USB 3.0 series were introduced, and USB storage products such
                                as HDD docking stations and TANK series products were launched.
                            </p>
                        </div>
                    </li>
                    <li class="dev-item clear">
                        <span>2008</span>
                        <div>
                            <p>
                                Winstars began to participate in the research and development of USB 2.0 hubs, docking
                                stations, and various standards for digital television and broadcasting, such as ISDB-T,
                                ATSC, and DVB-T.
                            </p>
                        </div>
                    </li>
                    <li class="dev-item clear">
                        <span>2006</span>
                        <div>
                            <p>
                                Winstars successfully applied for its first technical patent on the "USB Multi-Display
                                Adapter" project.
                            </p>
                        </div>
                    </li>
                    <li class="dev-item clear">
                        <span>2003</span>
                        <div>
                            <p>
                                Winstars Technology Ltd. was founded, engaging in selling PC peripherals.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
    <!--<div class="container-fluid home-welfare">
        <div class="row">
            <div class="home-title-box">
                <div class="title">
                    <span>福利待遇</span>
                    <div></div>
                </div>
            </div>
            <div class="welfare-box">
                <div class="item-box">
                    <div class="item">
                        <p>五险</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Five_social_insurance_and_one_housing_fund.png" alt="">
                        <div class="item-des">入职即购买养老、医疗、工伤、失业、生育保险</div>
                    </div>
                    <div class="item">
                        <p>假期规定</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Holiday_rules.png" alt="">
                        <div class="item-des">大小周，享有带薪年假、法定节假日、婚假、病假、产假、哺乳假等</div>
                    </div>
                    <div class="item">
                        <p>员工住宿</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Staff_accommodation.png" alt="">
                        <div class="item-des">提供员工宿舍，配备空调、洗衣机、热水器等</div>
                    </div>
                    <div class="item">
                        <p>免费班车</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Free_shuttle_bus.png" alt="">
                        <div class="item-des">工作日提供免费班车上下班，班车线路覆盖深圳市多个区域</div>
                    </div>
                    <div class="item">
                        <p>文娱活动</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Recreational_activities.png" alt="">
                        <div class="item-des">拥有足球、篮球、羽毛球、乒乓球、瑜伽等协会，不定期组织活动</div>
                    </div>
                    <div class="item">
                        <p>深户办理</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Shenzhen_household_registration.png" alt="">
                        <div class="item-des">可为员工解决落户和档案事宜</div>
                    </div>
                    <div class="item">
                        <p>活动经费</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/activities.png" alt="">
                        <div class="item-des">每年每人享有团队活动经费</div>
                    </div>
                    <div class="item">
                        <p>节日关怀</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Day_care.png" alt="">
                        <div class="item-des">在妇女节、端午节、中秋节、圣诞节等节日开展文化活动，送上节日礼物</div>
                    </div>
                    <div class="item">
                        <p>生日关怀</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Birthday_care.png" alt="">
                        <div class="item-des">为当月生日的员工送上生日礼物，举办公共生日会</div>
                    </div>
                    <div class="item">
                        <p>亲情关怀</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/family_care.png" alt="">
                        <div class="item-des">儿童节组织家庭日，寒暑假设立托儿班</div>
                    </div>
                    <div class="item">
                        <p>健康体验</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Experience_of_health.png" alt="">
                        <div class="item-des">每年享有健康体检</div>
                    </div>
                    <div class="item">
                        <p>人才补贴</p>
                        <img src="//files2.wavlink.com/images/hr-job/job-welfare/Talent_subsidies.png" alt="">
                        <div class="item-des">设有博士后科研工作站，按照政策规定享有人才补贴</div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</section>

<div class="page-com-foot">
    <div class="foot-nav container">
        <ul>
            <li><a href="https://www.wavlink.com">睿因官网</a></li>
            <li><a href="https://www.wavlink.com/zh_cn/about/about_us.html">关于睿因</a></li>
            <li><a href="https://www.wavlink.com/zh_cn/about/contact_us.html">联系睿因</a></li>
            <li><a href="https://www.wavlink.com/zh_cn/category/wireless.html">睿因产品</a></li>
            <li><a href="https://wavlink.tmall.com/shop/view_shop.htm">睿因商城</a></li>
        </ul>
    </div>
    <div class="copy-right">
        <p>版权所有 © 睿因科技（深圳）有限公司</p>
    </div>
</div>
{/block}
{block name="javascript"}
<!--私有JS-->
<script src="__LIB__/Swiper/swiper.min.js"></script>
<script>
    // 首页轮播js
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 6000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: true//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });
</script>
{/block}
