{extend name="desktop/social/common/base" /}
{block name="seo"}
<meta name="description" content="职位列表">
<meta name="keywords" content="职位列表">

{/block}
{block name="style"}
<link rel="stylesheet" href="__DESKTOP__/css/page/social-list.css">
{/block}

{block name="body"}
<section class="g-section">
    <div class="page-jobList">
        <div class="jobList-main">
            <div class="filter-box">
                <div class="title">职位筛选</div>
                <!--<div class="job-search">
                    <form action="">
                        <input type="text" placeholder="输入职位关键字">
                        <input type="submit" value="搜索职位">
                    </form>
                </div>-->
                <div class="filter">
                    <div class="job-type select-box">
                        <select class="select filter_by" name="category">
                            <option value="all">职能类型</option>
                            {volist name="jobCategory" id="vo"}
                            <option value="{$vo.name}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="city select-box">
                        <select class="select order_by" name="category">
                            <option value="all">工作地点</option>
                            {volist name="city" id="vo"}
                            <option value="{$vo}">{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="job-list">
                {volist name="data" id="vo"}
                <div class="item">
                    <a class="job-msg-url" href="{:url(\'social_details\',[\'url_title\'=>$vo.url_title])}">
                        <div class="job-title">
                            {if($vo.status == 1)}
                            <label class="lab">急</label>
                            {/if}
                            <h3><span>{$vo.title}</span><span>{$vo.numbers}</span></h3>
                            <p>{$vo.salary}</p>
                        </div>
                        <div class="job-des">
                            <span>{$vo.city}</span>
                            <span>{$vo.seniority}</span>
                            <span>{$vo.education}</span>
                            <span>发布时间：<span>{$vo.update_time|date="Y-m-d"}</span></span>
                        </div>
                    </a>
                </div>
                {/volist}
            </div>
            <div class="job-pagination">
                <nav>
                    {$page|raw}
                </nav>
            </div>
        </div>
        <div class="jobList-recommend">
            <h2>最新职位</h2>
            <ul>
                {volist name="hot" id="vo"}
                <li>
                    <a class="job-msg-url" href="{:url(\'social_details\',[\'url_title\'=>$vo.url_title])}">
                        <div class="job-title">
                            {if($vo.status == 1)}
                            <label class="lab">急</label>
                            {/if}
                            <h3>{$vo.title}</h3>
                        </div>
                    </a>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</section>
{/block}
{block name="javascript"}
<!--私有JS-->
<script>
    $(function () {
        // 筛选变化时 过滤
        $('.filter_by').change(function () {
            var filter_by = $(this).children('option:selected').val();
            var order_by = $('.order_by').children('option:selected').val();
            window.location.href = '/{$code}/faq/' + filter_by + '.html?order=' + order_by
        });
        $('.order_by').change(function () {
            var filter_by = $('.filter_by').children('option:selected').val();
            var order_by = $(this).children('option:selected').val();
            window.location.href = '/{$code}/faq/' + filter_by + '.html?order=' + order_by
        });
    });
</script>
{/block}

