{include file="public/headers"/}
<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>网站标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input class="input-text" value="{$setting->title}" placeholder="网站标题" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$setting->keywords}" placeholder="keywords" id="keywords" name="keywords" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="description" id="description" name="description" value="{$setting->description}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>底部授权信息：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="information" id="information" name="information" value="{$setting->information}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选择语言：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="language_id" class="select">
					<option value=" ">--请选择--</option>
					{volist name="languages" id="vo"}
					<option value="{$vo.id}"{if condition="$setting.language_id eq $vo.id"} selected="selected" {/if}>{$vo.name}</option>
				    {/volist}
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>备案号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="备案号" id="record_number" name="record_number" value="{$setting->record_number}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">分析代码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="analysis_code" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内"  dragonfly="true" >{$setting->analysis_code}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="hidden" value="{$setting->id}" name="id">
                <input class="btn btn-primary radius" type="button" onclick="save('{:url('Setting/save')}')" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{include file="public/footer"/}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
</body>
</html>
