<!--包含头部文件-->
{include file="public/system_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        系统管理
        <span class="c-gray en">&gt;</span>
        站点配置
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em">
            <div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				<a href="javascript:void(0);" onclick="" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
				<a class="btn btn-primary radius" data-title="添加语言" _href="article-add.html"
                   onclick="add('添加语言','{:url('Setting/add')}','800','600')" href="javascript:void(0);"><i
                        class="Hui-iconfont">&#xe600;</i> 添加配置</a>
				</span>
            </div>
            <div class="">
                <table class="table table-border table-bordered table-bg mt-20">
                    <thead>
                    <tr>
                        <th scope="col" colspan="13">产品列表</th>
                    </tr>
                    <tr class="text-c">
                        <th width="20"><input type="checkbox" name=""  value=""></th>
                        <th width="20">ID</th>
                        <th >网站标题</th>
                        <th >关键词</th>
                        <th >描述</th>
                        <th width="120">底部授权信息</th>
                        <th width="50">语言</th>
                        <th width="60">备案号</th>
                        <th width="120">创建时间</th>
                        <th width="40">状态</th>
                        <th width="80">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="setting" id="vo"}
                    <tr class="text-l">
                        <td><input type="checkbox" value="{$vo.id}"  name="id"></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.title}</u></td>
                        <td>{$vo.keywords}</td>
                        <td>{$vo.description}</td>
                        <td>{$vo.information}</td>
                        <td>{$vo.language_id|getLanguage}</td>
                        <td>{$vo.record_number}</td>
                        <td>{$vo.create_time}</td>
                        <td class="td-status">{$vo.status|status}</td>
                        <td class="f-14 td-manage">
                            <a style="text-decoration:none" onClick="stop('{:url('Setting/byStatus',['id'=>$vo.id,'status'=>0])}')" href="javascript:;" title="停用"><i class="Hui-iconfont" style="font-size: 20px;color: red">&#xe6de;</i></a>
                            <a style="text-decoration:none" class="ml-5" onClick="edit('编辑','{:url('Setting/edit',['id'=>$vo.id])}','800','600')" href="javascript:void 0" title="编辑"><i class="Hui-iconfont" style="font-size: 20px;color: blue">&#xe6df;</i></a>
                            <a style="text-decoration:none" onClick="start('{:url('Setting/byStatus',['id'=>$vo.id,'status'=>1])}')" href="javascript:;" title="恢复"><i class="Hui-iconfont" style="font-size: 20px;color: green">&#xe6dc;</i></a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{$setting->render()}</div>
        </article>
        {include file="public/explain" /}
    </div>
</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>

    $(document).ready(function () {
        $("#menu-setting dt").addClass("selected");
        $("#menu-setting dd").css("display","block");
        $("#menu-setting #system_setting").addClass("current");
        $("#system").addClass("current");
    });
</script>
</body>
</html>