<!DOCTYPE html>
<!--[if lte IE8]>
<script>
    window.location.href = "/zh_cn/base/ie.html";
</script>
<![endif]-->
<html>
<head>
    <!--头部公共空间开始-->
    {include file="mobile/public/menu" /}
    <!--seo-->
    {block name="seo"}

    {/block}
</head>
<body>

<div id="mescroll" class="mescroll" style="padding:0">
    <!--头部导航之上的公告栏推荐位开始-->
    {block name="news"}

    {/block}
    <!--头部导航之上的公告栏推荐位结束-->

    <!-- wavlink睿因 产品页眉部分 -->
    {include file="mobile/public/nav" /}
    <!-- wavlink睿因  -->
    <div class="max col-xs-12" style="padding:0">
        <!-- wavlink睿因 产品banner图 -->
        {block name="banner"}

        {/block}
        <!--主体内容开始-->
        {block name="body"}

        {/block}
        <!--主体内容结束-->
        <!--底部横幅开始-->
        {block name="ad"}

        {/block}
        <!--底部横幅结束-->
        <!-- wavlink睿因 产品页脚部分 -->
        {include file="mobile/public/footer" /}
    </div>
</div>
{include file="mobile/public/js" /}
<script>
    var SCOPE = {
        'search_product':"{:url('/'.$code.'/search/product')}",
        'search_product_op':"{:url('/'.$code.'/search/opProduct')}"
    };
</script>
<!--私有业务js开始-->
{block name="js"}

{/block}

<!--私有业务js结束-->
</body>
</html>
