<!DOCTYPE html>
<html>
<head>
    <!--头部公共空间开始-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <link rel="stylesheet" href=__CN__/css/common/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="__CN__/css/common/font-awesome.min.css" type="text/css">
    <meta name="author" content="wavlink">
    <!--头部公共空间结束-->
    <!--私有页面属性-->
    <title>升级您的浏览器，可以顺利的打开我们的网站。Wavlink</title>
    <meta name="keywords" content="keywords">
    <meta name="description" content="描述">
    <link rel="stylesheet" href="__CN__/css/common/Browser-upgrade-page.css">
    <!--私有首页面属性结束-->
</head>
<body>
<div class="container" style="width:1000px;margin:0 auto">
    <div class="row">
        <div class="header">
            <h1>It's time to upgrade your browser</h1>
            <p>You are using an earlier version of Internet Explorer (IE11 or the browser using the kernel). This means you won't be able to access the site until you upgrade your browser.</p>
        </div>
        <div class="content">
            <h4>Note: support for Windows XP and earlier versions of Internet Explorer is over</h4>
            <p>Since January 12, 2016, Microsoft has no longer provided support and updates for InternetOK explorer 11. Without critical browser security updates, your PC may be vulnerable to attacks by harmful viruses, spyware and other malware that can steal or damage your business data and information. Please refer to Microsoft's support for early version of Internet Explorer which will end on January 12, 2016.</p>
            <hr />
            <h4>More advanced browsers</h4>
            <p>Recommend the latest version of the following browser. If your computer has the latest version of the following browser, you can use this browser directly.</p>
            <ul class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;padding:0">
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/-6317619799740042012.html?e=1970">
                        <img src="__CN__/img/ie/IE.png" alt="">
                        <p>Internet Explorer</p>
                    </a>
                </li>
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/6262355089742005676.html?e=1970">
                        <img src="__CN__/img/ie/Google.png" alt="">
                        <p>Google</p>
                    </a>
                </li>
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/3422649212502276885.html?e=1970">
                        <img src="__CN__/img/ie/Firefox.png" alt="">
                        <p>Firefox.png</p>
                    </a>
                </li>
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/-4337823077699367090.html?e=1970">
                        <img src="__CN__/img/ie/Safari.png" alt="">
                        <p>Safari</p>
                    </a>
                </li>
            </ul>
            <hr>
            <div style="width:100%">
                <h4>Why does this page appear?</h4>
                <p>If you don't know what it means to upgrade your browser, ask some of your computer savvy friends. If you aren't using IE6/7/8/9/10, but 360, browser, QQ browser, sogou browser, appear this page because you used is not the latest version of the browser, upgrade to the latest.</p>
                <hr>
                <h4>Boycott IE6, IE7, IE8, IE9, IE10</h4>
                <p>To be compatible with this once dominant browser, web designers need to do a lot of code work. For the average user, the low version of Internet explorer is a precarious security risk, and several major Trojan viruses in the history of Windows have been propagated using Internet explorer vulnerabilities. So please join us in resisting an earlier version of IE!</p>
            </div>
        </div>
        <hr>
        <div class="footer">
            <p>Are you a web technician? Please join the early version of Internet Explorer. particulars
                Webmaster statistical</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="__CN__/common/bootstrap.min.js"></script>
</body>
</html>