<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:lang('page not found')}- {:lang('slogan')}{:lang('powered by')}</title>
    <meta name="description" content="{$terminal}">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="__LIB__/Bootstrap/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" href="__LIB__/iconfont/iconfont.css">
    <link rel="stylesheet" href="__DESKTOP__/css/public/components.css">
    <script src="__LIB__/JQuery/JQuery-3.4.0.js"></script>
    <link rel="stylesheet" href="__DESKTOP__/css/page/404.css">
</head>
<body>

<div class="sec">
    <div class="container">
        <div class="row">
            <div class="page-404">
                <div class="page-404-des">
                    <div class="page-404-img">
                        <img src="//files.wavlink.com/WavlinkBlog/2019/09/01/404.gif" alt="">
                    </div>
                    <div class="page-404-reason">
                        <h2>{:lang('page not found')}</h2>
                        <p>{:lang('Reasons')}</p>
                        <p>{:lang('Weak network connection > Please check your network connection and reload the page')}</p>
                        <p>{:lang('The URL has been written or typed into the browser incorrectly> Please check the URL address')}</p>
                        <p>{:lang('The URL is no longer available> The website content may have been removed or the event has been offline')}</p>
                        <h3>{:lang('You might try')}</h3>
                        <p>
                            <span><a class="btn btn-info" href="/">{:lang('Back to the Homepage')}</a></span>
                            <span><a class="btn btn-primary" href="javascript:history.go(-1)"> {:lang('Back to Previous Page')}</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>