<footer class="g-footer">
    <div class="container">
        <div class="row">
            <div class="foot-container">
                <dl>
                    <dt>STORE</dt>
                    <dd><a href="https://www.amazon.com/s?me=A1ZAFAL1WND4H&marketplaceID=ATVPDKIKX0DER" target="_blank">Amazon</a></dd>
                    <dd><a href="https://www.newegg.com/Wavlink-Technology" target="_blank">Newegg</a></dd>
                </dl>
                <dl>
                    <dt>SUPPORTS</dt>
                    <dd><a href="">Driver</a></dd>
                    <dd><a href="">Firmware</a></dd>
                    <dd><a href="">Manual</a></dd>
                    <dd><a href="">Q&A</a></dd>
                    <dd><a href="">Guest Book</a></dd>
                    <dd><a href="">Video</a></dd>
                </dl>
                <dl>
                    <dt>ABOUT</dt>
                    <dd><a href="">Company</a></dd>
                    <dd><a href="">Contact Us</a></dd>
                    <dd><a href="">Where To Buy</a></dd>
                    <dd><a href="">Privacy</a></dd>
                    <dd><a href="">Join Us</a></dd>
                    <dd><a href="">Terms Of Use Notice</a></dd>
                </dl>
                <dl>
                    <dt>COMMUNITY</dt>
                    <dd>
                        <a target="_blank" href="https://www.facebook.com/WavlinkOfficial/"><span class="iconfont">&#xe65e;</span></a>
                        <a target="_blank" href="https://twitter.com/WavlinkOfficial"><span class="iconfont">&#xe65f;</span></a>
                        <a target="_blank" href="https://www.linkedin.com/company/wavlink-technology-ltd"><span class="iconfont">&#xe661;</span></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div>
            Copyright ©1993 -
            <script>var nowYear = new Date().getFullYear();document.write(nowYear) </script>
            Wavlink.com All Rights Reserved.
        </div>
    </div>
</footer>