<header>
    <div class="common-width">
        <div class="logo">
            <h1><a href="/{$lang}/index.html"><img src="//china.wavlink.com/images/LOGO/WAVLINK_logo.png" alt=""></a></h1>
        </div>
        <div class="nav-box">
            <div class="account" id="account">
                <span class="ico-box">
                    <i class="iconfont iconarrow-down"></i>
                    <span>{$username}</span>
                </span>
                <div class="user-menu-wrapper" id="user-menu-wrapper">
                    <ul>
                        <li class="user-menu-item"><a href="{:url('customer_info')}">{:lang('My Account')}</a></li>
<!--                        <li class="user-menu-item"><a href="#">{:lang('My Product')}</a></li>-->
                        <li class="user-menu-item"><a href="{:url('customer_logout')}">{:lang('logout')}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>