<header>
    <div class="common-width">
        <div class="logo">
            <h1><a href="http://www.wavlink.com"><img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=be861vqg-7gfv9Pxt2Wh3XkxFLbHPw4e9-j9W8f_aGPSQ8-v-L1GSKZm_GoLqW7Ij0Ro47vjDi4sAh9ATzzfQFRZfXaOL7NhFwrqFnjNd0Xp0fbOHzBT-i6XlXI-tRA6FcKvYaRihyQuTuZh6mVIF4U&file_name=/wavlink-logo.png" alt=""></a></h1>
        </div>
        <div class="nav-box">
            <div class="account" id="account">
                <span class="ico-box">
                    <i class="iconfont iconuser"></i>
                    <i class="iconfont iconarrow-down"></i>
                </span>
                <div class="user-menu-wrapper" id="user-menu-wrapper">
                    <ul>
                        <li class="user-menu-item"><a href="#">个人中心</a></li>
                        <li class="user-menu-item"><a href="#">消息通知</a></li>
                        <li class="user-menu-item"><a href="#">我的订单</a></li>
                        <li class="user-menu-item"><a href="#">退出登录</a></li>
                    </ul>
                </div>
            </div>

            <!--<div class="exit">
                <span><i class="iconfont iconexit"></i></span>
                <span>Exit</span>
            </div>-->
        </div>
    </div>
</header>