<!--包含头部文件-->
{include file="public/headers" /}
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post" action="">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$images->title}" placeholder="" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>副标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$images->subtitle}" placeholder="" id="subtitle" name="subtitle">
            </div>
        </div>
        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$images->product_title}" placeholder="" id="product_title" name="product_title">
            </div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>按钮标识：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$images->model}" placeholder="" id="model" name="model">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$images->listorder}" placeholder="" id="listorder" name="listorder">
            </div>
        </div>
        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">产品文字小图地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image_product_url" cols="" rows="" class="textarea" placeholder="针对特殊符号可用无背景图片填充" dragonfly="true" >{$images->image_product_url}</textarea>
            </div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">PC端图片地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image_pc_url" cols="" rows="" class="textarea" placeholder="500个字符以内" dragonfly="true" >{$images->image_pc_url}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">移动端图片地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image_mobile_url" cols="" rows="" class="textarea"  placeholder="500个字符以内" dragonfly="true" >{$images->image_mobile_url}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>推荐位：</label>
            <div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="featured_id" class="select">
                    <option value="">--请选择</option>
                  {volist name="featured" id="vo"}
                  <option value="{$vo.id}"{if condition="$images.featured_id eq $vo.id"} selected="selected" {/if}>{$vo.name}</option>
                  {/volist}
                </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所属语言：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$language_id|getLanguageOne}" disabled>
                <input type="hidden" name="language_id" value="{$language_id}">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">链接：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$images->url}" placeholder="" id="url" name="url">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input type="hidden" name="id" value="{$images->id}">
                <button onclick="save('{:url(\'images/save\')}')" class="btn btn-primary radius" type="button">
                    <i class="Hui-iconfont">&#xe632;</i> 更新
                </button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/h-ui.admin/js/image.js"></script>
<script type="text/javascript" src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript">
    var SCOPE = {
            'uploadify_swf':'__STATIC__/admin/uploadify/uploadify.swf',
            'image_upload':"{:url('api/image/upload')}"};
</script>
</body>
</html>