<!--继承框架-->
{extend name="pc/base/base"}
{block name="seo"}
<title>{$result.name} - Wavlink </title>
<meta name="keywords" content="{$result.keywords}">
<meta name="description" content="{$result.description}">
<link rel="stylesheet" href="__EN__/css/faq/faq.css" type="text/css">
{/block}
{block name="banner"}
<header class="FAQ">
    <div class="banner">
        <div>
            <img class="img-responsive center-block img_pc" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=46aagZ3ZbSnnAJ1GBo3aXSkvrNS4QYjNdujY7QNNTszqkOf4J1azinjB67ckny9QgkSGo244OyurBauj_6xS4EUjZcsh8Wa4cnoT-RC4jAQ9r1S3jts5K-qDI_TP1EAlcuCMJn6JaaWdJwL0xx8MJw26S9o&file_name=/FAQ_PC-2.jpg" alt="">
        </div>
    </div>
    <div class="nav">
        <div class="nav_place col-lg">
            <!--<span style="color: #888">Home：</span>-->
            <ul>
                <li><a href="{:url('/'.$code.'/faq')}">FAQ</a></li>
                <li> > </li>
                <li class="addInnerHTML"><a href="{:url('/'.$code.'/faq/'.$faqCate.url_title)}">{$faqCate.name}</a></li>
                <li> > </li>
                <li class="addInnerHTML"><a href="javascript:;">{$faqName}</a></li>
            </ul>
        </div>
        <div class="nav_search">
            <form action="{:url('/'.$code.'/search/faq')}">
                <input type="text" name="key" placeholder="">
                <input type="submit" value="{$Think.lang.search}">
            </form>
        </div>
    </div>
</header>
{/block}
{block name="body"}
<!--section-->
<section>
    <aside class="aside_nav">
        <h3>FAQ<i class="icon-angle-right"></i></h3>
        <ul>
            {volist name="$cate" id="vo"}
            {if condition="$result.category_id eq $vo.id"}
            <li style="background-color: #ccc"><a href="{:url('/'.$code.'/faq/'.$vo.url_title)}" data-id="{$vo.id}">{$vo.name}</a></li>
            {else /}
            <li><a href="{:url('/'.$code.'/faq/'.$vo.url_title)}" data-id="{$vo.id}">{$vo.name}</a></li>
            {/if}
            {/volist}
        </ul>
    </aside>
    <main class="main_content">
        <div>
            <ul>
                <li>
                    <h5>{$result.problem}</h5>
                    <p>{$result.answer}</p>
                    <span>Update Time：{$result.update_time|strtotime|date="d/m/Y",###}</span>
                </li>
            </ul>
        </div>
        <!--分页-->
        <div>
            <div class="nav_page text-center col-lg-10 col-lg-offset-1 col-xs-12" style="padding:0">
                <ul class="pagination">

                </ul>
            </div>
        </div>
    </main>
</section>
{/block}
{block name="js"}
<script>
    $(document).ready(function(){
        if ($(document).width() < 768){
            $("section>.aside_nav>h3").click(function(){
                $(this).children("i").toggleClass("icon-angle-right").toggleClass("icon-angle-down");
                $(this).next("ul").slideToggle();
            })
        }
//        let asideNav = $("aside.aside_nav>ul>li>a");
//        for(let i=0;i<asideNav.length;i++){
//            asideNav.eq(i).click(function(){
//                $("header.FAQ>div.nav>div.nav_place>ul>li.addInnerHTML").html(this.innerHTML)
//            })
//        }
        $(".main_content img").addClass("img-responsive").addClass("center-block");
    })
</script>
{/block}