<!--继承框架-->
{extend name="mobile/base/base" /}
{block name="seo"}
<title>{$parent.seo_title} - Wavlink </title>
<meta name="description" content="{$parent.description}">
<meta name="keywords" content="{$parent.keywords}">
<link rel="stylesheet" href="__EN__/css/faq/faq.css" type="text/css">
{/block}
{block name="banner"}
<header class="FAQ">
    <div class="banner">
        <div>
            <img class="img-responsive center-block img_mobile" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=d459aJM0ToEt3H2-XWh9DXDToj9C6TL1fstEpxk5UJarGWNynIBxXTP1HhUA3SRE6NbkW-EW7Dx91FD-r-EEZfYC_JVLS-e0Hx0MSrauIKC8f5JICyavk4gzG68WenZZXAHO45QOkYURZQ&file_name=/3.jpg" alt="">
        </div>
    </div>
    <div class="nav">
        <div class="nav_place col-sm-6 col-xs-12">
            <!--<span style="color: #888">Home：</span>-->
            <ul>
                <li><a href="{:url('/'.$code.'/document')}">Documents</a></li>
                <li> > </li>
                {if condition="$parent.parent_id gt 0"}
                <li class="addInnerHTML"><a href="{:url('/'.$code.'/document/'.$parent.url_title)}">{$parent.name}</a></li>
                {/if}
            </ul>
        </div>
        <!--<div class="nav_search">-->
            <!--<form action="">-->
                <!--<input type="text" name="key" placeholder="">-->
                <!--<input type="submit" value="{$Think.lang.search}">-->
            <!--</form>-->
        <!--</div>-->
    </div>
</header>
{/block}
{block name="body"}
<!--section-->
<section>
    <aside class="aside_nav">
        <h3>Documents<i class="icon-angle-right"></i></h3>
        <ul>
            {empty name="$cate"}
            <li><a href="javascript:;">Sorry,no data.</a></li>
            {else /}
            {volist name="$cate" id="vo"}
            {if condition="$parent.name eq $vo.name"}
            <li style="background-color: #ccc"><a href="{:url('/'.$code.'/document/'.$vo.url_title)}" data-id="{$vo.id}">{$vo.name}</a></li>
            {else /}
            <li><a href="{:url('/'.$code.'/document/'.$vo.url_title)}" data-id="{$vo.id}">{$vo.name}</a></li>
            {/if}
            {/volist}
            {/empty}
        </ul>
    </aside>
    <main class="main_content">
        <div>
            <ul>
                {empty name="document"}
                <li>
                    <h5>Sorry,there is no data in this category.</h5>
                </li>
                {else /}
                {volist name="document" id="vo"}
                <li>
                    <h5><a href="{:url('/'.$code.'/document/details/'.$vo.url_title)}">{$vo.title}</a></h5>

                    <span>Update time:{$vo.update_time|strtotime|date="d/m/Y",###}</span>
                </li>
                {/volist}
                {/empty}
            </ul>
        </div>
        <!--分页-->
        <div>
            <div class="nav_page text-center col-lg-10 col-lg-offset-1 col-xs-12" style="padding:0">
                <ul class="pagination">
                   {:pagination($document)}
                </ul>
            </div>
        </div>
    </main>
</section>
{/block}
{block name="js"}
<script>
    $(document).ready(function(){

        if ($(document).width() < 768){
            $("section>.aside_nav>h3").click(function(){
                $(this).children("i").toggleClass("icon-angle-right").toggleClass("icon-angle-down");
                $(this).next("ul").slideToggle();
            })
        }
        let asideNav = $("aside.aside_nav>ul>li>a");
        for(let i=0;i<asideNav.length;i++){
            asideNav.eq(i).click(function(){

                $("header.FAQ>div.nav>div.nav_place>ul>li.addInnerHTML").html(this.innerHTML)
            })
        }
//        $("header.FAQ>div.nav>div.nav_place>ul>li>a").click(function(){
//
//            $("header.FAQ>div.nav>div.nav_place>ul>li.addInnerHTML").html(" ")
//        });
    })
</script>
{/block}