<!--包含头部文件-->
{include file="public/system_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        语言管理
        <span class="c-gray en">&gt;</span>
        已经停用语言列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20" style="min-height: 51em">
            <div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				</span>
                <span class="r">共有数据：<strong>{$counts}</strong> 条</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="20"><input type="checkbox" name="" value=""></th>
                        <th width="40">ID</th>
                        <th width="60">语言名称</th>
                        <th width="60">code标识</th>
                        <th>描述</th>
                        <th width="120">更新时间</th>
                        <th width="60">状态</th>
                        <th width="50">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="languages" id="vo"}
                    <tr class="text-l">
                        <td><input type="checkbox" value="{$vo.id}" name="id"></td>
                        <td>{$vo.id}</td>
                        <td class="text-l">{$vo.name}</u></td>
                        <td>{$vo.code}</td>
                        <td>{$vo.remark}</td>
                        <td>{$vo.create_time}</td>
                        <td class="td-status"><span class="label label-error radius">已停用</span></td>
                        <td class="f-14 td-manage">
                            <a style="text-decoration:none"
                               onClick="start('{:url(\'Language/byStatus\',[\'id\'=>$vo.id,\'status\'=>1])}')"
                               href="javascript:;" title="恢复">
                            <i class="Hui-iconfont" style="font-size: 20px;color: green">&#xe6dc;</i>
                        </a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{$languages->render()}</div>
        </article>
        {include file="public/explain" /}
    </div>
</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    $(document).ready(function () {
        $("#menu-language dt").addClass("selected");
        $("#menu-language dd").css("display", "block");
        $("#menu-language #language_stop").addClass("current");
        $("#system").addClass("current");
    });
</script>
</body>
</html>