{extend name="desktop/common/base"}
{block name="title"}{$result.seo_title}{/block}
{block name="seo"}
<!--私有页面SEO-->
<meta name="description" content="{$result.description}">
<meta name="keywords" content="{$result.keywords}">
{/block}
{block name="style"}
<!--私有样式文件-->
<link rel="stylesheet" href="__LIB__/JQZoom/product-magnifier.css">
<link rel="stylesheet" href="__DESKTOP__/css/page/product-detail.css">

{/block}
{block name="swiper"}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="g-path">
                <ol class="breadcrumb">
                    <li><a href="{$code}/index.html">HOME</a></li>
                    <li class="active">{$result.model}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            {empty name="result.image_pc_url"}
            <div class="feature-box">
                <div class="container">
                    <div class="zoom-box">
                        <div class="jqzoom">
                            <img jqimg="{$album}" src="{$album}" alt="{$result.name}">
                        </div>
                        <div class="spec-scroll">
                            <a class="prev">&lt;</a>
                            <div class="items">
                                <ul>
                                    {volist name="$albums" id="vo"}
                                    <li>
                                        <img bimg="{$vo}" src="{$vo}" onmousemove="preview(this);">
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                            <a class="next">&gt;</a>
                        </div>
                    </div>

                    <div class="des">
                        <h3 class="title">{$result.name}</h3>
                        <p class="mode">{$result.model}</p>
                        <div class="feature">
                            <ul>
                                {$result.features}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {else /}
            <div class="poster-box"><img src="{$result.image_pc_url}" alt="{$result.name}"></div>
            {/empty}
        </div>
    </div>
</section>
{/block}
{block name="body"}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="nav-table">
                <ul>
                    <li class="active">Overview</li>
                    <li>Specifications</li>
                    {notempty name="pDrivers"}<li><a href="/{$code}/drivers.html">Driver</a></li>
                    {/notempty}
                    <li><a href="/{$code}/faq.html">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="detail">
        {$result.content}
        <div class="offset-box" id="specification">
            {$result.specifications}
        </div>
    </div>
    <div id="go-top">
        <p>Top</p>
        <ul>
            <li>Overview</li>
            <li>Specifications</li>
            <li><a href="#">Driver</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
</section>
{/block}
{block name="javascript"}
<script src="__LIB__/JQZoom/jquery.jqzoom.js"></script>
<!--私有JS-->
<script>
    $(function () {
        $('#product').addClass('active');
    });
</script>

<script>
    //放大鏡模塊左右切換
    var prev = $("a.prev"),
        next = $("a.next"),
        li_length = $(".spec-scroll .items ul > li").length,
        li = $(".spec-scroll .items ul > li").eq(0).outerWidth(true),
        i = 0;

    next.click(function () {
        i++;
        if (i >= li_length) {
            i = li_length - 1;
            return false
        }
        prev.css({
            "background": "#f8b300",
            "borderColor": "#f8b300"
        });
        $(".spec-scroll .items ul").css({
            "margin-left": -(i * li) + "px"
        });
        if (i === li_length-1) {
            $(this).css({
                "background": "#eaeaea",
                "borderColor": "#eaeaea"
            })
        }
    });
    prev.click(function () {
        i--;
        next.css({
            "background": "#f8b300",
            "borderColor": "#f8b300"
        });
        if (i < 0) {
            i = 0;
            return false
        }
        $(".spec-scroll .items ul").css({
            "margin-left": -(i * li) + "px"
        });
        if (i === 0) {
            $(this).css({
                "background": "#eaeaea",
                "borderColor": "#eaeaea"
            })
        }
    })
</script>
<script>
    $(document).ready(function () {
        var headH = $(".g-nav").innerHeight(),           // 公共头部导航高度;
            posterH = $(".poster-box").innerHeight(),// 产品详情页title高度;
            featureH = $(".feature-box").innerHeight(),         // 放大镜的高度;
            nav_li = $(".nav-table > ul > li"),       // 产品详情页横行导航按钮;
            offsetox = $("#detail > div");       // 产品详情页内容;
        // 侧边导航部分js代码;
        var go_top = $("#go-top"),                // 侧边导航;
            go_topLi = $("#go-top li"),    // 产品详情页侧边导航按钮;
            go_topP = $("#go-top p");// 侧边导航 回到顶部按钮;

        function topBar () {
            var doc = $(document).scrollTop();
            if (doc >= posterH || doc >= featureH) {
                go_top.show(); // 侧边导航 回到顶部按钮;
            }
            if (doc <= posterH || doc <= featureH) {
                go_top.hide(); // 侧边导航 回到顶部按钮;
            }
        }
        function animateScroll (that) {
            var index = that.index();
            if(index<=1){
                var div_height = offsetox.eq(index).offset().top;           //对应下标的div到body高度
                var scroll_top = div_height - headH;       //需要的偏移量
                $("html,body").animate({"scrollTop":scroll_top},300); //偏移
            }
        }

        topBar();

        //go-top
        go_topP.click(function () {
            $("html,body").animate({"scrollTop": 0}, 300);
        });
        go_topLi.click(function () {
            animateScroll($(this))
        });

        //nav-table
        nav_li.click(function () {
            animateScroll($(this))
        });

        // 侧边导航的显示与隐藏;
        $(window).scroll(function () {
            topBar()
        });
    })
</script>
{/block}