<!DOCTYPE html>
<!--[if lte IE8]>
<script>
    window.location.href = "/en_us/base/ie.html";
</script>
<![endif]-->
<html>
<head>
    <meta name="360-site-verification" content="8f7eec409a11fdd9932c704d726296b2"/>
    <!--头部公共空间开始-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="stylesheet" href="__EN__/css/common/bootstrap.min.css" type="text/css">-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="__EN__/css/common/font-awesome.min.css" type="text/css">-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="__EN__/css/common/public-css.css" type="text/css">
    <link rel="stylesheet" href="__EN__/css/common/Related-video.css" type="text/css">
    <link rel="stylesheet" href="__EN__/css/common/Content-public-style.css" type="text/css">
    <link rel="stylesheet" href="__EN__/css/common/commonality.css" type="text/css">
    <!--<link href='http://fonts.font.im/css?family=Noto+Sans' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.font.im/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>-->
    <link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="__EN__/css/common/mescroll.min.css" type="text/css">
    <meta name="author" content="wavlink">
    <!--头部公共空间结束-->
    <!--私有页面属性-->
    {block name="seo"}

    {/block}
    <!--私有首页面属性结束-->
    <!--[if lte IE9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #callus {
            --call-us-form-header-background: #1E90FF;
            --call-us-header-text-color: #f5f9ff;
            position: fixed;
            bottom: 20px;
            right: 6px;
        }
    </style>
</head>
<body>
<div id="mescroll" class="mescroll">
    <!--头部导航之上的公告栏推荐位开始-->
    {block name="news"}

    {/block}
    <!--头部导航之上的公告栏推荐位结束-->

    <!-- wavlink睿因 产品页眉部分 -->
    <nav class="navbar navbar-default" style="z-index:9999; margin:0 !important;">
        <div class="container-fluid">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-xs-12" style="padding:0">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="display:none">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{:url('/'.$code.'/index')}">
                        <h1>
                            <img src="__EN__/img/wavlink-logo.png" height="32px" alt="{$seo.title}">
                        </h1>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12" style="padding:0">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- 2018-4-27 星期五 下午 删除div标签 内边距 padding:0 -->
                    <div class="col-md-9 col-sm-11" style="padding: 0">
                        <!-- col-lg-10 col-sm-12  style="padding-right:0" -->
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{:url('/'.$code.'/index')}">{:lang('home')} <span
                                    class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">PRODUCT <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {volist name="category" id="vo"}
                                    <li><a href="{:url('/'.$code.'/category/'.$vo.url_title)}">{$vo.name}</a></li>
                                    {/volist}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">SUPPORT <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{:url('/'.$code.'/drivers')}">Drivers</a></li>
                                    <li><a href="{:url('/'.$code.'/guest_book')}">{$Think.lang.GuestBook}</a></li>
                                    <li><a href="{:url('/'.$code.'/manual')}">{$Think.lang.manual}</a></li>
                                    <li><a href="{:url('/'.$code.'/faq')}">{$Think.lang.faq}</a></li>
                                    <li><a href="{:url('/'.$code.'/video')}">{$Think.lang.video}</a></li>
                                </ul>
                            </li>
                            <!--<li class="dropdown">-->
                            <!--<a href="#">Video</a>-->
                            <!--</li>-->
                            <li class="dropdown">
                                <a href="http://blog.wavlink.com/en-US/main.html" target="_blank">BLOG</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"> LANGUAGE <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {volist name="language" id="vo" }
                                    <li><a href="{:url('/'.$vo.code.'/index')}">{$vo.name}</a></li>
                                    {/volist}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {if condition= "($url == 'Category') OR ($url == 'Drivers') OR ($url == 'Search')"}
                    {else /}
                    <div class="search_box col-lg-3 col-md-3 col-sm-1 col-xs-12">
                        <p class="color-white icon-search icon-2x" style="display:none"></p>
                        <form action="{:url('/'.$vo.code.'/search/product')}" role="form" method="get" class="col-xs-12"
                              style="padding:0">
                            <!-- 2018-4-27 星期五 下午 删除 div.form-group 内边距 padding:0 -->
                            <div class="form-group col-lg-11 col-xs-12">
                                <input type="text" name="key" placeholder="The product name or keyword">
                                <input type="submit" value="Search" class="bg-black color-white">
                            </div>
                        </form>
                    </div>
                    {/if}
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <!-- wavlink睿因 产品页脚部分 -->
    <div class="max col-xs-12" style="padding:0">
        <!-- wavlink睿因 产品banner图 -->
        {block name="banner"}
        {/block}
        <!--主体内容开始-->
        {block name="body"}

        {/block}
    </div>
    {block name="ad"}

    {/block}
    <div class="footer_box col-xs-12" style="background:#3a3a3a; padding:0">
        <footer class="afterf">
            <dl class="col-md-2 col-sm-5">
                <dt><a href="#">ABOUT</a></dt>
                {volist name="about" id="vo"}
                <dd><a href="{:url('/'.$code.'/about/'.$vo.url_title)}">{$vo.name}</a></dd>
                {/volist}
            </dl>
            <dl class="col-md-3 col-sm-5">
                <dt><a href="{:url('/'.$code.'/article')}">NEWS</a></dt>
                {volist name="articleList" id="vo"}
                <dd><a href="{:url('/'.$code.'/article/details/'.$vo.url_title)}">{$vo.title|substr=0,40} </a></dd>
                {/volist}
            </dl>
            <dl class="col-md-3 col-sm-5">
                <dt><a href="{:url('/'.$code.'/document')}">DOCUMENTS</a></dt>
                {volist name="documentList" id="vo"}
                <dd><a href="{:url('/'.$code.'/document/details/'.$vo.url_title)}">{$vo.title|substr=0,40} </a></dd>
                {/volist}
            </dl>
            <dl class="col-md-2 col-sm-5">
                <dt><a href="#">SUPPORT</a></dt>
                <dd><a href="{:url('/'.$code.'/drivers')}">{$Think.lang.drivers}</a></dd>
                <dd><a href="{:url('/'.$code.'/guest_book')}">{$Think.lang.GuestBook}</a></dd>
                <dd><a href="{:url('/'.$code.'/faq')}">{$Think.lang.faq}</a></dd>
                <dd><a href="{:url('/'.$code.'/video')}">{$Think.lang.video}</a></dd>
            </dl>
            <dl class="col-md-2 col-sm-5">
                <dt><a href="#">Community&nbsp;&nbsp;</a></dt>
                <dd>
                    <a target="_blank" href="https://www.facebook.com/WavlinkOffical/" class="icon icon-facebook"></a>
                    <a target="_blank" href="https://twitter.com/WavlinkOfficial" class="icon icon-twitter"></a>
                    <a target="_blank" href="https://www.linkedin.com/company/wavlink-technology-ltd"
                       class="icon icon-linkedin"></a>
                </dd>
            </dl>
        </footer>
        <div class="w_body_footer_bottom bg-black color-white text-center col-xs-12">
            {$seo.information}
        </div>
    </div>
</div>
<call-us id="callus"
         style="position: fixed; bottom: 8px; right: 8px; z-index:9999;"
         phonesystem-url="https://mylivechat.west.3cx.us:5001/"
         party="wavlink"
         invite-message="Welcome. Any questions with Wavlink products,pls chat with us"
         allow-call="false"
         allow-video="false"
         allowfocus="true"
         operator-name="serviceGroup"
         operator-icon="http://cdn.speedytel.com/image/avatar.jpg"
         minimized="true"
         window-title="Let's chat"
         authentication="both">
</call-us>
<script type="text/javascript" src="__EN__/js/common/mescroll.min.js"></script>
<script type="text/javascript" src="__EN__/js/common/mescroll-option.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="__STATIC__/lib/js/callus.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__EN__/js/common/public-js.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function () {
        if ($(document).width() <= 768) {
            //创建MeScroll对象
            var mescroll = initMeScroll("mescroll", {
                down: {
                    auto: false,//是否在初始化完毕之后自动执行下拉回调callback; 默认true
                    callback: downCallback //下拉刷新的回调
                },
                up: {
                    auto: true,//初始化完毕,是否自动触发上拉加载的回调
                    isBoth: true, //上拉加载时,如果滑动到列表顶部是否可以同时触发下拉刷新;默认false,两者不可同时触发; 这里为了演示改为true,不必等列表加载完毕才可下拉;
                    callback: upCallback, //上拉加载的回调
                    isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                    toTop: { //配置回到顶部按钮
                        src: "img/mescroll_img/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                        //offset : 1000
                    }
                }
            });

            /*下拉刷新的回调 */
            function downCallback() {
                window.location.reload();
                //加载轮播数据..
                //...
                //加载列表数据
                getListDataFromNet(0, 1, function (data) {
                    //联网成功的回调,隐藏下拉刷新的状态
                    mescroll.endSuccess();
                    //设置列表数据
                    setListData(data, false);
                }, function () {
                    //联网失败的回调,隐藏下拉刷新的状态
                    mescroll.endErr();
                });
            }

            /*上拉加载的回调 page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
            function upCallback(page) {
                //联网加载数据
                getListDataFromNet(page.num, page.size, function (curPageData) {
                    //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
                    //mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
                    console.log("page.num=" + page.num + ", page.size=" + page.size + ", curPageData.length=" + curPageData.length);

                    //方法一(推荐): 后台接口有返回列表的总页数 totalPage
                    //mescroll.endByPage(curPageData.length, totalPage); //必传参数(当前页的数据个数, 总页数)

                    //方法二(推荐): 后台接口有返回列表的总数据量 totalSize
                    //mescroll.endBySize(curPageData.length, totalSize); //必传参数(当前页的数据个数, 总数据量)

                    //方法三(推荐): 您有其他方式知道是否有下一页 hasNext
                    //mescroll.endSuccess(curPageData.length, hasNext); //必传参数(当前页的数据个数, 是否有下一页true/false)

                    //方法四 (不推荐),会存在一个小问题:比如列表共有20条数据,每页加载10条,共2页.如果只根据当前页的数据个数判断,则需翻到第三页才会知道无更多数据,如果传了hasNext,则翻到第二页即可显示无更多数据.
                    mescroll.endSuccess(curPageData.length);

                    //设置列表数据
                    setListData(curPageData, true);
                }, function () {
                    //联网失败的回调,隐藏上拉加载的状态
                    mescroll.endErr();
                });
            }
        }
    });
</script>
<script>

    if ($(document).width() >= 768) {
        // 导航 一级导航按钮;
        var oneBtn = $("nav > div.nav_list > div > p");
        oneBtn.hover(function () {
            $(this).next("div").stop(true, false).fadeIn().siblings("div").fadeOut();
        });
        // 导航 鼠标离开一级导航内容,一级导航内容就隐藏;
        $("nav > div.nav_list > div > div").mouseleave(function () {
            $(this).fadeOut();
        });


        $("nav > div.nav_list > div > div.nav_list_cont > div.nav_btn > p").hover(function () {
            var ind = $(this).index();
            $("nav > div.nav_list > div > div.nav_list_cont > div.nav_list_cont > div").eq(ind).show().siblings().hide()
        });
    }


    if ($(document).width() <= 767) {
        var $oneBut = $("nav > div.nav_list > div > p");
        var bf = true;

        // 导航 一级导航按钮;
        $oneBut.click(function () {
            // 点击当前二级导航显示内容，其他隐藏;
            $(this).next("div.nav_list_cont").show().siblings("div.nav_list_cont").hide();
        });
        // 点击二级导航显示二级导航内容;
        $("nav > div.nav_list > div > div.nav_list_cont > div.nav_btn > p").click(function () {
            // 获取二级导航的索引值;
            var i = $(this).index();
            // 二级导航内容获取二级导航的索引值;
            $("nav > div.nav_list > div > div.nav_list_cont > div.nav_list_cont > div").eq(i).show().siblings().hide();
        })
    }
</script>
<!--分析代码开始-->
{$seo.analysis_code}
<!--分析代码结束-->
<!--私有业务js开始-->
{block name="js"}

{/block}
<!--私有业务js结束-->
</body>
</html>
