<!--包含头部文件-->
{include file="public/headers" /}
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 31px;">
                <span class="l"><a class="btn btn-primary radius" onclick="add('添加销售站点','{:url(\'/wavlink/product/shop_link/add\',[\'product_id\'=>$product_id])}',480,320)"
                                   href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加销售站点</a></span>
        <span class="r">共有数据：<strong>{notempty name="count"}{$count}{else /}0{/notempty}</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr>
                <th scope="col" colspan="14">销售列表</th>
            </tr>
            <tr class="text-c">
                <th width="40">ID</th>
                <th>销售站点</th>
                <th width="100">建议价格</th>
                <th width="80">加入时间</th>
                <th width="80">更新时间</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            {notempty name="data"}
            {volist name="data" id="vo"}
            <tr class="text-l">
                <td>{$vo.id}</td>
                <td><a href="{$vo.url}">{$vo.name}</a></td>
                <td>{$vo.price}</td>
                <td>{$vo.create_time|date='Y-m-d'}</td>
                <td>{$vo.update_time|date='Y-m-d'}</td>
                <td>
                    <a title="编辑" href="javascript:;"
                       onclick="add('编辑修改','{:url(\'/wavlink/product/shop_link/edit\',[\'id\'=>$vo.id])}',480,320)"
                       class="ml-5 btn btn-primary" style="text-decoration:none"><i class="Hui-iconfont" style="color: #fff">&#xe6df;</i>
                    </a>
                    <a title="删除" href="javascript:;"
                       onclick="recycle('{:url(\'/wavlink/product/shop_link/del\',[\'id\'=>$vo.id])}')"
                       class="ml-5 btn btn-danger" style="text-decoration:none"><i
                            style="font-size: 20px;color: #fff" class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
            </tr>
            {/volist}
            {/notempty}
            </tbody>
        </table>
    </div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
</body>
</html>