<!--包含头部文件-->
{include file="public/content_header" /}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        {$language_id|getLanguage}产品管理
        <span class="c-gray en">&gt;</span>
        {$language_id|getLanguage}产品列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <div class="Hui-article" style="padding:20px">
        <form method="get" action="{:url('Product/index')}">
            <div class="text-c"> 搜索名称：
                <input type="text" class="input-text" style="width:250px;"  placeholder="输入产品名称" id="" value="{$name}" name="name">
                <span class="select-box" style="padding: 6px 5px;width: 15%">
                    <select name="category_id" class="select">
                        <option value="">--选择分类名称--</option>
                        {volist name="category" id="vo"}
                        <option value="{$vo.id}" {if condition="$category_id eq $vo.id"} selected="selected" {/if}>{$vo.delimiter}{$vo.name}</option>
                        {/volist}
                    </select>
                </span>
                <button type="submit" class="btn btn-success"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </div>
            <input type="hidden" value="{$language_id}" id="language" name="language_id">
        </form>
        <article class="cl pd-20" style="min-height: 51em;padding: 5px 10px 0 10px">
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 31px;">
                <span class="l"> <a href="javascript:;" onclick="allRecycle('{:url(\'product/allRecycle\')}')" class="btn btn-danger radius"><i
                        class="Hui-iconfont">&#xe6e2;</i> 批量回收</a> <a class="btn btn-primary radius" onclick="index_add('添加{$language_id|getLanguageOne}产品','{:url('product/add',['language_id'=>$language_id])}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加{$language_id|getLanguage}产品</a></span>
                <span class="r">共有数据：<strong>{$counts}</strong> 条</span>
            </div>
            <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr>
                    <th scope="col" colspan="14">{$language_id|getLanguage}产品列表</th>
                </tr>
                <tr class="text-c">
                    <th width="20"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th width="40">缩略图</th>
                    <th>产品名称</th>
                    <th width="100">产品型号</th>
                    <th width="200">所属分类</th>
                    <th width="28">排序</th>
                    <th width="120">加入时间</th>
                    <th>搜索优化</th>
                    <th width="160">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="product" id="vo"}
                <tr class="text-l">
                    <td><input type="checkbox" value="{$vo.id}" name="id"></td>
                    <td>{$vo.id}</td>
                    <td class="text-c"> <img class="avatar size-M radius" src="{$vo.image_litpic_url}" ></td>
                    <td class="text-left"  title="{$vo.name}" >{$vo.name}</td>
                    <td class="text-left">{$vo.model}</td>
                    <td>{$vo.id|getChild}</td>
                    <td class="text-c listorder"><input type="text"  value="{$vo.listorder}" size="6" attr-id="{$vo.id}" name="listorder"></td>
                    <td>{$vo.create_time}</td>
                    <td class="text-c"><a href="javascript:void(0);" onclick="rankSearch(this)" data-id="{$vo.id}" class="ml-5 mark" style="text-decoration:none"><i class="Hui-iconfont i_size_color" >&#xe61b;</i></a></td>
                    <td class="td-manage">
                        <a title="编辑" href="javascript:;" onclick="index_edit('产品编辑','{:url(\'product/product_edit\',[\'id\'=>$vo.id,\'language_id\'=>$language_id])}')" class="ml-5 " style="text-decoration:none"><i  class="Hui-iconfont i_edit_color">&#xe6df;</i></a>
                        {empty name="$language_id"}
                        {else /}
                        <a title="置顶" href="javascript:;"  onclick="mark(this)" data-id ="{$vo.id}" data-type="4" data-map="{$category_id}" class="ml-5 mark" style="text-decoration:none"><i class="Hui-iconfont i_size_color" >&#xe684</i></a>
                        <a title="上移一位" href="javascript:;" onclick="mark(this)" data-id="{$vo.id}" data-type="3" data-map="{$category_id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont i_size_color" >&#xe6d6</i></a>
                        <a title="下移一位" href="javascript:;" onclick="mark(this)" data-id="{$vo.id}" data-type="2" data-map="{$category_id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont i_size_color" >&#xe6d5</i></a>
                        <a title="置底" href="javascript:;"  onclick="mark(this)" data-id ="{$vo.id}" data-type="1" data-map="{$category_id}" class="ml-5 mark" style="text-decoration:none"><i class="Hui-iconfont i_size_color" >&#xe674</i></a>
                        {/empty}
                        <a title="放入回收站" href="javascript:;" onclick="recycle('{:url(\'product/byStatus\',[\'id\'=>$vo.id,\'status\'=> -1])}')" class="ml-5" style="text-decoration:none"><i style="font-size: 20px;color: orange" class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>

                {/volist}
                </tbody>
            </table>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($product)}</div>

        </article>
        {include file="public/explain" /}
    </div>

</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    var SCOPE = {
        'listorder_url':"{:url('product/listorder')}",
        'sort_url':"{:url('product/sort')}",
        'rankSearch':"{:url('product/mark')}"
    };
    $(document).ready(function () {
        $("#menu-product dt").addClass("selected");
        $("#menu-product dd").css("display","block");
        var lan = $("input#language").val();
        var id = "#product_product_"+lan;
        $(id).addClass("current");
        $("#content").addClass("current");
    });
</script>
</body>
</html>