<!--包含头部文件-->
{include file="public/content_header" /}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        产品管理
        <span class="c-gray en">&gt;</span>
        产品列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <div class="Hui-article" style="padding:20px">

            <div class="text-c">
                <label for="category" style="padding-left: 20px"> 筛选 :</label>
                <span class="select-box" style="width: 250px; padding: 5px;margin-right: 20px">
                    <select name="category_id" id="category" class="select filter_by">
                        <option value="">--选择分类名称--</option>
                        {volist name="category" id="vo"}
                        <option value="{$vo.id}" {if condition="$category_id eq $vo.id" } selected="selected" {/if}>{$vo.delimiter}{$vo.name}</option>
                        {/volist}
                    </select>
                </span>
                <form method="get" action="{:url('Product/index')}" style="display: inline-block">
                {notempty name="$name"}
                <input type="text" class="input-text" style="width:250px;" placeholder="输入产品名称"  value="{$name}" name="name">
                {else /}
                <input type="text" class="input-text" style="width:250px;" placeholder="输入产品名称"  value="" name="name">
                {/notempty}
                <button type="submit" class="btn btn-success" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                </form>
            </div>
        <article class="cl pd-20" style="min-height: 51em;padding: 5px 10px 0 10px">
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 31px;">
                <span class="l"><a class="btn btn-primary radius" onclick="index_add('添加产品','{:url(\'product/add\')}')"
                                   href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加产品</a></span>
                <span class="r">共有数据：<strong>{$counts}</strong> 条</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr>
                        <th scope="col" colspan="14">产品列表</th>
                    </tr>
                    <tr class="text-c">
                        <th width="20"><input type="checkbox" name="" value=""></th>
                        <th width="40">ID</th>
                        <th width="40">缩略图</th>
                        <th>产品名称</th>
                        <th width="100">产品型号</th>
                        <th width="200">所属分类</th>
                        <th width="60">排序</th>
                        <th width="80">加入时间</th>
                        <th width="250">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="product" id="vo"}
                    <tr class="text-l">
                        <td><input type="checkbox" value="{$vo.id}" name="id"></td>
                        <td>{$vo.id}</td>
                        <td class="text-c"><img class="avatar size-M radius" src="{$vo.image_litpic_url}"></td>
                        <td class="text-left" title="{$vo.name}">{$vo.name}</td>
                        <td class="text-left">{$vo.model}</td>
                        <td>{$vo.id|getChild}</td>
                        <td class="text-c listorder"><input type="text" class="input-text input-sm"
                                                            value="{$vo.listorder}" attr-id="{$vo.id}" name="listorder">
                        </td>
                        <td>{$vo.create_time|date='Y-m-d'}</td>
                        <td class="td-manage">
                            <a title="编辑" href="javascript:;"
                               onclick="index_edit('产品编辑','{:url(\'product/product_edit\',[\'id\'=>$vo.id])}')"
                               class="ml-5 btn btn-primary" style="text-decoration:none"><i class="Hui-iconfont"
                                                                                            style="color: #fff">&#xe6df;</i></a>
                            <a title="放入回收站" href="javascript:;"
                               onclick="recycle('{:url(\'product/byStatus\',[\'id\'=>$vo.id,\'status\'=> -1])}')"
                               class="ml-5 btn btn-danger" style="text-decoration:none"><i
                                    style="font-size: 20px;color: #fff" class="Hui-iconfont">&#xe6e2;</i></a>
                            {empty name="$language_id"}
                            {else /}
                            <a title="上移一位" href="javascript:;" onclick="up_down(this)" data-id="{$vo.id}" data-type="+"
                               data-listorder="{$vo.listorder}" data-category_id="{$category_id}"
                               class="ml-5 btn btn-secondary" style="text-decoration:none"><i class="Hui-iconfont"
                                                                                              style="color: #fff">&#xe6d6</i></a>
                            <a title="下移一位" href="javascript:;" onclick="up_down(this)" data-id="{$vo.id}" data-type="-"
                               data-listorder="{$vo.listorder}" data-category_id="{$category_id}"
                               class="ml-5 btn btn-secondary" style="text-decoration:none"><i class="Hui-iconfont"
                                                                                              style="color: #fff">&#xe6d5</i></a>
                            <a title="置顶" href="javascript:;" onclick="mark_top(this)" data-id="{$vo.id}"
                               class="ml-5 btn btn-secondary" style="text-decoration:none"><i class="Hui-iconfont"
                                                                                              style="color: #fff">&#xe684</i></a>
                            {/empty}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{$page|raw}</div>

        </article>
        {include file="public/explain" /}
    </div>

</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    var SCOPE = {
        'listorder_url': "{:url('product/listorder')}",
        'sort_url': "{:url('product/sort')}"
    };

    function up_down(obj) {
        var url = '{:url(\'product/listorder\')}';
        var id = $(obj).data("id");//id
        var type = $(obj).data('type');
        var listorder = $(obj).data('listorder');
        var category_id = $(obj).data("category_id"); // 分类ID
        var postData = {
            'id': id,
            'type': type,
            'listorder': listorder,
            'category_id': category_id
        };
        $.ajax({
            type: 'post',
            url: url,
            dataType: 'json',
            data: postData,
            success: function (result) {
                if (result.status === 1) {
                    dialog.OK(result.data, result.jump_url);
                } else if (result.status === 0) {
                    dialog.error(result.data, result.title, result.btn);
                } else if (result.status === -1) {
                    dialog.toconfirm(result.data)
                }
            }
        })
    }

    function mark_top(obj) {
        var id = $(obj).data('id');
        var category_id = $(obj).data('category_id');
        var postData = {
            'id': id,
        };
        $.ajax({
            type: 'post',
            url: '{:url(\'product/mark\')}',
            dataType: 'json',
            data: postData,
            success: function (result) {
                if (result.status === 1) {
                    dialog.OK(result.data, result.jump_url);
                } else if (result.status === 0) {
                    dialog.error(result.data, result.title, result.btn);
                } else if (result.status === -1) {
                    dialog.toconfirm(result.data)
                }
            }
        });
    }

    $(document).ready(function () {
        // 筛选变化时 过滤
        $('.filter_by').change(function () {
            var category = $(this).children('option:selected').val();
            window.location.href = '/wavlink/product/index.html?category_id=' + category
        });
        $("#menu-product dt").addClass("selected");
        $("#menu-product dd").css("display", "block");
        $("#product_product").addClass("current");
        $("#content").addClass("current");
    });
</script>
</body>
</html>