/**
* @name: driver.less
* @description: 驅動列表页样式
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-09-16 10:30
*/
@import "../public/mixins";
@import "../public/variables";

//驅動列表布局样式
.box {
  .clearFix();
}
.g-main {
  background: none;
}
.item {
  padding: 10px 0 0;
  #border-radius(5px);
  .panel {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .panel .panel-heading {
    border-color: @borderColor;
    background: none;
    .title {
      font-size: 16px;
    }
  }
  .panel .panel-body {
    .info {
      .clearFix();
      margin-bottom: 5px;
      p {
        .fl();
        padding-right: 20px;
      }
      p span {
        display: inline-block;
        line-height: 20px;
      }
    }
    .mode {
      margin-bottom: 5px;
      p {
        .clearFix();
      }
      span {
        display: block;
        .text-overflow();
        .fl();
        width: 16.6667%;
        &:nth-of-type(1) {
          float: none;
        }
      }
    }
    .download {
      a {
        padding: 2px 12px;
        margin-right: 4px;
        font-size: 12px;
        border-color: #f8b300;
        &:hover {
          background: #ffc714;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .item .mode span {
    width: 25%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .item .mode span {
    width: 20%;
  }
}
//驅動列表布局样式結束