/**
* @name: driver.less
* @description: 驅動列表页样式
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-09-16 10:30
*/
@import "../public/mixins";
@import "../public/variables";

//驅動列表布局样式
.box {
  .clearFix();
}
.g-main {
  background: none;
}
.item {
  padding: 20px 0 0;
  #border-radius(5px);
  .panel {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .panel .panel-heading {
    border-color: @borderColor;
    background: none;
    .title {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .panel .panel-body {
    .info {
      p {
        margin-bottom: 10px;
      }
      p span {
        display: inline-block;
        line-height: 20px;
        color: @whiteSmoke;
        &:nth-of-type(1) {
          color: @baseColor;
          font-weight: 700;
        }
      }
    }
    .mode {
      margin-bottom: 10px;
      div {
        margin-bottom: 5px;
        font-weight: 700;
      }
      p {
        .clearFix();
        border-left: 1px solid @borderColor;
        border-top: 1px solid @borderColor;
      }
      span {
        display: block;
        .text-overflow();
        .fl();
        width: 16.6667%;
        padding: 0 5px;
        line-height: 36px;
        color: @whiteSmoke;
        border-right: 1px solid @borderColor;
        border-bottom: 1px solid @borderColor;
      }
    }
    .download {
      .download-list {
        font-size: 14px;
        font-weight: 700;
      }
      a.btn {
        padding: 2px 12px;
        margin-right: 4px;
        font-size: 12px;
        border: none;
        &:hover {
          background: none;
          .iconfont {
           color: @activeColor;
          }
        }
      }
      a .iconfont {
        font-size: 30px;
      }
      a.all .iconfont {
        color: @activeColor;
      }
      a.windows .iconfont {
        color: #00ADEF;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .item .mode span {
    width: 25%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .item .mode span {
    width: 20%;
  }
}
//驅動列表布局样式結束