/**
* @name: driver.less
* @description: 驅動列表页样式
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-09-16 10:30
*/
.boxbefore,
.box:after {
  content: " ";
  display: table;
  zoom: 1;
}
.box:after {
  clear: both;
}
.g-main {
  background: none;
}
.item {
  padding: 10px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.item .panel {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.item .panel .panel-heading {
  border-color: #eaeaea;
  background: none;
}
.item .panel .panel-heading .title {
  font-size: 16px;
}
.item .panel .panel-body .info {
  margin-bottom: 5px;
}
.item .panel .panel-body .infobefore,
.item .panel .panel-body .info:after {
  content: " ";
  display: table;
  zoom: 1;
}
.item .panel .panel-body .info:after {
  clear: both;
}
.item .panel .panel-body .info p {
  float: left;
  padding-right: 20px;
}
.item .panel .panel-body .info p span {
  display: inline-block;
  line-height: 20px;
}
.item .panel .panel-body .mode {
  margin-bottom: 5px;
}
.item .panel .panel-body .mode pbefore,
.item .panel .panel-body .mode p:after {
  content: " ";
  display: table;
  zoom: 1;
}
.item .panel .panel-body .mode p:after {
  clear: both;
}
.item .panel .panel-body .mode span {
  display: block;
  float: left;
  width: 16.6667%;
}
.item .panel .panel-body .mode span:nth-of-type(1) {
  float: none;
}
.item .panel .panel-body .download a {
  padding: 2px 12px;
  margin-right: 4px;
  font-size: 12px;
  border-color: #f8b300;
}
.item .panel .panel-body .download a:hover {
  background: #ffc714;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .item .mode span {
    width: 25%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .item .mode span {
    width: 20%;
  }
}
