/**
* @name: product-detail.less
* @description: 產品詳情樣式
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-09-23 15:10
*/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  z-index: 10;
}
.text-center {
  text-align: center;
}
.color-white {
  color: #fff;
}
.g-path {
  margin: 0 auto;
  border-bottom: 1px solid #eaeaea;
}
.feature-box {
  padding: 40px 0;
  background: #fff;
}
.feature-boxbefore,
.feature-box:after {
  content: " ";
  display: table;
  zoom: 1;
}
.feature-box:after {
  clear: both;
}
.feature-box .zoom-box {
  float: left;
  width: 40%;
}
.feature-box .zoom-box .spec-scroll .prev {
  background: #eaeaea;
  border-color: #eaeaea;
  color: #333;
}
.feature-box .zoom-box .spec-scroll .next {
  background: #f8b300;
  border-color: #f8b300;
  color: #333;
}
.feature-box .des {
  float: left;
  width: 60%;
  padding-left: 40px;
}
.feature-box .des .title {
  font-size: 18px;
}
.feature-box .des .mode {
  padding: 5px 0;
  font-size: 14px;
  color: #f8b300;
  border-bottom: 1px solid #eaeaea;
}
.feature-box .des .feature {
  margin: 20px 0 0 20px;
}
.feature-box .des .feature li {
  list-style-type: circle;
  padding: 2px 0;
}
.feature-box .des .store {
  margin: 20px 0;
}
.feature-box .des .store span {
  display: inline-block;
  width: 220px;
  height: 36px;
  line-height: 36px;
  margin: 0 18px 18px 0;
  text-align: center;
  border: 1px solid #f8b300;
}
.feature-box .des .store span a {
  display: block;
  color: #333;
}
.feature-box .des .store span a:hover {
  background: #f8b300;
  color: #fff;
}
.feature-box .container {
  width: 70%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .feature-box .container {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .feature-box .container {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .feature-box .zoom-box {
    width: 80%;
    margin: 0 10% 40px;
  }
  .feature-box .des {
    width: 80%;
    margin: 0 10%;
    padding-left: 0;
  }
}
.poster-box img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.nav-table {
  background: #fff;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.nav-table ul {
  margin: 0 auto;
  padding: 5px 20px;
}
.nav-table ulbefore,
.nav-table ul:after {
  content: " ";
  display: table;
  zoom: 1;
}
.nav-table ul:after {
  clear: both;
}
.nav-table ul li {
  float: left;
  cursor: pointer;
}
.nav-table ul li:nth-of-type(1),
.nav-table ul li:nth-of-type(2) {
  padding: 10px 20px;
}
.nav-table ul li a {
  display: block;
  padding: 10px 20px;
  color: #f8b300;
}
.nav-table ul li:hover {
  color: #f8b300;
}
.nav-table ul li:hover a {
  color: #f8b300;
}
.nav-table ul .active {
  background: #f8b300;
}
.nav-table ul .active:hover {
  color: #333;
}
@media screen and (min-width: 1200px) {
  .nav-table ul {
    width: 83.333%;
  }
}
@media screen and (max-width: 1199px) {
  .nav-table ul {
    width: 100%;
  }
}
#detail .offset-boxbefore,
#detail .offset-box:after {
  content: " ";
  display: table;
  zoom: 1;
}
#detail .offset-box:after {
  clear: both;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #detail-des div[class^="detail_page"] strong {
    font-size: 16.8px;
  }
  #detail-des div[class^="detail_page"] p {
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1199px) {
  #detail-des div[class^="detail_page"] strong {
    font-size: 21px;
  }
  #detail-des div[class^="detail_page"] p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1366px) {
  #detail-des div[class^="detail_page"] strong {
    font-size: 28px;
    font-weight: bold;
  }
  #detail-des div[class^="detail_page"] p {
    font-size: 17.5px;
  }
}
@media screen and (min-width: 1367px) {
  #detail-des div[class^="detail_page"] strong {
    font-size: 35px;
    font-weight: bold;
  }
  #detail-des div[class^="detail_page"] p {
    font-size: 20px;
  }
}
#detail-des div[class^="detail_page"] strong {
  display: inline-block;
  margin-bottom: 2%;
}
#specification {
  padding: 4% 0;
  background: #fff;
}
#specification ul > li {
  min-height: 50px;
  height: auto !important;
  _height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}
#specification ul > li.li_title > strong {
  color: #333;
  line-height: 20px;
  vertical-align: middle;
}
#specification ul > li:first-child > strong {
  font-size: 15px;
}
#specification ul > li > strong {
  padding: 0 15px !important;
  color: #666;
}
#specification ul > li > div > p {
  line-height: 24px;
  color: #666;
  font-size: 12px;
}
#specification ul > li > div {
  padding: 15px !important;
  border-left: 1px solid #eaeaea;
}
#go-top {
  display: none;
  position: fixed;
  top: 50%;
  right: 10px;
  z-index: 999;
  width: auto;
  margin-top: -50px;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#go-top p {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #eaeaea;
  background: #f8b300;
  cursor: pointer;
}
#go-top ul li {
  width: 110px;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}
#go-top ul li:nth-last-of-type(1) {
  border-bottom: none;
}
#go-top ul li:hover {
  color: #f8b300;
}
#go-top ul li:hover a {
  color: #f8b300;
}
#go-top ul li a {
  display: block;
  color: #333;
}
/*# sourceMappingURL=product-detail.css.map */