/**
* @name: article.less
* @description: article列表樣式
* @author: Alan(alan_webdeveloper@163.com)
* @update: 2019-11-25 10:00
*/
@import "../public/mixins";
@import "../public/variables";

.g-main {
  background: none;
}
.g-pagination {
  margin: 10px 0;
  .pagination {
    .clearFix();
    margin: 15px 0;
    li {
      display: block;
      .fl();
      margin: 0;
    }
  }
  .pagination>li>a:focus,
  .pagination>li>a:hover {
    border-color: @activeColor
  }
}

.search-product .item {
  .clearFix();
  padding: 15px;
  background: @whiteColor;
  border-bottom: 1px solid @borderColor;
  &:nth-last-of-type(1) {
    border-bottom: none;
  }
  .img-box {
    display: block;
    .fl();
    width: 20%;
  }
  .img-box a {
    #img-optimize(56.25%, @bodyBgColor);
    border: 1px solid transparent;
    &:hover {
      border: 1px solid @activeColor;
    }
    img {
      .img-responsive();
      .center-block();
    }
  }
  .des {
    .fl();
    width: 80%;
    padding-left: 15px;
  }
  .des .breadcrumb {
    padding: 0;
    margin: 0;
    background: @whiteColor;
    a {
      color: @lightGrey;
      &:hover {
        color: @activeColor;
      }
    }
  }
  .des h2 {
    margin: 10px 0;
    font-size: 16px;
    a {
      color: @blackColor;
      &:hover {
        color: @activeColor;
      }
    }
  }
  .links {
    margin-top: 10px;
    a {
      color: @lightGrey;
      &:hover {
        color: @activeColor;
      }
    }
  }
}

.search-driver .item {

}