.g-nav #wavlink-back {
  float: right;
  margin: 13px 0;
  background: #fff;
  border-radius: 4px;
}
.g-nav #wavlink-back a {
  height: 34px;
  line-height: 34px;
  color: #1D428A;
}
.page-com-foot {
  padding: 40px 0 30px;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #eaeaea;
  background: #333;
  text-align: center;
}
.page-com-foot .foot-nav li {
  display: inline-block;
}
.page-com-foot .foot-nav li:nth-last-of-type(1) a:after {
  display: none;
}
.page-com-foot .foot-nav li a {
  position: relative;
  padding: 0 8px;
  color: #fff;
}
.page-com-foot .foot-nav li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #fff;
}
.page-com-foot .copy-right {
  padding: 5px 0 10px;
}
.banner .swiper-wrapper {
  height: auto;
}
.banner .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.banner .swiper-pagination {
  position: absolute;
  bottom: 10px;
}
.banner .swiper-button-prev,
.banner .swiper-container-rtl .swiper-button-next {
  background-image: url("//files2.wavlink.com/images/hr-job/Left_M.png");
}
.banner .swiper-button-next,
.banner .swiper-container-rtl .swiper-button-prev {
  background-image: url("//files2.wavlink.com/images/hr-job/Right_M.png");
}
.home-title-box {
  padding-bottom: 40px;
  text-align: center;
}
.home-title-box .title {
  position: relative;
  margin-bottom: 40px;
}
.home-title-box .title span {
  font-size: 32px;
  line-height: 45px;
}
.home-title-box .title div {
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -40px;
  width: 80px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.05);
}
.home-title-box p {
  font-size: 14px;
}
.home-company {
  padding: 60px 15px 80px;
  text-align: center;
  background: #f8f9fa;
}
.home-company p {
  max-width: 1050px;
  margin: 15px auto;
  text-align: left;
  text-indent: 28px;
  line-height: 24px;
  color: #888;
}
.home-job-box {
  background: #f2f2f2;
}
.home-job-box .wavlink-job {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .home-job-box .wavlink-job {
    width: 83.333%;
    padding: 60px 0 80px;
  }
}
@media screen and (max-width: 1199px) {
  .home-job-box .wavlink-job {
    width: 100%;
    padding: 60px 15px 80px;
  }
}
.home-job-box .wavlink-job .job-search {
  width: 50%;
  margin: 0 auto 36px;
  text-align: center;
}
.home-job-box .wavlink-job .job-search form {
  width: 100%;
  display: flex;
}
.home-job-box .wavlink-job .job-search input {
  height: 36px;
}
.home-job-box .wavlink-job .job-search input[type='text'] {
  flex: 1;
  padding: 0 15px;
  color: #a2a4a8;
  background: #fff;
  border: 1px solid #eaeaea;
  border-right: none;
  border-radius: 2px 0 0 2px;
  transition: border 0.3s;
}
.home-job-box .wavlink-job .job-search input[type='text']:focus {
  border-color: #1D428A;
}
.home-job-box .wavlink-job .job-search input[type='submit'] {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  padding: 0 23px;
  background: #1D428A;
  color: #fff;
  font-size: 14px;
  border-radius: 0 2px 2px 0;
}
.home-job-box .wavlink-job .job-list {
  display: flex;
  flex-wrap: wrap;
}
.home-job-box .wavlink-job .job-list .card {
  width: 33.333333%;
  padding: 3px;
}
.home-job-box .wavlink-job .job-list .card:nth-child(3n) {
  margin-right: 0;
}
.home-job-box .wavlink-job .job-list .card .job-msg-url {
  display: block;
  padding: 28px 30px 24px;
  background: #fff;
  transition: all, 0.3s;
}
.home-job-box .wavlink-job .job-list .card .job-msg-url:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.home-job-box .wavlink-job .job-list .card .job-msg-url:hover .job-title h3 {
  color: #1D428A;
}
.home-job-box .wavlink-job .job-list .job-title {
  display: flex;
}
.home-job-box .wavlink-job .job-list .job-title .lab {
  padding: 0 4px;
  background: #ff6b6b;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}
.home-job-box .wavlink-job .job-list .job-title h3 {
  flex: 1;
  margin: 0 4px;
  font-size: 20px;
  height: 56px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.home-job-box .wavlink-job .job-list .job-title h3 span:nth-of-type(2) {
  margin-left: 4px;
}
.home-job-box .wavlink-job .job-list .job-title p {
  font-size: 20px;
  color: #ff6b6b;
}
.home-job-box .wavlink-job .job-list .job-des span {
  color: #888;
}
.home-job-box .wavlink-job .job-list .job-des span:nth-of-type(2) {
  margin: 0 12px;
  padding: 0 12px;
  border-left: 1px solid #dddfe3;
  border-right: 1px solid #dddfe3;
}
.home-job-box .wavlink-job .more-job {
  text-align: center;
}
.home-job-box .wavlink-job .more-job a {
  display: inline-block;
  margin-top: 23px;
  padding: 12px 35px;
  font-size: 14px;
  line-height: 20px;
  background: #1D428A;
  color: #fff;
}
.home-welfare {
  position: relative;
  padding: 60px 15px 0;
  background: #fff;
}
.home-welfare .home-title-box {
  position: absolute;
  top: 6%;
  left: 50%;
  margin-left: -64px;
}
.home-welfare img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=social.css.map */