.swiper-slide:before  {
    content:"";
    display:block
}
.white_dl{
    color:#fff !important
}
.back_dl{
    color: #000 !important
}
#banner .arrow-left {
    background: url(../img/images/banner_arrow.png) no-repeat left top;
    position: absolute;
    left: 20px;
    top: 55%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    z-index:999
}
#banner .arrow-right {
    background: url(../img/images/banner_arrow.png) no-repeat left bottom;
    position: absolute;
    right: 20px;
    top:55%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    z-index:999;
}
#banner .pagination {
    position: absolute;
    left: 0;
    margin:0;
    text-align: center;
    bottom: 5px;
    width: 100%;
    z-index:100;
}
#banner .swiper-pagination-bullet {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #000000;
    margin: 0 3px;
    cursor: pointer;
    transform:scale(0.4,0.4);
    -webkit-transform:scale(0.4,0.4);
    -moz-transform:scale(0.4,0.4);
    -ms-transform:scale(0.4,0.4);
    -o-transform:scale(0.4,0.4);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

}
.xb:after{
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both
}
#banner .swiper-pagination-bullet-active{
    transform:scale(0.5,0.5);
}
#banner #mainTheme{

    letter-spacing: -3px;
    padding-top: 160px;
    margin-bottom:20px;
    color:#fff;
    text-align:center;
    position:relative;
    display:inline-block;
}
#banner #swiper-slide1 p{

    margin-bottom: 10px;
    font: normal 34px/400% microsoft yahei;
    /*text-align:center;*/
    letter-spacing:3px;
    text-shadow:0 0 5px #bbb
}

#banner #swiper-slide2 dt{
    /*2018.4.11修改字体大小；原始值48px*/
    font: normal 44px/200% arial,microsoft yahei;
    margin-top:180px;
}
#banner #swiper-slide2 dd{
    /*margin-bottom: 10px;*/
    /*2018.4.11修改字体大小；原始值22px*/
    font: normal 20px/180% microsoft yahei;
}

#banner .subbtn{
    text-align:center;
}
#banner .button{
    font-size:16px;
    /*color:#fff;*/
    color:#000;
    background:#fff;
    margin-right:1em;
    /*margin:0 7px;*/
    /*padding:10px 25px;*/
    padding:10px 0;
    border-radius:20px;
    margin-bottom:0.5em;
    text-decoration:none;
    /*border:1px solid #fff;*/
    border:1px solid #000
}
#banner .button:last-child {
    margin-right:0
}
@media screen and (width:320px){
    #banner #swiper-slide1 p {
        font-size:1.4em !important;
        margin-top:2em
    }
    #banner #mainTheme h1{
        font-size:6em !important;
    }
}
/*2018.2.26修改，解决首页除手机、768屏、1024屏、1366屏以外的其他屏幕排版混乱问题，
原css：@media screen and (width: 768px)*/
@media screen and (min-width:768px) and (max-width: 1023px) {
    #banner #swiper-slide2 dd{
        line-height: 40px;
    }
    #banner #swiper-slide2 dt{
        line-height: 40px;
    }
    .pagination {
        margin:0
    }
    #banner #mainTheme {
        margin-bottom: 21em !important
    }

    #banner #swiper-slide1 p {
        line-height: 2em;
    }

    #banner #swiper-slide1 p, #banner #swiper-slide2 dt {
        font-size: 22px
    }

    #banner .button, #banner #swiper-slide2 dd {
        font-size: 14px !important;
        padding: 0.5em 0
    }
    #banner .button, #banner #swiper-slide2 dd > button {
        font-size:12px !important
    }
    #banner #swiper-slide2 dd > img {
        height:40px !important
    }
    #banner #swiper-slide2 dt{
        margin-top: 28px;
    }
}
/*2018.2.26修改，解决首页除手机、768屏、1024屏、1366屏以外的其他屏幕排版混乱问题，
原css：@media screen and (width: 1024px)*/
@media screen and (min-width:1024px) and (max-width: 1365px) {
    #banner #swiper-slide2 dt{
        line-height: 50px;
    }
    #banner #swiper-slide2 dd{
        line-height: 50px;
    }
    .pagination {
        margin:0
    }
    #banner #swiper-slide1 p,#banner #swiper-slide2 dt {
        font-size:2em;
        margin-top:50px;
    }
    #banner #swiper-slide2 dd {
        margin-bottom:0
    }
    #banner .button,#banner #swiper-slide2 dd {
        font-size:1em !important;
    }
    #banner .button, #banner #swiper-slide2 dd > button {
        font-size:12px !important
    }
    #banner #swiper-slide2 dd > img {
        height:27px !important
    }
}
/*2018.2.26修改，解决首页除手机、768屏、1024屏、1366屏以外的其他屏幕排版混乱问题，
原css：@media screen and (width: 1366px)*/
@media screen and (min-width:1366px) and (max-width: 1700px) {
    #banner #swiper-slide2 dt {
        font-size:35px;
        margin-top:9%;
        line-height:51px
    }
    #banner #swiper-slide2 dd > img {
        height:40px !important
    }
    #banner .button, #banner #swiper-slide2 dd {
        font-size: 20px !important;
        line-height:68px
    }
}
@media screen and (min-width:1367px){
    #banner #swiper-slide2 dd > img {
        height:90px !important
    }
    #banner .button, #banner #swiper-slide2 dd {
        /*font-size: 20px !important;*/
        line-height:66px;
        padding: 0;
     }
    #banner .button, #banner #swiper-slide2 dt {
        line-height:66px
    }
    /*#banner #swiper-slide2:nth-child(3n+1) dt {*/
        /*font-size:30px !important*/
    /*}*/
}
@media screen and (min-width:320px) and (max-width:767px){
    #banner{background: #ffffff}
    #banner>.swiper-container>.swiper-wrapper>.swiper-slide>a>div>dl>dt{
        font-size: 22px !important;
    }
    #banner>.swiper-container>.swiper-wrapper>.swiper-slide>a>div{position:static !important; top: 75%!important;}
    #banner .pagination {
        /*display:none*/
        position:static !important;
    }

    #banner #mainTheme h1{
        font-size:7em
    }
    #banner #mainTheme {
        margin-bottom:21em
    }
    #banner #swiper-slide1 p {
        font-size:1.5em;
        margin-top:5em
    }
    #banner .arrow-right,#banner .arrow-left {
        display:none
    }
    #banner #swiper-slide2 dl{
        margin-bottom: 0;
        text-align:center
    }
    #banner #swiper-slide2 dl>dd>img{
        height: 38px!important;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    #banner #swiper-slide2 dt {
        margin-top:0 !important;
        margin-bottom: 10px;
        line-height: 30px;
        padding: 20px 0 0 0 !important;
        color: #000!important
    }
    #banner #swiper-slide2 dd.dd_2{
        text-align: center;
    }
    #banner #swiper-slide2 dd{
        color: #000!important;
        font-size: 1em;
        padding: 0 !important;
        line-height: 22px;
        margin-bottom: 0
    }

    #banner #swiper-slide2 dd:nth-last-of-type(1){
        display: none!important;
    }
}
@media screen and (min-width:318px) and (max-width:1366px){

    #banner .button{
        margin-bottom:0.5em
    }
}
#banner .mainbtn{
    text-align:center;
    margin-top:50px;
}
#banner .mainbtn a{
    font-size:16px;
    /*color:#3566f2;*/
    color:#000;
    margin:20px auto;
    padding:10px 25px;
    /*background: #fff;*/
    background:#bbb;
    border-radius:20px;
    text-decoration:none;
}


/*2018.4.18添加banner左右按钮*/
/*div#banner>div#bannerbutton>span{position: absolute;top: 45%;z-index: 999}
div#banner>div#bannerbutton>span.bannerbutton_left{left: 20px}
div#banner>div#bannerbutton>span.bannerbutton_right{right: 20px}
div#banner>div#bannerbutton>span>i{font-size: 40px;padding: 10px;background: rgba(0,0,0,.5);color: #fff;cursor: pointer}
div#banner>div#bannerbutton>span>i:hover{background: rgba(0,0,0,.7)}*/
