div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three {
    top: 6%
}

div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h2 {
    font-size: 32px!important;
    color: #ddd;
    font-weight: normal;
}

div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h3 {
    font-size: 18px;
    color: #ddd;
    width: 20%;
    margin-left: 40%;
    background: #0089E0;
    border-radius: 10px;
    padding: 2px 0!important;
}


/* wavlink睿因 产品推荐 start */
div.Rec > ul > li {
    padding: 0;
    height: 507px;
    overflow: hidden
}

div.Rec > div.pac {
    padding: 40px 0
}

div.Rec > div.pac > div {
    padding: 0;
    overflow: hidden
}

div.Rec > div.pac > div > img {
    width: 100%
}

div.Rec > div.pac > div {
    padding: 0.5em 0 0.5em 0.5em;
    overflow: hidden
}

div.Rec > div.pac > div > div {
    padding: 1em 0 !important;
    /*bottom: -40px;*/
    left: 0
}
/*2018.4.11修改首页列表字号*/
div.Rec > div.pac > div > div > h2{
    font-size: 16px!important;
    display: inline-block;
    width: 100%;
}
div.Rec > div.pac > div > div > div>a{
    font-size: 14px!important;
}
div.Rec > div.pac > div > div > div.details {
    margin:0 !important
}
div.Rec > div.pac > div > div > p, div.Rec > div.pac > div > div > div.details {
    margin: 5px 0;
    color:#333
}

div.Rec > div.pac > div > div > div.details > a {
    color: #578eff !important;
    padding: 0;
    display: inline
}

div.Rec > div.pac > div > div > div.details > a:first-child {
    margin-right: 10px
}

@media screen and (min-width:318px) and (max-width:767px){
    div.Rec > div.pac > div {
        padding: 0.5em 0.3em;
        overflow: hidden
    }
    div.Rec > div.pac { padding:10px 0 }
    div.Rec > div.pac > div > div { position:static; padding:0.5em 0 !important }
    div.Rec > div.pac > div > a > img {
        padding:5px !important
    }
}
/*2018.2.26修改，解决首页除手机、768屏、1024屏、1366屏以外的其他屏幕排版混乱问题，
原css：@media screen and (width: 768px)*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    div.Rec > div.pac { padding:20px 0 !important }
    div.Rec > div.pac > div {
        padding: 0 0 0.2em 0.2em
    }
    div.Rec > div.pac > div > div {
        position:static;
        padding: 0.5em 0 !important;
        /*bottom: -40px;*/
        left: 0
    }
    div.Rec > div.pac > div > a > img {
        padding:5px !important
    }
    div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h2 {
        font-size: 20px !important;
    }
    div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h3 {
        font-size: 16px;
    }
}
/*2018.2.26修改，解决首页除手机、768屏、1024屏、1366屏以外的其他屏幕排版混乱问题，
原css：@media screen and (width: 1024px)*/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    div.Rec > div.pac { padding:30px 0 }
    div.Rec > div.pac > div {
        padding: 0 0 0.4em 0.4em
    }

    div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h2 {
        font-size: 26px !important;
    }

    div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h3 {
        font-size: 16px;
    }
}
/*2018.2.26修改，解决首页除手机、768屏、1024屏、1366屏以外的其他屏幕排版混乱问题，
原css：@media screen and (width: 768px)*/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    div.Rec > div.pac > div > a > img {
        padding:8px !important
    }
    div.Rec > div.pac > div > div {
        padding: 0 0 8px 0 !important;
        position: static !important
    }
}
@media screen and (width: 1366px) {
    div.Rec > div.pac > div > div {
        bottom: -32px !important
    }

    /*1.12修改首页产品列表*/
    div.Rec > div.pac > div > div {
        padding: 12px 0 !important;
    }

    div.Rec > div.pac > div > div > div.details {
        margin: 0 !important;
    }
}
@media screen and (min-width: 1366px) {
    div.Rec > div.pac > div > div {
        bottom: -34px;
        transition: .3s linear;
        -webkit-transition: .3s linear;
        -moz-transition: .3s linear;
        -ms-transition: .3s linear;
        -o-transition: .3s linear;
        left: 6.8px
    }

    div.Rec > div.pac > div:hover > div {
        bottom: 0
    }

    /*div.Rec > div.pac > div > a > img {
        transition:.3s linear
    }
    div.Rec > div.pac > div:hover > a > img {
        transform:scale(1.01);
    }*/
}
/*首页第二屏手机样式*/
@media screen and (max-width: 767px) {

    div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three {
        position: static;
        padding: 20px 0 !important;
    }

    div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one {
        background: #fff !important;
    }

    /*div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > img{
        padding-bottom: 6em!important;
    }*/
    div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h2, div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h3 {
        font-size: 1.2em !important;
        color: #000
    }
    div#Detail_page_all > div.container-fluid > div.row > div.detail_page_one > div.text_title_three > h3{
        width: 100%;
        margin-left: 0;
        background: none;
        border-radius: 0;
    }
    div.Rec > div.pac > div > div > div.details{text-align: right;margin: 10px 0 5px!important;}
    div.Rec > div.pac > div > div > p{margin: 10px 0 5px!important}
}
@media screen and (min-width: 768px) and (max-width: 991px){
    div.Rec > div.pac > div > div > div.details{text-align: right;margin: 10px 0 5px!important;}
    div.Rec > div.pac > div > div > p{margin: 10px 0 5px!important}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    div.Rec > div.pac > div > div > div.details{text-align: right;margin: 10px 0 5px!important;}
    div.Rec > div.pac > div > div > p{margin: 10px 0 5px!important}
}
