<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<!--<link rel="stylesheet" href="__EN__/css/common/bootstrap.min.css" type="text/css">-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="__EN__/css/common/font-awesome.min.css" type="text/css">-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.0/css/font-awesome.min.css">
<link rel="stylesheet" href="__CN__/css/common/public-css.css" type="text/css">
<link rel="stylesheet" href="__CN__/css/common/Related-video.css" type="text/css">
<link rel="stylesheet" href="__CN__/css/common/Content-public-style.css" type="text/css">
<link rel="stylesheet" href="__CN__/css/common/commonality.css" type="text/css">
<!--<link href='http://fonts.font.im/css?family=Noto+Sans' rel='stylesheet' type='text/css'>-->
<!--<link href='http://fonts.font.im/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>-->
<link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="stylesheet" href="__CN__/css/common/mescroll.min.css" type="text/css">
<meta name="author" content="wavlink">

<!--私有首页面属性结束-->
<!--[if it IE9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->