<!DOCTYPE html>
<html lang="en">
<head>
    <!--头部公共因素-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--wavlink公共部分-->
    <link rel="stylesheet" href="__LIB__/Bootstrap/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" href="__LIB__/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__USER__/css/wavlink_user_public.css">
    <!--title-->
    {block name="title"}
    {/block}
    <!--wavlink用户中心私有部分-->
    {block name="style"}
    {/block}
    <!--私有业务结束-->
</head>
<body>
<div class="user_login">
    <div>
        {block name="right"}
        {/block}
        <div class="user_login_left">
            <h2>{:lang('Experience Center')}</h2>
            {:lang('notice for login')}
        </div>
    </div>
</div>
</body>
<script rel="stylesheet" src="__LIB__/JQuery/JQuery-3.4.0.js"></script>
<script src="__USER__/js/wavlink_user_public.js"></script>
{block name="js"}
{/block}
</html>