<div class="aside hidden-xs">
    <ul>
        <li><h3>{:lang('SERVICE')}</h3></li>
        <li><a id="warranty" href="/customer/warranty.html">{:lang('Warranty Card')} <i class="icon-angle-right"></i></a></li>
        <!--<li><a id="my_warranty" href="/customer/warranty.html">{:lang('My Warranty')} <i class="icon-angle-right"></i></a></li>-->
        <!--<li><a href="drivers_update.html">{:lang('Driver and firmware')} <i class="icon-angle-right"></i></a></li>-->
        <!--<li><a href="/customer/ticket.html">{:lang('Ticket')} <i class="icon-angle-right"></i></a></li>-->
    </ul>
    <ul>
        <li><h3>{:lang('USER INFO')}</h3></li>
        <li><a id="base_info" href="/customer/info.html">{:lang('Base Info')} <i class="icon-angle-right"></i></a></li>
        <!--<li><a href="messages.html">{:lang('Message')} <span>2</span> <i class="icon-angle-right"></i></a></li>-->
    </ul>
    <!--<ul>-->
        <!--<li><h3>优惠福利</h3></li>-->
        <!--<li><a href="#">测评名额 <i class="icon-angle-right"></i></a></li>-->
        <!--<li><a href="#">优惠券 <i class="icon-angle-right"></i></a></li>-->
        <!--<li><a href="#">依旧换新 <i class="icon-angle-right"></i></a></li>-->
    <!--</ul>-->
    <!--<ul>-->
        <!--<li><h3>订单中心</h3></li>-->
        <!--<li><a href="#">我的订单 <i class="icon-angle-right"></i></a></li>-->
    <!--</ul>-->
</div>