<div class="user_login_right">
    <div>
        <h1>
            <a href="https://www.wavlink.com">
                <img class="img-responsive center-block" src="__USER__/img/icon/wavlink_logo.png"
                     alt="{:lang('Experience Center')}"></a>
        </h1>
    </div>
    <div>
        <form action="" id="login">
            <div>
                <label for="username">{:lang('username')}:</label>
                <input id="username" name="username" type="text" placeholder="{:lang('Input your first name')}">
            </div>
            <div>
                <label for="type">{:lang('Email')}:</label>
                <input id="type" name="email" attr-name="email" type="email" placeholder="{:lang('Input your E-mail')}">
                <button type="button" id="send_code">发送</button>
            </div>
            <div>
                <label>{:lang('Verification')}</label>
                <div>
                    <input name="verification" type="text" placeholder="{:lang('Verification')}" datatype="*"
                           nullmsg="{:lang('Please input the verification code in the image on the right')}">
                </div>
            </div>
            <div>
                <label for="user_password">{:lang('Password')}:</label>
                <input id="user_password" name="password" type="password" placeholder="{:lang('Input your password')}">
            </div>
            <div>
                <label for="user_password_again">{:lang('confirm')}:</label>
                <input id="user_password_again" name="repassword" type="password"
                       placeholder="{:lang('Input your password again')}">
            </div>

            <div>
                <input id="declare" name="disclaimer" value="1" type="checkbox">
                <a href="#">{:lang('Disclaimer')}</a>
                <input id="is_subscribe" name="is_subscribe" value="1" type="checkbox" checked>
                <a href="#">{:lang('Subscribe me')}</a>
                <input type="hidden" name="type" value="1">
            </div>
            <button class="btn-success">{:lang('GO')}</button>
        </form>
    </div>
</div>