
.prohead {
    height: 150px;
    background: -webkit-linear-gradient(45deg, #020031, #6d3353);
    background: linear-gradient(45deg, #020031, #6d3353)
}

.juzhong {
    width: 100%;
    margin: 0 auto
}

.lefter {
    display: block;
    padding: 0
}

.picture {
    position: inherit;
    height: auto;
    padding-bottom: 30px
}

.jqzoom {
    border: none;
    position: relative;
    padding: 0;
    cursor: pointer;
    margin: 0;
    display: block
}

.jqzoom img {
    width: 100%;
    height: auto
}

.zoomdiv {
    z-index: 8;
    width: 600px;
    height: 602px;
    border: 1px solid #ccc;
    display: none;
    text-align: center;
    overflow: hidden
}

.jqZoomPup, .zoomdiv {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff
}

.jqZoomPup {
    z-index: 6;
    visibility: hidden;
    width: 10px;
    height: 10px;
    border: 1px solid #aaa;
    opacity: .5;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    filter: alpha(Opacity=50)
}

.spec-scroll {
    clear: both;
    margin-top: 5px;
    width: 100%
}

.spec-scroll .prev {
    float: left;
    margin-right: 4px
}

.spec-scroll .next {
    float: right
}

.spec-scroll .next, .spec-scroll .prev {
    display: block;
    text-align: center;
    width: 5%;
    height: 70px;
    line-height: 70px;
    border: 1px solid #ccc;
    background: #ebebeb;
    cursor: pointer;
    text-decoration: none
}

.spec-scroll .items {
    float: left;
    position: relative;
    width: 88%;
    height: 70px;
    overflow: hidden
}

.spec-scroll .items ul {
    position: absolute;
    width: 999999px;
    height: 70px
}

.spec-scroll .items ul li {
    float: left;
    width: 81px;
    text-align: center
}

.spec-scroll .items ul li img {
    border: 1px solid #ccc;
    padding: 2px;
    width: 72px;
    height: 70px
}

.spec-scroll .items ul li img:hover {
    border: 2px solid #f60;
    padding: 1px
}

.textInfo {
    /*2018.2.28修改，排版美化，去掉margin-left: 70px;*/
    margin-top: 20px;
    padding-bottom:20px;
    padding-left: 15px
}
/*2018.2.28添加，排版美化*/
.textInfo>form{padding-left: 30px}

.textInfo p {
    /* 2018-4-13 星期五 16:34 删除字体大小 font-size: 1.2em; */
    margin-bottom:20px;
    color:#00B0F2;
    margin-top:7px
}

.textInfo ul {
    padding: 2px 0 6px;
    margin-left: 22px
}

.textInfo li {
    padding: 6px 0;
    /* 2018-4-13 星期五 16:33 删除字体大小 font-size:1em */
}
/*2018.2.28修改，排版美化,原font-size:2.5em*/
.textInfo strong {
    /* 2018-4-14 星期六 11:17 修改字体大小 font-size:1.5em 改成 font-size:18px */
    font-size: 18px;
    font-weight: 400
}

@media screen and (min-width:769px) and (max-width:1024px){
    .textInfo {
        margin-top:0
    }
    /*.textInfo strong {*/
        /*!* 2018-4-14 星期六 11:05 修改字体大小 font-size:1.4em 改成 font-size:18px *!*/
        /*font-size:1.4em !important*/
    /*}*/
}

.textInfo a, .textInfo img {
    text-decoration: none;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    outline: none
}

.padding-default ul li img {
    width: auto
}

.imgwidth {
    width: 790px
}

.product-info img {
    width: 100%;
    height: 100%
}

.block {
    margin: 0 auto;
    height: 40px;
    clear: both
}

.blank {
    height: 15px;
    line-height: 15px;
    clear: both;
    visibility: hidden
}

#ur_here {
    font-size: 14px;
    height: 24px;
    line-height: 40px;
    padding-bottom: 20px;
    color: #414141
}

#ur_here a {
    color: #414141;
    text-decoration: none
}

.container.summary {
    padding: 30px 0 0
}

.nav.nav-tabs {
    border: none
}

.wrap_2 p {
    font-size: 16px;
    color: #333;
    line-height: 34px;
    max-width: 960px;
    margin: 0 auto
}

.wrap_2 h2 {
    font-weight: 700;
    font-style: italic;
    margin: 10px 0;
    color: #a6311c
}

.Parameter {
    display: block;
    margin: 0 auto;
    padding-top: 60px
}

.Parameter li {
    font-size: 18px;
    color: #333;
    max-width: 960px;
    list-style-type: circle;
    text-align: left
}

.kaobian {
    padding-left: 15px
}

.tab-pane {
    padding-bottom: 50px
}

.Description_wrap img {
    margin: 0 auto
}

.nav-tabs a:hover {
    color: #3c9
}

.protab {
    border-top: 1px solid #ddd
}

.protab .tab-pane {
    padding-bottom: 0
}

table {
    font-size: inherit;
    font-size: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: left
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 116px;
    background: -webkit-linear-gradient(45deg, #020031, #6d3353);
    background: linear-gradient(45deg, #020031, #6d3353)
}

.float-right {
    float: right
}

.float {
    float: left
}

.product-info-basic {
    border-top:2px solid #f2f2f2
}

.product-info-basic li {
    display: list-item;
    font-size:16px;
    list-style-type: circle;
    cursor:auto
}
@media screen and (min-width:318px) and (max-width:767px){
    div.path {
        /* 2018-4-15 星期三 下午 添加字体大小 font-size:12px */
        padding-left:4% !important;
        font-size:12px
    }
    .textInfo {
         margin-top: 0!important;
         margin-left: 14px !important;
        padding:0
    }
    /*2018.2.28添加，排版美化*/
    .textInfo>form{padding-left: 0}
    .textInfo li {
        /* 2018-4-25 星期三 下午 修改字体大小 font-size:16px 改成 font-size:14px */
        font-size: 14px
    }
    .jqZoomPup,.zoomdiv {
        display:none !important
    }
    .textInfo p {
        font-size: 1em
    }
    .textInfo{
        margin-left:20px
    }
    .textInfo strong {
        /* 2018-4-25 星期三 下午 修改字体大小 font-size:1.2em 改成 font-size:18px */
        font-size:18px
    }
}
@media screen and (width:768px){
    .juzhong {
        padding:0 !important
    }
    .textInfo {
        margin-top:0;
        margin-left:33px;
        padding-left:15px
    }
    .textInfo strong {
        /* 2018-4-19 星期二 17:14 修改字体大小 font-size:1.2em 改成 font-size:1.2em */
        font-size: 16px
    }
    .textInfo p,.textInfo li {
        /*2018.4.2修改字体大小，原始值1em*/
        font-size: .9em
    }
    .jqZoomPup,.zoomdiv {
        display:none !important
    }
}
@media screen and (width:1024px){
    div.path {
        padding-left:4% !important
    }
    .textInfo p,.textInfo li {
        font-size: 1em
    }
    .jqZoomPup,.zoomdiv {
        display:none !important
    }
    /*2018.3.1修改，原css margin-left:15px*/
    .textInfo {
        margin-left:0
    }
}
@media screen and (width:1152px){
    .textInfo strong {
        font-size:16px
    }
}
@media screen and (width:1280px){
    .textInfo strong {
        font-size:16px
    }
}
@media screen and (width:1360px){
    .textInfo strong {
        font-size:16px
    }
}
@media screen and (width:1366px){
    div.path {
        padding-left:13% !important
    }
    .textInfo strong {
        /*2018.4.2修改字体大小，原始值1.8em*/
        font-size:16px
    }
    .textInfo {
        padding-left:15px;
        margin-top:0
    }
    .lefter {
        margin-left: 12%
    }
}
@media screen and (width:1600px){
    div.max > div.path,.textInfo p {
        font-size:12px
    }
}
@media screen and (min-width:768px) and (max-width:1440px){
    div.path a,.textInfo p,div.D-nav > ul > li {
        font-size:12px
    }
}
@media screen and (min-width: 700px) {
    .overview-content {
        font-size: 20px
    }

    .product-info .h2-box {
        text-align: center
    }
}

@media screen and (max-width: 859px) {
    .overview-article .padding-default {
        width: 88%
    }

    .float-right {
        float: none
    }

    .overview-article .padding-default h3 {
        margin-top: 10px
    }

    .overview-article .padding-default p:last-child {
        margin-bottom: 0
    }

    .overview-article, .product-info .h2-box {
        padding-left: 20px
    }

    .overview-content {
        font-size: 14px
    }

    .product-info .specifications .container {
        margin-left: -120px
    }
}

.product-info .h2-box {
    background-color: #f0f2f8
}
.product-info h2 {
    padding: 22px 0 18px;
    line-height: 1em;
    font-size: 32px;
    font-weight: 500;
    color: #323232
}
.product-info .overview {
    color: #32343a
}
.product-info .overview.default {
    padding-top: 20px;
    padding-bottom: 50px
}
.product-info .overview.default .container > div {
    margin-bottom: 20px;
    font-size: 16px
}
.overview-content h3, .overview-content p {
    margin-bottom: .5em
}
.overview-content div:first-child .overview-article h3 {
    font-size: 60px;
    line-height: 1.2
}
.overview-content h3 {
    font-size: 36px;
    line-height: 1.2
}
.bg-gray {
    background-color: #f0f2f8
}
.product-info .h2-box {
    width: 100%
}
.product-info .specifications {
    font-size: 14px;
    color: #505258
}
.product-info .specifications .container {
    padding-top: 30px
}
.product-info .specifications table {
    width: 99%;
    overflow: hidden;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-spacing: 0
}
.product-info .specifications thead th {
    border-top: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #32343a
}
.product-info .specifications td, .product-info .specifications th {
    padding: 10px 50px;
    border: 1px solid #e6e8ee
}
.product-info .specifications th {
    padding-left: 120px;
    font-weight: 400;
    border-left: none;
    border-right: none
}
.product-info .specifications td {
    border-right: none;
    padding-right: 120px
}
.fontfff {
    color: #fff
}
@media (min-width: 992px) {
    .row .col-span-3 {
        width: 25%
    }
    .row .col-span-4 {
        width: 33.33333333333333%
    }
    .row .col-span-6 {
        width: 50%
    }
    .product-info-basic li {
        font-size:13px
    }
    /*div.path {*/
        /*padding-left:15px !important*/
    /*}*/
    div.go_top > ul.right_nav > li {
        font-size:12px
    }
}
@media screen and (min-width:1200px){
    .product-info-basic li {
        font-size:14px
    }
}
.row .col-span-3, .row .col-span-4, .row .col-span-6 {
    margin-bottom: 20px
}
.overview-article .row .col .padding-default {
    padding: 0 10px
}
.text-align-center {
    text-align: center
}
.img-height5 {
    height: 500px
}
.img-height {
    height: 840px
}
.img-height1 {
    height: 1000px
}
.img-height2 {
    height: 900px
}
.height2 {
    height: 460px;
    width: 100%
}
.img-kong {
    height: 450px;
    width: 660px
}
@media (max-width: 1200px) {
    .img-kong {
        height: 0;
        width: 0
    }
}
.overview-article {
    background-position: 50% 50% !important;
    background-size: cover !important
}
.overview-article .padding-default {
    padding: 70px 0
}
.overview-article .padding-default h3 {
    margin-top: 10px
}
.overview-article .padding-default .image-box {
    padding: 20px 34px;
    padding-top: 0
}
.overview-article .padding-default p:last-child {
    margin-bottom: 0
}
.overview-article .wenzigaodu {
    padding-top: 770px;
    padding-left: 6%
}
.overview-article .wenzigaodu1 {
    padding-top: 630px;
    padding-left: 3%
}
.overview-article .padbig {
    padding-right: 70%
}
.overview-article .padcenter {
    padding-right: 50%
}
.overview-article .padsmall {
    padding-right: 30%
}
.overview-article .width1 {
    width: 10%
}
.overview-article .width2 {
    width: 20%
}
.overview-article .width3 {
    width: 30%
}
.overview-article .width4 {
    width: 40%
}
.overview-article .width5 {
    width: 50%
}
.overview-article .width6 {
    width: 60%
}
.overview-article .width7 {
    width: 70%
}
.overview-article .width8 {
    width: 80%
}
.overview-article .width9 {
    width: 90%
}
.overview-article .heightpad {
    height: 5%
}
.overview-article .height6 {
    height: 60%
}
.text-white {
    color: #ffffff
}