<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__USER__/ui/public/components.css">
    <style>
        body {
            position: relative;
            background: none;
            height: 100%;
            padding: 20px;
        }
        #robot {
            /*position: absolute;*/
            /*top: 30%;*/
            /*left: 50%;*/
            /*margin-top: 0;*/
            /*margin-left: -25%;*/
        }
    </style>
</head>
<body>

<div id="robot"></div>
<p style="margin-top: 20px">{:lang('robot code tips')}
    <a href="mailto:Gavinz@wavlink.com">Contact@wavlink.com</a>
</p>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script src="https://www.recaptcha.net/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script type="text/javascript">
    window.sessionStorage.setItem('robot', 'false');
    var verifyCallback = function(response) {
        window.sessionStorage.setItem('robot', 'true');
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    };
    var expiredCallback = function (response) {
        window.sessionStorage.setItem('robot', 'false');
    };
    var errorCallback = function (response) {
        window.sessionStorage.setItem('robot', 'false');
    };
    var widgetId;
    var onloadCallback = function() {
        widgetId = grecaptcha.render('robot', {
            'sitekey' : '6Ld9AgMaAAAAAMfgMc7bJvGHB7CyYUSKRQTNBs1V',
            'theme' : 'light',
            'size': 'normal',
            'callback' : verifyCallback,
            'expired-callback': expiredCallback,
            'error-callback': errorCallback
        });
    };
</script>
</body>
</html>
