{extend name="mobile/common/base"}
{block name="seo"}
<title>{$result.seo_title}  - {:lang('slogan')}{:lang('powered by')}</title>
<meta name="description" content="{$result.description}">
<meta name="keywords" content="{$result.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/JQZoom/product-magnifier.css">
<link rel="stylesheet" href="__MOBILE__/css/page/product-detail.css">
{/block}
{block name="swiper"}
<div class="container-fluid">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="/{$code}/index.html">{:lang('home')}</a></li>
                <li><a href="/{$code}/category/{$result.id|getCategoryByPid|getUrlTitleByCid}.html">{$result.id|getCategoryByPid|getCNameByCid}</a></li>
                <li><a href="/{$code}/category/{$result.id|getCategoryByID|getUrlTitleByCid}.html">{$result.id|getCategoryByID|getCNameByCid}</a></li>
                <li class="active">{$result.model}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        {empty name="result.image_mobile_url"}
        <div class="feature-box">
            <div class="zoom-box">
                <div class="jqzoom">
                    <img jqimg="{$album}" src="{$album}" alt="{$result.name}">
                </div>
                <div class="spec-scroll">
                    <a class="prev">&lt;</a>
                    <div class="items">
                        {notempty name="$albums" id="vo"}
                        <ul>
                            {volist name="$albums" id="vo"}
                            <li>
                                <img bimg="{$vo}" src="{$vo}" onmousemove="preview(this);">
                            </li>
                            {/volist}
                        </ul>
                        {/notempty}
                    </div>
                    <a class="next">&gt;</a>
                </div>
            </div>
            <div class="des">
                <h3 class="title">{$result.name}</h3>
                <p class="mode">
                    <span>{:lang('Model')} {$result.model}</span>
                    {notempty name='$result.ean'}
                    <br />
                    <span>{:lang('Ean')} {$result.ean}</span>
                    {/notempty}
                </p>
                <div class="feature">
                    <ul>
                        {$result.features|raw}
                    </ul>
                </div>
            </div>
        </div>
        {else /}
        <div class="poster-box">
            <img src="{$result.image_mobile_url}" alt="{$result.name}">
        </div>
        {/empty}
    </div>
</div>
{/block}
{block name="body"}
<div class="container-fluid">
    <div class="row">
        <div class="nav-table">
            <ul>
                <li class="active">{:lang('Overview')}</li>
                <li>{:lang('Specifications')}</li>
                {notempty name="pDrivers"}<li><a href="/{$code}/drivers.html">{:lang('Driver')}</a></li>
                {/notempty}
                <li><a href="/{$code}/faq.html">{:lang('FAQ')}</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="detail">
    <div class="offset-box" id="detail_page_box">
        {$result.mobile_content|raw}
    </div>
    <div class="offset-box" id="specification">
        {$result.specifications|raw}
    </div>
</div>
<div id="go-top">
    <p><span class="iconfont">&#xe60b;</span></p>
</div>
{/block}
{block name="javascript"}
<script src="__LIB__/JQZoom/jquery.jqzoom.js"></script>
<script>
    //放大鏡模塊左右切換
    var prev = $("a.prev"),
        next = $("a.next"),
        li_length = $(".spec-scroll .items ul > li").length,
        li = $(".spec-scroll .items ul > li").eq(0).outerWidth(true),
        i = 0;

    next.click(function () {
        i++;
        if (i >= li_length) {
            i = li_length - 1;
            return false
        }
        prev.css({
            "background": "#f8b300",
            "borderColor": "#f8b300"
        });
        $(".spec-scroll .items ul").css({
            "margin-left": -(i * li) + "px"
        });
        if (i === li_length - 1) {
            $(this).css({
                "background": "#eaeaea",
                "borderColor": "#eaeaea"
            })
        }
    });
    prev.click(function () {
        i--;
        next.css({
            "background": "#f8b300",
            "borderColor": "#f8b300"
        });
        if (i < 0) {
            i = 0;
            return false
        }
        $(".spec-scroll .items ul").css({
            "margin-left": -(i * li) + "px"
        });
        if (i === 0) {
            $(this).css({
                "background": "#eaeaea",
                "borderColor": "#eaeaea"
            })
        }
    })
</script>

<script>
    $(document).ready(function () {
        var headH = $(".g-nav").innerHeight(),           // 公共头部导航高度;
            nav_li = $(".nav-table > ul > li"),       // 产品详情页横行导航按钮;
            offsetox = $("#detail > .offset-box");       // 产品详情页内容;
        function animateScroll(that) {
            var index = that.index();
            if (index <= 1) {
                var div_height = offsetox.eq(index).offset().top;           //对应下标的div到body高度
                var scroll_top = div_height - headH;       //需要的偏移量
                $("html,body").animate({"scrollTop": scroll_top}, 300); //偏移
            }
        }
        //nav-table
        nav_li.click(function () {
            animateScroll($(this))
        });
    })
</script>
{/block}