<!DOCTYPE html>
<html>
<head>
    <!--头部公共空间开始-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <link rel="stylesheet" href=__EN__/css/common/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="__EN__/css/common/font-awesome.min.css" type="text/css">
    <meta name="author" content="wavlink">
    <!--头部公共空间结束-->
    <!--私有页面属性-->
    <title>Wavlink</title>
    <meta name="description" content="描述">
    <meta name="keywords" content="keywords">
    <link rel="stylesheet" href="__EN__/css/common/Browser-upgrade-page.css">
    <!--私有首页面属性结束-->
</head>
<body>
<div class="container" style="width:1000px;margin:0 auto">
    <div class="row">
        <div class="header">
            <h1>Browser upgrade</h1>
            <p>If you are using an earlier version of Internet Explorer (IE11 or the browser using the kernel),
                you won't be able to access the site until you upgrade your browser.</p>
        </div>
        <div class="content">
            <p>Because Microsoft has no longer provided support and updates for Internet explorer 11 since January 12, 2016. That is,
                without browser itself security updates,
                your PC can be vulnerable to attack by harmful viruses, spyware, malware that will steal or damage your important data and information.
                Further information, please refer to Microsoft's support for earlier versions of Internet Explorer.
                Note: Support for Windows XP and earlier versions of Internet Explorer are ceased.
            </p>
            <hr />
            <h4>More advanced browsers</h4>
            <p>The following browsers are recommended. If your computer has any of them, you can use it directly .</p>
            <ul class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;padding:0">
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/-6317619799740042012.html?e=1970">
                        <img src="__EN__/img/ie/IE.png" alt="">
                        <p>Internet Explorer</p>
                    </a>
                </li>
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/6262355089742005676.html?e=1970">
                        <img src="__EN__/img/ie/Google.png" alt="">
                        <p>Google</p>
                    </a>
                </li>
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/3422649212502276885.html?e=1970">
                        <img src="__EN__/img/ie/Firefox.png" alt="">
                        <p>Firefox.png</p>
                    </a>
                </li>
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/-4337823077699367090.html?e=1970">
                        <img src="__EN__/img/ie/Safari.png" alt="">
                        <p>Safari</p>
                    </a>
                </li>
            </ul>
            <hr>
            <div style="width:100%">
                <h4>Why does this page appear?</h4>
                <p>If you don't know how to upgrade your browser, ask your computer-savvy friends. If you are a browser user of 360, browser, QQ browser, sogou, this will tell you to update to the latest version. </p>
                <hr>
                <h4>Boycott IE6, IE7, IE8, IE9, IE10</h4>
                <p>In order to compatible with this once dominant browser, web designers need to do a lot of code work. For the average user, the low versions of Internet Explorer is a security risk, and several major Trojan viruses in the history of Windows
                    have been exploited by using Internet explorer security vulnerabilities. So please join us in resisting the earlier versions of IE!</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="js/Common-js/bootstrap.min.js"></script>
</body>
</html>