{extend name="mobile/common/base" /}
{block name="seo"}
<title>{:lang('list of video')} {:lang('slogan')}{:lang('powered by')}</title>
<meta name="description" content="">
<meta name="keywords" content="">
{/block}
{block name="style"}
<link rel="stylesheet" href="__MOBILE__/css/page/video.css">
{/block}
{block name="swiper"}
<div class="container">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="/{$code}/index.html">{:lang('home')}</a></li>
                <li class="active">{:lang('video')}</li>
            </ol>
        </div>
    </div>
</div>
{/block}
{block name="body"}
<div class="container-fluid">
    <div class="row">
        <div class="main">
            <div class="g-filter">
                <!--<div class="des"><span>{:lang('list or video')}</span></div>-->
                <div class="filter">
                    <span>{:lang('filter by')} : </span>
                    <div class="select">
                        <select name="category" class="filter_by">
                            <option value="all">{:lang('All Category')}</option>
                            {volist name="cate" id="vo"}
                            {if($vo.level == 1)}
                            <option value="{$vo.url_title}" style="display: none" {if condition='$name eq $vo.name' }selected{/if}>{$vo.delimiter|raw}{$vo.name}</option>
                            {elseif($vo.level == 2)}
                            <option value="{$vo.url_title}" {if condition='$name eq $vo.name' }selected{/if}>{$vo.name}</option>
                            {else /}
                            <option value="{$vo.url_title}" {if condition='$name eq $vo.name' }selected{/if}>{$vo.delimiter|raw}{$vo.name}</option>
                            {/if}
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="result">
                    <span>{:lang('result')}{$count}</span>
                </div>
            </div>
            <div class="video-box">
                {notempty name="data"}
                {volist name="data" id="vo"}
                <div class="item">
                    <div class="thumbnail">
                        <a href="{$vo.urlabroad}">
                            <div class="img-box">
                                <img src="{$vo.image}" alt="...">
                                <div class="icon-box">
                                    <span class="iconfont">&#xe65c;</span>
                                </div>
                            </div>
                            <div class="caption">
                                <h4 class="title">{$vo.name}</h4>
                            </div>
                        </a>
                    </div>
                </div>
                {/volist}
                {/notempty}
            </div>
        </div>
    </div>
</div>
<div id="go-top">
    <p><span class="iconfont">&#xe60b;</span></p>
</div>
{/block}
{block name="javascript"}
<script>
    // 筛选变化时 过滤
    // 筛选变化时 过滤
    $('.filter_by').change(function () {
        var filter_by = $(this).children('option:selected').val();
        window.location.href = '/{$code}/video/category/' + filter_by + '.html'
    });
</script>
{/block}