<!DOCTYPE html>
<html>
<head>
    <!--头部公共空间开始-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <link rel="stylesheet" href=__CN__/css/common/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="__CN__/css/common/font-awesome.min.css" type="text/css">
    <meta name="author" content="wavlink">
    <!--头部公共空间结束-->
    <!--私有页面属性-->
    <title>升级您的浏览器，可以顺利的打开我们的网站。Wavlink</title>
    <meta name="keywords" content="keywords">
    <meta name="description" content="描述">
    <link rel="stylesheet" href="__CN__/css/common/Browser-upgrade-page.css">
    <!--私有首页面属性结束-->
</head>
<body>
<div class="container" style="width:1000px;margin:0 auto">
    <div class="row">
        <div class="header">
            <h1>您的浏览器太过老旧，您可以升级一下您的浏览器，访问网站更安全！</h1>
            <p>您正在使用一个IE浏览器，并且是在IE11以下的版本的浏览器，我们的官方网站为了达到最快速度和最优显示效果，不能支持IE11以下的浏览器。</p>
        </div>
        <div class="content">
            <h4>注意：不再支持XP系统和更早期的版本的IE浏览器访问</h4>
            <p>自2016年1月12日起，微软不再为Internetok Explorer 11提供支持和更新。如果没有重要的浏览器安全更新，您的电脑可能容易受到有害病毒、间谍软件和其他恶意软件的攻击，这些病毒、间谍软件和其他恶意软件可能会窃取或损坏您的业务数据和信息。请参阅微软对Internet Explorer早期版本的支持，该版本将于2016年1月12日结束。<a
                    href="http://soft.zol.com.cn/563/5630575.html">详情请点击</a></p>
            <hr />
            <h4>更高级，经过市场认证的浏览器</h4>
            <p>推荐以下浏览器的最新版本。如果您的计算机具有以下浏览器的最新版本，则可以直接使用此浏览器。</p>
            <ul class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;padding:0">
                <li>
                    <a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads">
                        <img src="__CN__/img/ie/IE.png" alt="">
                        <p>IE浏览器最新版</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.cn/chrome/">
                        <img src="__CN__/img/ie/Google.png" alt="">
                        <p>谷歌浏览器</p>
                    </a>
                </li>
                <li>
                    <a href="http://www.firefox.com.cn/">
                        <img src="__CN__/img/ie/Firefox.png" alt="">
                        <p>火狐浏览器</p>
                    </a>
                </li>
                <li>
                    <a href="http://xiazai.sogou.com/detail/34/8/-4337823077699367090.html?e=1970">
                        <img src="__CN__/img/ie/Safari.png" alt="">
                        <p>苹果浏览器</p>
                    </a>
                </li>
            </ul>
            <hr>
            <div style="width:100%">
                <h4>为什么会跳转到此页面？</h4>
                <p>如果你不知道升级你的浏览器意味着什么，问问你那些精通电脑的朋友。如果您不使用IE6/7/8/9/10，但360、浏览器、QQ浏览器、搜狗浏览器，出现此页面是因为您使用的不是最新版本的浏览器，请升级到最新版本。</p>
                <hr>
                <h4>您使用了 IE 6/7/8/9/10版本的浏览器</h4>
                <p>早期的windows IE 浏览器停止更新，很多黑客利用早期的浏览器漏洞进行攻击，对于网页设计者来说需要做大量的兼容代码工作。对普通用户则低版本的浏览器会造成用户信息泄露。现在的主流厂商都已经废弃早期的IE版本。所以请您尽快升级浏览器。</p>
            </div>
        </div>
        <hr>
        <div class="footer">

        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="__CN__/common/bootstrap.min.js"></script>
</body>
</html>