html,body{font-size: 14px;}

/*header nav_place*/
header.FAQ>div.nav{background: #fff;padding: 0 15px;width: 70%;margin-left: 15%}
header.FAQ>div.nav{margin-top: 20px}
header.FAQ>div.nav>div.nav_place{width: 70%;line-height: 42px;display: inline-block;float: left}
header.FAQ>div.nav>div.nav_place>ul,header.FAQ>div.nav>div.nav_place>ul>li{display: inline;font-size: 12px;color: #5698da}
header.FAQ>div.nav>div.nav_place>ul>li>a{display: inline;color: #5698da;font-size: 12px}

/*header nav_search*/
header.FAQ>div.nav>div.nav_search{width: 30%;display: inline-block;float: left;padding-top: 6px}
header.FAQ>div.nav>div.nav_search>form>input{height: 30px}
header.FAQ>div.nav>div.nav_search>form>input:nth-of-type(1){padding-left: 5px;width: 75%;float: left}
header.FAQ>div.nav>div.nav_search>form>input:nth-of-type(2){width: 25%;float: left;background: #999}

/*section aside_nav*/
section{width: 70%;margin: 20px 15% 20px;float: left}
section>aside.aside_nav{width: 25%;float: left;border: 1px solid #ddd;background: #fff}
section>aside.aside_nav>h3{font-size: 14px;height: 42px;line-height: 42px;padding-left: 15px;background: #f2f2f2}
section>aside.aside_nav>h3>i{display: none}
section>aside.aside_nav>ul>li>a{color: #888;height: 42px;line-height: 41px;border-top: 1px solid #ddd;padding-left: 15px}
section>aside.aside_nav>ul>li>a:hover{background: #f2f2f2}

/*section main_content*/
section>main{width: 72%;margin-left: 3%;background: #fff;float: left}
section>main>div>ul{margin: 20px}
section>main>div>ul>li{border: 1px solid #f2f2f2;margin-bottom: 20px;padding: 20px 20px;cursor: default;background: #f2f2f2}
section>main>div>ul>li>h5{padding-bottom: 20px;}
section>main>div>ul>li>p{padding-bottom: 20px}
section>main>div>div.main_content_detail{margin: 20px;padding: 20px;background: #f2f2f2}
section>main>div>div.main_content_detail>p{padding-bottom: 20px}
section>main>div>div.main_content_detail>h5{padding-bottom: 20px;line-height:20px;border-bottom: 1px solid #e6e6e6;font-size: 16px;font-weight: 700}
section>main>div>ul>li a{display: inline-block;color: #5698da!important;}

footer > div.w_body_footer_left > dl > dt{font-weight: normal!important;border-bottom: none}
footer > div.w_body_footer_left > dl > dd > a{color: #999!important;}

@media screen and (max-width: 767px) {
    section>aside>ul>li>a,
    section>main>div>ul>li p,section>main>div>ul>li span{font-size: 12px}
    header.FAQ>div.nav>div.nav_place>ul,
    header.FAQ>div.nav>div.nav_place>ul>li,
    header.FAQ>div.nav>div.nav_place>ul>li>a{display: inline}


    header.FAQ>div.nav{padding: 8px 15px;width: 100%;margin-left: 0;height: auto}
    header.FAQ>div.nav>div.nav_place{width: 100%;line-height: normal}
    header.FAQ>div.nav>div.nav_search{width: 70%;margin-left: 15%;padding-top: 8px}

    section{width: 100%;margin: 20px 0 10%;float: none}

    section>aside.aside_nav{width: 100%;float: none}
    section>aside.aside_nav>h3>i{display: block;font-size: 20px;float: right;line-height: 42px;padding-right: 15px}
    section>aside.aside_nav>ul{display: none}

    section>main{width: 100%;margin-left: 0;background: #fff;float: left}
    section>main>div>ul{margin: 15px}
    section>main>div>ul>li{padding: 15px}
    section>main>div>div.main_content_detail{margin: 15px;padding: 15px}
    section>main>div>div.main_content_detail>h5{font-size: 14px}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header.FAQ>div.nav>div.nav_search{padding-left: 5px}
    header>div.nav>div.nav_place>span,header>div.nav>div.nav_place a{font-size: 12px}
    section>aside>ul>li>a{font-size: 12px}
    section>main>div>ul>li p,section>main>div>ul>li span{font-size: 12px}

    header.FAQ>div.nav{width: 100%;margin-left: 0}
    header.FAQ>div.nav>div.nav_place{width: 70%}
    header.FAQ>div.nav>div.nav_search{width: 30%}

    section{width: 100%;margin-left: 0;padding: 0 15px}
    section>main>div>div.main_content_detail>h5{font-size: 14px}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    header.FAQ>div.nav>div.nav_search{padding-left: 5px}
    header>div.nav>div.nav_place>span,header>div.nav>div.nav_place a{font-size: 12px}
    section>aside>ul>li>a{font-size: 12px}
    section>main>div>ul>li p,section>main>div>ul>li span{font-size: 12px}

    header.FAQ>div.nav{width: 80%;margin-left: 10%}
    header.FAQ>div.nav>div.nav_place{width: 60%}
    header.FAQ>div.nav>div.nav_search{width: 40%}

    section{width: 80%;margin-left: 10%}
    section>main>div>div.main_content_detail>h5{font-size: 14px}
}