{extend name="base/main" /}
{block name="title"}
基本信息
{/block}
{block name="style"}

{/block}
{block name="main"}

{/block}
{block name="javascript"}
<!--私有JS-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
{/block}