<form action="" id="registerForm" method="post">
    <div class="info">
        <label for="username">{:lang('username')}<span> * </span></label>
        <input id="username" name="username" type="text" placeholder="{:lang('Please enter your name')}">
    </div>
    <div class="info">
        <label for="password">{:lang('Password')}<span> * </span></label>
        <input id="password" name="password" type="password" placeholder="{:lang('Please enter your password')}">
    </div>
    <div class="info">
        <label for="confirm">{:lang('confirm')}<span> * </span></label>
        <input id="confirm" name="confirm" type="password" placeholder="{:lang('Please enter your password again')}">
    </div>
    <div class="info">
        <label for="email">{:lang('Email')}<span> * </span></label>
        <input id="email" class="code" name="email" type="email" placeholder="{:lang('Please enter your phone number or e-mail address')}" >
        <button id="send_code" type="button"><span id="send_code_text">{:lang('send')}</span><span id="send_code_unit"></span></button>
    </div>
    <div class="info">
        <label for="captcha">{:lang('captcha')}<span> * </span></label>
        <input id="captcha" name="captcha" type="text" placeholder="{:lang('Please enter your e-mail captcha')}">
    </div>

    <div class="terms">
        <div>
            <input id="agree" name="agree" type="checkbox">
            <label for="agree">
                <span> * </span>
                {:lang('I accept the')}
                <a href="javascript:void(0);" onclick="layer_open('{:lang(\'Terms Of Use Notice\')}','{:url(\'terms\')}')"  >{:lang('Terms Of Use Notice')}</a>
                {:lang('and')}
                <a href="javascript:void(0);" onclick="layer_open('{:lang(\'Privacy agreement\')}','{:url(\'privacy\')}')">{:lang('Privacy agreement')}</a>
            </label>
        </div>
        <div>
            <input id="newsletter" name="is_subscribe" type="checkbox" value="1" checked>
            <label for="newsletter">
                {:lang('Subscribe me')}
            </label>
        </div>
    </div>

    <div class="btn-box">
        <input type="hidden" name="type" value="1">
        <button class="btn-submit" id="submit">{:lang('next')}</button>
    </div>
</form>