<form action="" id="registerForm" method="post">

    <div class="info">
        <label for="email">{:lang('Email')}<span> * </span></label>
        <input id="email" class="code" name="email" type="email" placeholder="{:lang('Please enter your phone number or e-mail address')}" >
        <button id="send_code" type="button">{:lang('send')}</button>
    </div>
    <div class="info">
        <label for="captcha">{:lang('captcha')}<span> * </span></label>
        <input id="captcha" name="captcha" type="text" placeholder="{:lang('Please enter your e-mail captcha')}">
    </div>
    <div class="btn-box">
        <input type="hidden" name="type" value="1">
        <button class="btn-submit" id="submit">{:lang('next')}</button>
    </div>
</form>