<form action="" id="registerForm" method="post">
    <div class="info">
        <label for="phone">{:lang('phone')}:</label>
        <input id="phone" class="code" name="phone"  type="text" placeholder="{:lang('Input your phone number')}">
        <button id="send_code" type="button">{:lang('send')}</button>
    </div>
    <div class="info">
        <label for="verification">{:lang('Verification')}<span> * </span></label>
        <input id="verification" name="verification" type="text" placeholder="">
    </div>

    <div class="btn-box">
        <input type="hidden" name="type" value="2">
        <button class="btn-submit" id="submit">{:lang('next')}</button>
    </div>
</form>