<form action="" id="registerForm" method="post">
    <div class="info">
        <label for="phone">{:lang('phone')}:</label>
        <input id="phone" class="code" name="phone"  type="text" placeholder="{:lang('Please enter your phone number or e-mail address')}">
        <button id="send_code" type="button"><span id="send_code_text">{:lang('send')}</span><span id="send_code_unit"></span></button>
    </div>
    <div class="info">
        <label for="captcha">{:lang('captcha')}<span> * </span></label>
        <input id="captcha" name="captcha" type="text" placeholder="{:lang('Please enter your e-mail captcha')}">
    </div>

    <div class="btn-box">
        <input type="hidden" name="type" value="2">
        <button class="btn-submit" id="submit">{:lang('next')}</button>
    </div>
</form>