<form action="" id="login">
    <div class="info">
        <label for="user_password">{:lang('Password')}<span> * </span></label>
        <input id="user_password" type="password" name="password" placeholder="{:lang('Please enter your password')}">
    </div>
    <div class="info">
        <label for="confirm">{:lang('confirm')}<span> * </span></label>
        <input id="confirm" name="confirm" type="password" placeholder="{:lang('Please enter your password again')}">
    </div>
    <div class="info">
        <label for="captcha">{:lang('captcha')}<span> * </span></label>
        <input id="captcha" type="text" name="captcha" placeholder="{:lang('Please enter your e-mail captcha')}">
        <div class="code-box" id="code-box">
            <a href="javascript:void(0);" onclick="genCode(this)"><img src="{:url('gen_verify')}" alt="captcha"/></a>
        </div>
    </div>
    <div class="btn-box">
        {if(!empty($email))}
        <input type="hidden" name="email" value="{$email}">
        {/if}
        <input type="hidden" name="id" value="{$id}">
        <input type="hidden" name="type" value="1">
        <button class="btn-submit">{:lang('submit')}</button>
    </div>
</form>