/*2017.12.28修改i标签字体取消加粗*/
div.container-fluid > div.row > section > div.detail_page_one > div.detail_page_text_cont > i {font-weight: normal}
div.nav_box {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}
div.D-nav {
    padding:5px 0 !important;
    line-height: 30px
}
div.D-nav > div {
    display:inline-block;
    padding: 4px 15px
}
div.D-nav > div > h2 {
    display:inline-block;
    font-size:18px;
    line-height:20px;
    vertical-align:middle
}
div.D-nav > ul:after {
    content:"";
    display:block;
    width:100%;
    height:0;
    clear:both;
    overflow:hidden
}
div.D-nav > div.mobile_nav_btn {
    display:none
}
div.D-nav > ul {
    display:inline-block;
    vertical-align: middle
}
div.D-nav > ul > li {
    float:left
}
div.D-nav > ul > li > span {
    padding:0 8px;
    height:100%;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    display:inline-block
}
div.D-tec > ul > li
{
    padding-top:0.5em !important;
    padding-bottom:0.5em !important
}
div.DetailsP > div.D-table > dl > dt,
div.DetailsP > div.D-table > dl > dd {
    line-height: 4em !important;
    border-bottom:1px solid #ccc;
    text-align: left;
    padding-left: 1em;
}
div.DetailsP > div.D-table > dl > dd {
    margin-bottom:4em;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc
}
div.DetailsP {
    margin-bottom: 80px;
    background:#fff
}
div.DetailsP > div#Detail_page_all{
    margin-bottom: 4em !important
}
div.DetailsP > div.D-child > img {
    width:100%
}
div.DetailsP > div.D-table,div.D-tec {
    padding:30px 0
}
div.DetailsP > div.D-table > h4 {
    padding:20px 0 20px 1em;
    font-weight:bold;
    background: rgba(0,0,0,.1)
}
div.DetailsP > div.D-table > table {
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0
}
div.DetailsP > div.D-table > table > tbody > tr > td,
div.DetailsP > div.D-dow > table > tbody > tr > td {
    padding:30px 0;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0
}
div.DetailsP > div.D-table {
    padding:0 !important
}
div.DetailsP > div.D-table > dl {
    margin-top:20px
}
div.DetailsP > div.D-table > table > tbody > tr > td:nth-child(1){
    text-align:center
}
div.DetailsP > div.D-table > table > tbody > tr > td:nth-child(2){
    text-indent:20px
}
div.DetailsP > div.D-table > table > tbody > tr > td:nth-child(2),
div.DetailsP > div.D-dow > table > tbody > tr > td:nth-child(2) {
    border-right:0
}
div.DetailsP > div.D-dow > table > tbody > tr > td > ul > li > a,
div.D-tec > ul > li > a {
    color:#000
}
div.go_top {
    right:0;
    top:50%;
    width:120px;
    cursor:pointer;
    padding:0.3em;
    box-shadow:0 0 5px #bbb;
    z-index:999
}
div.go_top > p.top {
    padding-top:0.5em;
    padding-bottom:0.5em
}
div.go_top > ul.right_nav > li {
    border-bottom:1px solid #bbb;
    box-shadow:0 0 0 transparent
}
div.go_top > ul.right_nav > li:last-child{
    border-bottom:none
}
div.go_top > ul.right_nav > li,div.go_top > a {
    padding:0.5em 12%
}
div.go_top > a:hover,
div.go_top > a:active,
div.go_top > a:visited,
div.go_top > a:link {
    color:red
}
@media screen and (min-width:318px) and (max-width:767px){
    div.nav_box {
        border-top:none;
        border-bottom:1px solid #ccc;
        border-top:1px solid #ccc
    }
    div.D-nav > div {
        width:100%;
        padding:15px;
        text-align:left;
        border-bottom:none !important
    }
    div.D-nav > div.mobile_nav_btn {
        padding:0 15px 15px !important;
        display:block
    }
    div.D-nav > div.mobile_nav_btn > p {
        font-size: 30px;
        background: #2e6da4;
        color: #fff;
        text-align: center !important
    }
    div.D-nav > ul {
        width:100%;
        padding:0 15px
    }
    div.D-nav > ul > li {
        font-size:13px;
        text-align:center;
        width:95px
    }
    div.container-fluid > div.row > ul:nth-child(1) > li.li_title {
        margin-top:0 !important;
        border-top:none
    }
    div.DetailsP > div.D-table > dl > dt {
        padding-top:2em;
        border-top:1px solid #ccc
    }
    div.DetailsP > div.D-table > h4 {
        padding:10px 0
    }
    div.DetailsP > div.D-table > dl > dt:nth-child(1){
        border-top:none
    }
    div.DetailsP > div.D-table > dl > dt,div.DetailsP > div.D-table > dl > dd {
        line-height:2em !important
    }
    div.go_top { display:none !important }
}
@media screen and (max-width:1024px){
    div.D-nav > ul {
        margin-right:0
    }
}
@media screen and (width:768px){
    div.DetailsP > div.D-table > dl > dt,div.DetailsP > div.D-table > dl > dd {
        line-height:2em !important
    }
    div.DetailsP > div.D-table > h4 {
        padding:10px 0
    }
    div.container-fluid > div.row > ul.col-sm-12 {
        width:83.33333333%;
        margin-left: 8.33333333%
    }
}
@media screen and (min-width:1024px) and (max-width:1365px){
    div.DetailsP > div.D-table > h4 {
        padding:15px 0
    }
}
@media screen and (min-width:1366px){

    div.go_top > ul.right_nav > li
    {
        font-size:12px
    }
}



/*产品参数样式开始*/
 div.container-fluid > div.row > ul {
     margin-bottom:0 !important
 }
div.container-fluid > div.row > ul > li {
    list-style:none;
    min-height:50px;
    line-height:50px;
    cursor:auto;
    border-bottom:1px solid #ccc
}
div.container-fluid > div.row > ul > li.li_title {
    border-bottom-color:#e2e2e2;
    padding:0 !important
}
div.container-fluid > div.row > ul:nth-child(1) > li.li_title{
    margin-top: 4%
}
div.container-fluid > div.row > ul:last-child > li:last-child {
    margin-bottom: 4%
}
div.container-fluid > div.row > ul > li.li_title > strong {
    color:#333;
    line-height: 20px;
    vertical-align:middle
}
div.container-fluid > div.row > ul > li:first-child > strong {
    font-size:15px
}
div.container-fluid > div.row > ul > li > strong {
    padding-left:1em !important;
    padding-right:1em !important;
    color:#666
}
div.container-fluid > div.row > ul > li > div > p {
    line-height:2 !important;
    color:#666;
    font-size:12px
}
div.container-fluid > div.row > ul > li > div > p:last-child {
    border-bottom:none
}
div.container-fluid > div.row > ul > li > div {
    border-left:1px solid #ccc;
    padding:15px !important
}
@media screen and (min-width:318px) and (max-width:767px){
    div.container-fluid > div.row > ul {
        padding:0 !important;
        background:#fff
    }
    div.container-fluid > div.row > ul > li > strong {
        line-height:2
    }
    div.container-fluid > div.row > ul > li {
        min-height:50px;
        padding:12px 0 !important
    }
    div.container-fluid > div.row > ul > li.li_title:after{
        border:none !important
    }
    div.container-fluid > div.row > ul > li.li_title {
        height:40px;
        min-height:40px;
        -webkit-height:auto;
        line-height:40px;
        background:#fbfbfb
    }
    div.container-fluid > div.row > ul > li > div {
        border:none;
        padding:0 15px !important
    }
}
@media screen and (min-width:768px){
    div.D-nav > ul > li {
        width:90px;
        padding:4px 0
    }
}
@media screen and (min-width:1024px){
    div.row > ul {
        width: 83.333333%;
        margin-left: 8.333333%;
    }
}
@media screen and (min-width:1200px){
    div.Nav-Box > div.container-fluid > div.row > ul {
        width:60%;
        margin-left:20%
    }
}
@media screen and (width:1024px){
    div.container-fluid > div.row > ul > li:first-child > strong {
        font-size:1em
    }
}
@media screen and (min-width:1300px){
    div.D-nav > ul > li {
        width:100px
    }
}
@media screen and (width:1366px){
    div.container-fluid > div.row > ul > li:first-child > strong {
        font-size:1em
    }
}
@media screen and (min-width:1500px){
    div.D-nav > ul > li {
        width:110px
    }
}
@media screen and (min-width:1600px){
    div.D-nav {
        width:80%;
        margin-left:10%
    }
}
/*参数样式结束*/