/* wavlink 产品列表 */
div.Pro_list > div.Pro_list_cont {
  padding:10px 0 0;
}
div.Pro_list > div.Pro_list_cont > div {
  padding:0.2em;
}
div.Pro_list > div.Pro_list_cont > div > a > div{
  padding:15px;
}

div.Pro_list > div.Pro_list_cont > div > a > div > h3 {
  line-height:1.2
}
div.Pro_list > div.Pro_list_cont > div > a > div > span {
  min-height:60px;
  color:#999;
  margin:8px 0
}
div.Pro_list > div.Pro_list_cont > div > a > div > p {
  display:inline-block;
  color:#999
}
div.Pro_list > div.Pro_list_cont > div > a > div > p:last-child {
  float:right
}

div.option > div.list_box > div > div {
  float:left
}
div.option > div > form > input::-webkit-input-placeholder {
  color: #bfbfbf
}

@media screen and (max-width: 767px) {
  div.option > div.list_box > div > div > p {
    min-height: 120px;
    padding: 0!important;
  }
}

@media screen and (min-width: 768px) {
  div.option > div.list_box > div > div {
    width: 19%;
    padding-left: 8px !important;
    padding-right: 8px !important
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  div.option > div.list_box > div > div {
    width: 14%
  }
}

@media screen and (min-width: 1200px) and (max-width: 1365px) {
  div.option > div.list_box > div > div {
    width: 14%;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1699px) {
  div.option > div.list_box > div > div {
    width: 12%;
  }
}

@media screen and (min-width: 1700px) {
  div.option > div.list_box > div > div {
    width: 10%;
  }
}

div.option > div.list_box > div > div > p {
  padding: 0 0 8px;
  transition:.2s linear;
  -webkit-transition:.2s linear;
  -moz-transition:.2s linear;
  -o-transition:.2s linear;
  -ms-transition:.2s linear
}
div.option > div.list_box > div > div > p:hover {
  background: rgba(0,0,0,.1)
}
div.option > div.list_box > div > div > p > a,
div.nav_path > div > a {
  color:#333;
  font-size:12px
}
div.option > div.list_box > div > div > p > a > img {
  width: 80px;
}

/*点击子分类后加的样式*/
div.option > div.list_box > div > div.category_child>p>a{
  color: #888 !important
}
div.option > div.list_box > div > div.category_child > p{
    background:#fcfcfc;
    box-shadow:0 0 15px #ddd inset
}

@media screen and (max-width:767px){
  div.search_product {
    padding:15px !important
  }
  div.option > div.list_box > div {
    padding:0 !important;
    margin-left:0;
    /*border:1px solid #f2f2f2*/
    position:relative
  }
  div.option > div.list_box > div:after {
    content:"";
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:0;
    border-bottom:1px solid #fff
  }
  div.option > div.list_box > div > div {
    padding:0
  }
  div.option > div.list_box > div > div:nth-child(1n) > p {
    border-right:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2
  }
  div.option > div.list_box > div > div:nth-child(3n+3) > p {
    border-right-color:transparent
  }
  div.option > div.list_box > div > div > p:hover {
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1)
  }
  div.option > div.list_box > div > div > p > a > img {
    padding:0.5em
  }
  div.option > div:nth-of-type(1) > div > a {
    padding:0.8em 0 !important;
    text-align: left
  }
  div.option > div:nth-of-type(1) > div > a > i {
    display:block
  }
  div.option > div.list_box {
    background:#fff !important;
    padding:8px !important
  }
  /*点击子分类后加的样式*/
  div.option > div.list_box > div > div.category_child > p > a {
    color: #333 !important
  }
  div.option > div.list_box > div > div.category_child{
    background-color: #f2f2f2
  }
  div.option > div.list_box > div > div {
    width:33.333%
  }
  div.option > div > form > input {
    float:left
  }
  div.option > div > form > input[type=text] {
    width:75%
  }
  div.option > div > form > input[type=submit] {
    width:25%
  }
  div.Pro_list > div.Pro_list_cont > div > a > div > h3 {
    font-size:16px
  }
  div.Pro_list > div.Pro_list_cont > div > a > div > span {
    margin-bottom:15px;
    font-size:12px;
    color:#666
  }
}
@media screen and (min-width:768px){
  /* 点击以后字体的颜色 */
  div.option > div.list_box > div > div.category_child > p > a {
    color: #888 !important
  }
  div.option > div {
    padding-top:10px !important;
    padding-bottom:10px !important
  }
  div.option > div.search_product {
    width: 40%;
    margin-left: 30%;
  }
  div.Pro_list > div.Pro_list_cont > div > a > div > h3 {
    min-height:32px;
    font-size:14px
  }
  div.Pro_list > div.Pro_list_cont > div > a > div > span {
    min-height:85px
  }
  div.Pro_list > div.Pro_list_cont > div > a > div > p,
  div.Pro_list > div.Pro_list_cont > div > a > div > span {
    font-size:12px
  }
}
@media screen and (min-width:992px){
  div.option > div.search_product {
    width:30%;
    margin-left:35%
  }
  div.Pro_list > div.Pro_list_cont > div > a > div > span {
    min-height:105px
  }
  div.Pro_list > div.Pro_list_cont > div > a > div > h3 {
    min-height:50px
  }
}
@media screen and (min-width:1024px){
  div.Pro_list > div.Pro_list_cont > div > a > div > span {
    min-height:85px
  }
}
@media screen and (min-width:1200px){
  div.Pro_list > div.Pro_list_cont > div {
    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -o-transition:all .2s linear
  }
  div.Pro_list > div.Pro_list_cont > div:hover {
    transform:translate(0,-3px);
    -webkit-transform:translate(0,-3px);
    -moz-transform:translate(0,-3px);
    -o-transform:translate(0,-3px);
    -ms-transform:translate(0,-3px);
  }
}
@media screen and (min-width:1500px){
  div.Pro_list > div.Pro_list_cont > div > a > div > h3 {
    min-height:36px
  }
}
@media screen and (min-width:1600px){
  div.Pro_list > div.Pro_list_cont > div > a > div > h3 {
    min-height:38px;
    font-size:16px
  }
  div.Pro_list > div.Pro_list_cont > div > a > div > span {
    font-size:14px
  }

}
@media screen and (min-width:1700px){
  div.Pro_list > div.Pro_list_cont > div > a > div > span {
    min-height:80px
  }
}
