{extend name="mobile/common/base"}
{block name="seo"}
<title>{$parent.seo_title} - {:lang('slogan')}{:lang('powered by')}</title>
<meta name="description" content="{$parent.description}">
<meta name="keywords" content="{$parent.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__MOBILE__/css/page/driver.css">
{/block}
{block name="swiper"}
<div class="container-fluid">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="{:url('/'.$code.'/index')}">{:lang('home')}</a></li>
                <li class="active">{:lang('driver')}</li>
            </ol>
        </div>
    </div>
</div>
{/block}
{block name="body"}
<div class="container-fluid">
    <div class="row">
        <div class="box">
            <div class="g-filter">
                <div class="filter">
                    <span>{:lang('filter by')} : </span>
                    <div class="select">
                        <select name="category" class="filter_by">
                            <option value="">{:lang('All Category')}</option>
                            {volist name="cate" id="vo"}
                            <option value="{$vo.url_title}" {if condition='$name eq $vo.name' }selected{/if}>{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="sort">
                    <span>{:lang('sort by')} : </span>
                    <div class="select">
                        <select class="order_by">
                            <option value="asc" {if condition="$order eq 'asc'" }selected{/if}>{:lang('Date, old to new')}</option>
                            <option value="desc" {if condition="$order eq 'desc'" }selected{/if}>{:lang('Date, new to old')}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="main">
                {notempty name="data"}
                {volist name="data" id="vo"}
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="title">{$vo.name}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="mode">
                                <p>
                                    Available:
                                </p>
                                <p>
                                    {volist name="$vo.modelsGroup" id="v"}
                                    <!-- 2018-4-12 星期四 14:05 添加字体大小给td标签 -->
                                    <span>{$v}</span>
                                    {/volist}
                                </p>
                            </div>
                            <div class="info">
                                <p><span>{:lang('File Size')} :</span> <span>{$vo.size}</span></p>
                                <p><span>{:lang('Version')} :</span> <span>{$vo.version_number}</span></p>
                                <p><span>{:lang('Post Date')} :</span>
                                    {if condition="$code == 'en_us'"}
                                    <span>{$vo.update_time|strtotime|date="d/m/Y"}</span>
                                    {elseif condition="$code == 'zh_cn'" /}
                                    <span>{$vo.update_time|strtotime|date="Y-m-d"}</span>
                                    {/if}
                                </p>
                                <p><span>{:lang('System Requirements')} :</span> <span>{$vo.running}</span></p>
                            </div>
                            <div class="download">
                                <span>{:lang('Download')} : </span>
                                {notempty name="$vo.all_link"}
                                <a class="btn btn-default" href="{$vo.all_link}">{:lang('ALL')}<i class="iconfont">&#xe64f;</i></a>
                                {/notempty}
                                {notempty name="$vo.win_link"}
                                <a class="btn btn-default" href="{$vo.win_link}">{:lang('WINDOWS')}<i class="iconfont">&#xe64f;</i></a>
                                {/notempty}
                                {notempty name="$vo.mac_link"}
                                <a class="btn btn-default" href="{$vo.mac_link}">{:lang('MAC')}<i class="iconfont">&#xe64f;</i></a>
                                {/notempty}
                                {notempty name="$vo.linux_link"}
                                <a class="btn btn-default" href="{$vo.linux_link}">{:lang('Linux')}<i class="iconfont">&#xe64f;</i></a>
                                {/notempty}
                            </div>
                        </div>
                    </div>
                </div>
                {/volist}
                {/notempty}
            </div>
        </div>
        <div class="g-pagination clearfix">
            <nav>
                {:pagination($data)}
            </nav>
        </div>
    </div>
</div>
<div id="go-top">
    <p><span class="iconfont">&#xe60b;</span></p>
</div>
{/block}

{block name="javascript"}
<script>
    // 筛选变化时 过滤
    $('.filter_by').change(function () {
        var filter_by = $(this).children('option:selected').val();
        var order_by = $('.order_by').children('option:selected').val();
        window.location.href = '/{$code}/drivers/' + filter_by + '.html?order=' + order_by
    });
    $('.order_by').change(function () {
        var filter_by = $('.filter_by').children('option:selected').val();
        var order_by = $(this).children('option:selected').val();
        window.location.href = '/{$code}/drivers/' + filter_by + '.html?order=' + order_by
    });
</script>
{/block}
