<!--包含头部文件-->
{include file="public/headers" /}
<div class="page-container">
    <form class="form form-horizontal form-o2o-add" id="form-o2o-add" method="post" action="">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品分类名称：</label>
            <div class="formControls col-xs-3 col-sm-3">
                <input type="text" class="input-text" value="{$category->name}" placeholder="" id="name" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>URL标题：</label>
            <div class="formControls col-xs-3 col-sm-3">
                <input type="text" class="input-text" value="{$category->url_title}" placeholder="" id="url_title" name="url_title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">缩略图地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image" cols="" rows="" class="textarea"  placeholder="" dragonfly="true" >{$category->image}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        {empty name="$cate"}
        <input type="hidden" name="parent_id" value="{$parent_id}">
        {else /}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="parent_id" class="select">
                    {volist name="cate" id="vo"}
					<option value="{$vo.id}" {if condition="$category.parent_id eq $vo.id"} selected="selected" {/if}>{$vo.delimiter|raw}{$vo.name}</option>
                    {/volist}
				</select>
				</span>
            </div>
        </div>
        {/empty}

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所属语言：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="{$language_id|getLanguageOne}" disabled>
                <input type="hidden" name="language_id" value="{$language_id}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>SEO标题：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="{$category->seo_title}" placeholder="" id="seo_title" name="seo_title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="{$category->keywords}" placeholder="" id="keywords" name="keywords">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="description"  cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" >{$category->description}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <input type="hidden" name="id" value="{$category->id}">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  type="button" onclick="save('{:url(\'category/save\')}')" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>

                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h-ui.admin/js/image.js"></script>
<script type="text/javascript" src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    var SCOPE = {
            'uploadify_swf': '__STATIC__/admin/uploadify/uploadify.swf',
            'image_upload': "{:url('api/image/upload')}"
    };

</script>
</body>
</html>