<!--包含头部文件-->
{include file="public/headers" /}
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post" action="">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="第一行文字" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>副标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="第二行文字" id="subtitle" name="subtitle">
            </div>
        </div>
       <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="第三行文字，（下面文字小图无的时候就显示）" id="product_title" name="product_title">
            </div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>按钮标识：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="点击按钮（没有填型号就显示learn more）" id="model" name="model">
            </div>
        </div>
       <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">产品文字小图地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image_product_url" cols="" rows="" class="textarea" placeholder="针对特殊符号可用无背景图片填充, 盖掉第三行文字" dragonfly="true" ></textarea>
            </div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">PC端图片地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image_pc_url" cols="" rows="" class="textarea" placeholder="500个字符以内,是一个地址" dragonfly="true" ></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">移动端图片地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="image_mobile_url" cols="" rows="" class="textarea"  placeholder="500个字符以内, 是一个地址" dragonfly="true" ></textarea>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>选择推荐位类别：</label>
            <div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="featured_id" class="select">
                    <option value="">--请选择</option>
                    {volist name="featured" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所属语言：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$language_id|getLanguageOne}" disabled>
                <input type="hidden" name="language_id" value="{$language_id}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">链接：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="url" name="url">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onclick="save('{:url(\'images/save\')}')" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存
                </button>

                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h-ui.admin/js/image.js"></script>
<script type="text/javascript">
    var SCOPE = {
           'uploadify_swf':'__STATIC__/admin/uploadify/uploadify.swf',
           'image_upload':"{:url('api/image/upload')}"};
</script>
</body>
</html>