<!--包含头部文件-->
{include file="public/content_header" /}
<section class="Hui-article-box" style="overflow: scroll">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        推荐管理
        <span class="c-gray en">&gt;</span>
       推荐产品列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="page-container">
        <div class="text-c">
            <form method="get" action="{:url('Images/index')}">
                <label class="form-label col-xs-4 col-sm-2" style="left: 20%;padding: 5px"><span class="c-red">*</span>选择推荐位：</label>
                <div class=" col-xs-8 col-sm-3" style="position: absolute;left: 31%"> <span class="select-box">
                        <select name="featured_id" class="select">
                            <option value="">--请选择--</option>
                            {volist name="featured" id="featured"}
                            <option value="{$featured.id}" {if condition="$featured_id eq $featured.id"} selected="selected" {/if}>{$featured.name}</option>
                            {/volist}
                        </select>
                    </span>
                </div>
                <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                <input type="hidden"  name="language_id" value="{$language_id}" id="language">
            </form>
        </div>

        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                 <!--<a href="javascript:;" onclick="allRecycle('{:url('Images/allChange')}')" class="btn btn-danger radius"><i-->
                         <!--class="Hui-iconfont">&#xe6e2;</i> 批量更新排序</a>-->
                <a class="btn btn-primary radius" onclick="add('添加图片','{:url(\'images/add\')}','800','860')"
                   href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加推荐产品</a>
            </span>
            <span class="r">共有数据：<strong>{$counts}</strong> 条</span></div>
        <table class="table table-border table-bordered table-bg table-hover table-sort mt-20">
            <thead>
            <tr>
                <th scope="col" colspan="12">推荐产品</th>
            </tr>
            <tr class="text-c">
                <th width="20"><input name="" type="checkbox" value=""></th>
                <th width="20">ID</th>
                <th width="30">PC端图</th>
                <th>标题</th>
                <th width="100">产品型号</th>
                <th>连接</th>
                <th width="60">排序</th>
                <th width="50">所属语言</th>
                <th width="70">类型</th>
                <th width="70">上传时间</th>
                <th width="20">状态</th>
                <th width="110">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="image" id="vo"}
            <tr class="text-l">
                <td><input name="id" type="checkbox" value="{$vo.id}"></td>
                <td>{$vo.id}</td>
                <td>{empty name="$vo.image_pc_url"}{else /}<img id=" " src="{$vo.image_pc_url}" width="30" height="30">{/empty}</td>
                <td>{$vo.title|raw}</td>
                <td>{$vo.model}</td>
                <td>{$vo.url}</td>
                <td class="text-c listorder"><input type="text" class="input-text input-sm" value="{$vo.listorder}" attr-id="{$vo.id}" name="listorder"></td>
                <td>{$vo.language_id|getLanguage|raw}</td>
                <td class="td_featured">{$vo.featured_id|featured|raw}</td>
                <td>{$vo.create_time|date="Y-m-d"}</td>
                <td class="td-status">
                    <a style="text-decoration:none;color: white" onClick="stop('{:url(\'images/byStatus\',[\'id\'=>$vo.id,\'status\'=>$vo.status==1?-1:1])}')" href="javascript:;" title="修改状态">{$vo.status|status|raw}</a>
                </td>
                <td class="td-manage">
                    <a style="text-decoration:none" class="ml-5 btn btn-success"
                       onClick="edit('编辑','{:url(\'images/edit\',[\'id\'=>$vo.id])}','800','860')" href="javascript:;"
                       title="编辑"><i class="Hui-iconfont" style="font-size: 18px;color: #fff">&#xe6df;</i>
                    </a>
                    <a style="text-decoration:none" class="ml-5 btn btn-danger"
                           onClick="recycle('{:url(\'images/byStatus\',[\'id\'=>$vo.id,\'status\'=>-1])}')" href="javascript:;"
                           title="删除"><i class="Hui-iconfont" style="font-size: 18px;color: #fff">&#xe609;</i>
                    </a>
                    {empty name="$language_id"}
                    {else /}

                    {/empty}
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>

        <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($image)}</div>
        {include file="public/explain" /}

    </div>
</section>
<!--包含footer文件-->
{include file="public/footer"/}
<!--请在下方写此页面业务相关的脚本-->
<script>
    var SCOPE = {
        'listorder_url': "{:url('Images/listorder')}",
        'sort_url':"{:url('Images/listorder')}",
    };
    $(document).ready(function () {
        $("#menu-images dt").addClass("selected");
        $("#menu-images dd").css("display","block");
        $("#images_list").addClass("current");
        $("#content").addClass("current");
    });
    $(".select").bind("change", function () {
        var id = $(this).val();
        var url = "{:url('Images/index')}";
        var postData = {
            "featured_id": id
        };
        $.post(postData, url)
    });
    function up_down(obj){
        var url = '{:url(\'images/listorder\')}';
        var id = $(obj).data("id");//id
        var type = $(obj).data('type');
        var listorder = $(obj).data('listorder');
        var featured = $(obj).data("featured"); // 分类ID
        var postData = {
            'id': id,
            'type':type,
            'listorder':listorder,
            'featured_id': category_id
        };
        $.ajax({
            type: 'post',
            url: url,
            dataType: 'json',
            data: postData,
            success: function (result) {
                if (result.status === 1) {
                    dialog.OK(result.data, result.jump_url);
                } else if (result.status === 0) {
                    dialog.error(result.data, result.title, result.btn);
                } else if (result.status === -1) {
                    dialog.toconfirm(result.data)
                }
            }
        })
    }
</script>
</body>
</html>