<!--继承框架-->
{extend name="pc/base/base"}
<!--私有首页面属性开始-->
{block name="seo"}
<title>Search - Wavlink </title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="__CN__/css/drivers/drivers-list.css" type="text/css">
{/block}
<!--私有首页面属性结束-->
<!--主体内容开始-->
{block name="body"}
<style>
    div.container>div.row>div.option>div>div>form>input{height: 30px}
    div.container>div.row>div.option>div>div>form>input:nth-of-type(2){background: #333;border: 1px solid #333!important;}
    div.container > div.row > div > p {
        cursor: default
    }
    div.container > div.row > div > ul.list  {
        margin: 30px 0 20px 20px;
        padding:  0 0 0 20px;
    }
    div.container> div.row > div > ul.list> li{
        list-style:inherit;
        font-size: 1.4em;
        cursor: default
    }
    div.container> div.row > div > ul.list > li > ul {
        padding: 20px;
    }
    div.container> div.row > div > ul.list > li > ul > li {
        list-style: circle;
        padding: 0 0 8px 0;
        cursor: default
    }
    div.container> div.row > div > ul.list > li > ul > li > a {
        display: inline;
        color: #ff0000
    }
    @media screen and (min-width: 318px) and (max-width: 767px ){
        div.container> div.row > div > ul.list  {
            padding:  0 0 0 20px;
            margin: 0
        }
        div.container> div.row > div > ul.list> li{
            list-style:inherit;
            font-size: 1.2em
        }
    }
    @media screen and (width: 768px){
        div.container> div.row > div > ul.list  {
            padding:  0 0 0 18px;
        }
    }
    div.driver_no_found>div>p{
        font-size: 16px!important;
    }
    div.driver_no_found>div>ul>li{
        font-size: 14px!important;
    }


    ol.drivers_list{padding: 0 15px}
    ol.drivers_list li{cursor: text}
    ol.drivers_list>li{padding: 15px;background: #f2f2f2}
    ol.drivers_list>li>ul>li:nth-of-type(2){margin-bottom: 5px}
    ol.drivers_list>li>ul>li>h3{margin-bottom: 5px}
    @media screen and (max-width: 767px){
        div.container>div.row>div.option{padding: 8px 10px}
        ol.drivers_list{padding: 0 10px}
        ol.drivers_list>li{padding: 10px}
        ol.drivers_list>li>ul>li>h3{font-size: 16px}
    }
    @media screen and (min-width: 768px) and (max-width: 992px){
        ol.drivers_list>li>ul>li>h3{font-size: 20px}
    }
</style>

<div class="container">
    <div class="row">
        <div class="option bg-white col-xs-12" style="padding-bottom:8px; padding-top:8px">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12"
                 style="padding:0">
                <div class="btn-group col-sm-4 col-xs-9">
                    <div class="panel-heading"><h3 style="font-size: 21px">搜索"{$name}"</h3>&nbsp;&nbsp;<b class="text-lowercase">{$count}&nbsp;&nbsp;条结果</b></div>
                </div>
                <div class="bg-white col-md-6 col-sm-8 col-sm-offset-2 col-xs-12" style="padding:0; display: block;">
                    <form class="col-xs-12" action="{:url('/'.$code.'/search/drivers')}" method="GET" style="padding:0">
                        <input name="key" type="text" placeholder="{$Think.lang.model_key}" class="col-xs-9">
                        <input type="submit" value="{$Think.lang.search}" class="color-white col-xs-3">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-white driver_no_found">
        {empty name="result"}
        <div class="col-xs-12" style="background-color: #fff;margin-bottom: 40px">
            <p style="text-align: center;font-size: 1.4em;margin: 2em">对不起，没有搜索结果！您可以输入产品型号进行搜索。</p>
            <ul class="list">
                <li>在哪里可找到产品型号？
                    <ul>
                        <li>您购买的产品包装盒标签处或者产品背面SN号码标签处可以找到。</li>
                    </ul>
                    <img class="img-responsive center-block" src="http://cloud.wavlink.com/index.php?user/publicLink&fid=cd73UjN4bCvbZbHmFbtmXkrWMW97B9zQPI0mBIjCvfaQA0kIRHbDl8xMPxunG2_pti44UuUAeSbdNoQKJAozEFtXa7w01iQWWlE7SB5migYnO7m0QZrSA5b9TrEBxnQMe4ahNpBC1bXTiJpJHw&file_name=/xinhao2.jpg" alt="" style="margin-left: 0;padding-bottom: 25px">
                </li>
                <li>我输入了产品型号，还是没有搜索到？
                    <ul>
                        <li>
                            您购买的产品可能是免驱的产品。
                        </li>
                        <li>
                            有可能我们还没有及时更新驱动列表，请您发送邮件到我们的管理员邮箱，我们及时更新驱动列表。
                        </li>
                    </ul>
                </li>
                <li>
                    产品固件怎么没有列出下载？
                    <ul>
                        <li>
                            一般是指无线产品，它需要在后台更新固件。
                        </li>
                        <li>
                            如有需要手动更新操作固件，请转到<a href="{:url('/'.$code.'/guest_Book')}">固件申请页面</a>，输入您的产品信息以及邮箱地址，我们将为您回复下载地址，固件更新有风险，请您三思而后行。
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<p style="text-align: left;font-size: 1.4em;margin: 2em">1.You can </p>-->
            <!--<p style="text-align: left;font-size: 1.4em;margin: 2em">2.You Maybe </p>-->
            <!--<p style="text-align: left;font-size: 1.4em;margin: 2em">3.You should </p>-->
        </div>
        {else /}
        <div class="ct col-xs-12" style="">
            {volist name="result" id="vo"}
            <div class="panel panel-success  col-md-6" style="padding:0">
                <div class="panel-heading">
                    <strong>{$vo.name|str_ireplace=$name,'<font style="color: red">'.$name.'</font>',###}</strong>
                </div>
                <div class="panel-body">
                    <!--<p>-->
                    <h5>驱动适用于以下型号：</h5>
                    <!--</p>-->
                    <!--<p>-->
                    <div style="">
                        {volist name="$vo.modelsGroup" id="v"}
                        <!-- 2018-4-12 星期四 14:05 添加字体大小给td标签 -->
                        <span style="font-size:12px;display: inline-block">{$v|str_ireplace=$name,'<font style="color: red">'.$name.'</font>',###} <i style="color:#ccc">/</i></span>
                        {/volist}
                    </div>
                    <!--</p>-->
                    <p>
                        <span>File Size&nbsp;:&nbsp;&nbsp;<i>{$vo.size}</i></span>
                        <span>Version&nbsp;:&nbsp;&nbsp;<i>{$vo.version_number}</i></span>
                        <span>Post Date&nbsp;:&nbsp;&nbsp;<i>{$vo.update_time|strtotime|date="Y/m/d",###}</i></span>
                        <span style="margin-bottom:10px">System Requirements:&nbsp;&nbsp;<i>{$vo.running}</i></span>
                    </p>
                    <p>
                        {notempty name="$vo.all_link"}
                        <a href="{$vo.all_link}" class="btn btn-success">完整版</a>
                        {/notempty}
                        {notempty name="$vo.win_link"}
                        <a href="{$vo.win_link}" class="btn btn-success">Windows</a>
                        {/notempty}
                        {notempty name="$vo.mac_link"}
                        <a href="{$vo.mac_link}" class="btn btn-success">macOS</a>
                        {/notempty}
                    </p>
                </div>
            </div>
            {/volist}
        </div>
        {/empty}
    </div>

    <div class="row">
        {notempty name="result"}
        {empty name="page"}
        <nav aria-label="Page navigation" style="text-align:center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="disabled"><a href="#">1</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        {else /}
        <nav aria-label="Page navigation" style="text-align:center">
            {:pagination($result)}
        </nav>
        {/empty}
        {/notempty}
    </div>
</div>
{/block}
<!--主体内容结束-->