{extend name="mobile/common/base"}
{block name="seo"}
<title>{$parent.seo_title}  - {:lang('slogan')}{:lang('powered by')}</title>
<meta name="description" content="{$parent.description}">
<meta name="keywords" content="{$parent.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__MOBILE__/css/page/FAQ-list.css">
{/block}
{block name="swiper"}
<div class="container-fluid">
    <div class="row">
        <div class="g-path">
            <ol class="breadcrumb">
                <li><a href="/{$code}/index.html">{:lang('home')}</a></li>
                <li class="active">{:lang('faq')}</li>
            </ol>
        </div>
    </div>
</div>
{/block}
{block name="body"}
<!--主体内容-->
<div class="container-fluid">
    <div class="row">
        <div class="box">
            <div class="g-filter">
                <div class="filter">
                    <span>{:lang('filter by')} : </span>
                    <div class="select">
                        <select name="category" class="filter_by">
                            <option value="">{:lang('All Category')}</option>
                            {volist name="faqs" id="vo"}
                            <option value="{$vo.url_title}" {if condition='$name eq $vo.name' }selected{/if}>{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="sort">
                    <span>{:lang('sort by')} : </span>
                    <div class="select">
                        <select class="order_by">
                            <option value="asc" {if condition="$order eq 'asc'" }selected{/if}>{:lang('Date, old to new')}</option>
                            <option value="desc" {if condition="$order eq 'desc'" }selected{/if}>{:lang('Date, new to old')}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="main">
                {notempty name="data"}
                {volist name="data" id="vo"}
                <div class="item">
                    <h3><a href="{:url('/'.$code.'/faq/details/'.$vo.url_title)}">{$vo.name}</a></h3>
                    <p>
                        <span>{:lang('Post Date')}: </span>
                        {if condition="$code == 'en_us'"}
                        <span>{$vo.update_time|strtotime|date="d/m/Y"}</span>
                        {elseif condition="$code == 'zh_cn'" /}
                        <span>{$vo.update_time|strtotime|date="Y-m-d"}</span>
                        {/if}
                    </p>
                </div>
                {/volist}
                {/notempty}
            </div>
        </div>
        <div class="g-pagination clearfix">
            <nav>
                {:pagination($data)}
            </nav>
        </div>
    </div>
</div>
<div id="go-top">
    <p><span class="iconfont">&#xe60b;</span></p>
</div>
{/block}
{block name="javascript"}
<script>
    $('.filter_by').change(function () {
        var filter_by = $(this).children('option:selected').val();
        var order_by = $('.order_by').children('option:selected').val();
        window.location.href = '/{$code}/faq/' + filter_by + '.html?order=' + order_by
    });
    $('.order_by').change(function () {
        var filter_by = $('.filter_by').children('option:selected').val();
        var order_by = $(this).children('option:selected').val();
        window.location.href = '/{$code}/faq/' + filter_by + '.html?order=' + order_by
    });
</script>
{/block}
