{extend name="mobile/common/base" /}
{block name="seo"}
<title>{$seo.title} - {:lang('powered by')}</title>
<meta name="description" content="{$seo.description}">
<meta name="keywords" content="{$seo.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__MOBILE__/css/page/home.css">
{/block}
{block name="swiper"}
<!--幻灯片以及banner部分-->
{include file="mobile/common/swiper"}
{/block}
{block name="body"}
<!--主体内容-->
<div class="container-fluid">
    {notempty name="showcase"}
    <div class="row">
        <div class="recommend">
            {volist name="showcase" id="vo"}
            <div class="common-box">
                <div class="recommend-box">
                    <div class="img-box">
                        <a href="{$vo.url}">
                            <img src="{$vo.image_pc_url}" alt="{$vo.title}">
                        </a>
                    </div>
                    <div class="des">
                        <h3>{$vo.product_title}</h3>
                        <p>
                            <span>{$vo.model}</span>
                        </p>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    {/notempty}
    <div class="row">
        <div class="new-box">
            <h3><span>NEWS</span> <a href="#">More > </a></h3>
            <div class="new">
                <div class="item">
                    <div class="des">
                        <h4><a href="#">Based on the policy, WAVLINK official website now provides product manuals and relevant files for downloading!</a></h4>
                    </div>
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=0897_1UQS5DQJ-rGV_y0Qycvismmtt9iufjXXG_5hjU4wkNbCFNuq1hG7Fi-az1MmsAPgW0ukZ9w_hLJTn4zT4J1RNA-x9WAM5YOu4WXJLga0tGGewt4mAGAtgOZJJRlDu8fAMFTTz3OUg&file_name=/1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="des">
                        <h4><a href="#">Based on the policy, WAVLINK official website now provides product manuals and relevant files for downloading!</a></h4>
                    </div>
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=deabED3yc8iOqwajGpl3dw3BaF2TgWoMc-EbyPeZ-Rf3FXSZZeGeHdP-AY52h8R3PvjKXBCC6j2867fiewRHJkA7mWxX4om9tzcd9UleKbI0w6jbK1dPar9Fnqmh3Ea_8AVTtmb8kZaSRkAPu6Ng1C3RnB9-w6XuuosB7Kx6PNSQv7dvNIFcM2c&file_name=/IMG_20190316_093703_AO_HDR.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {notempty name="videos"}
    <div class="row">
        <div class="video-box">
            <h3><span>VIDEO</span> <a href="#">More > </a></h3>
            <div class="video swiper-container">
                <div class=" swiper-wrapper">
                    {volist name="videos" id="video"}
                    <div class="swiper-slide">
                        <video controls poster="{$video.tu}">
                            <source src="{$video.url}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    {/volist}
                </div>
                <div class="swiper-pagination"></div><!--分页器-->
            </div>
        </div>
    </div>
    {/notempty}
</div>
{/block}
{block name="javascript"}
<!--私有JS-->
<script>
    var mySwiper = new Swiper('.banner', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 6000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: false//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });

    //video
    var mySwiperVideo = new Swiper('.video', {
        loop: true,
        autoplay: false,
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        }
    });
</script>
{/block}