{include file="public/headers"/}
<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>名称:</label>
            <div class="formControls col-xs-5 col-sm-10">
                <input class="input-text" value="{$authGroup->title}" placeholder="" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>描述:</label>
            <div class="formControls col-xs-10 col-sm-5">
                <textarea name="description" cols="" rows="" class="textarea"  placeholder="" dragonfly="true" >{$authGroup->description}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">配置规则：</label>
            <div class="formControls col-xs-10 col-sm-10">
                {volist name="ParentAuthRule" id="vo"}
                <dl class="permission-list">
                    <dt>
                        <label style="color:blue">
                            <input type="checkbox" value="{$vo.id}" name="rules[]" id="user-Character-0" {if(in_array($vo['id'],$rule))} checked="checked" {/if} >
                            {$vo.title}</label>
                    </dt>
                    <dd>
                        <dl class="cl permission-list2">
                            <dd style="margin-left: 0">
                                {volist name="authRule" id="v"}
                                {if condition="$v.parent_id eq $vo.id"}
                                <label class="">
                                    <input  type="checkbox" value="{$v.id}" name="rules[]" id="user-Character-1-0-0" {if(in_array($v['id'],$rule))} checked="checked" {/if}>
                                    {$v.title}
                                </label>
                                {/if}
                                {/volist}
                            </dd>
                        </dl>
                    </dd>
                </dl>
                {/volist}
            </div>
        </div>
        <div class="row cl">
            <input type="hidden" name="id" value="{$authGroup->id}">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="button" onclick="save('{:url('AuthGroup/save')}')"  value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{include file="public/footer"/}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript">
    $(function () {
        $(".permission-list dt input:checkbox").click(function () {
            $(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
        });
        $(".permission-list2 dd input:checkbox").click(function () {
            var l = $(this).parent().parent().find("input:checked").length;
            var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
            if ($(this).prop("checked")) {
                $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
            }
            else {
                if (l == 0) {
                    $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
                }
                if (l2 == 0) {
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
                }
            }
        });
        //添加用户组

//        $("#form-admin-role-add").validate({
//            rules:{
//                title:{
//                    required:true,
//                },
//            },
//            onkeyup:false,
//            focusCleanup:true,
//            success:"valid",
//            submitHandler:function(form){
//                $(form).ajaxSubmit();
//                var index = parent.layer.getFrameIndex(window.name);
//                parent.layer.close(index);
//            }
//        });
    });
</script>
</body>
</html>
