/*
    2018.8.14
    wavlink user center
    user guarantee
*/
button{font-size: 12px;line-height: normal;border: 1px solid #ccc;border-radius: 5px;background: #fff}

/* public title */
div.main_title{margin: 30px 40px}
div.main_title>h2{padding-bottom: 30px;margin: 0;font-size: 20px;border-bottom: 1px solid #e5e5e5}
@media screen and (max-width: 767px) {
    div.main_title{margin: 20px}
    div.main_title>h2{padding-bottom: 20px}
}

/* 表格 */
div.main_container>div:nth-of-type(2)>ul>li:nth-of-type(1){display: block}
div.main_container>div>ul>li:nth-of-type(1){display: none}

div.main_container>div{border: 1px solid #e5e5e5;border-bottom: none}
div.main_container>div:nth-of-type(1){border: none}
div.main_container>div:nth-last-of-type(1){border-bottom: 1px solid #e5e5e5}
div.main_container>div>ul{border-right:1px solid #e5e5e5}
div.main_container>div>ul:nth-last-of-type(1){border-right:0}
div.main_container>div:nth-of-type(2)>ul>li:nth-of-type(1){border-bottom: 1px solid #e5e5e5}

div.main_container{float: left;width: 100%;padding: 0 40px}
div.main_container>div>ul{float: left}

div.main_container>div{float: left;width: 100%;text-align: center}
div.main_container>div:nth-of-type(1){text-align: left}
div.main_container>div:nth-of-type(2){margin-top: 20px}
div.main_container>div:nth-of-type(1)>button{width: 80px;height: 30px}
div.main_container>div>ul{float: left;width: 15%}
div.main_container>div>ul:nth-last-of-type(1){width: 20%}
div.main_container>div>ul:nth-of-type(1){width: 20%}
div.main_container>div>ul>li{height: 50px;line-height: 50px}
div.main_container>div>ul>li>button{padding: 5px 4px;}

div.main_tips{float: left;width: 70%;padding: 0 40px;margin: 10% 0 30px}
div.main_tips h4{font-size: 16px}

@media screen and (max-width: 768px){
    div.main_container{padding: 0 20px}
}
@media screen and (max-width: 991px) {
    div.main_container>div,
    div.main_container>div>ul,
    div.main_container>div>ul>li{border: none!important;}

    div.main_container{padding: 0 40px}
    div.main_container>div{font-size: 12px;padding: 20px 0;border-bottom: 1px solid #e5e5e5!important;}
    div.main_container>div:nth-of-type(1){padding: 0;border-bottom: none!important;}
    div.main_container>div>ul{width: 100%!important;padding: 10px 10px}
    div.main_container>div>ul>li{display: inline-block!important;float: left;padding-left: 0;height: auto;line-height: normal;text-align: left!important}
    div.main_container>div>ul>li:nth-of-type(1){width: 25%;}
    div.main_container>div>ul>li:nth-of-type(2){width: 70%;}

    div.main_tips{width: 100%;padding: 0 20px}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    div.main_container>div>ul>li{font-size: 12px}
}






/* 弹窗层样式 */
div#product_registration,div#extended_warranty,div#warranty{display: none}

div#product_registration button,div#extended_warranty button,div#warranty button{width: 80px;height: 30px;margin-right: 5px}
div.layui-layer div>form>div>input,div.layui-layer div>form>div>textarea{padding-left: 15px}

div#product_registration{padding: 100px 20%}
div#product_registration>form>div{margin-bottom: 20px}
div#product_registration>form>div>label{width: 15%;font-weight: normal}
div#product_registration>form>div>input,div#product_registration>form>div>select{width: 80%;height: 30px}

div#extended_warranty{padding: 100px 20%;text-align: center}
div>form>div h3{margin:0 0 50px}
div>form>div p{margin: 0}
div#extended_warranty>form>div button{margin-top: 50px}

div#warranty{padding: 20px 10% 100px}
div#warranty>form>div textarea{width: 100%;}
div#warranty>form>div button:nth-of-type(2){float: right}
div#warranty button{margin-top: 20px}

@media screen and (max-width: 767px) {
    div.layui-layer{width: 100%!important;max-height: 500px;font-size: 12px}
    div.layui-layer h3{font-size: 20px}
    div#product_registration,div#extended_warranty,div#warranty{padding: 20px 15px!important;}

    div#product_registration>form>div>label,
    div#product_registration>form>div>input,
    div#product_registration>form>div>select{width: 100%}

    div#extended_warranty>form>div h3{margin-bottom: 20px}
    div#extended_warranty>form>div button{margin: 20px}

}
@media screen and (min-width: 768px) and (max-width: 991px) {
    div.layui-layer{width: 70%!important;}
    div#product_registration,div#extended_warranty,div#warranty{padding: 50px 20px!important;}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    div.layui-layer{width: 70%!important;}
    div#product_registration,div#extended_warranty,div#warranty{padding: 50px!important;}
}