/*
    2018.8.11
    wavlink user center
    user information
*/
/* public title */
div.main_title{margin: 30px 40px}
div.main_title>h2{padding-bottom: 30px;margin: 0;font-size: 20px;border-bottom: 1px solid #e5e5e5}
@media screen and (max-width: 767px) {
    div.main_title{margin: 20px}
    div.main_title>h2{padding-bottom: 20px}
}

input,select{font-size: 12px;letter-spacing: 0;height: 30px;padding: 0 15px;border: 1px solid #bbbbbb}
label{font-size: 14px;letter-spacing: 0;width: 120px;font-weight: normal}
button.btn{width: 80px;height: 30px;font-size: 12px;padding: 0;}

div.main_container{  float: left;  width: 100%;padding: 0 40px  }

div.tabBar{margin-bottom: 20px;background: #f2f2f2;font-size: 0;letter-spacing: -4px}
div.tabBar>span:nth-of-type(1){background: #fff}
div.tabBar>span{display: inline-block;height: 50px;line-height: 50px;padding: 0 10px;font-size: 14px;letter-spacing: 0}
div.tabBar>span:hover{background: #fff!important;cursor: pointer;}
div.tabCon>div{margin-bottom: 25px}
div.tips{float: left;margin-top: 10%}

div.tabCon,div.tips,div.submit_btn>div{padding-left: 15px}

div#tab-system,div.tabCon{float: left;width: 100%}
div.tabCon>div{float: left;width: 100%}
div.tabCon>div>label{float: left}
div.tabCon>div>div{float: left;width: 50%}
div.tabCon>div>div>input,div.tabCon>div>div>select{width: 100%}
form>div.submit_btn{float: left;width: 100%;padding-left: 100px}

@media screen and (max-width: 767px){
    input,select,label,div.tabCon>div>div{width: 100%}

    div.main_container{padding: 0 20px}
    div.tabCon,div.tips,div.submit_btn>div{padding-left: 0}
    form>div.submit_btn{padding-left: 0}
}
@media screen and (min-width: 768px) and (max-width: 991px){
    div.tabCon>div>div{width: 70%}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    div.tabCon>div>div{width: 60%}
}