/*
    2018.8.11
    wavlink user center
    user message/news
*/
/* public title */
div.main_title{margin: 30px 40px}
div.main_title>h2{padding-bottom: 30px;margin: 0;font-size: 20px;border-bottom: 1px solid #e5e5e5}
@media screen and (max-width: 767px) {
    div.main_title{margin: 20px}
    div.main_title>h2{padding-bottom: 20px}
}

div.main_container{float: left;width: 100%;padding: 0 40px}
div.main_container>ul{display: inline-block;border: 1px solid #e5e5e5;font-size: 0;letter-spacing: -4px}
div.main_container>ul>li{display: inline-block;padding: 5px 10px;font-size: 14px;letter-spacing: 0}
div.main_container>ul>li:nth-of-type(1){background: #bbb;color: #fff}
div.main_container>ul>li:hover{cursor: pointer;background: #bbb;color: #fff}

/* 表格 */
div.main_container>div:nth-of-type(1)>ul>li:nth-of-type(1){display: block}
div.main_container>div>ul>li:nth-of-type(1){display: none}
div.main_container>div>ul>li>span{display: none}

/* 表格画线 */
div.main_container>div{border: 1px solid #e5e5e5;border-bottom: none}
div.main_container>div:nth-last-of-type(1){border-bottom: 1px solid #e5e5e5}
div.main_container>div>ul>li{border-right: 1px solid #e5e5e5}
div.main_container>div>ul:nth-of-type(4)>li{border-right: none}
div.main_container>div:nth-of-type(1)>ul>li:nth-of-type(1){border-bottom: 1px solid #e5e5e5}

div.main_container>div{float: left;width: 100%}
div.main_container>div:nth-of-type(1){margin-top: 20px}
div.main_container>div>ul{float: left}
div.main_container>div>ul:nth-of-type(1){width: 50px;text-align: center;}
div.main_container>div>ul:nth-of-type(2){width: 64%;}
@media screen and (max-width: 1588px) and (min-width: 768px){
    div.main_container>div>ul:nth-of-type(2){width: 60%}  }
div.main_container>div>ul:nth-of-type(3){width: 15%}
div.main_container>div>ul:nth-of-type(4){width: 15%}
div.main_container>div>ul>li{padding-left: 28px;height: 50px;line-height: 50px}
div.main_container>div>ul:nth-of-type(1)>li{padding-left: 0}
div.main_container>div>ul:nth-of-type(2)>li:nth-of-type(2){overflow: hidden;text-overflow:ellipsis;white-space: nowrap;cursor: pointer}
div.main_container>div>ul:nth-of-type(4)>li:nth-of-type(1){padding-left: 0;text-align: center}
div.main_container>div>ul>li>input{margin: 0;width: 13px;height: 13px}
div.main_container>div>ul:nth-of-type(4)>li>select{height: 30px;border: 1px solid #e5e5e5;border-radius: 5px;padding: 0 5px 0 0}
div.main_container>div>ul>li>a{color: #333}
div.main_container>div>ul>li>a:hover{color: #000}

/* 分页 */
div.page_nav{height: 50px;line-height: 50px;font-size: 12px}
div.page_nav>div{float: left}
div.page_nav form>input{display: inline-block;margin: 0 10px 0 18.5px}
div.page_nav form>button{line-height: normal;padding: 5px 10px;background: #fff;color: #ccc;border:1px solid #ccc;border-radius: 3px}
div.page_nav form>button:nth-of-type(1){margin:0 10px}
div.page_nav>div.nav_page{float: right;padding-right: 10%}
div.nav_page>ul{margin: 0;height: 30px;padding-top: 10px}

@media screen and (max-width: 767px) {
    div.page_nav>div{display: block;float: none!important;padding: 0!important;text-align: center}
}
@media screen and (max-width: 991px) {
    div.main_container>div>ul:nth-of-type(4)>li>select{display: none}
    div.main_container>div>ul:nth-of-type(1){display: none}

    div.main_container>div{border: none!important;border-bottom: 1px solid #ccc!important;}
    div.main_container>div.page_nav{border-bottom: none!important;}
    div.main_container>div>ul>li{border: none!important;}

    div.main_container{float: left;padding: 0 20px}
    div.main_container>div{margin-top: 20px;font-size: 12px;padding: 0 0 20px;}
    div.main_container>div>ul{width: 100%!important;padding: 10px 10px}
    div.main_container>div>ul>li{display: inline-block!important;float: left;padding-left: 0;height: auto;line-height: normal;text-align: left!important;border: none}
    div.main_container>div>ul>li:nth-of-type(1){width: 25%;}
    div.main_container>div>ul>li:nth-of-type(2){width: 70%;}
    div.main_container>div>ul:nth-of-type(2)>li:nth-of-type(2){overflow: visible;white-space: normal;}
    div.main_container>div>ul:nth-of-type(4)>li>span{display: inline-block}

    div.page_nav{height: auto}

    /*手机端选择按钮*/
    div.main_container>div>ul:nth-of-type(1){display: inline-block;padding: 0}
    div.main_container>div>ul:nth-of-type(1)>li:nth-of-type(2){display: none!important;}
    div.main_container>div{position: relative}
    div.main_container>div>ul:nth-of-type(1)>li:nth-of-type(1){position: absolute;bottom: 30px;right: 0;width: auto}


}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    div.main_container>div>ul>li{padding-left:15px}
}

