/*
    2018.8.14
    wavlink user center
    user message_detail
*/

div.main_title{position: relative;padding:80px 130px 0;text-align: center}
div.main_title>a{position: absolute;top: 30px;left: 50px}
div.main_title>a>i{display: inline-block;width: 80px;height: 25px;line-height: 25px;border: 1px solid #bbb;color: #bbb}
div.main_title>h2{font-size: 20px;margin: 0;line-height: 30px}
div.main_title>p{margin: 0;padding: 20px 0;border-bottom: 1px solid #bbb}

div.main_container{margin: 20px 130px}
div.main_container>div>p{margin: 0;padding-top: 40px;line-height: 30px}

@media screen and (max-width: 767px) {
    div.main_title{padding: 20px 10px 0;}
    div.main_title>h2{font-size: 16px}
    div.main_container{margin: 0 10px}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    div.main_title{padding: 80px 20px 0;}
    div.main_title>a{left: 20px}
    div.main_title>h2{font-size: 16px}
    div.main_container{margin: 0 20px}
}