<!--包含头部文件-->
{include file="public/service_header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        驱动管理
        <span class="c-gray en">&gt;</span>
        驱动列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <div class="Hui-article">
        <article class="cl pd-20">
            <form action="{:url('Drivers/index')}" method="post">
                <div class="text-c"> 文件名称：
                    <input type="text" class="input-text" style="width:250px" placeholder="输入文件名称" name="name">
                    <button type="submit" class="btn btn-success" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                </div>
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 31px">
                <span class="l">
                    <a class="btn btn-primary radius" onclick="index_add('添加','{:url(\'Drivers/add\')}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加驱动</a>
                </span>
                <span class="r">共有数据：<strong>{$counts}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th scope="col" colspan="16">下载列表</th>
                </tr>
                <tr class="text-c">
                    <th width="40">ID</th>
                    <th>驱动文件名称</th>
                    <th width="120">下载分类</th>
                    <th width="50">语言</th>
                    <th width="30">排序</th>
                    <th width="75">创建日期</th>
                    <th width="60">状态</th>
                    <th width="210">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="drivers" id="vo"}
                <tr class="text-l">
                    <td class="text-c">{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.category_id|getServiceCategory|raw}</td>
                    <td class="text-c">{$vo.language_id|getLanguage|raw}</td>
                    <td>{$vo.listorder}</td>
                    <td>{$vo.create_time|date="Y-m-d"}</td>
                    <td class="td-status text-c"><span class="label label-success radius">已启用</span></td>
                    <td class="td-manage">
                        <a title="编辑" href="javascript:;" onclick="index_edit('更新驱动','{:url(\'Drivers/edit\',[\'id\'=>$vo.id])}')" class="ml-5 btn btn-primary" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: #fff">&#xe6df;</i></a>
                        <a title="放入回收站" href="javascript:;" onclick="recycle('{:url(\'Drivers/byStatus\',[\'id\'=>$vo.id,\'status\'=>-1])}')" class="ml-5 btn btn-danger" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color:#fff;">&#xe6e2;</i></a>
                        {empty name="$language_id"}
                        {else /}
                        <button title="上移一位" href="javascript:;" onclick="mark(this)" data-id="{$vo.id}" data-type="4" data-map="" class="ml-5 btn btn-secondary" style="text-decoration:none" ><i class="Hui-iconfont" style="font-size: 18px;color: #fff">&#xe6d6</i></button>
                        <button title="下移一位" href="javascript:;" onclick="mark(this)" data-id="{$vo.id}" data-type="1" data-map=""  class="ml-5 btn btn-secondary" style="text-decoration:none"><i class="Hui-iconfont" style="font-size: 18px;color: #fff">&#xe6d5</i></button>
                        {/empty}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($drivers)}</div>
        </article>
        <input type="hidden" value="{$language_id}" id="language">
        {include file="public/explain" /}
    </div>

</section>
<!--包含footer文件-->
{include file="public/footer"/}
<script>
    var SCOPE = {
        'listorder_url':"{:url('Drivers/listorder')}"
    };
    $(document).ready(function () {
        $("#service_drivers dt").addClass("selected");
        $("#service_drivers dd").css("display", "block");
        $("#drivers_list").addClass("current");
        $("#service").addClass("current");
    })
</script>
</body>
</html>