{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="main"}
<div class="form-box">
    <div class="box" id="box">
        <div class="info-change-box">
            <div class="form-title">
                <h3 class="title">Modify Your Zip Code</h3>
            </div>
            <form class="personal-zipCode" id="personal-zipCode" action="">
                <div class="info">
                    <label for="zip_code">Zip Code: </label>
                    <input id="zip_code" name="zip_code" type="text">
                </div>

                <input type="hidden" id="id" name="id" value="{$id}">
                <div class="btn-group">
                    <button class="btn" type="submit">SUBMIT</button>
                    <button class="btn" type="button" id="btn-close">CANCEL</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script src="__USER__/ui/js/birthday.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#personal-zipCode").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {

        },
        submitHandler: function (form) {
            InfoChange('{:url(\'changeBillingAddress\')}', form)
        }
    });
    layer_close();
</script>
{/block}