{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="main"}
<div class="form-box">
    <div class="box" id="box">
        <div class="info-change-box">
            <div class="form-title">
                <h3 class="title">{:lang('Modify Your Birthday')}</h3>
                <p class="notice"><span>*</span> {:lang('Please note that your birthday can only be modified once.')}</p>
            </div>
            <form class="personal-birthday" id="personal-birthday" action="">
                <div class="info">
                    <label for="year">{:lang('Year')}: </label>
                    <select id="year" class="sel_year" rel="--"></select>
                </div>
                <div class="info">
                    <label for="month">{:lang('Month')}: </label>
                    <select id="month" class="sel_month" rel="--"></select>
                </div>
                <div class="info">
                    <label for="day">{:lang('Day')}: </label>
                    <select id="day" class="sel_day" rel="--"></select>
                </div>

                <input type="hidden" id="id" name="id" value="{$id}">
                <div class="btn-group">
                    <button class="btn" type="button" id="btn-submit">{:lang('Submit')}</button>
                    <button class="btn" type="button" id="btn-close">{:lang('Cancel')}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script src="__USER__/ui/js/birthday.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $(document).ready(function(){
        if ('{$birthday}' === '') {
            $('#year').attr('rel', '--');
            $('#month').attr('rel', '--');
            $('#day').attr('rel', '--');
        } else {
            var time = '{$birthday}' + '000';
            var date = new Date(Number(time));
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            m = m < 10 ? ('0' + m) : m;
            var d = date.getDate();
            d = d < 10 ? ('0' + d) : d;
            $('#year').attr('rel', y);
            $('#month').attr('rel', m);
            $('#day').attr('rel', d);
        }

        $.ms_DatePicker({
            YearSelector: ".sel_year",
            MonthSelector: ".sel_month",
            DaySelector: ".sel_day"
        });
    })
    $("#personal-birthday").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {

        },
        /*submitHandler: function (form) {
            InfoChange('{:url(\'changeBirthday\')}', form)
        }*/
    });

    $('#btn-submit').click(function () {
        var y = $('.sel_year').val(),
            m = $('.sel_month').val(),
            d = $('.sel_day').val();
        m = m < 10 ? ('0' + m) : m;
        d = d < 10 ? ('0' + d) : d;
        var time = y + '-' + m + '-' + d;
        var birthday =  new Date(time).getTime()/1000;
        if (isNaN(birthday)) {
            layer.msg('{:lang(\'Please select the full date\')}', {
                icon: 5,
                time: 2000,
            })
        } else {
            var postData={};
            postData['id']=$('#id').val();
            postData['birthday']= birthday;
            console.log(postData);
            $.ajax({
                url: '{:url(\'changeBirthday\')}',
                type: "post",
                dataType: "json",
                data: postData,//提交表单数据
                success: function (result) {
                    if (result.status === 1) {
                        //更新信息成功后刷新页面
                        layer.msg(result.message, {icon: 1, time: 2000}, function () {
                            window.parent.location.href = result.jump_url
                        });
                    } else {
                        layer.msg(result.message, {icon: 5, time: 3000});
                    }
                }
            })
        }
    });
    layer_close();
</script>
{/block}