{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="main"}
<div class="form-box">
    <div class="box" id="box">
        <div class="info-change-box">
            <div class="form-title">
                <h3 class="title">{:lang('Modify Your Billing Address')}</h3>
            </div>
            <form class="personal-billing" id="personal-billing" action="">
                <div class="info">
                    <label for="billing_address">{:lang('Billing Address')}: </label>
                    <input id="billing_address" name="billing_address" type="text" value="{$billing_address}">
                </div>

                <input type="hidden" id="id" name="id" value="{$id}">
                <div class="btn-group">
                    <button class="btn" type="submit">{:lang('Modify Your Billing Address')}</button>
                    <button class="btn" type="button" id="btn-close">{:lang('Cancel')}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script src="__USER__/ui/js/birthday.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#personal-billing").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {
            billing_address: 'required'
        },
        submitHandler: function (form) {
            InfoChange('{:url(\'changeBillingAddress\')}', form)
        }
    });
    layer_close();
</script>
{/block}