{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="main"}
<div class="form-box">
    <div class="box" id="box">
        <div class="info-change-box">
            <div class="form-title">
                <h3 class="title">Modify Your Gender</h3>
            </div>
            <form class="personal-gender" id="personal-gender" action="">
                <div class="info">
                    <input id="Secret" name="gender" value="3" type="radio" checked/>
                    <label for="Secret">Secret</label>
                </div>
                <div class="info">
                    <input id="Male" name="gender" value="1" type="radio" />
                    <label for="Male">Male</label>
                </div>
                <div class="info">
                    <input id="Female" name="gender" value="2" type="radio" />
                    <label for="Female">Female</label>
                </div>
                <input type="hidden" id="id" name="id" value="{$id}">
                <div class="btn-group">
                    <button class="btn" type="submit">SUBMIT</button>
                    <button class="btn" type="button">CANCEL</button>
                </div>
            </form>
            <!--<div class="form-tips">
                <h4 class="tip-title">Tips：</h4>
                <span>Only letters, numbers, Chinese characters are allowed, and they are limited to 12 characters</span>
            </div>-->
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#personal-gender").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {

        },
        submitHandler: function (form) {
            InfoChange('{:url(\'changeGender\')}', form)
        }
    });
</script>
{/block}