{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="main"}
<div class="form-box">
    <div class="box" id="box">
        <div class="info-change-box">
            <div class="form-title">
                <h3 class="title">{:lang('Modify Your E-mail')}</h3>
                <p class="notice"><span>*</span> {:lang('Please note that you should use the new e-mail address to log in after it is changed')}.</p>
            </div>
            <form class="personal-email" id="personal-email" action="">
                <div class="info">
                    <label for="email">{:lang('Email')}: </label>
                    <input class="code" id="email" name="email" type="text" value="{$email}">
                    <button id="send_code" type="button"><span id="send_code_text">{:lang('send')}</span><span id="send_code_unit"></span></button>
                </div>
                <div class="info">
                    <label for="captcha">{:lang('captcha')}: </label>
                    <input id="captcha" name="captcha" type="text" placeholder="{:lang('Please enter your e-mail captcha')}">
                </div>

                <input type="hidden" id="id" name="id" value="{$id}">
                <div class="btn-group">
                    <button class="btn" type="submit">{:lang('Submit')}</button>
                    <button class="btn" type="button" id="btn-close">{:lang('Cancel')}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script src="__USER__/ui/js/birthday.js"></script>
<script src="__USER__/ui/js/countDown.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    // 初始化
    $(function () {
        var btn = document.getElementById("send_code");
        // monitor($(btn));
        var btnText = "{:lang('send')}";
        monitor($(btn), btnText);
        btn.onclick = function () {
            //倒计时效果 getCode回调函数 获取验证码api
            var _this = this;
            var value = $(".code").val();
            var attr = $(".code").attr('id');
            var emailReg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            var phoneReg = /^1(3|4|5|6|7|8|9)\d{9}$/;
            if(attr === 'email' && !emailReg.test(value)){
                layer.msg("{:lang('email format is Error')}", {
                    icon: 5,
                    time: 2000,
                })
            } else if(attr === 'phone' && !phoneReg.test(value)){
                layer.msg("{:lang('Mobile format Error')}", {
                    icon: 5,
                    time: 2000,
                })
            } else {
                $.ajax({
                    url: '{:url(\'verification\')}' + '?' + attr + '=' + value,
                    type: 'get',
                    success: function (result) {
                        var json=JSON.parse(result);
                        if(json.status === 1){
                            // countDown($(_this));
                            countDown($(_this), 20, btnText);
                        }else{
                            console.log(0);
                        }
                    }
                });
            }
        };
    });
</script>
<script>
    $("#personal-email").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {
            email: 'required',
            captcha: 'required'
        },
        submitHandler: function (form) {
            InfoChange('{:url(\'changeEmail\')}', form)
        }
    });
    layer_close();
</script>
{/block}