{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="main"}
<div class="form-box">
    <div class="box" id="box">
        <div class="info-change-box">
            <div class="form-title">
                <h3 class="title">Modify Your Email</h3>
            </div>
            <form class="personal-email" id="personal-email" action="">
                <div class="info">
                    <label for="email">Email: </label>
                    <input class="code" id="email" name="email" type="text">
                    <button id="send_code" type="button">{:lang('send')}</button>
                </div>
                <div class="info">
                    <label for="captcha">{:lang('captcha')}: </label>
                    <input id="captcha" name="captcha" type="text" placeholder="{:lang('Please enter your e-mail captcha')}">
                </div>

                <input type="hidden" id="id" name="id" value="{$id}">
                <div class="btn-group">
                    <button class="btn" type="submit">SUBMIT</button>
                    <button class="btn" type="button" id="btn-close">CANCEL</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script src="__USER__/ui/js/birthday.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    // 离开页面/刷新页面 重新运行计时器
    function monitor(obj) {
        var LocalDelay = getLocalDelay();
        var btnDom = document.getElementById("send_code");
        if (LocalDelay.time != null) {
            var timeLine = parseInt((new Date().getTime() - LocalDelay.time) / 1000);
            if (timeLine > LocalDelay.delay) {
                /*console.log("过期");*/
            } else {
                _delay = LocalDelay.delay - timeLine;
                obj.text(_delay + 's');
                btnDom.disabled = true;
                var timer = setInterval(function () {
                    if (_delay > 1) {
                        _delay--;
                        obj.text(_delay + 's');
                        setLocalDelay(_delay);
                    } else {
                        clearInterval(timer);
                        obj.text("{:lang('send')}");
                        btnDom.disabled = false;
                    }
                }, 1000);
            }
        }
    }
    //设置setLocalDelay
    function setLocalDelay(delay) {
        sessionStorage.setItem("delay_" + location.href, delay);
        sessionStorage.setItem("time_" + location.href, new Date().getTime());
    }
    //getLocalDelay()
    // 第二步
    function getLocalDelay() {
        var LocalDelay = {};
        LocalDelay.delay = sessionStorage.getItem("delay_" + location.href);
        LocalDelay.time = sessionStorage.getItem("time_" + location.href);
        return LocalDelay;
    }
    //倒计时效果
    /**
     *
     * @param {Object} obj 获取验证码按钮
     * @param {Function} callback 获取验证码接口函数
     */
    function countDown(obj) {
        if (obj.text() === "{:lang('send')}") {
            var _delay = 20; //设置定时时间长度
            var delay = _delay;
            var btnDom = document.getElementById("send_code")
            obj.text(_delay + 's');
            btnDom.disabled = true;
            btnDom.style.cursor = 'no-drop'
            // 定时器
            var timer = setInterval(function () {
                if (delay > 1) {
                    delay--;
                    obj.html(delay + 's');
                    setLocalDelay(delay);
                } else {
                    clearInterval(timer);
                    obj.text("{:lang('send')}");
                    btnDom.disabled = false;
                    btnDom.style.cursor = 'pointer'
                }
            }, 1000);
        } else {
            return false;
        }
    }
    // 初始化
    $(function () {
        var btn = document.getElementById("send_code");
        monitor($(btn));
        btn.onclick = function () {
            //倒计时效果 getCode回调函数 获取验证码api
            var _this = this;
            var value = $(".code").val();
            var attr = $(".code").attr('id');
            var emailReg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            var phoneReg = /^1(3|4|5|6|7|8|9)\d{9}$/;
            if(attr === 'email' && !emailReg.test(value)){
                layer.msg("{:lang('Please input the correct phone number or e-mail address')}")
            }
            if(attr === 'phone' && !phoneReg.test(value)){
                layer.msg("{:lang('Please input the correct phone number or e-mail address')}")
            }
            $.ajax({
                url: '{:url(\'verification\')}' + '?' + attr + '=' + value,
                type: 'get',
                success: function (result) {
                    var json=JSON.parse(result);
                    if(json.status === 1){
                        countDown($(_this));
                    }else{
                        console.log(0);
                    }
                }
            });
        };
    });
</script>
<script>
    $("#personal-email").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {

        },
        submitHandler: function (form) {
            InfoChange('{:url(\'changeEmail\')}', form)
        }
    });
    layer_close();
</script>
{/block}