{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/login_register.css">
{/block}
{block name="main"}
<div class="form-box change-box">
    <div class="box" id="box">
        <div class="logo-box">
            <h2><a href="https://www.wavlink.com"><img class="img-responsive center-block" src="//china.wavlink.com/images/LOGO/WAVLINK-logo.png" alt="{:lang('Experience Center')}"></a></h2>
        </div>
        <div class="info-box">
            {if($lang == 'zh_cn')}
            {include file="base/user/password_phone"}
            {else /}
            {include file="base/user/password_email"}
            {/if}
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#login").validate({
        errorClass: 'infoError',
        errorElement: "p",
        rules: {
            password: {
                required: true,
                minlength: 6,
                maxlength: 20
            },
            confirm: {
                required: true,
                equalTo: "#user_password"
            },
            captcha: 'required'
        },
        submitHandler: function (form) {
            InfoChange('{:url(\'change_password\')}', form)
        }
    });
    //自定义正则表达示验证方法
    $.validator.addMethod("password",function(value,element,params){
        var rel = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,20}$/;
        return this.optional(element)||(rel.test(value));
    }, '{:lang(\'Password verification\')}');
    function genCode(dom) {
        var d = Math.round(new Date().getTime() / 500);
        $(dom).find('img').attr("src", '{:url(\'gen_verify\')}'+'?'+ d);
    }
</script>
{/block}