{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="main"}
<div class="form-box">
    <div class="box" id="box">
        <div class="info-change-box">
            <div class="form-title">
                <h3 class="title">Modify Your Username</h3>
            </div>
            <form class="personal-name" id="personal-name" action="">
                <div class="info">
                    <label for="firstName">First Name: </label>
                    <input id="firstName" name="first_name" type="text" value="{$name.first_name}">
                </div>
                <div class="info">
                    <label for="lastName">Last Name: </label>
                    <input id="lastName" name="last_name" type="text" value="{$name.last_name}">
                </div>
                <input type="hidden" id="id" name="id" value="{$id}">
                <div class="btn-group">
                    <button class="btn" type="submit">SUBMIT</button>
                    <button class="btn" type="button" id="btn-close">CANCEL</button>
                </div>
            </form>
            <!--<div class="form-tips">
                <h4 class="tip-title">Tips：</h4>
                <span>Only letters, numbers, Chinese characters are allowed, and they are limited to 12 characters</span>
            </div>-->
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#personal-name").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {
            firstName: {
                required: true,
                minlength: 2
            },
            lastName: {
                required: true,
                minlength: 2
            }
        },
        submitHandler: function (form) {
            InfoChange('{:url(\'changeName\')}', form)
        }
    });

    layer_close();
</script>
{/block}