{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="main"}
<div class="form-box">
    <div class="box" id="box">
        <div class="info-change-box">
            <div class="form-title">
                <h3 class="title">Modify Your Gender</h3>
            </div>
            <form class="personal-birthday" id="personal-birthday" action="">
                <div class="info">
                    <label for="year">Year: </label>
                    <select id="year" class="sel_year" rel=""></select>
                    <!--<label>生日：</label>
                    <select class="sel_year" rel="2000"></select>年
                    <select class="sel_month" rel="2"></select>月
                    <select class="sel_day" rel="14"></select>日-->
                </div>
                <div class="info">
                    <label for="month">Month: </label>
                    <select id="month" class="sel_month" rel=""></select>
                </div>
                <div class="info">
                    <label for="day">Day: </label>
                    <select id="day" class="sel_day" rel=""></select>
                </div>

                <input type="hidden" id="id" name="id" value="{$id}">
                <div class="btn-group">
                    <button class="btn" type="submit">SUBMIT</button>
                    <button class="btn" type="button" id="btn-close">CANCEL</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script src="__USER__/ui/js/birthday.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#personal-gender").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {

        },
        submitHandler: function (form) {
            InfoChange('{:url(\'changeBirthday\')}', form)
        }
    });

    $.ms_DatePicker({
        YearSelector: ".sel_year",
        MonthSelector: ".sel_month",
        DaySelector: ".sel_day"
    });
    console.log($('.sel_year').val());
    console.log($('.sel_month').val());
    console.log($('.sel_day').val());

    layer_close();
</script>
{/block}