{extend name="base/form" />
{block name="title"}
{:lang('Forgot password')}
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/login_register.css">
{/block}
{block name="main"}
<div class="form-box register-box">
    <!--表单容器容器-->
    <!--业务处理区块-->
    <div class="box" id="box">
        <div class="logo-box">
            <h2><a href="#"><img class="" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=bb50yNmQ9Uq6Cd3K4xnP7f4s6XTIQRL4VC0zRTOCg6uD3u4sD4Fq1rba3mEGfQg2ZPfdpGI9jz0oV8fX-smuZ4C2yokEppUXskovnb1iUWYZDDl2W-lXqo_X6bFTJ5qnEbjrshyO_5eKfdm9a8V3x9BFL-Ms&file_name=/SeeTheWord_black.png" alt=""></a></h2>
        </div>
        <div class="info-box">
            {if($lang == 'en_us')}
            {include file="base/user/forgot_email"}
            {else /}
            {include file="base/user/forgot_phone"}
            {/if}
        </div>
    </div>
    <!--业务处理区块-->
</div>
{/block}

{block name="javascript"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    // 离开页面/刷新页面 重新运行计时器
    function monitor(obj) {
        var LocalDelay = getLocalDelay();
        var btnDom = document.getElementById("send_code");
        if (LocalDelay.time != null) {
            var timeLine = parseInt((new Date().getTime() - LocalDelay.time) / 1000);
            if (timeLine > LocalDelay.delay) {
                /*console.log("过期");*/
            } else {
                _delay = LocalDelay.delay - timeLine;
                obj.text(_delay + 's latter');
                btnDom.disabled = true;
                var timer = setInterval(function () {
                    if (_delay > 1) {
                        _delay--;
                        obj.text(_delay + 's latter');
                        setLocalDelay(_delay);
                    } else {
                        clearInterval(timer);
                        obj.text("{:lang('send')}");//todo:: 翻译
                        btnDom.disabled = false;
                    }
                }, 1000);
            }
        }
    }
    //设置setLocalDelay
    function setLocalDelay(delay) {
        sessionStorage.setItem("delay_" + location.href, delay);
        sessionStorage.setItem("time_" + location.href, new Date().getTime());
    }
    //getLocalDelay()
    // 第二步
    function getLocalDelay() {
        var LocalDelay = {};
        LocalDelay.delay = sessionStorage.getItem("delay_" + location.href);
        LocalDelay.time = sessionStorage.getItem("time_" + location.href);
        return LocalDelay;
    }
    //倒计时效果
    /**
     *
     * @param {Object} obj 获取验证码按钮
     * @param {Function} callback 获取验证码接口函数
     */
    function countDown(obj) {
        if (obj.text() === "{:lang('send')}") {
            var _delay = 20; //设置定时时间长度
            var delay = _delay;
            var btnDom = document.getElementById("send_code")
            obj.text(_delay + 's latter');
            btnDom.disabled = true;
            btnDom.style.cursor = 'no-drop'
            // 定时器
            var timer = setInterval(function () {
                if (delay > 1) {
                    delay--;
                    obj.html(delay + 's latter');
                    setLocalDelay(delay);
                } else {
                    clearInterval(timer);
                    obj.text("{:lang('send')}"); // todo::翻译
                    btnDom.disabled = false;
                    btnDom.style.cursor = 'pointer'
                }
            }, 1000);
        } else {
            return false;
        }
    }
    // 初始化
    $(function () {
        var btn = document.getElementById("send_code");
        monitor($(btn));
        btn.onclick = function () {
            //倒计时效果 getCode回调函数 获取验证码api
            var _this = this;
            var value = $(".code").val();
            var attr = $(".code").attr('id');
            var emailReg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            var phoneReg = /^1(3|4|5|6|7|8|9)\d{9}$/;
            if(attr === 'email' && !emailReg.test(value)){
                layer.msg("请输入正确的邮箱地址") //todo::翻译
            }
            if(attr === 'phone' && !phoneReg.test(value)){
                layer.msg("请输入正确的手机号") //todo::翻译
            }
            $.ajax({
                url: '{:url(\'verification\')}' + '?' + attr + '=' + value,
                type: 'get',
                success: function (result) {
                    var json=JSON.parse(result);
                    if(json.status === 1){
                        countDown($(_this));
                    }else{
                        console.log(0);
                    }
                }
            });
        };
    });
</script>
<!--JS业务处理区块-->
<script>
    $.validator.setDefaults({
        submitHandler: function(form) {
            if ($('#agree').is(":checked")) {
                $.ajax({
                    url: '{:url(\'customer_register\')}',
                    type: "post",
                    dataType: "json",
                    data: $(form).serialize(),//提交表单数据
                    success: function (result) {
                        if (result.status === 1) {
                            //注册成功后要跳转到登录
                            layer.msg(result.message,{icon:1,time:2000},function () {
                                window.parent.location.href = result.jump_url
                            });
                        } else {
                            layer.msg(result.message, {icon: 5, time: 2000});
                        }
                    }
                })
            } else {
                layer.msg('请认真阅读隐私政策和服务条款'); //todo::翻译
            }
        }
    });
    $().ready(function () {
        $('#registerForm').validate({
            errorClass: 'infoError',
            errorElement: 'p',
            rules: {
                username: 'required',
                password: {
                    required: true,
                    minlength: 5,
                    maxlength: 16
                },
                confirm: {
                    required: true,
                    minlength: 5,
                    maxlength: 16,
                    equalTo: '#password'
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                },
                Verification: 'required',
                // agree: 'required'
            },
            messages: {
                username: '{:lang(\'user name is required\')}',
                password: {
                    required: '{:lang(\'password is required\')}',
                    minlength: '{:lang(\'Password must be at least 5 letters\')}',
                    maxlength: '{:lang(\'Password cannot be longer than 12 letters\')}'
                },
                confirm: {
                    required: '{:lang(\'Input password again\')}',
                    minlength: '{:lang(\'Password must be at least 5 letters\')}',
                    maxlength: '{:lang(\'Password cannot be longer than 12 letters\')}',
                    equalTo: '{:lang(\'The password is different twice\')}'
                },
                email: '{:lang(\'Please enter a correct email\')}',
                // agree: '请接受我们的隐私政策声明'
                verification: '{:lang(\'Please enter the correct email verification code\')}',
            }

        })
    })
</script>
<!--JS业务处理区块-->
{/block}