{extend name="base/form" />
{block name="title"}
{:lang('Forgot password')}
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/login_register.css">
{/block}
{block name="main"}
<div class="form-box forgot-box">
    <!--表单容器容器-->
    <!--业务处理区块-->
    <div class="box" id="box">
        <div class="logo-box">
            <h2><a href="/"><img class="" src="//china.wavlink.com/images/LOGO/WAVLINK-logo.png" alt=""></a></h2>
        </div>
        <div class="info-box">
            {include file="base/user/forgot_email"}
        </div>
    </div>
    <!--业务处理区块-->
</div>
{/block}

{block name="javascript"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__USER__/ui/js/countDown.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    function sendCode() {
        var btn = document.getElementById("send_code");
        var btnText = "{:lang('send')}";
        monitor($(btn), btnText);
        btn.onclick = function () {
            var _this = this;
            var value = $(".code").val();
            var attr = $(".code").attr('id');
            var emailReg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            var phoneReg = /^1(3|4|5|6|7|8|9)\d{9}$/;
            if(attr === 'email' && !emailReg.test(value)){
                layer.msg("{:lang('Please input the correct phone number or e-mail address')}", {
                    icon: 5,
                    time: 3000
                })
            } else if(attr === 'phone' && !phoneReg.test(value)){
                layer.msg("{:lang('Please input the correct phone number or e-mail address')}", {
                    icon: 5,
                    time: 3000
                })
            } else {
                var url = "{:url('robot')}";
                layer.open({
                    type: 2,
                    title: '',
                    shadeClose: true,
                    scrollbar: false,
                    shade: 0.7,
                    area: ['600px', '600px'],
                    content: url,
                    end: function () {
                        var robotCode = window.sessionStorage.getItem('robot');
                        if (robotCode === 'true') {
                            $.ajax({
                                url: '{:url(\'send_user_code\')}',
                                type: 'post',
                                data: {
                                    email: value,
                                    type: 'Reset',
                                    language: '{$lang}'
                                },
                                success: function (result) {
                                    var json=JSON.parse(result);
                                    if(json.status === 1){
                                        countDown($(_this), 120, btnText);
                                    }else{
                                        layer.msg(json.data, {
                                            icon: 5,
                                            time: 3000
                                        })
                                    }
                                }
                            });
                        }
                    }
                });
            }
        };
    }
    sendCode();
</script>
<!--JS业务处理区块-->
<script>
    $.validator.setDefaults({
        submitHandler: function(form) {
            InfoChange('{:url(\'forgot_password\')}', form)
        }
    });
    $().ready(function () {
        $('#registerForm').validate({
            errorClass: 'infoError',
            errorElement: 'p',
            rules: {
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                },
                captcha: 'required',
            },
            messages: {
                email: '{:lang(\'Please enter a correct email\')}',
                verification: '{:lang(\'Please enter the correct email captcha\')}',
            }

        })
    })
</script>
<!--JS业务处理区块-->
{/block}
