{extend name="base/main" /}
{block name="title"}
基本信息
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/info.css">
{/block}
{block name="path"}
<div class="common-width">
    <div class="g-path">
        <ol class="breadcrumb">
            <li><a href="/{$lang}/index.html">Home</a></li>
            <li><a href="/{$lang}/index.html">Experience Center</a></li>
            <li class="active">Base Info</li>
        </ol>
    </div>
</div>
{/block}
{block name="main"}
<div class="g-main">
        <div class="Introduction">
            <div class="person-box" id="person-box">
                <div class="img-box">
                    <img src="__USER__/ui/img/n-avator-bg.png" alt="">
                </div>
                <div class="img-edit" id="img-edit">
                    <div class="btn-box">
                        <button class="UploadPicture-btn" id="UploadPicture-btn"><span class="iconfont iconedit"></span></button>
                        <input class="UploadPicture-input" id="UploadPicture-input" type="file"  accept="image/png,image/jpeg">
                    </div>
                </div>
            </div>
            <div class="person-des">
                <h2 class="title">Personal Info</h2>
                <p>Basic info, like your name and photo, that you use on WAVLINK services</p>
            </div>
        </div>
        <div class="Module">
            <h3 class="title">Personal</h3>
            <form class="Field" action="">
                <h4 class="Field-label">NAME</h4>
                <div class="Field-content">
                    <div>
                        <span class="Field-text">Alan</span>
                        <button class="Field-modify" type="button" onclick="layer_open('Modify Your Username','{:url(\'changeName\',[\'id\'=>1])}',533,300)"><span class="iconfont iconedit"></span> Modify</button>
                    </div>
                </div>
            </form>
            <form class="Field" action="">
                <h4 class="Field-label">GENDER</h4>
                <div class="Field-content">
                    <div>
                        <span class="Field-text">Secret</span>
                        <button class="Field-modify" type="button"><span class="iconfont iconedit"></span> Modify</button>
                    </div>
                </div>
            </form>
            <form class="Field" action="">
                <h4 class="Field-label">BIRTHDAY</h4>
                <div class="Field-content">
                    <div>
                        <span class="Field-text">January 01, 1993</span>
                        <button class="Field-modify" type="button"><span class="iconfont iconedit"></span> Modify</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="Module">
            <h3 class="title">Contact info</h3>
            <form class="Field" action="">
                <h4 class="Field-label">PHONE</h4>
                <div class="Field-content">
                    <div>
                        <span class="Field-text"></span>
                        <button class="Field-modify" type="button"><span class="iconfont iconedit"></span> Modify</button>
                    </div>
                </div>
            </form>
            <form class="Field" action="">
                <h4 class="Field-label">E-MAIL</h4>
                <div class="Field-content">
                    <div>
                        <span class="Field-text">Alanwebdevelop@gmail.com</span>
                        <button class="Field-modify" type="button"><span class="iconfont iconedit"></span> Modify</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="Module">
            <h3 class="title">Contact Address</h3>
            <form class="Field" action="">
                <h4 class="Field-label">BILLING ADDRESS</h4>
                <div class="Field-content">
                    <div>
                        <span class="Field-text"></span>
                        <button class="Field-modify" type="button"><span class="iconfont iconedit"></span> Modify</button>
                    </div>
                </div>
            </form>
            <form class="Field" action="">
                <h4 class="Field-label">DELIVERY ADDRESS</h4>
                <div class="Field-content">
                    <div>
                        <span class="Field-text"></span>
                        <button class="Field-modify" type="button"><span class="iconfont iconedit"></span> Modify</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="Module">
            <h3 class="title">Where did you buy our products</h3>
            <form class="Field" action="">
                <h4 class="Field-label">BUY PLATFORM</h4>
                <div class="Field-content">
                    <div>
                        <span class="Field-text"></span>
                        <button class="Field-modify" type="button"><span class="iconfont iconedit"></span> Modify</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
{block name="javascript"}
<!--私有JS-->
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
{/block}