{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/login_register.css">
{/block}
{block name="main"}
<div class="form-box login-box">
    <div class="box" id="box">
        <div class="logo-box">
            <h2>
                <a href="https://www.wavlink.com">
                    <img class="img-responsive center-block" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=bb50yNmQ9Uq6Cd3K4xnP7f4s6XTIQRL4VC0zRTOCg6uD3u4sD4Fq1rba3mEGfQg2ZPfdpGI9jz0oV8fX-smuZ4C2yokEppUXskovnb1iUWYZDDl2W-lXqo_X6bFTJ5qnEbjrshyO_5eKfdm9a8V3x9BFL-Ms&file_name=/SeeTheWord_black.png" alt="{:lang('Experience Center')}">
                </a>
            </h2>
        </div>
        <div class="info-box">
            {if($lang == 'zh_cn')}
            {include file="base/user/login_phone"}
            {else /}
            {include file="base/user/login_email"}
            {/if}
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#login").validate({
        errorClass: 'infoError',
        errorElement: "p",
        rules: {
            email: 'required',
            phone: 'required',
            password: {
                required: true,
                minlength: 5,
                maxlength: 16
            },
            captcha: 'required'
        },
        submitHandler: function (form) {
            InfoChange('{:url(\'customer_login\')}', form)
        }
    });
    function genCode(dom) {
        var d = Math.round(new Date().getTime() / 500);
        $(dom).find('img').attr("src", '{:url(\'gen_verify\')}'+'?'+ d);
    }
</script>
{/block}