{extend name="base/form" /}
{block name="title"}
{:lang('login')}
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/login_register.css">
{/block}
{block name="main"}
<div class="form-box login-box">
    <div class="box" id="box">
        <div class="logo-box">
            <h2>
                <a href="https://www.wavlink.com">
                    <img class="img-responsive center-block" src="//china.wavlink.com/images/LOGO/WAVLINK-logo.png" alt="{:lang('Experience Center')}">
                </a>
            </h2>
        </div>
        <div class="info-box">
            {include file="base/user/login_email"}
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#login").validate({
        errorClass: 'infoError',
        errorElement: "p",
        rules: {
            email: {
                required: true,
                email: true
            },
            phone: {
                required: true,
            },
            password: {
                required: true,
                minlength: 5,
                maxlength: 16
            },
            captcha: 'required'
        },
        messages: {
            email: '{:lang(\'Please input the correct phone number or e-mail address\')}',
            phone: '{:lang(\'Please input the correct phone number or e-mail address\')}',
            password: {
                required: '{:lang(\'Password verification\')}',
                minlength: '{:lang(\'Password verification\')}',
                maxlength: '{:lang(\'Password verification\')}'
            },
            captcha: '{:lang(\'Please enter the correct captcha\')}'
        },
        submitHandler: function (form) {
            InfoChange('{:url(\'customer_login\')}', form)
        }
    });
    function genCode(dom) {
        var d = Math.round(new Date().getTime() / 500);
        $(dom).find('img').attr("src", '{:url(\'gen_verify\')}'+'?'+ d);
    }
</script>
{/block}
