{extend name="base/base_reg" />
{block name="title"}
<title>{:lang('Register')}</title>
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/css/register.css">
{/block}
{block name="right"}
{if($lang == 'zh_cn')}
{include file="base/reg_phone"}
{else /}
{include file="base/reg_email"}
{/if}
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script type="text/javascript">
    $('#send_code').click(function () {
        var param = $("#type").val();
        var attr = $("#type").attr('attr-name');
        $.ajax({
            url: '{:url(\'verification\')}' + '?' + attr + '=' + param,
            type: 'get',
            success: function (result) {
                //todo::成功还是失败，成功把按钮弄成倒计时，没有的话要提示用户失败，
            }
        });
    });
    //    表单验证
    $("#login").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            password: {
                required: true,
                minlength: 8,
                maxlength: 16
            }
        },
        errorElement: "em",
        onkeyup: false,
        focusCleanup: true,
        success: "valid",
        submitHandler: function (form) {
            $.ajax({
                url: '{:url(\'customer_register\')}',
                type: "post",
                dataType: "json",
                data: $("form").serialize(),//提交表单数据
                success: function (result) {
                    if (result.status === 1) {
                        //注册成功后要跳转到登录
                        layer.msg(result.message, {icon: 1, time: 3000});
                        setTimeout(function () {
                            window.parent.location.href = result.jump_url
                        }, 1000)
                    } else {
                        layer.msg(result.message, {icon: 5, time: 1000});
                    }
                }
            })
        }
    });
</script>
{/block}
