{extend name="base/form" />
{block name="title"}
{:lang('Register')}
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/login_register.css">
{/block}
{block name="main"}
<div class="form-box register-box">
    <!--表单容器容器-->
    <!--业务处理区块-->
    <div class="box" id="box">
        <div class="logo-box">
            <h2><a href="https://www.wavlink.com"><img class="" src="https://cloud.wavlink.com/index.php?user/publicLink&fid=bb50yNmQ9Uq6Cd3K4xnP7f4s6XTIQRL4VC0zRTOCg6uD3u4sD4Fq1rba3mEGfQg2ZPfdpGI9jz0oV8fX-smuZ4C2yokEppUXskovnb1iUWYZDDl2W-lXqo_X6bFTJ5qnEbjrshyO_5eKfdm9a8V3x9BFL-Ms&file_name=/SeeTheWord_black.png" alt=""></a></h2>
        </div>
        <div class="info-box">
            {if($lang == 'en_us')}
            {include file="base/user/email"}
            {else /}
            {include file="base/user/phone"}
            {/if}
        </div>
        <div class="link-box">
            <div class="login">
                <p>{:lang('Already have an account?')} <a href="{:url('customer_login')}">{:lang('login')}</a></p>
            </div>
        </div>
    </div>
    <!--业务处理区块-->
</div>
{/block}

{block name="javascript"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="__USER__/ui/js/countDown.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    // 初始化
    $(function () {
        var btn = document.getElementById("send_code");
        var btnText = "{:lang('send')}";
        monitor($(btn), btnText);
        btn.onclick = function () {
            //倒计时效果 getCode回调函数 获取验证码api
            var _this = this;
            var value = $(".code").val();
            var attr = $(".code").attr('id');
            var emailReg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            var phoneReg = /^1(3|4|5|6|7|8|9)\d{9}$/;
            if(attr === 'email' && !emailReg.test(value)){
                layer.msg("{:lang('Please input the correct phone number or e-mail address')}", {
                    icon: 5,
                    time: 3000
                })
            } else if(attr === 'phone' && !phoneReg.test(value)){
                layer.msg("{:lang('Please input the correct phone number or e-mail address')}", {
                    icon: 5,
                    time: 3000
                })
            } else {
                $.ajax({
                    url: '{:url(\'verification\')}' + '?' + attr + '=' + value,
                    type: 'get',
                    success: function (result) {
                        var json=JSON.parse(result);
                        if(json.status === 1){
                            countDown($(_this), 20, btnText);
                        }else{
                            console.log(0);
                        }
                    }
                });
            }
        };
    });
</script>
<!--JS业务处理区块-->
<script>
    $.validator.setDefaults({
        submitHandler: function(form) {
            if ($('#agree').is(":checked")) {
                InfoChange('{:url(\'customer_register\')}', form)
            } else {
                layer.msg('{:lang(\'Agree is required\')}', {
                    icon: 5,
                    time: 3000
                });
            }
        }
    });
    $().ready(function () {
        $('#registerForm').validate({
            errorClass: 'infoError',
            errorElement: 'p',
            rules: {
                username: 'required',
                password: {
                    required: true,
                    minlength: 5,
                    maxlength: 16
                },
                confirm: {
                    required: true,
                    minlength: 6,
                    maxlength: 20,
                    equalTo: '#password'
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                },
                captcha: 'required',
                // agree: 'required'
            },
            messages: {
                username: '{:lang(\'user name is required\')}',
                password: {
                    required: '{:lang(\'password is required\')}',
                    minlength: '{:lang(\'Password must be at least 6 letters\')}',
                    maxlength: '{:lang(\'Password cannot be longer than 20 letters\')}'
                },
                confirm: {
                    required: '{:lang(\'Input password again\')}',
                    minlength: '{:lang(\'Password must be at least 5 letters\')}',
                    maxlength: '{:lang(\'Password cannot be longer than 12 letters\')}',
                    equalTo: '{:lang(\'The password is different twice\')}'
                },
                email: '{:lang(\'Please enter a correct email\')}',
                // agree: '请接受我们的隐私政策声明'
                captcha: '{:lang(\'The verification code is invalid\')}',
            }
        })
        //自定义正则表达示验证方法
        $.validator.addMethod("password",function(value,element,params){
            var rel = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,20}$/;
            return this.optional(element)||(rel.test(value));
        }, '{:lang(\'Password verification\')}');
    })
</script>
<!--JS业务处理区块-->
{/block}