{extend name="base/main" /}
{block name="title"}
基本信息
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/reset_password.css">
{/block}
{block name="path"}
<div class="common-width">
    <div class="g-path">
        <ol class="breadcrumb">
            <li><a href="/{$lang}/index.html">{:lang('home')}</a></li>
            <li><a href="{:url('customer_info')}">{:lang('Member Center')}</a></li>
            <li class="active">{:lang('Security')}</li>
        </ol>
    </div>
</div>
{/block}
{block name="main"}
<div class="g-main">

    <div class="Introduction">
        <div class="person-des">
            <h2 class="title">{:lang('Change Password')}</h2>
            <p>{:lang('Please keep your password. After changing the password, you need to log in again.')}</p>
        </div>
    </div>

    <div class="Module">
        <form class="Field" id="reset_password" action="">
            <div class="info-box">
                <div class="info">
                    <label for="password">{:lang('New password')}: </label>
                    <input id="password" name="password" type="password" placeholder="{:lang('Please enter your password')}">
                </div>
                <div class="info">
                    <label for="confirm">{:lang('confirm')}: </label>
                    <input id="confirm" name="confirm" type="password" placeholder="{:lang('Please enter your password again')}">
                </div>
                <div class="btn-group">
                    <button class="btn btn-submit" type="submit">{:lang('Submit')}</button>
                    <button class="btn btn-reset" type="reset">{:lang('Reset')}</button>
                </div>
            </div>
        </form>
    </div>

</div>
{/block}
{block name="javascript"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<!--私有JS-->
<script>
    $('.Security').addClass('active');
    $("#reset_password").validate({
        errorClass: 'infoError',
        errorElement: "p",
        rules: {
            password: {
                required: true,
                minlength: 6,
                maxlength: 20
            },
            confirm: {
                required: true,
                equalTo: "#password"
            },
            captcha: 'required'
        },
        submitHandler: function (form) {
            InfoChange('{:url(\'reset_password\')}', form)
        }
    });
    //自定义正则表达示验证方法
    $.validator.addMethod("password",function(value,element,params){
        var rel = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,20}$/;
        return this.optional(element)||(rel.test(value));
    }, '{:lang(\'Password verification\')}');
</script>
{/block}