{extend name="base/base_reg"}
{block name="title"}
<title>{:lang('Reset your password')}</title>
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/css/reset_password.css">
{/block}
{block name="right"}
<div class="user_login_right">
    <div>
        <h1>
            <a href="https://www.wavlink.com"><img class="img-responsive center-block" src="__USER__/img/icon/wavlink_logo.png" alt="{:lang('Experience Center')}"></a>
        </h1>
    </div>
    <div>
        <p>{:lang('Reset your password')}</p>
        <form action="" id="reset">
            <div>
                <label for="user_password">{:lang('Password')}</label>
                <input id="user_password" type="password" name="password" placeholder="{:lang('Input your password')}">
            </div>
            <div>
                <label for="user_password_again">{:lang('confirm')}</label>
                <input id="user_password_again" type="password" name="repassword" placeholder="{:lang('Input your password again')}">
            </div>
            <div>
                <label>{:lang('Verification')}</label>
                <div>
                    <input name="captcha"  type="text" placeholder="{:lang('Verification')}" datatype="*" nullmsg="{:lang('Please input the verification code in the image on the right')}">
                    <div style="padding: 0;cursor:pointer" title="{:lang('Click change code')}"><img src="{:captcha_src()}" alt="{:lang('Click change code')}" onclick="this.src='{:captcha_src()}?seed='+Math.random()"/></div>
                </div>
            </div>
            <button class="btn-success">{:lang('Reset')}</button>
        </form>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
{if condition="$lang == 'zh_cn'"}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{/if}
<script>
    $("#reset").validate({
        errorClass: 'infoError',
        errorElement: 'p',
        rules: {
            user_password: {
               required: true,
               minlength: 6,
               maxlength: 20
            },
            user_password_again: {
                required: true,
                equalTo: "#user_password"
            }
        },
        submitHandler: function (form) {
            $.ajax({
                url: window.location.href,
                type: "post",
                dataType: "json",
                // data:postData,
                data: $("form").serialize(),//提交表单数据
                success: function (result) {
                    if (result.status == 1) {
                        layer.msg(result.message, {icon:1, time: 3000});
                        setTimeout(function () {
                            window.parent.location.href=result.jump_url
                        },2000)
                    } else {
                        layer.msg(result.message, {icon:5, time: 1000});
                    }
                }
            })
        }
    });
    //自定义正则表达示验证方法
    $.validator.addMethod("password",function(value,element,params){
        var rel = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,20}$/;
        return this.optional(element)||(rel.test(value));
    }, '{:lang(\'Password verification\')}');
</script>
{/block}