{extend name="base/main" /}
{block name="title"}
基本信息
{/block}
{block name="style"}
<link rel="stylesheet" href="__USER__/ui/css/page/info.css">
{/block}
{block name="path"}
<div class="common-width">
    <div class="g-path">
        <ol class="breadcrumb">
            <li><a href="/{$lang}/index.html">{:lang('home')}</a></li>
            <li><a href="/{$lang}/index.html">{:lang('Member Center')}</a></li>
            <li class="active">{:lang('Personal Profile')}</li>
        </ol>
    </div>
</div>
{/block}
{block name="main"}
<div class="g-main">

    的说法




</div>
{/block}
{block name="javascript"}
<!--私有JS-->
{/block}