{extend name="desktop/common/base" /}
{block name="style"}
<link rel="stylesheet" href="__LIB__/Swiper/swiper.min.css">
<link rel="stylesheet" href="__DESKTOP__/css/page/home.css">
{/block}
{block name="swiper"}
{include file="desktop/common/swiper" /}
{/block}
{block name="body"}

<div class="container">
    <div class="row">
        <div class="recommend clearfix">
            <div class="common-box">
                <div class="recommend-box">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=30feDDIWHrp_AP-r-ACxC6kVwa1LTIaeYCZUtxAz81WsIJnoPtXtkkCWvZxmyGk6pjoTR3XGUw1z9hlp5bwA6oBb5-phtg4iTFuP4BZa-0jtI-0OQ8xhusga9FWaLrZjPNkBSle2wjKTCsfZ1Im-Nd_B3s8vToSrhuST0WYxfGd8lA&file_name=/10.jpg" alt="">
                        </a>
                    </div>
                    <div class="des">
                        <h3><a href="#">USB-C Dual 4K Docking Station</a></h3>
                        <p>
                            <span>UG69DK1</span>
                            <span><a href="#">LEARN MORE</a></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="common-box">
                <div class="recommend-box">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=9e57bkfgmsweRX_vhYnVj3fi8uhyNtXS6U1wPlcMpn8zdjdluymEc4WdyqtFb6lcqdCncS-hwP8yVF8ZEhm-RH2YMw7z-D-flj2hDkT6hDjAqhjFv2U22Ygio6zkMDDl11p42R3Ow3BqetcHcGXwTL61yI0gemiGLT9duhUvS8fR&file_name=/11.jpg" alt="">
                        </a>
                    </div>
                    <div class="des">
                        <h3><a href="#">USB3.0 2K Docking Station</a></h3>
                        <p>
                            <span>UG39DK1</span>
                            <span><a href="#">LEARN MORE</a></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="common-box">
                <div class="recommend-box">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=5a51Le8Xmu_YoFCH9fh7KVN82esBLXHj4IbxU9lIu3WczgkKhNcfLH9jJrUBq5BfOVoNFE_hFMY9UJeXqN_fGmmw4ReT2YP4IWQqQpOCe07x8f5336tE6-ZHJqACZCHRIZyOgKJhfMLuODIjlheDybX3UrdHy8AB_1tU2giIYzGU&file_name=/9.jpg" alt="">
                        </a>
                    </div>
                    <div class="des">
                        <h3><a href="#">AERIAL D4 – AC1200 Dual-band Wireless AP/Range Extender/Router</a></h3>
                        <p>
                            <span>WN575A3</span>
                            <span><a href="#">LEARN MORE</a></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="common-box">
                <div class="recommend-box">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=4233HoUZH6yG70ocszOF4aCbWEti4oKj5mbkIJoG8O60MQPg6v8OywHexKSfRuZcAIeTDzT6WMd2iRZ2dTxGe6Z_n8op9ZdhQ_0FzhmedE7cXfQzMNWGOu8oz6v8bD1cOHnDj0wHxu9ZWksXbTU6qAU7A17dqKrcT99CeCPMII5x&file_name=/8.jpg" alt="">
                        </a>
                    </div>
                    <div class="des">
                        <h3><a href="#">AERIAL S2 – N300 Wireless AP/Range Extender/Router</a></h3>
                        <p>
                            <span>WN578R2</span>
                            <span><a href="#">LEARN MORE</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="new-box">
            <h3><span>NEWS</span> <a href="#">More > </a></h3>
            <div class="new">
                <div class="item">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=0897_1UQS5DQJ-rGV_y0Qycvismmtt9iufjXXG_5hjU4wkNbCFNuq1hG7Fi-az1MmsAPgW0ukZ9w_hLJTn4zT4J1RNA-x9WAM5YOu4WXJLga0tGGewt4mAGAtgOZJJRlDu8fAMFTTz3OUg&file_name=/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="des">
                        <h4><a href="#">Based on the policy, WAVLINK official website now provides product manuals and relevant files for downloading!</a></h4>
                        <p>On 3 Mar, 2019, the official announcement from Aliyun declared that North China’s server was attacked and experienced severe crash down (Picture 1, the official announcement of Aliyun</p>
                        <p>
                            <span>Update: </span><span>07/08/2018</span>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <a href="#">
                            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=deabED3yc8iOqwajGpl3dw3BaF2TgWoMc-EbyPeZ-Rf3FXSZZeGeHdP-AY52h8R3PvjKXBCC6j2867fiewRHJkA7mWxX4om9tzcd9UleKbI0w6jbK1dPar9Fnqmh3Ea_8AVTtmb8kZaSRkAPu6Ng1C3RnB9-w6XuuosB7Kx6PNSQv7dvNIFcM2c&file_name=/IMG_20190316_093703_AO_HDR.jpg" alt="">
                        </a>
                    </div>
                    <div class="des">
                        <h4><a href="#">Based on the policy, WAVLINK official website now provides product manuals and relevant files for downloading!</a></h4>
                        <p>On 3 Mar, 2019, the official announcement from Aliyun declared that North China’s server was attacked and experienced severe crash down (Picture 1, the official announcement of Aliyun</p>
                        <p>
                            <span>Update: </span><span>07/08/2018</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="video-box">
            <h3><span>VIDEO</span> <a href="#">More > </a></h3>
            <div class="video">
                <video controls poster="../img/video-poster.jpg">
                    <source src="../img/video01.mp4">
                    Your browser does not support the video tag.
                </video>
                <video controls poster="../img/video-poster.jpg">
                    <source src="../img/video01.mp4">
                    Your browser does not support the video tag.
                </video>
                <video controls poster="../img/video-poster.jpg">
                    <source src="../img/video01.mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<!--私有JS-->
<script src="__LIB__/Swiper/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 6000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: false//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });
</script>
{/block}