{extend name="desktop/common/base" /}
{block name="title"}{$seo.title} - {:lang('powered by')}{/block}
{block name="seo"}
<meta name="description" content="{$seo.description}">
<meta name="keywords" content="{$seo.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/Swiper/swiper.min.css">
<link rel="stylesheet" href="__DESKTOP__/css/page/home.css">
{/block}
{block name="swiper"}
{include file="desktop/common/swiper" /}
{/block}
{block name="body"}
<div class="container-fluid">
    <div class="row">
        <div class="hot">
            <div class="des">
                <h2><a href="#">USB-C Dual 4K Display Docking Station</a></h2>
                <p>One Cable, All Connect</p>
            </div>
            <div class="img-box">
                <a href="/en_us/product/UG69DK7.html">
                    <img src="//files.wavlink.com/fw/2019/08/05/69DK7_pc.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{notempty name="showcase"}
<div class="container">
    <div class="row">
        <div class="recommend clearfix">
            {volist name="showcase" id="vo"}
            <div class="common-box">
                <div class="recommend-box">
                    <div class="img-box">
                        <a href="{$vo.url}">
                            <img src="{$vo.image_pc_url}" alt="{$vo.title}">
                        </a>
                    </div>
                    <div class="des">
                        <h3><a href="{$vo.url}">{$vo.product_title}</a></h3>
                        <p>
                            <span>{$vo.model}</span>
                            <span><a href="{$vo.url}">{:lang('Learn More')}</a></span>
                        </p>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>
{/notempty}
{notempty name="News"}
<div class="container">
    <div class="row">
        <div class="new-box">
            <h3><span>{:lang('News')}</span> <a href="{:url('/'.$code.'/article')}">{:lang('More')}  ></a></h3>
            <div class="new">
                {volist name="News" id="vo"}
                <div class="item">
                    {notempty name="$vo.logo"}
                    <div class="img-box">
                        <a href="{:url('/'.$code.'/article/details/'.$vo.url_title)}">
                            <img src="{$vo.logo}" alt="{$vo.title}">
                        </a>
                    </div>
                    {else /}
                    {/notempty}
                    <div class="des">
                        <h4><a href="{:url('/'.$code.'/article/details/'.$vo.url_title)}">{$vo.title}</a></h4>
                        <p>{$vo.seo_description}</p>
                        <p>
                            {if ($code == 'zh_cn')}
                            <span>{:lang('Update time')}: </span><span>{$vo.update_time|date="Y-m-d"}</span>
                            {elseif ($code == 'en_us') /}
                            <span>{:lang('Update')}: </span><span>{$vo.update_time|date="m/d/Y"}</span>
                            {/if}
                        </p>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
{/notempty}
{notempty name="videos"}
<div class="container">
    <div class="row">
        <div class="video-box">
            <h3><span>VIDEO</span> <a href="#">More > </a></h3>
            <div class="video">
                {volist name="videos" id="video"}
                <video controls poster="{$video.tu}">
                    <source src="{$video.url}">
                    Your browser does not support the video tag.//待翻译
                </video>
            </div>
        </div>
    </div>
</div>
{/notempty}
{/block}
{block name="javascript"}
<!--私有JS-->
<script src="__LIB__/Swiper/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 6000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: false//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });
</script>
<script>
    $(function () {
        $('#home').addClass('active');
    });
</script>
{/block}